{% from "./../icon/component.njk" import icon %}
<!--
nav.fd-side-nav
    div.fd-side-nav__group
        h1.fd-side-nav__title
        ul.fd-side-nav__list
            li.fd-side-nav__item
                a.fd-side-nav__link (.has-child, .is-active, .is-expanded)
                ul.fd-side-nav__sublist
                    li.fd-side-nav__sublink
                    a.fd-size-nav__sublink
-->

{%- macro navitem(properties={}, modifier={}, state={}, aria={}, classes="") -%}
    <li class="fd-side-nav__item{{ modifier.item | modifier('nav__item') }}">
        {%- set state = { selected: properties.selected, disabled: properties.disabled } %}
        {%- set aria = {} %}
        {%- if properties.selected %}
            {%- set aria = { selected: properties.selected } %}
        {%- elif properties.disabled %}
            {%- set aria = { disabled: properties.disabled } %}
        {%- endif %}
        {%- if properties.navheader %}
            <span class="fd-side-nav__header">{{ properties.label }}</span>
        {%- else -%}
            <a class="fd-side-nav__link{{ modifier.link | modifier('nav__link') }}{{ state | state }}"{{ aria | aria }} href="{{ item.href or '#' }}">
                {%- if properties.icon %}
                    {{ icon(glyph=properties.icon, classes="nav__link-icon") }}
                {%- endif %}
                {{ properties.label }}
                {# {%- if properties.haschild %}
                {{ icon(glyph="chevron", classes="nav__link-icon--expand") }}
                {%- endif %} #}
            </a>
        {%- endif %}
    </li>
{%- endmacro %}

{%- macro navgroup(properties={}) -%}
    <ul class="fd-side-nav__group{{ modifier.item | modifier('nav__group') }}">
        {%- for item in properties.items %}
            {{ navitem(item) }}
        {%- endfor -%}
    </ul>
{%- endmacro %}

{% macro side_nav(properties={ items: [] }, modifier={}, state={}, aria={}, classes="") -%}
    <nav class="fd-side-nav{{ modifier.block | modifier('nav') }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>
        <div class="fd-side-nav__group">

            {%- if properties.title %}
                <h1 class="fd-side-nav__title">
                    {{ properties.label }}
                </h1>
            {%- endif %}

            <ul class="fd-side-nav__list">
                {%- for item in properties.items %}
                    {%- if item.items and item.selected or item.expanded %}
                        {{ navitem(item) }}
                        {{ navgroup(item) }}
                    {%- else %}
                        {{ navitem(item) }}
                    {%- endif %}
                {%- endfor %}
            </ul>
        </div>
    </nav>
{%- endmacro %}
