{% from "./../icon/component.njk" import icon %}
{% import "./../utils.njk" as utils %}
<!--
nav.fd-side-nav
    div.fd-side-nav__group
        h1.fd-side-nav__title
        ul.fd-side-nav__list
            li.fd-side-nav__item
                a.fd-side-nav__link (.has-child, .is-active, .is-expanded)
                ul.fd-side-nav__sublist
                    li.fd-side-nav__subitem
                    a.fd-side-nav__sublink
-->

{%- macro navitem(properties={}) -%}
{%- set _id = utils.id() -%}
<li class="fd-side-nav__item">
    {%- set state = { selected: properties.selected, expanded: properties.expanded } %}
    {%- set aria = { } %}
    {%- if properties.selected %}
        {%- set aria = { selected: properties.selected } %}
    {%- elseif properties.expanded %}
        {%- set aria = { expanded: properties.expanded } %}
    {%- endif %}
    {%- if properties.items -%}
    <a class="fd-side-nav__link{{ modifier.link | modifier('nav__link') }}{{ state | state }} has-child"{{ aria | aria }} href="{{ properties.href or '#' }}" aria-controls="{{ _id }}" aria-haspopup="true">
        {%- if properties.icon -%}
        {{ navicon(properties.icon) }}
        {%- endif %}
        {{ properties.label }}
    </a>
    {%- set sublisthidden = "true" %}
    {%- if properties.expanded %}
        {%- set sublisthidden = "false" %}
    {%- endif %}
    <ul class="fd-side-nav__sublist" id="{{ _id }}" aria-hidden="{{ sublisthidden }}">
        {%- for subitem in properties.items %}
            <li class="fd-side-nav__subitem">
                {%- set state = { selected: subitem.selected, disabled: subitem.disabled } %}
                {%- set aria = {} %}
                {%- if subitem.selected %}
                    {%- set aria = { selected: subitem.selected } %}
                {%- elif subitem.disabled %}
                    {%- set aria = { disabled: subitem.disabled } %}
                {%- endif %}
                <a class="fd-side-nav__sublink{{ modifier.link | modifier('nav__sublink') }}{{ state | state }}"{{ aria | aria }} href="{{ item.href or '#' }}">
                    {%- if subitem.icon -%}
                    {{ navicon(subitem.icon) }}
                    {%- endif %}
                    {{ subitem.label }}
                </a>
            </li>
        {%- endfor -%}
    </ul>
    {%- else -%}
    <a class="fd-side-nav__link{{ modifier.link | modifier('nav__link') }}{{ state | state }}"{{ aria | aria }} href="{{ properties.href or '#' }}">
        {%- if properties.icon -%}
        {{ navicon(properties.icon) }}
        {%- endif %}
        {{ properties.label }}
    </a>
    {%- endif -%}
</li>
{%- endmacro %}

{%- macro navlist(properties={}) -%}
<ul class="fd-side-nav__list">
    {%- for item in properties %}
    {{ navitem(item) }}
    {%- endfor -%}
</ul>
{%- endmacro %}

{%- macro navgroup(properties={}) -%}
{%- for navgroup in properties -%}
<div class="fd-side-nav__group">
  {%- if navgroup.title %}
  {% set title_size = navgroup.title_size  if navgroup.title_size  else "h3" %}
    <{{title_size}} class="fd-side-nav__title">{{ navgroup.title }}</{{title_size}}>
  {%- endif %}
    {{ navlist(navgroup.items) }}
</div>
{%- endfor -%}
{%- endmacro %}

{%- macro navicon(properties={}) -%}
<span class="fd-side-nav__icon sap-icon--{{properties}} sap-icon--l" role="presentation"></span>
{%- endmacro %}

{%- macro side_nav(properties={}, modifier={}, state={}, aria={}, classes="") -%}
<nav class="fd-side-nav{{ modifier.block | modifier('side-nav') }}">
{%- if properties.navgroups  %}
{{ navgroup(properties.navgroups) }}
{%- else -%}
{{ navlist(properties.items) }}
{%- endif -%}
</nav>
{%- endmacro -%}
