{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import side_nav %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['components/nav', 'icons'] %}

{% block content %}

<style media="screen">
    .fd-side-nav{
        float: left;
        margin: 0 30px 50px 0;
    }
</style>

    <h1>side_nav</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}

        {{ side_nav(
                properties = {
                    "items": [
                    { "label": "Link Item"},
                    { "label": "Link Item" },
                    {
                        "label": "item link",
                        "state": {
                            "haschild": true,
                            "selected": true
                        },
                        "items": [
                            { "label": "Link" },
                            { "label": "Link" },
                            { "label": "Link" }
                        ]
                     },
                    { "label": "Link Item" },
                    { "label": "Link Item" },
                    { "label": "Link Item" },
                    { "label": "Link Item" }
                    ]
                }
            )
        }}


        {{ side_nav(properties=data.properties) }}

    {% endset %}
    {{ format(example) }}

{% endblock %}
