{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../nav/component.njk" import nav %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['components/nav', 'icons'] %}

{% block content %}

<style media="screen">
    .fd-side-nav{
        float: left;
        margin: 0 30px 50px 0;
    }
</style>

<div style="background-color: #f3f4f5; margin:-20px; padding:20px;">
    <h1>side-nav</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}

    {{ nav(
            properties = {
                "items": [
                { "label": "Link Item", "selected": true },
                { "label": "Link Item" },
                { "label": "Link Item", "haschild": true },
                { "label": "Link Item", "haschild": true },
                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item" }
                ]
            },
            modifier={
                block: "vertical"
            },
            classes="side-nav"
        )
    }}

    {{ nav(
            properties = {
                "items": [
                { "label": "Text", "navheader": true },
                { "label": "Link Item", "selected": true },
                { "label": "Link Item" },
                { "label": "Link Item", "haschild": true },
                { "label": "Text", "navheader": true },
                { "label": "Link Item", "haschild": true },
                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item" }
                ]
            },
            modifier={
                block: "vertical"
            },
            classes="side-nav"
        )
    }}

    {{ nav(
            properties = {
                "items": [
                { "label": "Text", "navheader": true },
                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item", "haschild": true },
                {
                    "label": "Link Item",
                    "haschild": true,
                    "expanded": true,
                    "items": [
                        { "label": "Link" },
                        { "label": "Link" },
                        { "label": "Link" }
                    ]
                },

                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item" }
                ]
            },
            modifier={
                block: "vertical"
            },
            classes="side-nav"
        )
    }}

    {{ nav(
            properties = {
                "items": [
                { "label": "Text", "navheader": true },
                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item", "haschild": true },
                {
                    "label": "Link Item",
                    "haschild": true,
                    "selected": true,
                    "items": [
                        { "label": "Link" },
                        { "label": "Link" },
                        { "label": "Link" }
                    ]
                },

                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item" }
                ]
            },
            modifier={
                block: "vertical"
            },
            classes="side-nav"
        )
    }}

    {{ nav(
            properties = {
                "items": [
                { "label": "Text", "navheader": true },
                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item", "haschild": true },
                {
                    "label": "Link Item",
                    "haschild": true,
                    "expanded": true,
                    "items": [
                        { "label": "Sub Item", "selected": true },
                        { "label": "Sub Item" },
                        { "label": "Sub Item" }
                    ]
                },

                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item" }
                ]
            },
            modifier={
                block: "vertical"
            },
            classes="side-nav"
        )
    }}

    {% endset %}
    {{ format(example) }}

    <br><br>

    {% set exampletwo %}

    {{ nav(
            properties = {
                "items": [
                { "label": "Link Item", "icon": "edit" },
                { "label": "Link Item", "icon": "edit", "haschild": true },
                { "label": "Link Item", "icon": "edit" },
                { "label": "Link Item", "icon": "edit" },
                { "label": "Link Item", "icon": "edit", "haschild": true },
                { "label": "Link Item", "icon": "edit" },
                { "label": "Link Item", "icon": "edit", "haschild": true },
                { "label": "Link Item", "icon": "edit" },
                { "label": "Link Item", "icon": "edit" }
                ]
            },
            modifier={
                block: "vertical"
            },
            classes="side-nav"
        )
    }}

    {{ nav(
            properties = {
                "items": [
                { "icon": "edit" },
                { "icon": "edit" },
                { "icon": "edit" },
                { "icon": "edit" },
                { "icon": "edit" },
                { "icon": "edit" },
                { "icon": "edit" },
                { "icon": "edit" },
                { "icon": "edit" }
                ]
            },
            modifier={
                block: "vertical-icons"
            },
            classes="side-nav"
        )
    }}
    {% endset %}
    {{ format(exampletwo) }}

{% endblock %}

</div>
