{% extends "./ui.njk" %}

{# ui.njk level vars #}
{%- set hide_shell_footer = hide_shell_footer or false %}
{%- set fix_shell_footer = fix_shell_footer or false %}
{%- set show_shell_overlay = show_shell_overlay or false %}

{# app.njk level vars #}
{% set hide_app_sidebar = hide_app_sidebar or false %}

{# ui.njk blocks #}
{% block shell_header -%}
{%- endblock %}

{% block shell_footer -%}
{%- endblock %}

{% block shell_overlay -%}
{%- endblock %}

{% block shell_app -%}
    <div class="fd-app">
        {% if hide_app_sidebar !== true %}
            <div class="fd-app__sidebar">
                {% block app_sidebar -%}
                {%- endblock %}
            </div>
        {% endif %}

        <main class="fd-app__main">
            {% block app_main -%}
            {%- endblock %}
        </main>

    </div>
{%- endblock %}
