{% extends "./ui.njk" %}
{% from "../../action-bar/component.njk" import action_bar %}
{% from "../../button/component.njk" import button %}
{% from "../../toolbar/component.njk" import toolbar %}

{# ui-level vars #}
{%- set hide_ui_header = true %}
{%- set hide_ui_footer = true %}
{%- set show_ui_overlay = show_ui_overlay or false %}

{# page-level vars #}
{%- set hide_page_header = hide_page_header or false %}
{%- set hide_page_footer = hide_page_footer or false %}
{%- set is_landing_page = is_landing_page or false %}
{%- set is_editable_page = is_editable_page or false %}
{%- set show_toolbar = show_toolbar or false %}

{# ui-level blocks #}
{% block ui_header -%}
{%- endblock %}
{% block ui_footer -%}
{%- endblock %}
{% block ui_overlay -%}
{%- endblock %}
{% block ui_app -%}
<article class="tn-page">
    {% if hide_page_header !== true %}
    <header class="tn-page__header">
        {% block page_header -%}
            {%- if is_landing_page == false %}
                {%- set backbtn %}
                    {{ button({ icon: 'backarrow' }, modifier={ block: ['text','icon','large'] }, aria={ label: 'Back' }) }}
                {%- endset %}
            {%- endif %}
            {%- if is_editable_page %}
            {%- set actionbtn = button({ label: 'Cancel', icon: 'close' },modifier={ block: ['text','action-bar'] })
            %}
            {%- set primarybtn = button({ label: 'Save', icon: 'checked' },modifier={ block: ['action-bar'] })
            %}
            {% set actions_props = {
                properties: {
                    items: [ actionbtn, primarybtn ]
                }
            } %}
            {%- endif %}
            {{  action_bar(
                    properties={
                        title: page_title or "Page Title",
                        navigation: backbtn,
                        actions: actions_props
                    }
                )
            }}
        {%- endblock %}
    </header>
    {% endif %}
    {% if page_intro %}
    <div class="tn-page__intro">
        <p><em>{{ page_intro }}</em></p>
    </div>
    {% endif %}
    <div class="tn-page__content">
    {%- if show_toolbar %}
        {{  toolbar(data.toolbar.properties) }}
    {%- endif %}
    {% block page_content -%}
    {%- endblock %}
    {%- if show_toolbar %}
    {{  toolbar() }}
    {%- endif %}

    </div>
</article>
<script type="text/javascript" src="/static/controls.js"></script>
{%- endblock %}
