{% extends "./app.njk" %}

{# ui.njk level vars #}
{%- set hide_shell_footer = hide_shell_footer or false %}
{%- set fix_shell_footer = fix_shell_footer or false %}
{%- set show_shell_overlay = show_shell_overlay or false %}

{# app.njk level vars #}
{%- set hide_app_sidebar = hide_app_sidebar or false %}

{# page.njk level vars #}
{%- set hide_page_header = hide_page_header or false %}
{%- set hide_page_footer = hide_page_footer or false %}

{# app.njk blocks #}
{% block app_sidebar %}
{% endblock %}

{% block app_main -%}
    <article class="fd-page">

        {% if hide_page_header !== true %}
            <header class="fd-page__header">
                {% block page_header -%}
                {%- endblock %}
            </header>
        {% endif %}

        <div class="fd-page__content">
            {% block page_content -%}
            {%- endblock %}
        </div>

    </article>
{%- endblock %}

{# ui.njk blocks #}
{% block shell_header -%}
{%- endblock %}

{% block shell_footer -%}
{%- endblock %}

{% block shell_overlay -%}
{%- endblock %}
