{% extends "./page.njk" %}
{% from "./../../side-nav/component.njk" import side_nav %}
{% from "./../../action-bar/component.njk" import action_bar %}
{% from "./../../button/component.njk" import button %}
{% from "./../../breadcrumb/component.njk" import breadcrumb %}
{% from "./../../shellbar/component.njk" import shell_header %}
{% set product = value %}
{% set hide_ui_footer = true %}
{% set custom_product = shellbar_product or false %}
{% block ui_header %}
{%- if custom_product %}
  {{ shell_header(product=custom_product) }}
{%- else %}
  {{ shell_header() }}
{%- endif %}

{% endblock %}

{% block page_header %}
{%- if show_breadcrumb %}
{{  breadcrumb(
        properties=data.breadcrumb.properties
    )
}}
{%- endif %}
{%- set btns = [] %}
  {%- if is_editable_page %}
{%- set btns = [button(
          { label: 'Cancel' },
          modifier={ block: ['secondary', 'l'] }
      ),    button(
              { label: 'Save' },
              modifier={block: [ 'main', 'l'] }
          )] %}
    {# {%- else  %}
    {%- set btns = [button(
              { label: 'Add', icon: 'add' },
              modifier={ block: ['l'] }
          )] %} #}
  {%- endif %}
  {%- set page_description = page_intro or "" %}
{{  action_bar(
        properties={
            title: page_title,
            description: page_description,
            actions: {
                properties: {
                    items: btns
                }
            }
        },
        modifier={
            block: []
        },
        state={},
        aria={}
    )
}}
{% endblock %}

{% block app_sidebar %}
{{ side_nav(properties = {
  navgroups: [{
    items: [
    { label: "Home", icon: "home"},
    { label: "Category", icon: "video", expanded: true,
    items: [
        { label: "Link" },
        { label: "Link", selected: true },
        { label: "Link" },
        { label: "Link" }
    ] },
    { label: "Page", icon: "pending" },
    { label: "Category", icon: "retail-store",
    items: [
        { label: "Link" },
        { label: "Link" },
        { label: "Link" },
        { label: "Link" }
    ] },
    { label: "Page", icon: "leads" },
    { label: "Page", icon: "history" }
    ]
  },
  {
    title: "Group",
    items: [
    { label: "Page", icon: "user-settings"},
    { label: "Page", icon: "cloud" }
    ]
  }]

}) }}
{% endblock %}
