{# ui-level vars #}
{%- set hide_ui_footer = hide_ui_footer or false %}
{%- set fix_ui_footer = fix_ui_footer or false %}
{%- set show_ui_overlay = show_ui_overlay or false %}
{%- set fix_ui = (fix_ui_footer and fix_ui_header) or (hide_ui_footer and fix_ui_header) %}
<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ id }}</title>
    <style media="screen">
    {% set core_sass = 'all.scss' %}
    {{ core_sass | sass_to_css }}
    </style>
</head>
<body>
    <div class="tn-ui{{ 'fixed' | modifier('ui') if fix_ui }} tn-ui--{{ app.id }}">
        {% if hide_ui_header !== true %}
        <div class="tn-ui__header{{ 'fixed' | modifier('ui__header') if fix_ui_header and fix_ui === false }}">
        {% block ui_header -%}
        {%- endblock %}
        </div>
        {%- endif %}
        {% if hide_ui_header !== true and hide_ui_footer !== true %}
        <div class="tn-ui__app">
        {%- endif %}
            {% block ui_app -%}
            {%- endblock %}
        {% if hide_ui_header !== true and hide_ui_footer !== true %}
        </div>
        {%- endif %}
        {% if hide_ui_footer !== true %}
        <div class="tn-ui__footer{{ 'fixed' | modifier('ui__footer') if fix_ui_footer and fix_ui === false }}">
            {% block ui_footer -%}
            {%- endblock %}
        </div>
        {% endif %}
        {%- if show_ui_overlay %}
        <div class="tn-ui__overlay tn-overlay" aria-hidden="{{ false if show_ui_overlay else true }}">
            {% block ui_overlay -%}
            {%- endblock %}
        </div>
        {%- endif %}
    </div>
</body>
</html>
