{# ui.njk level vars #}
{%- set hide_shell_header = hide_shell_header or false %}
{%- set hide_shell_footer = hide_shell_footer or false %}
{%- set fix_shell_footer = fix_shell_footer or false %}
{%- set show_shell_overlay = show_shell_overlay or false %}
{%- set fix_shell = (fix_shell_footer and fix_shell_header) or (hide_shell_footer and fix_shell_header) %}

<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ id }}</title>
    <style media="screen">
    {% set core_sass = 'all.scss' %}
    {{ core_sass | sass_to_css }}
    </style>
</head>
<body dir="rtl">
    <div class="fd-shell{{ 'fixed' | modifier('shell') if fix_shell }} fd-shell--{{ app.id }}">
        {# HEADER #}
        {% if hide_shell_header !== true %}
            <div class="fd-shell__header{{ 'fixed' | modifier('shell__header') if fix_shell_header and fix_shell === false }}">
                {% block shell_header -%}
                {%- endblock %}
            </div>
        {%- endif %}

        {# APP #}
        {% if hide_shell_header !== true or hide_shell_footer !== true %}
            <div class="fd-shell__app">
        {%- endif %}
                {% block shell_app -%}
                {%- endblock %}
        {% if hide_shell_header !== true or hide_shell_footer !== true %}
            </div>
        {%- endif %}

        {# FOOTER #}
        {% if hide_shell_footer !== true %}
            <div class="fd-shell__footer{{ 'fixed' | modifier('shell__footer') if fix_shell_footer and fix_shell === false }}">
                {% block shell_footer -%}
                {%- endblock %}
            </div>
        {% endif %}

        {# OVERLAY #}
        {%- if show_shell_overlay %}
            <div class="fd-shell__overlay fd-overlay {{ overlay_modifier }}" aria-hidden="{{ false if show_shell_overlay else true }}">
                {% block shell_overlay -%}
                {%- endblock %}
            </div>
        {%- endif %}
    </div>
    <script type="text/javascript" src="/static/controls.js"></script>
</body>
</html>
