{#
    see ./data.json for object structure
#}

{% from "../icon/component.njk" import icon %}
{% macro alert(properties={}, modifier={}) -%}
<div class="tn-alert{{ modifier.block | modifier('alert') }}" role="alert" id="{{properties.id}}">
  {%- if properties.text %}
  <button class="tn-alert__close" aria-controls="{{properties.id}}">
    {{ icon('close') }}
  </button>
  {%- endif %}
  {%- if properties.text %}
  {{ properties.text }}
  {%- endif %}
</div>

{%- endmacro %}
