{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import alert %}

<!-- include add'tl css from src/styles/ -->
{% set css_deps = ['fonts', 'icons', 'components/button', 'components/link'] %}



{% block content %}
<h1>alert</h1>

<!-- output the component example and the code snippet -->
{% set example %}
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. <a href="#" class="fd-link">Pellentesque <span class="sap-icon--arrow-right sap-icon--s"></span></a>'
        },
        modifier={
            block: []
        }
    )
}}
<br>
{{  alert(
        properties={
            text: 'Suspendisse potenti. Donec ante velit ornare at augue quis tristique laoreet sem.'
        },
        modifier={
            block: ["warning"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: 'Pellentesque metus lacus commodo eget justo ut rutrum varius nunc. Sed non rhoncus risus. <a href="#" class="fd-link">Metus <span class="sap-icon--arrow-right sap-icon--s"></span></a>'
        },
        modifier={
            block: ["error"]
        }
    )
}}
{% endset %}
{{- format(example) -}}

<br><br>

<h1>dismissible</h1>

{% set example %}
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et mattis erat vel aliquet in sem urna et sagittis diam in vehicula.',
            dismissible: true
        },
        modifier={
            block: []
        }
    )
}}
<br>
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. <a href="#" class="fd-link">Metus <span class="sap-icon--arrow-right sap-icon--s"></span></a>',
            dismissible: true
        },
        modifier={
            block: ["warning"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. Pellentesque metus in sem lacus commodo eget justo ut rutrum varius nunc. Sed non rhoncus risus. <a href="#" class="fd-link">Pellentesque <span class="sap-icon--arrow-right sap-icon--s"></span></a>',
            dismissible: true
        },
        modifier={
            block: ["error"]
        }
    )
}}

{% endset %}
{{- format(example) -}}



{% endblock %}
