{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import alert %}


{% block content %}

<h1>alert</h1>

<!-- output the component example and the code snippet -->
{% set example %}
{{  alert(
        properties={
            text: '<p>Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. Sed bibendum, sapien at posuere interdum, libero est sollicitudin magna, ac gravida tellus purus eu ipsum. Proin ut quam arcu. <a href="#" class="fd-link">Learn More</a></p>',
            dismissible: false
        },
        modifier={
            block: []
        }
    )
}}
<br>
{{  alert(
        properties={
            text: '<p>Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. Sed bibendum, sapien at posuere interdum, libero est sollicitudin magna, ac gravida tellus purus eu ipsum. Proin ut quam arcu. <a href="#" class="fd-link">Learn More</a></p>',
            dismissible: false
        },
        modifier={
            block: ["information"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: '<p>Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. Sed bibendum, sapien at posuere interdum, libero est sollicitudin magna, ac gravida tellus purus eu ipsum. Proin ut quam arcu.',
            dismissible: false
        },
        modifier={
            block: ["success"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: '<p>Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. Sed bibendum, sapien at posuere interdum, libero est sollicitudin magna, ac gravida tellus purus eu ipsum. Proin ut quam arcu.',
            dismissible: false
        },
        modifier={
            block: ["warning"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: '<p>Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. Sed bibendum, sapien at posuere interdum, libero est sollicitudin magna, ac gravida tellus purus eu ipsum. Proin ut quam arcu.',
            dismissible: false
        },
        modifier={
            block: ["error"]
        }
    )
}}
<br>

{% endset %}
{{- format(example) -}}

<br><br>

<h1>dismissible</h1>

{% set example %}
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et mattis erat vel aliquet in sem urna et sagittis diam in vehicula. <a href="#" class="fd-link">Learn More</a>',
            dismissible: true
        },
        modifier={
            block: []
        }
    )
}}
<br>
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. <a href="#" class="fd-link">Learn More</a>',
            dismissible: true
        },
        modifier={
            block: ["information"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. <a href="#" class="fd-link">Learn More</a>',
            dismissible: true
        },
        modifier={
            block: ["success"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. <a href="#" class="fd-link">Learn More</a>',
            dismissible: true
        },
        modifier={
            block: ["warning"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: 'Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et. Pellentesque metus in sem lacus commodo eget justo ut rutrum varius nunc. Sed non rhoncus risus. <a href="#" class="fd-link">Learn More</a>',
            dismissible: true
        },
        modifier={
            block: ["error"]
        }
    )
}}
{% endset %}
{{- format(example) -}}

<br><br>
<h1>dismissible right to left</h1>
{% set example %}
{{  alert(
        properties={
            text: ' حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة، وأكرر بأنه لا يوجد من يرغب في الحب ونيل المنال ويتلذذ بالآلام، الألم هو الألم ولكن نتيجة لظروف ما قد تكمن السعاده فيما نتحمله من كد وأسي.',
            dismissible: true,
            rtl: true
        },
        modifier={
            block: []
        }
    )
}}
<br>
{{  alert(
        properties={
            text: ' حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة، وأكرر بأنه لا يوجد من يرغب في الحب ونيل المنال ويتلذذ بالآلام، الألم هو الألم ولكن نتيجة لظروف ما قد تكمن السعاده فيما نتحمله من كد وأسي.',
            dismissible: true,
            rtl: true
        },
        modifier={
            block: ["warning"]
        }
    )
}}
<br>
{{  alert(
        properties={
            text: ' حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة، وأكرر بأنه لا يوجد من يرغب في الحب ونيل المنال ويتلذذ بالآلام، الألم هو الألم ولكن نتيجة لظروف ما قد تكمن السعاده فيما نتحمله من كد وأسي.',
            dismissible: false,
            rtl: true
        },
        modifier={
            block: ["success"]
        }
    )
}}

<br>
{{  alert(
        properties={
            text: ' حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة، وأكرر بأنه لا يوجد من يرغب في الحب ونيل المنال ويتلذذ بالآلام، الألم هو الألم ولكن نتيجة لظروف ما قد تكمن السعاده فيما نتحمله من كد وأسي.',
            dismissible: true,
            rtl: true
        },
        modifier={
            block: ["error"]
        }
    )
}}
{% endset %}
{{- format(example) -}}

{% endblock %}
