//library namespace
$fd-namespace: fd !default;

//breakpoints
$fd-breakpoints: (
    xs: 320px,
    s: 800px,
    m: 1024px,
    l: 1440px,
    xl: 1580px,
) !default;

//spacing
$fd-spacing--base: 4px !default;
$fd-spacing: () !default;
$fd-spacing: map-merge((
    base: $fd-spacing--base,    //4
    xxs: $fd-spacing--base * 2,  //8
    xs: $fd-spacing--base * 3,  //12
    s: $fd-spacing--base * 4,   //16
    reg: $fd-spacing--base * 5, //20
    m: $fd-spacing--base * 8,  //32
    l: $fd-spacing--base * 9,  //36
    xl: $fd-spacing--base * 10, //40
), $fd-spacing);

//fonts
$fd-fonts: () !default;
$fd-fonts: map-merge((
    "body": #{"'72'", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"},
    "header": #{"'72'", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"},
    "code": #{monospace},
), $fd-fonts);

//type
//sets HTML el
$fd-font-size: 14px !default;
$fd-line-height: 20/14 !default;
$fd-type--base: 14 !default;
$fd-type: () !default;
$fd-type: map-merge((
  "-3": #{11/$fd-type--base}rem 16/11 "body" reg none,  //11/16
  "-2": #{12/$fd-type--base}rem 16/12 "body" reg none, //12/16
  "-1": #{13/$fd-type--base}rem 16/13 "body" reg none,	//13/16
  "0": #{14/$fd-type--base}rem 20/14 "body" reg none, //14/20
  "1": #{16/$fd-type--base}rem 20/16 "body" reg none,  //16/20
  "2": #{18/$fd-type--base}rem 24/18 "body" reg none, //18/24
  "3": #{24/$fd-type--base}rem 32/24 "body" reg none, //23/32
  "4": #{30/$fd-type--base}rem 36/30 "body" light none, //30/36
  "5": #{48/$fd-type--base}rem 52/48 "header" reg none, //48/52
), $fd-type);

//weights
$fd-weights: () !default;
$fd-weights: map-merge((
    light: 300,
    reg: 400,
    med: 500,
    semi: 600,
    bold: 700
), $fd-weights);

//colors
$fd-colors: () !default;
$fd-colors: map-merge((
  "action": (
    1: #0a6ed1
  ),
  "text": (
    1: #32363a,
    2: #515559,
    3: #66696c, //?
  ),
  "text-inverse": (
    1: #ffffff,
    2: #f5f5f5, //consider removing
    3: #ebebeb, //consider removing
  ),
  "background": (
    1: #f3f4f5,
    2: #ffffff
  ),
  "neutral": (
    1: #fafafa,
    2: #eeeeef,
    3: #dededf
  ),
  "status": (
    1: #359c46,
    2: #f59518,
    3: #ee0000,
  ),
  "accent": (
    1: #f91f1f,
    2: #ff6000,
    3: #ff9600,
    4: #acd62f,
    5: #33cc78,
    6: #24cacc,
    7: #00b6ff,
    8: #9b72ec,
    9: #b802eb,
    10: #ff00d0,
    11: #ff009a,
    12: #db0f76
  )
), $fd-colors);

$fd-colors-primary: map-get($fd-colors, "primary") !default;
$fd-colors-action: map-get($fd-colors, "action") !default;
$fd-colors-text: map-get($fd-colors, "text") !default;
$fd-colors-text-inverse: map-get($fd-colors, "text-inverse") !default;
$fd-colors-background: map-get($fd-colors, "background") !default;
$fd-colors-neutral: map-get($fd-colors, "neutral") !default;
$fd-colors-status: map-get($fd-colors, "status") !default;

//features
$fd-space-modify: normal !default; //normal, compact

//ui
$fd-padding--ui: $fd-spacing--base * 10 !default;

//$fd-max-width--ui: map-get($fd-breakpoints,xl) !default;
$fd-max-width--ui: 1290px !default;

//global widths
$fd-width--gutter: $fd-spacing--base * 6 !default;

//type
$fd-font-family: map-get($fd-fonts, "body") !default;
$fd-font-family--header: map-get($fd-fonts, "header") !default;
$fd-font-family--code: map-get($fd-fonts, "code") !default;
$fd-font-size: nth(map-get($fd-type, "0"), 1) !default;
$fd-line-height: nth(map-get($fd-type, "0"), 2) !default;

//baseline
$fd-color: map-get($fd-colors-text, 1) !default;
$fd-background-color: map-get($fd-colors-background, 1) !default;
$fd-background-color--header: map-get($fd-colors-background, 2) !default;
$fd-background-color--sidebar: map-get($fd-colors-background, 2) !default;
$fd-background-color--footer: map-get($fd-colors-background, 2) !default;

//positioning
$fd-margin-bottom: map-get($fd-spacing, "xs") !default;

//states
$fd-color--error: map-get($fd-colors-status, 3) !default;
$fd-color--warning: map-get($fd-colors-status, 2) !default;
$fd-color--success: map-get($fd-colors-status, 1) !default;

//borders
$fd-border-radius: 4px !default;

//animation speed
$fd-animation--speed: 0.125s !default;

//LINKS
$fd-link-color: map-get($fd-colors-action, 1) !default;
$fd-link-color--hover: darken($fd-link-color, 7) !default;
$fd-link-color--active: darken($fd-link-color, 10) !default;
$fd-link-color--visited: adjust-hue($fd-link-color, 45deg) !default;
$fd-link-color--disabled: rgba($fd-link-color, 0.4) !default;

//FORMS
//dimensions
$fd-forms-height: $fd-spacing--base * 9 !default;
$fd-forms-height--input-text: $fd-forms-height !default;
$fd-forms-height--input-check: $fd-spacing--base * 4 !default;
$fd-forms-padding: $fd-spacing--base * 4 !default;
//colors
$fd-forms-color: $fd-color !default;
$fd-forms-color--placeholder: map-get($fd-colors-text, 3) !default;
$fd-forms-color--focus: $fd-forms-color !default;
$fd-forms-color--disabled: map-get($fd-colors-text, 3) !default;
$fd-forms-background-color: map-get($fd-colors-background, 1) !default;
$fd-forms-background-color--check: map-get($fd-colors-action, 1) !default;
$fd-forms-background-color--check-disabled: map-get($fd-colors-text, 2) !default;
$fd-forms-background-color--disabled: map-get($fd-colors-neutral, 1) !default;
$fd-forms-border-color: map-get($fd-colors-neutral, 3) !default;
$fd-forms-border-color--check: map-get($fd-colors-action, 1) !default;
$fd-forms-border-color--focus: map-get($fd-colors-action, 1) !default;
$fd-forms-border-color--disabled: lighten(map-get($fd-colors-neutral, 3), 5%) !default;
//elements
$fd-forms-select-width--background-image: 12px !default;

$fd-forms-select-background-image: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMTI2MkMiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
$fd-forms-select-background-image--expanded: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTIgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQ5LjMgKDUxMTY3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5VbnRpdGxlZDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJkb3dubG9hZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNi4wMDAwMDAsIDUuMDAwMDAwKSByb3RhdGUoLTE4MC4wMDAwMDApIHRyYW5zbGF0ZSgtNi4wMDAwMDAsIC01LjAwMDAwMCkgIiBmaWxsPSIjMjEyNjJDIj4KICAgICAgICAgICAgPHBhdGggZD0iTTExLjkzNSwyLjQ3NSBMNi4xODgsOC45MjcgQzYuMTM4MzEzODQsOC45Nzc5NDY4NyA2LjA3MDE2Mzg4LDkuMDA2Njc2OTEgNS45OTksOS4wMDY2NzY5MSBDNS45Mjc4MzYxMiw5LjAwNjY3NjkxIDUuODU5Njg2MTYsOC45Nzc5NDY4NyA1LjgxLDguOTI3IEwwLjA2NSwyLjQ3NSBDMC4wMjEwMzMzNzczLDIuNDI2OTMzNjMgLTAuMDAxMTEwMzExODMsMi4zNjI4MzE4NyAwLjAwMzgxMzQxNzEyLDIuMjk3ODc2NTMgQzAuMDA4NzM3MTQ2MDcsMi4yMzI5MjExOCAwLjA0MDI5MDM0NzcsMi4xNzI4ODk3NSAwLjA5MSwyLjEzMiBMMS4zODEsMS4wNTggQzEuNDI2NjkwMywxLjAxOTc1MjI1IDEuNDg0NDE0MTUsMC45OTg4NTgzMzkgMS41NDQsMC45OTkgTDEuNTYzLDEgQzEuNjI4OTQzNzMsMS4wMDQ4MDMxNSAxLjY5MDM1ODEyLDEuMDM1MzMwNzggMS43MzQsMS4wODUgTDUuOTk5LDUuOTY1IEwxMC4yNjYsMS4wODUgQzEwLjM1NjM3MjUsMC45ODE1ODQ0MTYgMTAuNTEyOTEyNiwwLjk2OTU3NzA4NSAxMC42MTgsMS4wNTggTDExLjkwOSwyLjEzMiBDMTEuOTU5LDIuMTc0IDExLjk5LDIuMjM0IDExLjk5NSwyLjI5OCBDMTIuMDAwMjA5MSwyLjM2Mjc0Mjc4IDExLjk3ODUwNDksMi40MjY3NzA0NCAxMS45MzUsMi40NzUgWiIgaWQ9IlNoYXBlIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=" !default;
$fd-forms-select-background-image--active: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDhGRDIiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
$fd-forms-select-background-image--active-expanded: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDhGRDIiIGQ9Ik0xMS45MzUgNi41M0w2LjE4OC4xMDRhLjI2NC4yNjQgMCAwIDAtLjM3OCAwTC4wNjUgNi41M2EuMjQuMjQgMCAwIDAtLjA2MS4xNzcuMjM3LjIzNyAwIDAgMCAuMDg3LjE2NWwxLjI5IDEuMDcxYS4yNTguMjU4IDAgMCAwIC4xNjMuMDU4TDEuNTYzIDhhLjI1Mi4yNTIgMCAwIDAgLjE3MS0uMDg1bDQuMjY1LTQuODYxIDQuMjY3IDQuODYxYy4wNDMuMDQ5LjEwNC4wOC4xNy4wODVhLjI2MS4yNjEgMCAwIDAgLjE4Mi0uMDU3bDEuMjkxLTEuMDcxYS4yMzYuMjM2IDAgMCAwIC4wMjYtLjM0MnoiLz48L3N2Zz4=" !default;
$fd-forms-select-background-image--disabled: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiM2Mzc1OEIiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNS4yMzUgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzQuMjM0IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
$fd-link-has-child-background-image: "data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4LjAxIDExLjk5Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzIxMjYyYzt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmRvd25sb2FkPC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zLjQ3LTEuOTMsOS45MiwzLjgxYS4yNy4yNywwLDAsMSwwLC4zOGgwTDMuNDcsOS45NGEuMjMuMjMsMCwwLDEtLjMzLDBoMEwyLjA1LDguNjJhLjI4LjI4LDAsMCwxLDAtLjE2djBhLjIxLjIxLDAsMCwxLC4wOC0uMTdMNyw0LDIuMDgtLjI2YS4yNy4yNywwLDAsMSwwLS4zNkwzLjEzLTEuOTFBLjIxLjIxLDAsMCwxLDMuMjktMiwuMi4yLDAsMCwxLDMuNDctMS45M1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yIDEuOTkpIi8+PC9zdmc+" !default;
$fd-hybris-logo: "data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NjQuMzYgMTAxLjIyIj48dGl0bGU+U0FQSHlicmlzPC90aXRsZT48cGF0aCBkPSJNMTEzLjY0LDIzMi44M2wtNi4yMy0xLjcxYy00LjI5LTEuMTgtNS43LTIuNTItNS43LTUuMTgsMC0zLjQ5LDMtNS45Myw3LjE4LTUuOTMsMy44NiwwLDcuMzQsMS4xMSwxMiwzLjkybDQuODktNy40MWEzMC4yOSwzMC4yOSwwLDAsMC0xNy4xOS01LjE4Yy0xMC44OSwwLTE4LjQ1LDYuNTItMTguNDUsMTUuOTNhMTQuODIsMTQuODIsMCwwLDAsMi4xNSw3Ljg1YzEuODUsMy4xMiw1LDUuMTIsMTAuMTUsNi41M2w1LjcsMS41NWM0LjYsMS4yNiw2LjIxLDMuNDQsNi4yMSw2Ljc3cy0zLDUuNjctOC42LDUuNjdBMjYuNzcsMjYuNzcsMCwwLDEsOTIsMjUyLjE3bC00LjE3LDguNjdhMzYuODksMzYuODksMCwwLDAsMTcuNTYsNC42N2MxMi44MiwwLDIxLjI3LTYuOSwyMS4yNy0xNy4zNCwwLTcuNjQtNC41OS0xMy0xMy0xNS4zNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTg3Ljg1IC0xODkuOTEpIi8+PHBhdGggZD0iTTE1Ni41NCwyMTNIMTQ1LjM1bC0xNi45LDUxaDEwLjgybDMuNjMtMTJIMTU4bDMuNjMsMTJoMTEuMTJabS0xMS4xMiwzMWMxLjExLTQsMS43OC02LjA3LDIuNzQtOS43NywxLTMuODYsMi40NS0xMCwyLjQ1LTEwczEuNTUsNi45LDIuMDcsOS4yN2MxLjExLDUsMi44MiwxMC41NCwyLjgyLDEwLjU0WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTg3Ljg1IC0xODkuOTEpIi8+PHBhdGggZD0iTTIwNS42NiwyMTUuNDdjLTIuODktMS42My01LjU1LTIuNDctMTQuMy0yLjQ3SDE3OHY1MWgxMFYyNDVoNS44OGM1LjcxLDAsNy45My0uMzgsMTAuMy0xLjQ5LDUuNjMtMi42Nyw4Ljg5LTgsOC44OS0xNC44NEMyMTMuMDcsMjIyLjc0LDIxMC40OCwyMTguMTMsMjA1LjY2LDIxNS40N1ptLTUuMTgsMTguODVjLTEuNDEsMi4xNS0yLjY3LDIuNjgtNi45LDIuNjhIMTg4VjIyMWg2Ljc3YzQuMzcsMCw3LDMsNyw3Ljg1QTkuNjYsOS42NiwwLDAsMSwyMDAuNDgsMjM0LjMyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTg3Ljg1IC0xODkuOTEpIi8+PHBvbHlnb24gcG9pbnRzPSIxNzcuMjkgNDIuOTkgMTYyLjQ3IDQyLjk5IDE2Mi40NyAyMi45OCAxNTIuMTcgMjIuOTggMTUyLjE3IDc0LjQ4IDE2Mi40NyA3NC40OCAxNjIuNDcgNTEuNTEgMTc3LjI5IDUxLjUxIDE3Ny4yOSA3NC40OCAxODcuODEgNzQuNDggMTg3LjgxIDIyLjk4IDE3Ny4yOSAyMi45OCAxNzcuMjkgNDIuOTkiLz48cGF0aCBkPSJNMzAyLjgzLDI0MC44NWMtLjU5LDEuNzctMS44OCw1Ljc3LTIuMiw3LS40NywxLjg0LTEuNDcsNC44My0xLjQ3LDQuODNzLTEuMjktNC0yLTYuMjZsLTYuNDgtMjAtMTAuMjcuNTcsMTMuODQsMzcuODIuODkuMDVhMTguMiwxOC4yLDAsMCwxLTEuODMsMy45MywxMS41NSwxMS41NSwwLDAsMS0yLjgyLDMuMSwyMiwyMiwwLDAsMS02LjE1LDIuNTJsMy40MSw2LjUyYTIwLDIwLDAsMCwwLDkuMTktMy40OGMyLjc0LTIsNC42Ny01LjE4LDcuMjYtMTIuNTJMMzE4LDIyNi40NkgzMDcuNTdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODcuODUgLTE4OS45MSkiLz48cG9seWdvbiBwb2ludHM9IjI5OS4xNCA3NC40OCAzMDkuMDcgNzQuNDggMzA5LjA3IDM1LjY1IDI5OS4xNCAzNy4yIDI5OS4xNCA3NC40OCIvPjxwYXRoIGQ9Ik0zOTIuMSwyMDkuODZhNi4yLDYuMiwwLDAsMC02LjIzLDYuMTUsNi4xMiw2LjEyLDAsMSwwLDEyLjIzLDAsNi4wNiw2LjA2LDAsMCwwLTYtNi4xNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTg3Ljg1IC0xODkuOTEpIi8+PHBhdGggZD0iTTQyNC40OCwyNDEuNjVsLTQuNi0xLjE5Yy0zLjQ4LS44OS00Ljc0LTEuOTMtNC43NC0zLjg1LDAtMi4yMywxLjkzLTMuNzEsNC44Mi0zLjcxczUuNTYuODIsOS4zNCwyLjc1bDMuMjYtNi42N2MtMy40OS0xLjcxLTcuNDktMy41Ni0xMy41Ni0zLjU2LTguODIsMC0xNC42OCw1LTE0LjY4LDEyLjM3YTExLjUyLDExLjUyLDAsMCwwLDIuMTUsNi44MiwxMy4zOSwxMy4zOSwwLDAsMCw3LDMuODVsNC40NS44MmM0LC43NCw1Ljg1LDIuMDcsNS44NSw0LjY3LDAsMi40NC0yLjIyLDQuMy01LDQuMy00LjMsMC05LjU2LTIuNDUtMTIuNi00LjNsLTMuNTUsNy4yNmM1LjU1LDIuODksMTAuNjYsNC4zNywxNS4zNCw0LjM3LDkuNywwLDE2LjIyLTUuMzMsMTYuMjItMTMuMTlhMTAsMTAsMCwwLDAtMi4wNy02LjQ1Yy0xLjM0LTEuNy0yLjg5LTMuMTEtNy41Ni00LjI5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODcuODUgLTE4OS45MSkiLz48cGF0aCBkPSJNNDczLjMsMjQwLjhhMTI5LjY5LDEyOS42OSwwLDAsMSw1LjctMzguMTRsMTUtLjcydi0xMkw0NzAuNTMsMTkxbC0xLjQ0LDMuNTZjLS4zMi43OS03LjgxLDE5LjU2LTcuODEsNDYuMnM3LjQ5LDQ1LjQsNy44MSw0Ni4ybDEuNDksMy42NywyMy40Mi40NnYtMTJsLTE1LjA1LS4zYTEyOSwxMjksMCwwLDEtNS42NS0zOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTg3Ljg1IC0xODkuOTEpIi8+PHBhdGggZD0iTTUxMi43OCwyNTBjLjc0LTEuNTksMS41MS0zLjE4LDIuMjMtNC44LDQuODMtMTAuODIsOC43LTIyLjU5LDkuMzQtMjQuNThsLTEyLjYtLjQxYy0xLjI0LDMuNTgtMy4yOCw5LjMtNS42OCwxNS4xNS0yLjM3LTUuOTMtNC4zLTExLjcxLTUuNDItMTUuMjJsLTEyLjQ2LjYxYTIyMi4xNCwyMjIuMTQsMCwwLDAsOSwyNC42NGMzLjExLDcsNywxNC4zOSw5LjY4LDE5LjM1bDEzLjY0LS4yN2MtLjExLS4xOC0zLjgxLTYuNzQtNy43MS0xNC40NyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTg3Ljg1IC0xODkuOTEpIi8+PHBhdGggZD0iTTU0NC40LDE5NC42LDU0MywxOTFsLTIzLjUyLTEuMTN2MTJsMTUsLjcyYTEzMC4yNCwxMzAuMjQsMCwwLDEsMCw3Ni4xNWwtMTUuMDkuM3YxMmwyMy40Ny0uNDZMNTQ0LjQsMjg3Yy4zMi0uOCw3LjgtMTkuNTgsNy44LTQ2LjJzLTcuNDgtNDUuNDEtNy44LTQ2LjIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04Ny44NSAtMTg5LjkxKSIvPjxwYXRoIGQ9Ik0zNDAsMjI1LjQ5Yy0zLjQ5LDAtNi4yMSwxLTguMTQsM2EyMSwyMSwwLDAsMCwuMTYtMy4zM1YyMTBsLTkuOTQuNjljMCwuNTUtLjA2LDkuODgtLjA2LDEwLjV2MzUuMTNjMCw1LjI2LDAsNi42OC0uNyw3LjY4aDguODlhNS4zNSw1LjM1LDAsMCwwLDEtMi41NCwxMC41OCwxMC41OCwwLDAsMCw4LjQ1LDMuNTgsMTIuNDksMTIuNDksMCwwLDAsOC4zLTIuOTJjNC42Ny0zLjcsNy05LjY4LDctMTcuMzhDMzU1LDIzMi44OCwzNDkuMjQsMjI1LjQ5LDM0MCwyMjUuNDlabTIuNjYsMjguMjNjLS44MSwyLTIuNSwzLTQuOTUsMy0yLjY2LDAtMy42OS0xLjI2LTUuNjktMi40NFYyMzYuNzZjMi0xLjQxLDMuMTctMyw1Ljc3LTNzNC43MywxLjU1LDUuNDcsNC44MWEyNi43OSwyNi43OSwwLDAsMSwuNDgsNi40NUMzNDMuNzIsMjQ5LjY1LDM0My41NCwyNTEuNjUsMzQyLjY0LDI1My43MloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04Ny44NSAtMTg5LjkxKSIvPjxwYXRoIGQ9Ik0zNzYuMDksMjI2LjE2YTE2LjM3LDE2LjM3LDAsMCwwLTUuNjMsNC44MWMtLjA3LTEtLjI0LTQuNzEtLjQ2LTUuNTRsLTkuMzcsMS44OWE0My4wOCw0My4wOCwwLDAsMSwuNzksOC44OVYyNjQuNGg5LjkzVjIzNy41N2MxLjg1LTIuMTUsMy44NS0zLjE5LDYuMDgtMy4xOWE1LjY4LDUuNjgsMCwwLDEsMi44OS43NGwyLjc0LTguNzRhNy42MSw3LjYxLDAsMCwwLTMuNy0uODEsOC44Nyw4Ljg3LDAsMCwwLTMuMjcuNTkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04Ny44NSAtMTg5LjkxKSIvPjwvc3ZnPg=="

//menus and lists and navs
$fd-menu-border-color: red !default;
$fd-menu-background-color: map-get($fd-colors-background, 2) !default;
$fd-menu-box-shadow: 0 0 4px 1px rgba(map-get($fd-colors-neutral, 2), 1) !default;
$fd-menu-z-index: 2 !default;
$fd-menu-border-color: transparent !default;
$fd-menu-title-color: map-get($fd-colors-text, 3) !default;
$fd-menu-title-padding: map-get($fd-spacing, "xxs") !default;
$fd-menu-title-background-color: map-get($fd-colors-neutral, 1) !default;
$fd-menu-item-color: map-get($fd-colors-text, 2) !default;
$fd-menu-item-background-color--selected: rgba(map-get($fd-colors-action, 1), .07) !default;
$fd-menu-item-background-color--hover: map-get($fd-colors-neutral, 2) !default;
$fd-menu-item-color--hover: map-get($fd-colors-text, 2) !default;
$fd-menu-item-padding-x: map-get($fd-spacing, "reg") !default;
$fd-menu-item-padding-y: map-get($fd-spacing, "xs") - 2px !default;
$fd-menu-link-color: $fd-link-color !default;
$fd-menu-link-color--disabled: map-get($fd-colors-text, 3) !default;

$fd-menu-transition-params: $fd-animation--speed ease-in !default;
$fd-elements-inputs--text: "input[type=text]", "input[type=password]", "input[type=email]", "input[type=url]", "input[type=search]", "input[type=tel]", "input[type=number]", "input[type=date]";
$fd-elements-inputs--check: "input[type=radio]", "input[type=checkbox]";

//animation
$fd-forms-transition-params: $fd-animation--speed ease-in !default;

