.dropdown{
    display:flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.select{
    background: transparent;
    display: flex;
    border: 0.0625rem solid #00677F;
    background-color: transparent;
    color: #00677F;
    font-size: 0.80rem;
    font-weight: 600;
    line-height: 1rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.2s;
    width: 7rem;
    justify-content: space-evenly;

    @media (max-width: 420px) {
        .selected, .caret {
          display: none;
          border-radius: 50%;
          padding: 0.5rem;
        }
      }

  }

.select:hover{
    background:#E1E2E5;
}
.select:active{
    color: #001F28;
    background-color: #F9FDFF;
    border: 0.0625rem solid #001F28;
}

.caret{
      span {
        font-family: "SAP-icons";
    }
}
.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    width: 8.7rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background: #F9FDFF;
    border: 1px solid #BFC8CC;
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem;
    justify-content: space-evenly;
    transition: 0.2s;
    opacity:0;
    display:none;
    z-index:1;
    

}
.menu li{
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover{
        background: #E1E2E5;
    }
}
.menu-open{
    display: block;
    opacity:1;
}
