

.fl-language {
  padding: 1rem;

  &__button {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 0.0625rem solid var(--fl-brand-color);
    border-radius: 1rem;

    &:hover {
      cursor: pointer;
    }
    
    &-lang {
      font-family: "72";
      font-weight: 600;
      color: var(--fl-brand-color);
    }

    &-globe, &-arrow {
      font-family: "72";
      font-weight: 600;
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.3;
      color: var(--fl-brand-color);
    }

  }

}

// .example-list {
//   width: 100px;
//   border: solid 1px #ccc;
//   border-radius: 5px;
//   background: #fff;
//   text-align: center;
//   padding: 10px;
//   margin: 0;
// }

// .example-list > li {
//   list-style-type: none;
//   border-bottom: solid 1px #8b8b8b;
//   padding: 8px 0;
// }

// .example-list > li:last-child {
//   border-bottom: none;
// }

// .dropdown {
//   display: flex;
//   flex-direction: column;
//   row-gap: 0.5rem;
// }

// .select {
//   display: flex;
//   border: 0.0625rem solid #00677F;
//   background-color: transparent;
//   color: #00677F;
//   font-size: 0.80rem;
//   font-weight: 600;
//   line-height: 1rem;
//   border-radius: 2rem;
//   padding: 0.5rem 1rem;
//   cursor: pointer;
//   transition: 0.2s;
//   width: 7rem;
//   justify-content: space-evenly;
// }

// .select:hover {
//   background: #E1E2E5;
// }

// .select:active {
//   color: #001F28;
//   background-color: #F9FDFF;
//   border: 0.0625rem solid #001F28;
// }

// .caret {
//   span {
//     font-family: "SAP-icons";
//   }
// }

// .caret-rotate {
//   transform: rotate(180deg);
// }

// .menu {
//   flex-direction: column;
//   list-style-type: none;
//   background: #F9FDFF;
//   border: 1px solid #BFC8CC;
//   border-radius: 1rem;
//   padding: 0.5rem 0.5rem 1rem;
//   justify-content: space-evenly;
//   transition: 0.2s;
//   opacity: 0;
//   display: none;
//   z-index: 1;

//   li {
//     a {
//       display: block;
//       padding: 0.5rem 0.5rem;
//       border-radius: 0.5rem;
//       cursor: pointer;
//       text-decoration: none;
//       color: black;
//       &:hover {
//         color: black;
//         background: #E1E2E5;
//       }
//       &:visited {
//         color: black;
//       }
//     }
//   }
// }

// .menu-open {
//   display: block;
//   opacity: 1;
//   position: absolute;
//   top: 3.81rem;
//   right: 4.05vw;

// }

// @media (max-width: 600px) {
//   .select {
//     width: auto;
//     padding: 0.5rem;
//   }
//   .selected, .caret {
//     display: none;
//     border-radius: 50%;
//     padding: 0.5rem;
//   }
//   .select.select-clicked {
//     width: 1rem;
//     padding: 0.5rem;
//     border-radius: 50%;
//   }

//   .menu {
//     flex-direction: column;
//     list-style-type: none;
//     background: #00677F;
//     color: white;
//     border: 1px solid #BFC8CC;
//     border-radius: 1rem;
//     padding: 0.5rem 0.5rem 1rem;
//     justify-content: space-evenly;
//     transition: 0.2s;
//     opacity: 0;
//     display: none;
//     z-index: 1;

//     li a {
//       padding: 0.5rem 0.5rem;
//       border-radius: 0.5rem;
//       cursor: pointer;

//       &:hover {
//         background: #00829F;
//       }
//     }
//   }

//   .menu-open {
//     opacity: 1;
//     display: flex;
//     height: 10rem;
//     width: 88%;
//   }
// }
