{% from "./../icon/component.njk" import icon %}
<!--
nav:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{%- macro navitem(properties={}, modifier={}, state={}, aria={}, classes="") -%}
    <li class="fd-nav__item{{ modifier.item | modifier('nav__item') }}">
        {%- set state = { selected: properties.selected, disabled: properties.disabled } %}
        {%- set aria = {} %}
        {%- if properties.selected %}
            {%- set aria = { selected: properties.selected } %}
        {%- elif properties.disabled %}
            {%- set aria = { disabled: properties.disabled } %}
        {%- endif %}
        {%- if properties.navheader %}
            <span class="fd-nav__header">{{ properties.label }}</span>
        {%- else -%}
            <a class="fd-nav__link{{ modifier.link | modifier('nav__link') }}{{ state | state }}"{{ aria | aria }} href="{{ item.href or '#' }}">
                {%- if properties.icon %}
                    {{ icon(glyph=properties.icon, classes="nav__link-icon") }}
                {%- endif %}
                {{ properties.label }}
                {%- if properties.haschild %}
                {{ icon(glyph="chevron", classes="nav__link-icon--expand") }}
                {%- endif %}
            </a>
        {%- endif %}
    </li>
{%- endmacro %}

{%- macro navgroup(properties={}) -%}
    <ul class="fd-nav__group{{ modifier.item | modifier('nav__group') }}">
        {%- for item in properties.items %}
            {{ navitem(item) }}
        {%- endfor -%}
    </ul>
{%- endmacro %}

{% macro nav(properties={ items: [] }, modifier={}, state={}, aria={}, classes="") -%}
    <ul class="fd-nav{{ modifier.block | modifier('nav') }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>
        {%- for item in properties.items %}
            {%- if item.items and item.selected or item.expanded %}
                {{ navitem(item) }}
                {{ navgroup(item) }}
            {%- else %}
                {{ navitem(item) }}
            {%- endif %}
        {%- endfor %}
    </ul>
{%- endmacro %}
