{% extends "layout.njk" %}
{% from "./component.njk" import textarea %}
{% from "./../format.njk" import format %}

{% set css_deps = ['fonts','helpers'] %}

{% block content %}

    <h1>Textarea</h1>
    {% set basic_textarea %}
        {{ textarea(
            properties={
                placeholder: "Placeholder Text"
            })
        }}
    {% endset %}

    {{ format(basic_textarea) }}

{% endblock %}
