<!--
tag:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro tag(properties={}, modifier={}, state={}, aria={}) -%}
<span class="fd-tag{{ modifier.block | modifier('tag') }}{{ state | state }}"{{ aria | aria }} role="button">{{ properties.label }}</span>
{%- endmacro %}
