{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import tag %}

{% block content %}
<style media="screen">
  main {
    background-color: white;
  }
</style>
    <h1>tag</h1>
    <p>Example shows the link for "Clear All" even though it is not part of the component.</p>

    <!-- output the component example and the code snippet -->
    {% set example %}
{{  tag(
        properties={
            label: "Bibendum"
        }
    )
}}
{{  tag(
        properties={
            label: "Lorem"
        }
    )
}}
{{  tag(
        properties={
            label: "Dolor"
        }
    )
}}
{{  tag(
        properties=data.properties
    )
}}
<button type="button" name="button" class="fd-button--light fd-button--xs">Clear All</button>
    {% endset %}
    {{ format(example) }}


{% endblock %}
