
<!--
nav:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro nav(properties={ items: [] }, modifier={}, state={}, aria={}, classes="") -%}
<ul class="fd-nav{{ modifier.block | modifier('nav') }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>
    {%- for item in properties.items %}
    <li class="fd-nav__item{{ modifier.item | modifier('nav__item') }}">
        {%- set state = { selected: item.selected, disabled: item.disabled } %}
        {%- set aria = {} %}
        {%- if item.selected %}
            {%- set aria = { selected: item.selected } %}
        {%- elif item.disabled %}
            {%- set aria = { disabled: item.disabled } %}
        {%- endif %}
        <a class="fd-nav__link{{ modifier.link | modifier('nav__link') }}{{ state | state }}"{{ aria | aria }} href="{{ item.href or '#' }}">{{ item.label }}</a>
    </li>
    {%- endfor %}
</ul>
{%- endmacro %}
