{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import nav %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = [] %}

{% block content %}

    <h1>nav</h1>
    <p>NOTE: The <code>.tn-form__item</code> container is optional. You can use <code>nav</code> and <code>a</code> elements to the same effect.</p>

    <h2>horizontal</h2>

    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  nav(
            data.properties
        )
    }}
    {% endset %}
    {{ format(example) }}

<br><br>

{% set example %}
<nav class="tn-nav" role="navigation">
    <a class="tn-nav__link" href="#">Link</a>
    <a class="tn-nav__link is-selected" aria-selected="true" href="#">Selected</a>
    <a class="tn-nav__link" href="#">Link</a>
    <a class="tn-nav__link is-disabled" aria-disabled="true" href="#">Disabled</a>
</nav>
{% endset %}
{{ format(example) }}


<br><br>

    <h2>vertical</h2>
    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  nav(
            data.properties,
            modifier={
                block: "vertical"
            }
        )
    }}
    {% endset %}
    {{ format(example) }}




{% endblock %}
