{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['fonts','components/button','icons','components/image', 'components/menu'] %}

{% block content %}

<h2>popover w/ menu</h2>

{% set example %}
  {{  popover(properties={
      body: menu(properties={
        items: [
            { "label": "Option 1" },
            { "label": "Option 2" },
            { "label": "Option 3" },
            { "label": "Option 4" }
          ]
        })
    })
  }}
{% endset %}
{{ format(example) }}

{% endblock %}
