<!--
tile:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro tile(properties={}, modifier={}, state={}, aria={}, classes=[]) -%}
<div class="fd-tile{{ modifier.block | modifier('tile') }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>
{{- caller() | indent -}}
</div>
{%- endmacro %}

{%- macro tile_content(properties={}, modifier=[], aria={}, classes=[]) %}
<div class="fd-tile__content">
  {%- if properties.title %}
    {% set title_size = properties.title_size  if properties.title_size  else "h3" %}
    <{{title_size}} class="fd-tile__title">{{ properties.title }}</{{title_size}}>
  {%- endif %}

  {%- if properties.description %}
  <p>{{ properties.description }}</p>
  {%- endif %}
  {{- caller() }}
</div>
{%- endmacro %}

{%- macro tile_media(properties={}, modifier=[], aria={}, classes=[]) %}
<div class="fd-tile__media">
    {{ caller() }}
</div>
{%- endmacro %}

{%- macro tile_actions(properties={}, modifier=[], aria={}, classes=[]) %}
<div class="fd-tile__actions">
    {{ caller() }}
</div>
{%- endmacro %}
