<!--
tile:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro tile(properties={}, modifier={}, state={}, aria={}) -%}
<div class="fd-tile{{ modifier.block | modifier('tile') }}{{ state | state }}"{{ aria | aria }}>
{{- caller() | indent -}}
</div>
{%- endmacro %}

{%- macro tile_content(properties={}, modifier=[], aria={}, classes=[]) %}
<div class="fd-tile__content">
  <h2 class="fd-tile__title">{{ properties.title }}</h2>
  {%- if properties.description %}
  <p>{{ properties.description }}</p>
  {%- endif %}
  {{- caller() }}
</div>
{%- endmacro %}

{%- macro tile_media(properties={}, modifier=[], aria={}, classes=[]) %}
<div class="fd-tile__media">
    {{ caller() }}
</div>
{%- endmacro %}

{%- macro tile_actions(properties={}, modifier=[], aria={}, classes=[]) %}
<div class="fd-tile__actions">
    {{ caller() }}
</div>
{%- endmacro %}
