{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "../image/component.njk" import image %}
{% from "../identifier/component.njk" import identifier %}
{% from "./component.njk" import tile, tile_content, tile_media, tile_actions %}
<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['fonts','helpers','components/button','icons','components/identifier','components/image'] %}

{% block content %}
<style media="screen">
  .fd-tile {
    margin-bottom: 10px;
  }
</style>

{% set icon = identifier(
  properties={ icon: "home" },
  modifier={ block: ["m","transparent"] }
) %}
{% set icon_accent = identifier(
  properties={ icon: "home" },
  modifier={ block: ["m"] },
  classes="has-background-color-accent-3"
) %}
{% set image_default = image(
  properties={ url: data.properties.media.url },
  modifier={ block: ["m"] },
  aria={ label: data.properties.media.alt }
) %}
{% set image_round = image(
  properties={ url: data.properties.media.url },
  modifier={ block: ["m","circle"] },
  aria={ label: data.properties.media.alt }
) %}

{%- set tile_default %}
{% call tile() -%}
  {% call tile_content({ title: data.properties.title }) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}

{%- set tile_button %}
  {% call tile(aria={role: 'button'}) -%}
    {% call tile_content({ title: data.properties.title }) -%}
    {%- endcall %}
  {%- endcall %}
{%- endset %}
{%- set tile_description %}
{%- call tile() -%}
{% call tile_content(data.properties) -%}
{%- endcall %}
{%- endcall %}
{%- endset %}

{%- set tile_media_id %}
{% call tile() -%}
{% call tile_media() -%}
  {{icon}}
{%- endcall %}
{%- call tile_content({ title: data.properties.title }) -%}
{%- endcall %}
{%- endcall %}
{% endset %}

{%- set tile_media_id_accent %}
{%- call tile() -%}
  {%- call tile_media() -%}
    {{icon_accent}}
  {%- endcall %}
  {%- call tile_content(data.properties) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}


{%- set tile_media_image %}
{%- call tile() -%}
  {% call tile_media() -%}
    {{image_default}}
  {%- endcall %}
  {%- call tile_content({ title: data.properties.title }) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}

{%- set tile_media_image_round %}
{%- call tile() -%}
  {% call tile_media() -%}
    {{image_round}}
  {%- endcall %}
  {%- call tile_content(data.properties) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}


{%- set tile_actions %}
  {%- call tile() -%}
    {% call tile_content({ title: data.properties.title }) -%}
    {%- endcall %}
    {%- call tile_actions() -%}
    {{  button(
        {
            icon: 'overflow'
        },
        modifier={ block: ['secondary'] },
        aria={ label: 'More' })
    }}
    {%- endcall %}
  {%- endcall %}
{% endset %}


<h2>default</h2>
{% set example %}
{{tile_default}}
{{tile_description}}
{% endset %}
{{ format(example) }}

<br><br>

<h2>
  with <code>.fd-media</code> container
</h2>
{% set example %}
{{tile_media_id}}
{{tile_media_id_accent}}
{{tile_media_image}}
{{tile_media_image_round}}
{% endset %}
{{ format(example) }}

<br><br>
<h2>
  with <code>.fd-actions</code> container
</h2>

    {% set example %}
{{tile_actions}}
    {% endset %}
    {{ format(example) }}


<br><br>
    <h2>button</h2>
    <p>Add <code>role=button</code>
    </p>
    {% set example %}
    {{tile_button}}
    {% endset %}
    {{ format(example) }}

    <br><br>
    <h2>disabled</h2>
    <p>Add <code>aria-disabled=true</code></p>
    {% set example %}
{%- call tile(aria={disabled: true}) -%}
  {%- call tile_content({ title: data.properties.title }) -%}
  {%- endcall %}
{%- endcall %}

{% call tile(aria={disabled: true}) -%}
  {%- call tile_media() -%}
    {{icon}}
  {%- endcall %}
  {%- call tile_content({ title: data.properties.title }) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}
    {{ format(example) }}

<br><br>

<h2> Example with H2 </h2>

{%- set example %}
  {% call tile() -%}
    {% call tile_content({ title: data.properties.title, title_size: "h2" }) -%}
    {%- endcall %}
  {%- endcall %}
{% endset %}

{{ format(example) }}

<br><br>

<h2> Example with H4 </h2>

{%- set example %}
  {% call tile() -%}
    {% call tile_content({ title: data.properties.title, title_size: "h4" }) -%}
    {%- endcall %}
  {%- endcall %}
{% endset %}

{{ format(example) }}

<br><br>

<h2> Example with H5 </h2>

{%- set example %}
  {% call tile() -%}
    {% call tile_content({ title: data.properties.title, title_size: "h5" }) -%}
    {%- endcall %}
  {%- endcall %}
{% endset %}

{{ format(example) }}

<br><br>

<h2> Example with H6 </h2>

{%- set example %}
  {% call tile() -%}
    {% call tile_content({ title: data.properties.title, title_size: "h6" }) -%}
    {%- endcall %}
  {%- endcall %}
{% endset %}

{{ format(example) }}

{% endblock %}
