{#
    see ./data.json for object structure
#}
{% from "../icon/component.njk" import icon %}
{%- macro button(properties={}, modifier={}, state={}, aria={}, classes="", size="") -%}
{%- set is_default = modifier.block and modifier.block.length and not (modifier.block | join("")) %}

<button class="{{ 'fd-button' if not modifier.block or modifier.block == "" or is_default }}{{ modifier.block | modifier('button') }}{{ ' fd-button--'+size if size }}{{ ' sap-icon--'+properties.icon if properties.icon }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>{%- if properties.label %}{{properties.label}}{%- endif %}</button>

<a class="{{ 'fd-button' if not modifier.block or modifier.block == "" or is_default }}{{ modifier.block | modifier('button') }}{{ ' fd-button--'+size if size }}{{ ' sap-icon--'+properties.icon if properties.icon }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>{%- if properties.label %}{{properties.label}}{%- endif %}</a>

{%- endmacro %}
