{% extends "layout.njk" %}
{% from "./component.njk" import button %}
{% from "./../format.njk" import format %}
{% set css_deps = ['helpers','icons'] %}

{% block content %}
<h1>Button</h1>
{% set example %}
{{  button(
        {
            label: 'BUTTON_LABEL'
        },
        modifier={
            block: ['small']
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL'
        },
        modifier={
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL'
        },
        modifier={
            block: ['large']
        })
}}
{% endset %}
{{ format(example) }}

<h2>States — Selected, Disabled</h2>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL' },
        state={ selected: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        aria={ selected: true }
    )
}}

{{  button(
        { label: 'BUTTON_LABEL' },
        state={ disabled: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        aria={ disabled: true }
    )
}}
{% endset %}
{{ format(example) }}

<br><hr><br>


<h1>Text Button</h1>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text'] })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','large'] })
}}
{% endset %}
{{ format(example) }}

<h2>States — Selected, Disabled</h2>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] },
        aria={ selected: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] },
        state={ selected: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] },
        aria={ disabled: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['text','small'] },
        state={ disabled: true })
}}
{% endset %}
{{ format(example) }}



<br><hr><br>


<h1>Link Button</h1>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['link','small'] })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['link'] })
}}
{% endset %}
{{ format(example) }}

<h2>States — Selected, Disabled</h2>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['link'] },
        aria={ selected: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['link'] },
        state={ selected: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['link'] },
        aria={ disabled: true })
}}
{{  button(
        { label: 'BUTTON_LABEL' },
        modifier={ block: ['link'] },
        state={ disabled: true })
}}
{% endset %}
{{ format(example) }}


<br><hr><br>


<h1>Button w/ Icon</h1>
{% set example %}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'checked'
        },
        modifier={
            block: ['small']
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'checked'
        },
        modifier={
            block: []
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'checked'
        },
        modifier={
            block: ['large']
        })
}}
<br><br>
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'checked',
            after: false
        },
        modifier={
            block: ['text','small']
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'checked'
        },
        modifier={
            block: ['text']
        })
}}
{{  button(
        {
            label: 'BUTTON_LABEL',
            icon: 'checked'
        },
        modifier={
            block: ['text','large']
        })
}}
{% endset %}
{{ format(example) }}

<br>

<h2>States — Selected, Disabled</h2>

{% set example %}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: [] },
        aria={ selected: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: [] },
        aria={ disabled: true }
    )
}}
<br><br>
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: ['text'] },
        aria={ selected: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: ['text'] },
        aria={ disabled: true }
    )
}}
{% endset %}
{{ format(example) }}




<br><hr><br>


<h1>Icon Button</h1>
{% set example %}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['small','icon'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['icon'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['large','icon'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
<br><br>
{{  button(
        { icon: 'checked' },
        modifier={ block: ['text','small','icon'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['text','icon'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['text','large','icon'] },
        aria={ label: 'BUTTON_LABEL' }
    )
}}
{% endset %}
{{ format(example) }}


<br>

<h2>States — Selected, Disabled</h2>
{% set example %}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['icon'] },
        aria={ label: 'BUTTON_LABEL', selected: true }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['large','icon'] },
        aria={ label: 'BUTTON_LABEL', selected: true }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['icon'] },
        aria={ label: 'BUTTON_LABEL', disabled: true }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['large','icon'] },
        aria={ label: 'BUTTON_LABEL', disabled: true }
    )
}}
<br><br>
{{  button(
        { icon: 'checked' },
        modifier={ block: ['text','icon'] },
        aria={ label: 'BUTTON_LABEL', selected: true }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['text','large','icon'] },
        aria={ label: 'BUTTON_LABEL', selected: true }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['text','icon'] },
        aria={ label: 'BUTTON_LABEL', disabled: true }
    )
}}
{{  button(
        { icon: 'checked' },
        modifier={ block: ['text','large','icon'] },
        aria={ label: 'BUTTON_LABEL', disabled: true }
    )
}}
{% endset %}
{{ format(example) }}

<br><hr><br>

<h1>Action Bar Button</h1>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: ['action-bar'] }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: ['text','action-bar'] }
    )
}}
{% endset %}
{{ format(example) }}


<br>

<h2>States — Selected, Disabled</h2>
{% set example %}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: ['action-bar'] },
        aria={ selected: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: ['action-bar'] },
        aria={ disabled: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: ['text','action-bar'] },
        aria={ selected: true }
    )
}}
{{  button(
        { label: 'BUTTON_LABEL', icon: 'checked' },
        modifier={ block: ['text','action-bar'] },
        aria={ disabled: true }
    )
}}
{% endset %}
{{ format(example) }}




{% endblock %}
