{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import button %}
{% from "./component-anchor.njk" import anchor_button %}

{% macro btncode(content="",bgcolor="transparent") %}
<div style="background-color:{{bgcolor}}">
{{ content }}
</div>
<textarea readonly class="test-textarea">{{ content | e | trim }}</textarea>
{% endmacro %}



{% block content %}
<style media="screen">
  button,
  a {
    margin-bottom: 4px !important;
    margin-right: 4px !important;
  }
  table textarea.test-textarea {
    height: 100px;
  }
</style>

{% set emphasis = ["emphasized", "", "light" ] %}
{% set types = ["", "standard", "positive ", "medium", "negative" ] %}
{% set sizes = ["", "compact" ] %}


<table border="1" cellpadding="10">
  <tr>
    <td></td>
{% for e in emphasis %}
    <th>{{e}} {{"<em>default</em>" if not e }}</th>
{% endfor %}
  </tr>
  {% for type in types %}
  <tr>
      <th>{{type}} {{"<em>default</em>" if not type }}</th>
      {% for e in emphasis %}
        <td>
{% for size in sizes %}

<code>{{".fd-button--" + e if e}}{{".fd-button--" + type if type}}{{".fd-button--" + size if size}}
{{".fd-button" if not type and not size and not e}}
</code>
<br>
{% set example %}
{{- button(
  { label: 'Button' },
  modifier={ block: [type,size,e] })
}}
{{- button(
  { label: 'Add to Cart',
    icon: 'cart' },
    modifier={ block: [type,size,e] })
}}
{{-  button(
  { icon: 'attachment' },
    modifier={ block: [type,size,e] },
    aria={ label: 'Add Attachment' })
}}
{{- anchor_button(
  { label: 'Button' },
  modifier={ block: [type,size,e] })
}}
{{- anchor_button(
  { label: 'Add to Cart',
    icon: 'cart' },
    modifier={ block: [type,size,e] })
}}
{{-  anchor_button(
  { icon: 'attachment' },
    modifier={ block: [type,size,e] },
    aria={ label: 'Add Attachment' })
}}
{% endset %}
{{ btncode(example) }}


<br>
{% set example %}
{{-  button(
  { label: 'Focused',
    icon: 'cart' },
    modifier={ block: [type,size,e] },
    state={ focus: true })
}}
{{- button(
  { label: 'Selected' },
  modifier={ block: [type,size,e] },
  aria={ selected: true })
}}
{{-  button(
  { label: 'Disabled',
    icon: 'cart' },
    modifier={ block: [type,size,e] },
    state={ disabled: true })
}}
{{-  anchor_button(
  { label: 'Focused',
    icon: 'cart' },
    modifier={ block: [type,size,e] },
    state={ focus: true })
}}
{{- anchor_button(
  { label: 'Selected' },
  modifier={ block: [type,size,e] },
  aria={ selected: true })
}}
{{-  anchor_button(
  { label: 'Disabled',
    icon: 'cart' },
    modifier={ block: [type,size,e] },
    state={ disabled: true })
}}
{% endset %}
{{ btncode(example) }}




  <br>
  {% endfor %}

        </td>
      {% endfor %}
  {% endfor %}
  </tr>
</table>


<br>
<hr>
<br>
<h1>///////////////////////////
  <br>
WILL BE DEPRECATED  ————————————————————————————v
<br>
///////////////////////////
</h1>
<br>
<br>

Action Bar
<button class="fd-button--action-bar sap-icon--save">Button</button>
<button class="fd-button--action-bar">Button</button>
<button class="fd-button--action-bar fd-button--positive sap-icon--accept">Approve</button>
<button class="fd-button--action-bar fd-button--negative sap-icon--decline">Reject</button>
<br><br>

Primary
<button class="fd-button sap-icon--save">Button</button>
<button class="fd-button">Button</button>
<button class="fd-button fd-button--positive sap-icon--accept">Approve</button>
<button class="fd-button fd-button--negative sap-icon--decline">Reject</button>
<br><br>

Secondary
<button class="fd-button--secondary sap-icon--save">Button</button>
<button class="fd-button--secondary">Button</button>
<br><br>

Toolbar
<button class="fd-button--toolbar sap-icon--save">Button</button>
<button class="fd-button--toolbar">Button</button>
<button class="fd-button--toolbar" aria-selected="true">Selected Button</button>
<button class="fd-button--toolbar" aria-pressed="true">Pressed Button</button><br>



<br><br>
<hr>
<br>

<h1>Action Bar Button</h1>
<p>only one should be on a page</p>
{% set example %}
{{  button(
        { label: 'Button' },
        modifier={ block: ['action-bar','compact'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['action-bar'] })
}}
<br>
{{  button(
  { label: 'Add to Cart',
    icon: 'cart' },
        modifier={ block: ['action-bar','compact'] })
}}
{{  button(
  { label: 'Add to Cart',
    icon: 'cart' },
        modifier={ block: ['action-bar'] })
}}
<br>
{{  button(
  {
    icon: 'attachment' },
        modifier={ block: ['action-bar','compact'] },
        aria={ label: 'Add Attachment' })
}}
{{  button(
  {
    icon: 'attachment' },
        modifier={ block: ['action-bar'] },
        aria={ label: 'Add Attachment' })
}}
<br>
{{  button(
        { label: 'Selected' },
        modifier={ block: ['action-bar'] },
        state={ selected: true }
    )
}}
{{  button(
  { label: 'Selected' },
  modifier={ block: ['action-bar'] },
        aria={ selected: true }
    )
}}
{{  button(
  { label: 'Disabled' },
  modifier={ block: ['action-bar'] },
        state={ disabled: true }
    )
}}
{{  button(
  { label: 'Disabled' },
  modifier={ block: ['action-bar'] },
        aria={ disabled: true }
    )
}}



<br>
{{  button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
          block: ['compact','action-bar','positive']
        })
}}
{{  button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
block: ['action-bar','positive']
        })
}}
<br>
{{  button(
        { label: 'Approve' },
        modifier={
            block: ['positive']
        },
        state={ selected: true }
    )
}}
{{  button(
        { label: 'Approve' },
        modifier={
            block: ['positive']
        },
        aria={ selected: true }
    )
}}
{{  button(
        { label: 'Approve' },
        modifier={
            block: ['positive']
        },
        state={ disabled: true }
    )
}}
{{  button(
        { label: 'Approve' },
        modifier={
            block: ['positive']
        },
        aria={ disabled: true }
    )
}}




<br>
{{  button(
        {
            label: 'Reject',
            icon: 'decline'
        },
        modifier={
            block: ['xs','action-bar','negative']
        })
}}
{{  button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
            block: ['s','action-bar','negative']
        })
}}
{{  button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
          block: ['compact','action-bar','negative']
        })
}}
{{  button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
block: ['action-bar','negative']
        })
}}
{{  button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
            block: ['l','action-bar','negative']
        })
}}
<br>
{{  button(
        { label: 'Reject' },
        modifier={
            block: ['negative']
        },
        state={ selected: true }
    )
}}
{{  button(
        { label: 'Reject' },
        modifier={
            block: ['negative']
        },
        aria={ selected: true }
    )
}}
{{  button(
        { label: 'Reject' },
        modifier={
            block: ['negative']
        },
        state={ disabled: true }
    )
}}
{{  button(
        { label: 'Reject' },
        modifier={
            block: ['negative']
        },
        aria={ disabled: true }
    )
}}

{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['action-bar','compact'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['action-bar'] })
}}
<br>
{{  anchor_button(
  { label: 'Add to Cart',
    icon: 'cart' },
        modifier={ block: ['action-bar','compact'] })
}}
{{  anchor_button(
  { label: 'Add to Cart',
    icon: 'cart' },
        modifier={ block: ['action-bar'] })
}}
<br>
{{  anchor_button(
  {
    icon: 'attachment' },
        modifier={ block: ['action-bar','compact'] },
        aria={ label: 'Add Attachment' })
}}
{{  anchor_button(
  {
    icon: 'attachment' },
        modifier={ block: ['action-bar'] },
        aria={ label: 'Add Attachment' })
}}
<br>
{{  anchor_button(
        { label: 'Selected' },
        modifier={ block: ['action-bar'] },
        state={ selected: true }
    )
}}
{{  anchor_button(
  { label: 'Selected' },
  modifier={ block: ['action-bar'] },
        aria={ selected: true }
    )
}}
{{  anchor_button(
  { label: 'Disabled' },
  modifier={ block: ['action-bar'] },
        state={ disabled: true }
    )
}}
{{  anchor_button(
  { label: 'Disabled' },
  modifier={ block: ['action-bar'] },
        aria={ disabled: true }
    )
}}



<br>
{{  anchor_button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
          block: ['compact','action-bar','positive']
        })
}}
{{  anchor_button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
block: ['action-bar','positive']
        })
}}
<br>
{{  anchor_button(
        { label: 'Approve' },
        modifier={
            block: ['positive']
        },
        state={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Approve' },
        modifier={
            block: ['positive']
        },
        aria={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Approve' },
        modifier={
            block: ['positive']
        },
        state={ disabled: true }
    )
}}
{{  anchor_button(
        { label: 'Approve' },
        modifier={
            block: ['positive']
        },
        aria={ disabled: true }
    )
}}




<br>
{{  anchor_button(
        {
            label: 'Reject',
            icon: 'decline'
        },
        modifier={
            block: ['xs','action-bar','negative']
        })
}}
{{  anchor_button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
            block: ['s','action-bar','negative']
        })
}}
{{  anchor_button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
          block: ['compact','action-bar','negative']
        })
}}
{{  anchor_button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
block: ['action-bar','negative']
        })
}}
{{  anchor_button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
            block: ['l','action-bar','negative']
        })
}}
<br>
{{  anchor_button(
        { label: 'Reject' },
        modifier={
            block: ['negative']
        },
        state={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Reject' },
        modifier={
            block: ['negative']
        },
        aria={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Reject' },
        modifier={
            block: ['negative']
        },
        state={ disabled: true }
    )
}}
{{  anchor_button(
        { label: 'Reject' },
        modifier={
            block: ['negative']
        },
        aria={ disabled: true }
    )
}}

{% endset %}
{{ format(example) }}

<br><br><br>

<h1>Primary Button</h1>
<p>Default button</p>
{% set example %}
{{  button(
        {
            label: 'Button Label'
        },
        modifier={
            block: ['xs']
        })
}}
{{  button(
        {
            label: 'Button Label'
        },
        modifier={
            block: ['s']
        })
}}
{{  button(
        {
            label: 'Button Label'
        },
        modifier={
          block: ['compact']
        })
}}
{{  button(
        {
            label: 'Button Label'
        },
        modifier={

        })
}}
{{  button(
        {
            label: 'Button Label'
        },
        modifier={
            block: ['l']
        })
}}
<br>
{{  button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={
            block: ['xs']
        })
}}
{{  button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={
            block: ['s']
        })
}}
{{  button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={
          block: ['compact']
        })
}}
{{  button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={

        })
}}
{{  button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={
            block: ['l']
        })
}}
<br>
{{  button(
        {
            icon: 'add-favorite'
        },
        modifier={
            block: ['xs']
        },
        aria={ label: 'Add favorite' })
}}
{{  button(
        {
            icon: 'add-favorite'
        },
        modifier={
            block: ['s']
        },
        aria={ label: 'Add favorite' })
}}
{{  button(
        {
            icon: 'add-favorite'
        },
        modifier={
          block: ['compact']
        },
        aria={ label: 'Add favorite' })
}}
{{  button(
        {
            icon: 'add-favorite'
        },
        modifier={

        },
        aria={ label: 'Add favorite' })
}}
{{  button(
        {
            icon: 'add-favorite'
        },
        modifier={
            block: ['l']
        },
        aria={ label: 'Add favorite' })
}}
<br>
{{  button(
        { label: 'Selected' },
        state={ selected: true }
    )
}}
{{  button(
        { label: 'Selected' },
        aria={ selected: true }
    )
}}

{{  button(
        { label: 'Disabled' },
        state={ disabled: true }
    )
}}
{{  button(
        { label: 'Disabled' },
        aria={ disabled: true }
    )
}}

<br>
{{  button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
            block: ['xs','positive']
        })
}}
{{  button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
            block: ['s','positive']
        })
}}
{{  button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
          block: ['compact','positive']
        })
}}
{{  button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
block: ['positive']
        })
}}
{{  button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
            block: ['l','positive']
        })
}}
<br>
{{  button(
        { label: 'Approve' },
        modifier={
            block: ['main','positive']
        },
        state={ selected: true }
    )
}}
{{  button(
        { label: 'Approve' },
        modifier={
            block: ['main','positive']
        },
        aria={ selected: true }
    )
}}
{{  button(
        { label: 'Approve' },
        modifier={
            block: ['main','positive']
        },
        state={ disabled: true }
    )
}}
{{  button(
        { label: 'Approve' },
        modifier={
            block: ['main','positive']
        },
        aria={ disabled: true }
    )
}}
<br>



{{  button(
        {
            label: 'Reject',
            icon: 'decline'
        },
        modifier={
            block: ['xs','negative']
        })
}}
{{  button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
            block: ['s','negative']
        })
}}
{{  button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
          block: ['compact','negative']
        })
}}
{{  button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
block: ['negative']
        })
}}
{{  button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
            block: ['l','negative']
        })
}}

<br>
{{  button(
        { label: 'Reject' },
        modifier={
            block: ['main','negative']
        },
        state={ selected: true }
    )
}}
{{  button(
        { label: 'Reject' },
        modifier={
            block: ['main','negative']
        },
        aria={ selected: true }
    )
}}
{{  button(
        { label: 'Reject' },
        modifier={
            block: ['main','negative']
        },
        state={ disabled: true }
    )
}}
{{  button(
        { label: 'Reject' },
        modifier={
            block: ['main','negative']
        },
        aria={ disabled: true }
    )
}}
{{  anchor_button(
        {
            label: 'Button Label'
        },
        modifier={
            block: ['xs']
        })
}}
{{  anchor_button(
        {
            label: 'Button Label'
        },
        modifier={
            block: ['s']
        })
}}
{{  anchor_button(
        {
            label: 'Button Label'
        },
        modifier={
          block: ['compact']
        })
}}
{{  anchor_button(
        {
            label: 'Button Label'
        },
        modifier={

        })
}}
{{  anchor_button(
        {
            label: 'Button Label'
        },
        modifier={
            block: ['l']
        })
}}
<br>
{{  anchor_button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={
            block: ['xs']
        })
}}
{{  anchor_button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={
            block: ['s']
        })
}}
{{  anchor_button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={
          block: ['compact']
        })
}}
{{  anchor_button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={

        })
}}
{{  anchor_button(
        {
            label: 'Accept',
            icon: 'accept'
        },
        modifier={
            block: ['l']
        })
}}
<br>
{{  anchor_button(
        {
            icon: 'add-favorite'
        },
        modifier={
            block: ['xs']
        },
        aria={ label: 'Add favorite' })
}}
{{  anchor_button(
        {
            icon: 'add-favorite'
        },
        modifier={
            block: ['s']
        },
        aria={ label: 'Add favorite' })
}}
{{  anchor_button(
        {
            icon: 'add-favorite'
        },
        modifier={
          block: ['compact']
        },
        aria={ label: 'Add favorite' })
}}
{{  anchor_button(
        {
            icon: 'add-favorite'
        },
        modifier={

        },
        aria={ label: 'Add favorite' })
}}
{{  anchor_button(
        {
            icon: 'add-favorite'
        },
        modifier={
            block: ['l']
        },
        aria={ label: 'Add favorite' })
}}
<br>
{{  anchor_button(
        { label: 'Selected' },
        state={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Selected' },
        aria={ selected: true }
    )
}}

{{  anchor_button(
        { label: 'Disabled' },
        state={ disabled: true }
    )
}}
{{  anchor_button(
        { label: 'Disabled' },
        aria={ disabled: true }
    )
}}

<br>
{{  anchor_button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
            block: ['xs','positive']
        })
}}
{{  anchor_button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
            block: ['s','positive']
        })
}}
{{  anchor_button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
          block: ['compact','positive']
        })
}}
{{  anchor_button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
block: ['positive']
        })
}}
{{  anchor_button(
        {
            label: 'Approve',
            icon: 'accept'
        },
        modifier={
            block: ['l','positive']
        })
}}
<br>
{{  anchor_button(
        { label: 'Approve' },
        modifier={
            block: ['main','positive']
        },
        state={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Approve' },
        modifier={
            block: ['main','positive']
        },
        aria={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Approve' },
        modifier={
            block: ['main','positive']
        },
        state={ disabled: true }
    )
}}
{{  anchor_button(
        { label: 'Approve' },
        modifier={
            block: ['main','positive']
        },
        aria={ disabled: true }
    )
}}
<br>



{{  anchor_button(
        {
            label: 'Reject',
            icon: 'decline'
        },
        modifier={
            block: ['xs','negative']
        })
}}
{{  anchor_button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
            block: ['s','negative']
        })
}}
{{  anchor_button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
          block: ['compact','negative']
        })
}}
{{  anchor_button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
block: ['negative']
        })
}}
{{  anchor_button(
        {
          label: 'Reject',
          icon: 'decline'
        },
        modifier={
            block: ['l','negative']
        })
}}

<br>
{{  anchor_button(
        { label: 'Reject' },
        modifier={
            block: ['main','negative']
        },
        state={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Reject' },
        modifier={
            block: ['main','negative']
        },
        aria={ selected: true }
    )
}}
{{  anchor_button(
        { label: 'Reject' },
        modifier={
            block: ['main','negative']
        },
        state={ disabled: true }
    )
}}
{{  anchor_button(
        { label: 'Reject' },
        modifier={
            block: ['main','negative']
        },
        aria={ disabled: true }
    )
}}




{% endset %}
{{ format(example) }}

<br><br>


<br><br>

<h1>Secondary Button</h1>
{% set example %}

{{  button(
        { label: 'Button' },
        modifier={ block: ['secondary','xs'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['secondary','s'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['secondary','compact'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['secondary'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['secondary','l'] })
}}
<br>
{{  button(
        { label: 'Cancel',
          icon: 'cancel' },
        modifier={ block: ['secondary','xs'] })
}}
{{  button(
  { label: 'Cancel',
    icon: 'cancel' },
        modifier={ block: ['secondary','s'] })
}}
{{  button(
  { label: 'Cancel',
    icon: 'cancel' },
        modifier={ block: ['secondary','compact'] })
}}
{{  button(
  { label: 'Cancel',
    icon: 'cancel' },
        modifier={ block: ['secondary'] })
}}
{{  button(
  { label: 'Cancel',
    icon: 'cancel' },
        modifier={ block: ['secondary','l'] })
}}
<br>
{{  button(
        {
          icon: 'edit' },
        modifier={ block: ['secondary','xs'] },
        aria={ label: 'Edit' })
}}
{{  button(
        {  icon: 'edit' },
        modifier={ block: ['secondary','s'] },
        aria={ label: 'Edit' })
}}
{{  button(
  {
    icon: 'edit' },
        modifier={ block: ['secondary','compact'] },
        aria={ label: 'Edit' })
}}
{{  button(
  {
    icon: 'edit' },
        modifier={ block: ['secondary'] },
        aria={ label: 'Edit' })
}}
{{  button(
  {
    icon: 'edit' },
        modifier={ block: ['secondary','l'] },
        aria={ label: 'Edit' })
}}
<br>
{{  button(
        { label: 'Selected' },
        modifier={ block: ['secondary'] },
        state={ selected: true }
    )
}}
{{  button(
  { label: 'Selected' },
  modifier={ block: ['secondary'] },
        aria={ selected: true }
    )
}}

{{  button(
  { label: 'Disabled' },
  modifier={ block: ['secondary'] },
        state={ disabled: true }
    )
}}
{{  button(
  { label: 'Disabled' },
  modifier={ block: ['secondary'] },
        aria={ disabled: true }
    )
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['secondary','xs'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['secondary','s'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['secondary','compact'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['secondary'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['secondary','l'] })
}}
<br>
{{  anchor_button(
        { label: 'Cancel',
          icon: 'cancel' },
        modifier={ block: ['secondary','xs'] })
}}
{{  anchor_button(
  { label: 'Cancel',
    icon: 'cancel' },
        modifier={ block: ['secondary','s'] })
}}
{{  anchor_button(
  { label: 'Cancel',
    icon: 'cancel' },
        modifier={ block: ['secondary','compact'] })
}}
{{  anchor_button(
  { label: 'Cancel',
    icon: 'cancel' },
        modifier={ block: ['secondary'] })
}}
{{  anchor_button(
  { label: 'Cancel',
    icon: 'cancel' },
        modifier={ block: ['secondary','l'] })
}}
<br>
{{  anchor_button(
        {
          icon: 'edit' },
        modifier={ block: ['secondary','xs'] },
        aria={ label: 'Edit' })
}}
{{  anchor_button(
        {  icon: 'edit' },
        modifier={ block: ['secondary','s'] },
        aria={ label: 'Edit' })
}}
{{  anchor_button(
  {
    icon: 'edit' },
        modifier={ block: ['secondary','compact'] },
        aria={ label: 'Edit' })
}}
{{  anchor_button(
  {
    icon: 'edit' },
        modifier={ block: ['secondary'] },
        aria={ label: 'Edit' })
}}
{{  anchor_button(
  {
    icon: 'edit' },
        modifier={ block: ['secondary','l'] },
        aria={ label: 'Edit' })
}}
<br>
{{  anchor_button(
        { label: 'Selected' },
        modifier={ block: ['secondary'] },
        state={ selected: true }
    )
}}
{{  anchor_button(
  { label: 'Selected' },
  modifier={ block: ['secondary'] },
        aria={ selected: true }
    )
}}

{{  anchor_button(
  { label: 'Disabled' },
  modifier={ block: ['secondary'] },
        state={ disabled: true }
    )
}}
{{  anchor_button(
  { label: 'Disabled' },
  modifier={ block: ['secondary'] },
        aria={ disabled: true }
    )
}}

{% endset %}
{{ format(example,"white") }}




<br><br>

<h1>Toolbar Button</h1>
{% set example %}

{{  button(
        { label: 'Button' },
        modifier={ block: ['toolbar','xs'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['toolbar','s'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['toolbar','compact'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['toolbar'] })
}}
{{  button(
        { label: 'Button' },
        modifier={ block: ['toolbar','l'] })
}}
<br>
{{  button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar','xs'] })
}}
{{  button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar','s'] })
}}
{{  button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar','compact'] })
}}
{{  button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar'] })
}}
{{  button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar','l'] })
}}
<br>
{{  button(
        {
          icon: 'filter' },
        modifier={ block: ['toolbar','xs'] },
        aria={ label: 'Filter' })
}}
{{  button(
        {  icon: 'filter' },
        modifier={ block: ['toolbar','s'] },
        aria={ label: 'Filter' })
}}
{{  button(
  {
    icon: 'filter' },
        modifier={ block: ['toolbar','compact'] },
        aria={ label: 'Filter' })
}}
{{  button(
  {
    icon: 'filter' },
        modifier={ block: ['toolbar'] },
        aria={ label: 'Filter' })
}}
{{  button(
  {
    icon: 'filter' },
        modifier={ block: ['toolbar','l'] },
        aria={ label: 'Filter' })
}}
<br>
{{  button(
        { label: 'Selected' },
        modifier={ block: ['toolbar'] },
        state={ selected: true }
    )
}}
{{  button(
  { label: 'Selected' },
  modifier={ block: ['toolbar'] },
        aria={ selected: true }
    )
}}

{{  button(
  { label: 'Disabled' },
  modifier={ block: ['toolbar'] },
        state={ disabled: true }
    )
}}
{{  button(
  { label: 'Disabled' },
  modifier={ block: ['toolbar'] },
        aria={ disabled: true }
    )
}}

{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['toolbar','xs'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['toolbar','s'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['toolbar','compact'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['toolbar'] })
}}
{{  anchor_button(
        { label: 'Button' },
        modifier={ block: ['toolbar','l'] })
}}
<br>
{{  anchor_button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar','xs'] })
}}
{{  anchor_button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar','s'] })
}}
{{  anchor_button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar','compact'] })
}}
{{  anchor_button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar'] })
}}
{{  anchor_button(
  { label: 'Sort',
    icon: 'alphabetical-order' },
        modifier={ block: ['toolbar','l'] })
}}
<br>
{{  anchor_button(
        {
          icon: 'filter' },
        modifier={ block: ['toolbar','xs'] },
        aria={ label: 'Filter' })
}}
{{  anchor_button(
        {  icon: 'filter' },
        modifier={ block: ['toolbar','s'] },
        aria={ label: 'Filter' })
}}
{{  anchor_button(
  {
    icon: 'filter' },
        modifier={ block: ['toolbar','compact'] },
        aria={ label: 'Filter' })
}}
{{  anchor_button(
  {
    icon: 'filter' },
        modifier={ block: ['toolbar'] },
        aria={ label: 'Filter' })
}}
{{  anchor_button(
  {
    icon: 'filter' },
        modifier={ block: ['toolbar','l'] },
        aria={ label: 'Filter' })
}}
<br>
{{  anchor_button(
        { label: 'Selected' },
        modifier={ block: ['toolbar'] },
        state={ selected: true }
    )
}}
{{  anchor_button(
  { label: 'Selected' },
  modifier={ block: ['toolbar'] },
        aria={ selected: true }
    )
}}

{{  anchor_button(
  { label: 'Disabled' },
  modifier={ block: ['toolbar'] },
        state={ disabled: true }
    )
}}
{{  anchor_button(
  { label: 'Disabled' },
  modifier={ block: ['toolbar'] },
        aria={ disabled: true }
    )
}}

{% endset %}
{{ format(example, "white") }}



{% endblock %}
