<!--
action_bar:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{%- macro action_bar(properties={}, modifier={}, state={}, aria={}) %}
<div class="fd-action-bar{{ modifier.block | modifier('action-bar') }}">
    {%- if properties.back_button %}
    <div class="fd-action-bar__back">
        <button class="fd-button--light sap-icon--nav-back"></button>
    </div>
    {%- endif %}

    <div class="fd-action-bar__header">
        {% set title_size = properties.title_size if properties.title_size else "h3" %}
        <{{title_size}} class="fd-action-bar__title">{{ properties.title }}</{{title_size}}>
        {%- if properties.description %}
        <p class="fd-action-bar__description">{{ properties.description }}</p>
        {%- endif %}
    </div>
    {%- if properties.actions %}
    {%- set actions = properties.actions %}
    <div class="fd-action-bar__actions"{{ actions.aria | aria }}>
    {%- for item in actions.properties.items %}
        {{ item }}
    {%- endfor %}
    </div>
    {%- endif %}
</div>
{%- endmacro %}
