<!--
action_bar:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{%- macro action_bar(properties={}, modifier={}, state={}, aria={}) %}
<div class="fd-action-bar{{ modifier.block | modifier('action-bar') }}">
    {%- if properties.back_button %}
    <button class="fd-action-bar__back fd-button--secondary fd-button--l sap-icon--nav-back"></button>
    {%- endif %}
    <div class="fd-action-bar__header">
      <h1 class="fd-action-bar__title">
          {{ properties.title }}
      </h1>
      {%- if properties.description %}
      <p class="fd-action-bar__description">{{ properties.description }}</p>
      {%- endif %}
    </div>
    {%- if properties.actions %}
    {%- set actions = properties.actions %}
    <div class="fd-action-bar__actions"{{ actions.aria | aria }}>
        {%- for item in actions.properties.items %}
        {{ item }}
        {%- endfor %}
    </div>
    {%- endif %}
</div>
{%- endmacro %}
