{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import action_bar %}
{% from "../dropdown/component.njk" import menu %}
{% import "./../utils.njk" as utils %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['icons'] %}

{% block content %}
<style media="screen">
    .tn-action-bar {
        margin-bottom: 20px;
    }
</style>

    <h1>action-bar</h1>

{%- set backbtn %}{{
    button(
            { icon: 'backarrow' },
            modifier={ block: ['text','icon','large'] },
            aria={ label: 'Back' }
        )
}}{%- endset %}
{%- set actionbtn %}{{
    button(
            { label: 'Cancel', icon: 'close' },
            modifier={ block: ['text','action-bar'] }
        )
}}{%- endset %}
{%- set primarybtn %}{{
    button(
            { label: 'Save', icon: 'checked' },
            modifier={ block: ['action-bar'] }
        )
}}{%- endset %}
{%- set contextmenu %}
{% set _id = utils.id() %}
<div class="tn-dropdown">
    {{  button(
        { label: 'More', icon: 'more' },
        modifier={ block: ['text','action-bar'] },
        aria={ controls: _id, haspopup: true, expanded: false, label: "More" }
    ) | indent(4)
}}
    {{  menu(properties={
        id: _id,
        items: [
            { "label": "Edit" },
            { "label": "Delete" },
            { "label": "Assign" },
            { "label": "Expire" },
            { "label": "Archive" }
        ]
    },
    classes="contextual-menu") | indent(4)
}}
</div>
{%- endset %}


    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  action_bar(
            properties={
                title: data.properties.title
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}

    {{  action_bar(
            properties={
                navigation: backbtn,
                title: data.properties.title
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}

    {{  action_bar(
            properties={
                title: data.properties.title,
                actions: {
                    properties: {
                        items: [actionbtn,actionbtn,actionbtn,primarybtn]
                    }
                }
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}

    {{  action_bar(
            properties={
                title: data.properties.title,
                actions: {
                    properties: {
                        items: [contextmenu]
                    }
                }
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}


    {% endset %}
    {{ format(example) }}
<br><br>

<h2>Actions Hidden</h2>
<div id="toggles">

<button type="button" id="button">Simulate dirty state</button>
<br>

    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  action_bar(
            properties={
                navigation: backbtn,
                title: data.properties.title,
                actions: {
                    properties: {
                        items: [actionbtn,primarybtn]
                    },
                    aria: {
                        hidden: true
                    }
                }
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}

    {% endset %}
    {{ format(example) }}
</div>
    <script type="text/javascript">
        var button = document.getElementById("button");
        var toggles = document.getElementById("toggles");
        var actions = toggles.querySelectorAll(".tn-action-bar__actions");
        function doDirty() {
            for (var i = 0; i < actions.length; i++) {
                var item = actions[i];
                if(item.hasAttribute('aria-hidden')) {
                    item.setAttribute('aria-hidden',false);
                } else {
                    var classes = item.getAttribute("class");
                    classes.replace('is-disabled','');
                    item.setAttribute("class",classes.replace('is-disabled',''));
                }
            }
        }
        button.addEventListener('click',function() {
            doDirty();
        })

        var els = document.querySelectorAll("[aria-controls]");
        for (var i = 0; i < els.length; i++) {
            var el = els[i];
            el.addEventListener('click', function() {
                var isExpanded = this.getAttribute("aria-expanded") === "true";
                this.setAttribute("aria-expanded", !isExpanded);
                var targetId = this.getAttribute("aria-controls");
                var target = document.getElementById(targetId);
                var targetIsHidden = target.getAttribute("aria-hidden") == "true";
                target.setAttribute("aria-hidden", isExpanded);
            })
        }
    </script>

{% endblock %}
