{% import "./../utils.njk" as utils %}
{% from "../popover/component.njk" import popover %}
{% from "./../calendar/component.njk" import calendar %}
{% from "./../input-group/component.njk" import input_group %}
{% from "./../button/component.njk" import button %}

<!--
date_picker:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{%- macro date_picker_control(properties={}, modifier={}, state={}, aria={ hidden: true },size="",id="") -%}
{%- set value = "" %}
{%- set placeholder = "" %}
{%- if properties.month %}
  {%- set value = properties.year+"/"+properties.month+"/"+properties.today %}
{%- else %}
  {%- set placeholder = "Pick a Date" %}
{%- endif %}
{%- set btn = button(
  { label: '',
    icon: 'calendar'
  },
  modifier={
    block: ['light']
  },
  aria={
    controls: id,
    expanded: false,
    haspopup: true
  },
  state=state,
  classes=["popover__control"],
  size=size)
%}
{{- input_group(
    type="date",
    modifier={
        block: "after",
        after: ['after', 'button']
    },
    properties={
        input: {
            properties: {
              placeholder: placeholder,
              value: value
            }
        },
        after: btn
    },size=size)
}}
{%- endmacro %}

{%- macro date_picker(properties={}, modifier={}, state={}, aria={ hidden: true },size="") -%}
{%- set _id = utils.id() %}
<div class="fd-date-picker">
    {{  popover(properties={
            id: _id,
            control: date_picker_control(properties=properties,size=size,id=_id),
            body: calendar({
                "month": properties.month,
                "year": properties.year,
                "today": properties.today,
                "dates": {
                    "daysOffset": properties.dates.daysOffset,
                    "block": properties.dates.block,
                    "selected": properties.dates.selected,
                    "disablePast": properties.dates.disablePast
                }
            })
        }, modifier={ block: ['no-arrow'] })
    }}
</div>
{%- endmacro %}
