{% import "./../utils.njk" as utils %}
{% from "./component.njk" import popover %}

<!--
date_picker:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{%- set _id = utils.id() %}

{%- macro date_picker_control(properties={}, modifier={}, state={}, aria={ hidden: true }) -%}
    <div class="fd-input-group fd-input-group--after">
        <input type="text" class="" id="" value="Date">
        <span class="fd-input-group__addon fd-input-group__addon--after fd-input-group__addon--button">
            <button class="fd-popover__control fd-button--icon fd-button--secondary sap-icon--navigation-down-arrow" aria-controls="" aria-expanded="false" aria-haspopup="true"{{ " disabled" if state.disabled }}{{ aria | aria }}></button>
        </span>
    </div>
{%- endmacro %}

{%- macro date_picker(properties={}, modifier={}, state={}, aria={}) -%}
    <div class="fd-date-picker">
        {{  popover(properties={
                id: _id,
                control: date_picker_control(properties={id: _id}),
                body: properties.body
            })
        }}
    </div>
{%- endmacro %}