{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./../date-picker/component.njk" import date_picker %}

{% block content %}
  <h2>default</h2>

  {% set example %}
    {{  date_picker(properties={
          month: 8,
          year: 2018,
          today: 6,
          dates: {
            daysOffset: 3,
            block: [25,29],
            selected: 15,
            disablePast: true
          }
      })
    }}
  {% endset %}
  {{ format(example) }}
<br><br>
<h3>compact</h3>
  {% set example %}
    {{  date_picker(properties={
          month: 8,
          year: 2018,
          today: 6,
          dates: {
            daysOffset: 3,
            block: [25,29],
            selected: 15,
            disablePast: true
          }
      },
      size="compact")
    }}
  {% endset %}
  {{ format(example) }}
{% endblock %}
