{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./../calendar/component.njk" import calendar %}
{% from "./../date-picker/component.njk" import date_picker %}

{% set css_deps = ['fonts','components/button','icons','components/calendar', 'components/popover'] %}

{% block content %}
  <h2>datepicker</h2>

  {% set example %}
    {{  date_picker(properties={
        body: calendar({
          "month": 0,
          "year": 2018,
          "today": 3,
          "years": {
            "selected": 3,
            "show": true
          }
        })
      })
    }}
  {% endset %}
  {{ format(example) }}
{% endblock %}