@import "./settings";
@import "./mixins";

$fd-scss-icons-path: "" !default;

@if variable-exists(fd-icons-path) {
  $fd-scss-icons-path: $fd-icons-path;
}

@font-face {
    font-family: "SAP-icons";
    src: url("#{$fd-scss-icons-path}SAP-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

$block: sap-icon;

/* data attributes for inserting icons
  <span data-sap-icon="\e001"> My Account</span>
*/
// [data-#{$block}]::before {
//   @extend %fd-icon-base;
//   content: attr(data-#{$block});
// }

/* class per icon */
[class*="#{$block}"] {
  @include fd-icon-base();
}

.#{$block} {
  &--s,
  &--small {
    @include fd-icon-size("s");
  }
  &--m,
  &--medium {
    @include fd-icon-size("m");
  }
  &--l,
  &--large {
    @include fd-icon-size("l");
  }
  &--xl,
  &--xlarge {
    @include fd-icon-size("xl");
  }
  @each $key, $value in $fd-icons {
      &--#{$key} {
        @include fd-icon-glyph($key);
      }
  }
  &--animate-spin {
    @include fd-icon-animate("spin");
  }
  &--animate-pulse {
    @include fd-icon-animate("pulse");
  }
}

@keyframes sap-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
