@import "./settings";

//icon mixin
@mixin fd-icon($key, $size: "default") {
  @include fd-icon-base;
  @include fd-icon-glyph($key);
  @include fd-icon-size($size);
}

//icon base mixin
@mixin fd-icon-base {
  &::before {
    font-family: "SAP-icons";
    font-style: normal;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
  }
}

//size mixin
@mixin fd-icon-size($size: "default") {
  &::before {
    @if $size != "default" {
      //explicitly
      @if map-has-key($fd-icons-sizes, $size) {
        font-size: map-get($fd-icons-sizes, $size);
      } @else {
          @warn "Unknown `#{$fd-icons-sizes}` in $fd-icons-sizes map";
      }
      line-height: 1;
    } @else {
      //implicity
      font-size: map-get($fd-icons-sizes, "default");
      line-height: $fd-line-height;
    }
  }
}

//icon glyph mixin
@mixin fd-icon-glyph($glyph) {
  @if map-has-key($fd-icons, $glyph) {
    &::before {
      content: map-get($fd-icons, $glyph);
    }
  } @else {
      @warn "Unknown `#{$glyph}` in $fd-icons map";
  }
}
