@import "../settings";
@import "../functions";

//sizes
$fd-icons-sizes: (
    "default": $fd-font-size, //14px
    "s": #{12/$fd-type--base}rem, //12px
    "m": #{16/$fd-type--base}rem, //16px
    "l": #{20/$fd-type--base}rem, //20px
    "xl": #{24/$fd-type--base}rem //24px
) !default;

//icon map
$fd-icons: (
  accidental-leave:"\e000",
  account:"\e001",
  wrench:"\e002",
  windows-doors:"\e003",
  washing-machine:"\e004",
  visits:"\e005",
  video:"\e006",
  travel-expense:"\e007",
  temperature:"\e008",
  task:"\e009",
  synchronize:"\e00a",
  survey:"\e00b",
  settings:"\e00c",
  search:"\e00d",
  sales-document:"\e00e",
  retail-store:"\e00f",
  refresh:"\e010",
  product:"\e011",
  present:"\e012",
  ppt-attachment:"\e013",
  pool:"\e014",
  pie-chart:"\e015",
  picture:"\e016",
  photo-voltaic:"\e017",
  phone:"\e018",
  pending:"\e019",
  pdf-attachment:"\e01a",
  past:"\e01b",
  outgoing-call:"\e01c",
  opportunity:"\e01d",
  opportunities:"\e01e",
  notes:"\e01f",
  money-bills:"\e020",
  map:"\e021",
  log:"\e022",
  line-charts:"\e023",
  lightbulb:"\e024",
  leads:"\e025",
  lead:"\e026",
  laptop:"\e027",
  kpi-managing-my-area:"\e028",
  kpi-corporate-performance:"\e029",
  incoming-call:"\e02a",
  inbox:"\e02b",
  horizontal-bar-chart:"\e02c",
  history:"\e02d",
  heating-cooling:"\e02e",
  gantt-bars:"\e02f",
  future:"\e030",
  fridge:"\e031",
  fallback:"\e032",
  expense-report:"\e033",
  excel-attachment:"\e034",
  energy-saving-lightbulb:"\e035",
  employee:"\e036",
  email:"\e037",
  edit:"\e038",
  duplicate:"\e039",
  download:"\e03a",
  doc-attachment:"\e03b",
  dishwasher:"\e03c",
  delete:"\e03d",
  decline:"\e03e",
  complete:"\e03f",
  competitor:"\e040",
  collections-management:"\e041",
  chalkboard:"\e042",
  cart:"\e043",
  card:"\e044",
  camera:"\e045",
  calendar:"\e046",
  begin:"\e047",
  basket:"\e048",
  bar-chart:"\e049",
  attachment:"\e04a",
  arrow-top:"\e04b",
  arrow-right:"\e04c",
  arrow-left:"\e04d",
  arrow-bottom:"\e04e",
  approvals:"\e04f",
  appointment:"\e050",
  alphabetical-order:"\e051",
  along-stacked-chart:"\e052",
  alert:"\e053",
  addresses:"\e054",
  address-book:"\e055",
  add-filter:"\e056",
  add-favorite:"\e057",
  add:"\e058",
  activities:"\e059",
  action:"\e05a",
  accept:"\e05b",
  hint:"\e05c",
  group:"\e05d",
  check-availability:"\e05e",
  weather-proofing:"\e05f",
  payment-approval:"\e060",
  batch-payments:"\e061",
  bed:"\e062",
  arobase:"\e063",
  family-care:"\e064",
  favorite:"\e065",
  navigation-right-arrow:"\e066",
  navigation-left-arrow:"\e067",
  e-care:"\e068",
  less:"\e069",
  lateness:"\e06a",
  lab:"\e06b",
  internet-browser:"\e06c",
  instance:"\e06d",
  inspection:"\e06e",
  image-viewer:"\e06f",
  home:"\e070",
  grid:"\e071",
  goalseek:"\e072",
  general-leave-request:"\e073",
  create-leave-request:"\e074",
  flight:"\e075",
  filter:"\e076",
  favorite-list:"\e077",
  factory:"\e078",
  endoscopy:"\e079",
  employee-pane:"\e07a",
  employee-approvals:"\e07b",
  email-read:"\e07c",
  electrocardiogram:"\e07d",
  documents:"\e07e",
  decision:"\e07f",
  database:"\e080",
  customer-history:"\e081",
  customer:"\e082",
  credit-card:"\e083",
  create-entry-time:"\e084",
  contacts:"\e085",
  compare:"\e086",
  clinical-order:"\e087",
  chain-link:"\e088",
  pull-down:"\e089",
  cargo-train:"\e08a",
  car-rental:"\e08b",
  business-card:"\e08c",
  bar-code:"\e08d",
  folder-blank:"\e08e",
  passenger-train:"\e08f",
  question-mark:"\e090",
  world:"\e091",
  iphone:"\e092",
  ipad:"\e093",
  warning:"\e094",
  sort:"\e095",
  course-book:"\e096",
  course-program:"\e097",
  add-coursebook:"\e098",
  print:"\e099",
  save:"\e09a",
  play:"\e09b",
  pause:"\e09c",
  record:"\e09d",
  response:"\e09e",
  pushpin-on:"\e09f",
  pushpin-off:"\e0a0",
  unfavorite:"\e0a1",
  learning-assistant:"\e0a2",
  timesheet:"\e0a3",
  time-entry-request:"\e0a4",
  list:"\e0a5",
  action-settings:"\e0a6",
  share:"\e0a7",
  feed:"\e0a8",
  role:"\e0a9",
  flag:"\e0aa",
  post:"\e0ab",
  inspect:"\e0ac",
  inspect-down:"\e0ad",
  appointment-2:"\e0ae",
  target-group:"\e0af",
  marketing-campaign:"\e0b0",
  message-error:"\e0b1",
  notification:"\e0b1",
  comment:"\e0b2",
  shipping-status:"\e0b3",
  collaborate:"\e0b4",
  shortcut:"\e0b5",
  lead-outdated:"\e0b6",
  tools-opportunity:"\e0b7",
  permission:"\e0b8",
  supplier:"\e0b9",
  table-view:"\e0ba",
  table-chart:"\e0bb",
  switch-views:"\e0bc",
  e-learning:"\e0bd",
  manager:"\e0be",
  switch-classes:"\e0bf",
  simple-payment:"\e0c0",
  signature:"\e0c1",
  sales-order-item:"\e0c2",
  sales-order:"\e0c3",
  request:"\e0c4",
  receipt:"\e0c5",
  puzzle:"\e0c6",
  process:"\e0c7",
  private:"\e0c8",
  popup-window:"\e0c9",
  person-placeholder:"\e0ca",
  per-diem:"\e0cb",
  paper-plane:"\e0cc",
  paid-leave:"\e0cd",
  pdf-reader:"\e0ce",
  overview-chart:"\e0cf",
  overlay:"\e0d0",
  org-chart:"\e0d1",
  number-sign:"\e0d2",
  notification-2:"\e0d3",
  my-sales-order:"\e0d4",
  meal:"\e0d5",
  loan:"\e0d6",
  order-status:"\e0d7",
  customer-order-entry:"\e0d8",
  performance:"\e0d9",
  menu:"\e0da",
  employee-lookup:"\e0db",
  education:"\e0dc",
  customer-briefing:"\e0dd",
  customer-and-contacts:"\e0de",
  my-view:"\e0df",
  accelerated:"\e0e0",
  to-be-reviewed:"\e0e1",
  warning2:"\e0e2",
  feeder-arrow:"\e0e3",
  quality-issue:"\e0e4",
  workflow-tasks:"\e0e5",
  create:"\e0e6",
  home-share:"\e0e7",
  globe:"\e0e8",
  tags:"\e0e9",
  work-history:"\e0ea",
  x-ray:"\e0eb",
  wounds-doc:"\e0ec",
  web-cam:"\e0ed",
  waiver:"\e0ee",
  vertical-bar-chart:"\e0ef",
  upstacked-chart:"\e0f0",
  trip-report:"\e0f1",
  microphone:"\e0f2",
  unpaid-leave:"\e0f3",
  tree:"\e0f4",
  toaster-up:"\e0f5",
  toaster-top:"\e0f6",
  toaster-down:"\e0f7",
  time-account:"\e0f8",
  theater:"\e0f9",
  taxi:"\e0fa",
  subway-train:"\e0fb",
  study-leave:"\e0fc",
  stethoscope:"\e0fd",
  step:"\e0fe",
  sonography:"\e0ff",
  soccor:"\e100",
  physical-activity:"\e101",
  pharmacy:"\e102",
  official-service:"\e103",
  offsite-work:"\e104",
  nutrition-activity:"\e105",
  newspaper:"\e106",
  monitor-payments:"\e107",
  map-2:"\e108",
  machine:"\e109",
  mri-scan:"\e10a",
  end-user-experience-monitoring:"\e10b",
  unwired:"\e10c",
  customer-financial-fact-sheet:"\e10d",
  retail-store-manager:"\e10e",
  Netweaver-business-client:"\e10f",
  electronic-medical-record:"\e110",
  eam-work-order:"\e111",
  customer-view:"\e112",
  crm-service-manager:"\e113",
  crm-sales:"\e114",
  widgets:"\e115",
  commission-check:"\e116",
  collections-insight:"\e117",
  clinical-tast-tracker:"\e118",
  citizen-connect:"\e119",
  cart-approval:"\e11a",
  capital-projects:"\e11b",
  bo-strategy-management:"\e11c",
  business-objects-mobile:"\e11d",
  business-objects-explorer:"\e11e",
  business-objects-experience:"\e11f",
  bbyd-dashboard:"\e120",
  bbyd-active-sales:"\e121",
  business-by-design:"\e122",
  business-one:"\e123",
  sap-box:"\e124",
  manager-insight:"\e125",
  accounting-document-verification:"\e126",
  hr-approval:"\e127",
  idea-wall:"\e128",
  Chart-Tree-Map:"\e129",
  cart-5:"\e12a",
  cart-4:"\e12b",
  wallet:"\e12c",
  vehicle-repair:"\e12d",
  upload:"\e12e",
  unlocked:"\e12f",
  umbrella:"\e130",
  travel-request:"\e131",
  travel-expense-report:"\e132",
  travel-itinerary:"\e133",
  time-overtime:"\e134",
  thing-type:"\e135",
  technical-object:"\e136",
  tag:"\e137",
  syringe:"\e138",
  syntax:"\e139",
  suitcase:"\e13a",
  simulate:"\e13b",
  shield:"\e13c",
  share-2:"\e13d",
  sales-quote:"\e13e",
  repost:"\e13f",
  provision:"\e140",
  projector:"\e141",
  add-product:"\e142",
  pipeline-analysis:"\e143",
  add-photo:"\e144",
  palette:"\e145",
  nurse:"\e146",
  sales-notification:"\e147",
  mileage:"\e148",
  meeting-room:"\e149",
  media-forward:"\e14a",
  media-play:"\e14b",
  media-pause:"\e14c",
  media-reverse:"\e14d",
  media-rewind:"\e14e",
  measurement-document:"\e14f",
  measuring-point:"\e150",
  measure:"\e151",
  map-3:"\e152",
  locked:"\e153",
  letter:"\e154",
  journey-arrive:"\e155",
  journey-change:"\e156",
  journey-depart:"\e157",
  it-system:"\e158",
  it-instance:"\e159",
  it-host:"\e15a",
  iphone-2:"\e15b",
  ipad-2:"\e15c",
  inventory:"\e15d",
  insurance-house:"\e15e",
  insurance-life:"\e15f",
  insurance-car:"\e160",
  initiative:"\e161",
  incident:"\e162",
  group-2:"\e163",
  goal:"\e164",
  functional-location:"\e165",
  full-screen:"\e166",
  form:"\e167",
  fob-watch:"\e168",
  blank-tag:"\e169",
  family-protection:"\e16a",
  folder:"\e16b",
  fax-machine:"\e16c",
  example:"\e16d",
  eraser:"\e16e",
  employee-rejections:"\e16f",
  drop-down-list:"\e170",
  draw-rectangle:"\e171",
  document:"\e172",
  doctor:"\e173",
  discussion-2:"\e174",
  discussion:"\e175",
  dimension:"\e176",
  customer-and-supplier:"\e177",
  crop:"\e178",
  add-contact:"\e179",
  compare-2:"\e17a",
  color-fill:"\e17b",
  collision:"\e17c",
  curriculum:"\e17d",
  chart-axis:"\e17e",
  full-stacked-chart:"\e17f",
  full-stacked-column-chart:"\e180",
  vertical-bar-chart-2:"\e181",
  horizontal-bar-chart-2:"\e182",
  horizontal-stacked-chart:"\e183",
  vertical-stacked-chart:"\e184",
  choropleth-chart:"\e185",
  geographic-bubble-chart:"\e186",
  multiple-radar-chart:"\e187",
  radar-chart:"\e188",
  crossed-line-chart:"\e189",
  multiple-line-chart:"\e18a",
  multiple-bar-chart:"\e18b",
  line-chart:"\e18c",
  line-chart-dual-axis:"\e18d",
  bubble-chart:"\e18e",
  scatter-chart:"\e18f",
  multiple-pie-chart:"\e190",
  column-chart-dual-axis:"\e191",
  tag-cloud-chart:"\e192",
  area-chart:"\e193",
  cause:"\e194",
  cart-3:"\e195",
  cart-2:"\e196",
  bus-public-transport:"\e197",
  burglary:"\e198",
  building:"\e199",
  border:"\e19a",
  bookmark:"\e19b",
  badge:"\e19c",
  attachment-audio:"\e19d",
  attachment-video:"\e19e",
  attachment-html:"\e19f",
  attachment-photo:"\e1a0",
  attachment-e-pub:"\e1a1",
  attachment-zip-file:"\e1a2",
  attachment-text-file:"\e1a3",
  add-equipment:"\e1a4",
  add-activity:"\e1a5",
  activity-individual:"\e1a6",
  activity-2:"\e1a7",
  add-activity-2:"\e1a8",
  activity-items:"\e1a9",
  activity-assigned-to-goal:"\e1aa",
  status-positive:"\e1ab",
  status-completed:"\e1ab",
  status-negative:"\e1ac",
  status-error:"\e1ac",
  status-inactive:"\e1ad",
  status-critical:"\e1ae",
  status-in-progress:"\e1ae",
  blank-tag-2:"\e1af",
  cart-full:"\e1b0",
  locate-me:"\e1b1",
  paging:"\e1b2",
  company-view:"\e1b3",
  document-text:"\e1b4",
  explorer:"\e1b5",
  personnel-view:"\e1b6",
  sorting-ranking:"\e1b7",
  drill-down:"\e1b8",
  drill-up:"\e1b9",
  vds-file:"\e1ba",
  sap-logo-shape:"\e1bb",
  folder-full:"\e1bc",
  system-exit:"\e1bd",
  system-exit-2:"\e1be",
  close-command-field:"\e1bf",
  open-command-field:"\e1c0",
  sys-enter-2:"\e1c1",
  sys-enter:"\e1c2",
  sys-help-2:"\e1c3",
  sys-help:"\e1c4",
  sys-back:"\e1c5",
  sys-back-2:"\e1c6",
  sys-cancel:"\e1c7",
  sys-cancel-2:"\e1c8",
  open-folder:"\e1c9",
  sys-find-next:"\e1ca",
  sys-find:"\e1cb",
  sys-monitor:"\e1cc",
  sys-prev-page:"\e1cd",
  sys-first-page:"\e1ce",
  sys-next-page:"\e1cf",
  sys-last-page:"\e1d0",
  generate-shortcut:"\e1d1",
  create-session:"\e1d2",
  display-more:"\e1d3",
  enter-more:"\e1d4",
  zoom-in:"\e1d5",
  zoom-out:"\e1d6",
  header:"\e1d7",
  detail-view:"\e1d8",
  show-edit:"\e1d8",
  collapse:"\e1d9",
  expand:"\e1da",
  positive:"\e1db",
  negative:"\e1dc",
  display:"\e1dd",
  menu2:"\e1de",
  redo:"\e1df",
  undo:"\e1e0",
  navigation-up-arrow:"\e1e1",
  navigation-down-arrow:"\e1e2",
  down:"\e1e3",
  up:"\e1e4",
  shelf:"\e1e5",
  background:"\e1e6",
  resize:"\e1e7",
  move:"\e1e8",
  show:"\e1e9",
  hide:"\e1ea",
  nav-back:"\e1eb",
  error:"\e1ec",
  slim-arrow-right:"\e1ed",
  slim-arrow-left:"\e1ee",
  slim-arrow-down:"\e1ef",
  slim-arrow-up:"\e1f0",
  forward:"\e1f1",
  overflow:"\e1f2",
  value-help:"\e1f3",
  multiselect:"\e1f4",
  exitfullscreen:"\e1f5",
  sys-add:"\e1f6",
  sys-minus:"\e1f7",
  dropdown:"\e1f8",
  expand-group:"\e1f9",
  vertical-grip:"\e1fa",
  horizontal-grip:"\e1fb",
  sort-descending:"\e1fc",
  sort-ascending:"\e1fd",
  arrow-down:"\e1fe",
  legend:"\e1ff",
  collapse-group:"\e200",
  message-warning:"\e201",
  message-information:"\e202",
  message-success:"\e203",
  restart:"\e204",
  stop:"\e205",
  add-process:"\e206",
  cancel-maintenance:"\e207",
  activate:"\e208",
  resize-horizontal:"\e209",
  resize-vertical:"\e20a",
  connected:"\e20b",
  disconnected:"\e20c",
  edit-outside:"\e20d",
  key:"\e20e",
  minimize:"\e20f",
  back-to-top:"\e210",
  hello-world:"\e211",
  outbox:"\e212",
  donut-chart:"\e213",
  heatmap-chart:"\e214",
  horizontal-bullet-chart:"\e215",
  vertical-bullet-chart:"\e216",
  call:"\e217",
  download-from-cloud:"\e218",
  upload-to-cloud:"\e219",
  jam:"\e21a",
  sap-ui5:"\e21b",
  message-popup:"\e21c",
  cloud:"\e21d",
  horizontal-waterfall-chart:"\e21e",
  vertical-waterfall-chart:"\e21f",
  broken-link:"\e220",
  headset:"\e221",
  thumb-up:"\e222",
  thumb-down:"\e223",
  multiselect-all:"\e224",
  multiselect-none:"\e225",
  scissors:"\e226",
  sound:"\e227",
  sound-loud:"\e228",
  sound-off:"\e229",
  date-time:"\e22a",
  user-settings:"\e22b",
  key-user-settings:"\e23c",
  developer-settings:"\e22d",
  text-formatting:"\e22e",
  bold-text:"\e22f",
  italic-text:"\e230",
  underline-text:"\e231",
  text-align-justified:"\e232",
  text-align-left:"\e233",
  text-align-center:"\e234",
  text-align-right:"\e235",
  bullet-text:"\e236",
  numbered-text:"\e237",
  co:"\e238",
  ui-notifications:"\e239",
  bell:"\e23a",
  cancel-share:"\e23b",
  write-new-document:"\e23c",
  write-new:"\e23d",
  cancel:"\e23e",
  screen-split-one:"\e23f",
  screen-split-two:"\e240",
  screen-split-three:"\e241",
  customize:"\e242",
  user-edit:"\e243",
  source-code:"\e244",
  copy:"\e245",
  paste:"\e246",
  line-chart-time-axis:"\e247",
  clear-filter:"\e248",
  reset:"\e249",
  trend-up:"\e24a",
  trend-down:"\e24b",
  cursor:"\e24c",
  add-document:"\e24d",
  create-form:"\e24e",
  resize-corner:"\e24f",
  chevron-phase:"\e250",
  chevron-phase-2:"\e251",
  rhombus-milestone:"\e252",
  rhombus-milestone-2:"\e253",
  circle-task:"\e254",
  circle-task-2:"\e255",
  project-definition-triangle:"\e256",
  project-definition-triangle-2:"\e257",
  master-task-triangle:"\e258",
  master-task-triangle-2:"\e259",
  program-triangles:"\e25a",
  program-triangles-2:"\e25b",
  mirrored-task-circle:"\e25c",
  mirrored-task-circle-2:"\e25d",
  checklist-item:"\e25e",
  checklist-item-2:"\e25f",
  checklist:"\e260",
  checklist-2:"\e261",
  chart-table-view:"\e262",
  filter-analytics:"\e263",
  filter-facets:"\e264",
  filter-fields:"\e265",
  indent:"\e266",
  outdent:"\e267",
  heading-1:"\e268",
  heading-2:"\e269",
  heading-3:"\e26a",
  decrease-line-height:"\e26b",
  increase-line-height:"\e26c",
  fx:"\e26d",
  add-folder:"\e26e",
  away:"\e26f",
  busy:"\e270",
  appear-offline:"\e271",
  blur:"\e272",
  pixelate:"\e273",
  horizontal-combination-chart:"\e274",
  add-employee:"\e275",
  text-color:"\e276",
  browse-folder:"\e277",
  primary-key:"\e278",
  two-keys:"\e279",
  strikethrough:"\e27a",
  text:"\e27b",
  responsive:"\e27c",
  desktop-mobile:"\e27d",
  table-row:"\e27e",
  table-column:"\e27f",
  validate:"\e280",
  keyboard-and-mouse:"\e281b",
  touch:"\e282",
  expand-all:"\e283",
  collapse-all:"\e284",
  combine:"\e285",
  split:"\e286"
) !default;