{% from "./button.njk" import icon_button %}
{% import "./utils.njk" as utils %}
{% set defaults = {
    properties: {
      label: "Sort by",
      items: [
        icon_button(size="compact",label="Survey",icon="survey"),
        icon_button(size="compact",label="Chart",icon="pie-chart",aria={ selected: true }),
        icon_button(size="compact",label="Pool",icon="pool")
      ]
    }
  }
%}

{% macro button_group(label="", classes="", default=false) -%}
{%- if default %}
{%- set label = defaults.properties.label %}
{%- endif %}
<div class="fd-button-group{{ classes | classes }}" role="group" aria-label="{{label}}">
  {%- if default %}
    {%- for item in defaults.properties.items %}
      {{item }}
    {%- endfor %}
  {%- else  %}
  {{- caller() | indent -}}
  {%- endif %}
</div>
{%- endmacro %}
