{% from "../templates/icon/component.njk" import icon %}
{% set defaults = {
    properties:{
      label: "Button",
      icon: "pool"
    }
  }
%}
{%- macro button(
    label=defaults.properties.label,
    icon="",
    size="",
    type="",
    color="",
    state={},
    aria={},
    classes=""
  ) -%}
<button class="fd-button{{ ' fd-button--'+size if size }}{{ ' fd-button--'+type if type }}{{ ' fd-button--'+color if color }}{{ ' sap-icon--'+icon if icon }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>{%- if label %}{{label}}{%- endif %}</button>
{%- endmacro %}

{# AN ICON ONLY BUTTON #}
{%- macro icon_button(
    label=defaults.properties.label,
    icon=defaults.properties.icon,
    size="",
    type="",
    color="",
    state={},
    aria={},
    classes=""
  ) -%}
{%- set aria_obj = { label: label } | merge_objs(aria) %}
{{ button(
  label="",
  icon=icon,
  size=size,
  type=type,
  color=color,
  state=state,
  aria=aria_obj,
  classes=classes
) }}
{%- endmacro %}
