{% from "../templates/icon/component.njk" import icon %}
{% set defaults = {
    properties:{
      label: "Button",
      icon: "pool"
    },
    elements: {
      headers: [
        {
          id: "id",
          label: "ID"
        },
        {
          id: "type",
          label: "Type"
        }
      ],
      rows: [
        {
          id: "ID",
          type: "Type"
        },
        {
          id: "ID",
          type: "Type"
        }
      ]
    }
  }
%}



{% macro default_table(headers=defaults.elements.headers, rows=defaults.elements.rows, modifiers={}, state={}, aria={}, classes=[]) -%}
{% call table(headers=headers, rows=rows) -%}
{% endcall -%}
{%- endmacro %}


{% macro table(headers={}, rows={}, modifiers={}, state={}, aria={}, classes=[]) -%}
<table class="fd-table">
  {%- if headers %}
    {% call table_header(headers=headers) -%}{% endcall -%}
  {%- endif %}
  {%- if rows %}
    {% call table_rows(rows=rows) -%}{% endcall -%}
  {%- endif %}
  {{ caller() }}
</table>
{%- endmacro %}

{% macro table_header(headers={}, modifiers={}, state={}, aria={},classes=[]) -%}
<thead>
  <tr>
    {%- if headers %}
      {% for header in headers %}
        {% call table_cell(type="header") -%}
          {{ header.label }}
        {% endcall -%}
      {% endfor %}
    {%- endif %}
  {{ caller() }}
  </tr>
</thead>
{%- endmacro %}

{% macro table_rows(rows={}, modifiers=[], state={}, aria={},classes=[]) -%}
  {% for row in rows %}
  <tr>
    {% for key, value in row %}
      {% call table_cell() -%}
        {{ value }}
      {% endcall -%}
    {% endfor %}
  </tr>
  {% endfor %}
{{ caller() }}
{%- endmacro %}

{% macro table_row(rows={}, modifiers=[], state={}, aria={},classes=[]) -%}
<tr>
{{ caller() }}
</tr>
{%- endmacro %}

{% macro table_cell(type="",properties={}, modifiers={}, state={}, aria={},classes=[]) -%}
<{{ 'th ' if type == "header" else 'td' }}>
{{ caller() }}
</{{ 'th ' if type == "header" else 'td' }}>
{%- endmacro %}
