{% import "./utils.njk" as utils %}
{% set defaults = {
    tag: {
      properties:{
        label: "Label"
      }
    }
  }
%}
{% macro tag(label=defaults.tag.properties.label, classes="") -%}
<span class="fd-tag{{ classes | classes }}" role="button">{{ label }}</span>
{%- endmacro %}
