{% import "./utils.njk" as utils %}
{% set defaults = {
    properties:{
      label: "Label"
    }
  }
%}
{% macro token(label=defaults.properties.label, classes="") -%}
<span class="fd-token{{ classes | classes }}" role="button">{{ label }}</span>
{%- endmacro %}
