//———————— FIORI FUNDAMENTALS FOUNDATION ————————

@fd-color--action-1: #0a6ed1;
@fd-color--action-2: white;
@fd-color--text-1: #32363a;
@fd-color--text-2: #51555a;
@fd-color--text-3: #6a6d70;
@fd-color--text-4: #74777a;
@fd-color--text-5: white;
@fd-color--background-1: #edeef0;
@fd-color--background-2: white;
@fd-color--neutral-1: #fafafa;
@fd-color--neutral-2: #eeeeef;
@fd-color--neutral-3: #d9d9d9;
@fd-color--neutral-4: #89919a;
@fd-color--status-1: #107f3e;
@fd-color--status-2: #e9730c;
@fd-color--status-3: #bd0000;
@fd-color--status-4: #6d7678;
@fd-color--accent-1: #e38b16;
@fd-color--accent-2: #dc7474;
@fd-color--accent-3: #db1f77;
@fd-color--accent-4: #c0399f;
@fd-color--accent-5: #6367de;
@fd-color--accent-6: #5899da;
@fd-color--accent-7: #13a4b4;
@fd-color--accent-8: #7ca10c;
@fd-color--accent-9: #955ecf;
@fd-color--accent-10: #6c8893;
@fd-color--accent-11: #d17f15;
@fd-color--accent-12: #d04343;
@fd-color--accent-13: #2b78c5;
@fd-color--accent-14: #0f828f;
@fd-color--accent-15: #647887;
@fd-color--shell-1: #354a5f;
@fd-color--shell-2: #d1e8ff;
@fd-color--action-hover: #085caf;
@fd-color--action-focus: #085caf;
@fd-color--action-selected: #0254a7;
@fd-color--action-disabled: rgba(10, 110, 209, 0.4);
@fd-color--action-visited: #3c0ad1;
@fd-color--background-hover: #fafafa;
@fd-color--background-selected: rgba(10, 110, 209, 0.07);
@fd-color--background-selected-hover: rgba(10, 110, 209, 0.1);
@fd-color--background-positive: #e4fcee;
@fd-color--background-alert: #fef7f0;
@fd-color--background-negative: #ffb8b8;
@fd-padding--ui: 32px;
@fd-width--gutter: 16px;
@fd-forms-height: 36px;
@fd-forms-height--compact: 28px;
