.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
.vscode
# build
.tmp
*.log
*.tgz
__diff_output__
storybook-static
.storybook/static/*.woff
.storybook/static/72-Bold.woff
.storybook/static/72-Light.woff
.storybook/static/72-Regular.woff
.storybook/static/SAP-icons.woff
.storybook/static/HCB_css_variables.css
.storybook/static/HCW_css_variables.css
.storybook/static/css_variables.css
.storybook/static/dark_css_variables.css
.storybook/static/light_dark_css_variables.css
stories/docs/
dist
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
