language: node_js
node_js: 10.15.0
#cache: npm
#sudo: required
dist: trusty
services:
  - docker
before_install:
- docker pull backstopjs/backstopjs:3.8.5
git:
  depth: false
script:
  - npm run build
jobs:
  include:
  - stage: Test
    script: gulp test:visualCI
  - stage: Pre-release
    if: branch = master
    before_deploy:
    - git checkout master
    - bash ./ci-scripts/setup-npm.sh
    deploy:
    - provider: script
      script: bash ./ci-scripts/publish-rc.sh
      skip_cleanup: true
  - stage: Release
    if: branch = tmp_branch_for_automated_release_do_not_use
    before_deploy:
    - git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
    - git fetch
    - git checkout master
    - bash ./ci-scripts/setup-npm.sh
    deploy:
    - provider: script
      script: bash ./ci-scripts/publish.sh
      skip_cleanup: true
      on:
        all_branches: true
notifications:
  email:
    on_failure: always
    on_success: change
  slack: 
    rooms:
      - ui-fundamentals:zVRyxlqkYnQFD7p8QHkWM8Fd#ui-automated
