{% extends "layout.njk" %}
{% from "./component.njk" import counter %}
{% from "./../format.njk" import format %}

{% set css_deps = ['fonts','helpers','icons', 'components/tabs', 'components/button'] %}

{% block content %}
<div>
    <h1>Notification Counter</h1>

    <h2>0 (Nothing shows)</h2>
    {% set basic_counter %}
        {{ counter(count=0) }}
    {% endset %}
    {{ format(basic_counter) }}

<br>

    <h2>Single Digit</h2>
    {% set single_counter %}
        {{ counter(count=5) }}
    {% endset %}

    {{ format(single_counter) }}

    <h2>Double Digit</h2>
    {% set double_counter %}
        {{ counter(count=25) }}
    {% endset %}

    {{ format(double_counter) }}

    <h2>Triple Digit</h2>
    {% set triple_counter %}
        {{ counter(count=101) }}
    {% endset %}

    {{ format(triple_counter) }}

    <h2>Maximum digits</h2>
    <p>If the count provided exceeds 999, it will render "999+". This example was passed the count of 4001.</p>
    {% set max_counter %}
        {{ counter(count=4001) }}
    {% endset %}

    {{ format(max_counter) }}
</div>

<br><br>
<h2>addt'l uses</h2>

<h3>Inline</h3>
{% set example %}
<p>Lorem ipsum {{ counter(count=5) }}</p>
{% endset %}
{{ format(example) }}


<h3>Tabs</h3>
{% set example %}
<ul class="fd-tabs" role="tablist">
    <li class="fd-tabs__item">
        <a class="fd-tabs__link" aria-controls="AvcVC566" href="#AvcVC566" role="tab">Link {{ counter(count=25) }}</a>
    </li>
    <li class="fd-tabs__item">
        <a class="fd-tabs__link" aria-controls="5mxO9110" aria-selected="true" href="#5mxO9110" role="tab">Selected</a>
    </li>
    <li class="fd-tabs__item">
        <a class="fd-tabs__link" aria-controls="r0pk3445" href="#r0pk3445" role="tab">Link</a>
    </li>
    <li class="fd-tabs__item">
        <a class="fd-tabs__link" aria-controls="Dj1Ri832" aria-disabled="true" role="tab">Disabled</a>
    </li>
</ul>
{% endset %}
{{ format(example) }}

{% set example %}
<button class="fd-button--light sap-icon--bell" aria-label="Notifications">{{ counter(count=1) }}</button>
<button class="fd-button--light sap-icon--bell" aria-label="Notifications">{{ counter(count=20) }}</button>
<button class="fd-button--light sap-icon--bell" aria-label="Notifications">{{ counter(count=300) }}</button>
<button class="fd-button--light sap-icon--bell" aria-label="Notifications">{{ counter(count=6000) }}</button>
{% endset %}
{{ format(example) }}


{% endblock %}
