@import "./../settings";
@import "./../mixins";

:root {
  @each $type, $shades in $fd-colors {
    @each $shade, $value in $shades {
    --#{$fd-namespace}-color-#{$type}-#{$shade}: #{$value};
    }
  }

  //base colors
  --fd-color: var(--fd-color-text-1);
  --fd-background-color: var(--fd-color-background-1);
  --fd-color-background-hover: #{map-get($fd-colors-background-states, "hover")};
  --fd-color-background-selected: #{map-get($fd-colors-background-states, "selected")};
  --fd-color-background-selected-hover: #{map-get($fd-colors-background-states, "selected-hover")};
  --fd-color-background-information: #{map-get($fd-colors-background-states, "information")};
  --fd-color-background-positive: #{map-get($fd-colors-background-states, "positive")};
  --fd-color-background-alert: #{map-get($fd-colors-background-states, "alert")};
  --fd-color-background-negative: #{map-get($fd-colors-background-states, "negative")};
  --fd-color-background-default: #{map-get($fd-colors-background-states, "default")};

  //action colors
  --fd-color-action: var(--fd-color-action-1);
  --fd-color-action-hover: #{map-get($fd-colors-action-states, "hover")};
  --fd-color-action-focus: #{map-get($fd-colors-action-states, "focus")};
  --fd-color-action-selected: #{map-get($fd-colors-action-states, "selected")};
  --fd-color-action-disabled: #{map-get($fd-colors-action-states, "disabled")};
  --fd-color-action-visited: #{map-get($fd-colors-action-states, "visited")};

  //status colors
  --fd-color-positive: #{$fd-color--positive};
  --fd-color-negative: #{$fd-color--negative};
  --fd-color-alert: #{$fd-color--alert};
  --fd-color-information: #{$fd-color--information};

  //form colors
  --fd-forms-color--focus: #{$fd-forms-color--focus};
  --fd-forms-color--disabled: #{$fd-forms-color--disabled};
  --fd-forms-color--active: #{$fd-forms-color--active};
  --fd-forms-background-color: #{$fd-forms-background-color};
  --fd-forms-background-color--disabled: #{$fd-forms-background-color--disabled};
  --fd-forms-background-color--check: #{$fd-forms-background-color--check};
  --fd-forms-background-color--indeterminate: #{$fd-forms-background-color--indeterminate};
  --fd-forms-background-color--check-disabled: #{$fd-forms-background-color--check-disabled};
  --fd-forms-border-color: #{$fd-forms-border-color};
  --fd-forms-border-color--check: #{$fd-forms-border-color--check};
  --fd-forms-border-color--focus: #{$fd-forms-border-color--focus};
  --fd-forms-border-color--disabled: #{$fd-forms-border-color--disabled};


  //form metrics
  --fd-forms-height: #{$fd-forms-height};
  --fd-forms-height-compact: #{$fd-forms-height--compact};

  //form metrics
  --fd-button-line-height: #{$fd-button-line-height};
  --fd-button-line-height-compact: #{$fd-button-line-height--compact};

  @at-root {
    .fd-for-touch {
      --fd-forms-height-compact: #{$fd-forms-height};
    }
    .fd-for-compact {
      --fd-forms-height-compact: #{$fd-forms-height--compact};
    }
  }
  @include fd-screen(m) {
    --fd-forms-height-compact: #{$fd-forms-height--compact};
  }
  //padding and gutter values used in page, section, and container
  --fd-padding-ui: #{fd-space("tiny")}; //8px
  --fd-width-gutter: #{fd-space("tiny")}; //8px
  @include fd-screen(m) {
    --fd-padding-ui: #{fd-space("medium")}; //32px
    --fd-width-gutter: #{fd-space("small")}; //16px
  }
  @include fd-screen(xl) {
    --fd-padding-ui: #{fd-space("large")}; //48px
  }
}
