@import "functions";

//library namespace
$fd-namespace: fd !default;

//breakpoints
$fd-breakpoints: (
    xs: 320px,
    s: 800px,
    m: 1024px,
    l: 1440px,
    xl: 1580px,
) !default;

//spacing
$fd-spacing--base: 4px !default;
$fd-spacing: () !default;
$fd-spacing: map-merge((
    base: $fd-spacing--base,    //4
    xs: $fd-spacing--base * 2,  //8
    s: $fd-spacing--base * 3,   //12
    reg: $fd-spacing--base * 5, //20
    m: $fd-spacing--base * 10,  //40
    l: $fd-spacing--base * 25,  //100
    xl: $fd-spacing--base * 37, //148
), $fd-spacing);

//type
$fd-type--base: 16px !default;
$fd-type: () !default;
$fd-type: map-merge((
    "-3": 0.75rem 1.33334 body bold uppercase,    //12/16
    "-2": 0.8125rem 1.53847 body reg none,	    //13/20
    "-1": 0.875rem 1.42858 body reg none,	        //14/20
    "0": 1rem 1.5 body reg none,     	            //16/24
    "1": 1.125rem 1.33334 body semi none,   	    //18/24
    "2": 1.25rem 1.4 body semi none,   	        //20/28
    "3": 1.625rem 1.23077 header semi none,	    //26/32
    "4": 2.1875rem 1.25715 header bold none,	    //35/44
    "5": 2.8125rem 1.15556 header med none,       //45/52
), $fd-type);

//fonts
$fd-fonts: () !default;
$fd-fonts: map-merge((
    "body": #{sans-serif},
    "header": #{sans-serif},
    "code": #{monospace},
), $fd-fonts);

$fd-weights: () !default;
$fd-weights: map-merge((
    light: 300,
    reg: 400,
    med: 500,
    semi: 600,
    bold: 700
), $fd-weights);

//colors
$fd-colors: () !default;
$fd-colors: map-merge((
    "primary": (
        1: #006fbb,
        2: #27394f,
    ),
    "action": (
        1: #009cdf,
        2: #8D9DBC
    ),
    "text": (
        1: #21262c,
        2: #7f90a4,
        3: #63758b,
    ),
    "text-inverse": (
        1: #ffffff,
        2: #f6f8f9,
        3: #eef1f3,
    ),
    "background": (
        1: #ffffff,
        2: #f0f5ff,
        3: #000000
    ),
    "neutral": (
        1: #f9fbfc,
        2: #d7d7d7,
        3: #ccdaeb,
        4: #8a8fa1,
    ),
    "status": (
        1: #61bf33,
        2: #e97326,
        3: #df1919,
    )
), $fd-colors);


//features
$fd-space-modify: normal !default; //normal, compact

//ui
$fd-padding--ui: fd-space(reg) !default;
//$fd-max-width--ui: map-get($fd-breakpoints,xl) !default;
$fd-max-width--ui: 1290px !default;

//global widths
$fd-width--gutter: fd-space(8) !default;

//type
$fd-font-family: map-get($fd-fonts, "body") !default;
$fd-font-family--header: map-get($fd-fonts, "header") !default;
$fd-font-family--code: map-get($fd-fonts, "code") !default;
$fd-font-size: nth(map-get($fd-type, "0"), 1) !default;
$fd-line-height: nth(map-get($fd-type, "0"), 2) !default;

//baseline
$fd-color: fd-color(text) !default;
$fd-background-color: fd-color(background) !default;

//positioning
$fd-margin-bottom: fd-space() !default;

//interactive
$fd-color--link: fd-color(action) !default;
$fd-color--link-hover: darken($fd-color--link, 5) !default;
$fd-color--link-active: darken($fd-color--link, 10) !default;
$fd-color--link-disabled: fd-color(text, 2) !default;

//states
$fd-color--error: fd-color(status, 3) !default;
$fd-color--warning: fd-color(status, 2) !default;
$fd-color--success: fd-color(status, 1) !default;

//animation speed
$fd-animation--speed: 0.125s !default;

//FORMS
//dimensions
$fd-forms-height--input-text: fd-space(13) !default;
$fd-forms-height--input-check: fd-space(7) !default;
$fd-forms-padding: fd-space(4) !default;
//colors
$fd-forms-color: $fd-color !default;
$fd-forms-color--placeholder: fd-color(text, 3) !default;
$fd-forms-color--focus: $fd-forms-color !default;
$fd-forms-color--disabled: fd-color(text, 3) !default;
$fd-forms-background-color: fd-color(background, 1) !default;
$fd-forms-background-color--check: fd-color(action, 1);
$fd-forms-background-color--check-disabled: fd-color(text, 2);
$fd-forms-background-color--disabled: fd-color(neutral, 1) !default;
$fd-forms-border-color: fd-color(neutral, 3) !default;
$fd-forms-border-color--check: fd-color(action) !default;
$fd-forms-border-color--focus: fd-color(action) !default;
$fd-forms-border-color--disabled: lighten(fd-color(neutral, 2), 5%) !default;
//elements
$fd-forms-select-width--background-image: 12px !default;
$fd-forms-select-background-image: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMTI2MkMiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
$fd-forms-select-background-image--active: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDhGRDIiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
$fd-forms-select-background-image--expanded: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDhGRDIiIGQ9Ik0xMS45MzUgNi41M0w2LjE4OC4xMDRhLjI2NC4yNjQgMCAwIDAtLjM3OCAwTC4wNjUgNi41M2EuMjQuMjQgMCAwIDAtLjA2MS4xNzcuMjM3LjIzNyAwIDAgMCAuMDg3LjE2NWwxLjI5IDEuMDcxYS4yNTguMjU4IDAgMCAwIC4xNjMuMDU4TDEuNTYzIDhhLjI1Mi4yNTIgMCAwIDAgLjE3MS0uMDg1bDQuMjY1LTQuODYxIDQuMjY3IDQuODYxYy4wNDMuMDQ5LjEwNC4wOC4xNy4wODVhLjI2MS4yNjEgMCAwIDAgLjE4Mi0uMDU3bDEuMjkxLTEuMDcxYS4yMzYuMjM2IDAgMCAwIC4wMjYtLjM0MnoiLz48L3N2Zz4=" !default;
$fd-forms-select-background-image--disabled: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiM2Mzc1OEIiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNS4yMzUgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzQuMjM0IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
