@import "functions";

//library namespace
$tn-namespace: tn !default;

//breakpoints
$tn-breakpoints: (
    xs: 320px,
    s: 800px,
    m: 1024px,
    l: 1440px,
    xl: 1580px,
) !default;

//spacing
$tn-spacing--base: 4px;
$tn-spacing: (
    base: $tn-spacing--base,    //4
    xs: $tn-spacing--base * 2,  //8
    s: $tn-spacing--base * 3,   //12
    reg: $tn-spacing--base * 5, //20
    m: $tn-spacing--base * 10,  //40
    l: $tn-spacing--base * 25,  //100
    xl: $tn-spacing--base * 37, //148
) !default;

//type
$tn-type--base: 16px;
$tn-type: (
    -3: 0.75rem 1.33334 body bold uppercase,    //12/16
    -2: 0.8125rem 1.53847 body reg none,	    //13/20
    -1: 0.875rem 1.42858 body reg none,	        //14/20
    0: 1rem 1.5 body reg none,     	            //16/24
    1: 1.125rem 1.33334 body semi none,   	    //18/24
    2: 1.25rem 1.4 body semi none,   	        //20/28
    3: 1.625rem 1.23077 header semi none,	    //26/32
    4: 2.1875rem 1.25715 header bold none,	    //35/44
    5: 2.8125rem 1.15556 header med none,       //45/52
) !default;

//fonts
$tn-fonts: (
    body: #{sans-serif},
    header: #{sans-serif},
    code: #{monospace},
) !default;

$tn-weights: (
    light: 300,
    reg: 400,
    med: 500,
    semi: 600,
    bold: 700
) !default;

//colors
$tn-colors: (
    primary: (
        1: #006fbb,
        2: #27394f,
    ),
    action: (
        1: #009cdf,
        2: #8D9DBC
    ),
    text: (
        1: #21262c,
        2: #7f90a4,
        3: #63758b,
    ),
    text-inverse: (
        1: #ffffff,
        2: #f6f8f9,
        3: #eef1f3,
    ),
    background: (
        1: #ffffff,
        2: #f0f5ff,
        3: #000000
    ),
    neutral: (
        1: #f9fbfc,
        2: #d7d7d7,
        3: #ccdaeb,
        4: #8a8fa1,
    ),
    status: (
        1: #61bf33,
        2: #e97326,
        3: #df1919,
    )
) !default;


//features
$tn-space-modify: normal !default; //normal, compact

//ui
$tn-padding--ui: tn-space(reg) !default;
//$tn-max-width--ui: map-get($tn-breakpoints,xl) !default;
$tn-max-width--ui: 1290px !default;

//global widths
$tn-width--gutter: tn-space(8) !default;

//type
$tn-font-family: map-get($tn-fonts,body) !default;
$tn-font-family--header: map-get($tn-fonts,header) !default;
$tn-font-family--code: map-get($tn-fonts,code) !default;
$tn-font-size: nth(map-get($tn-type,0), 1) !default;
$tn-line-height: nth(map-get($tn-type,0), 2) !default;

//baseline
$tn-color: tn-color(text) !default;
$tn-background-color: tn-color(background) !default;

//positioning
$tn-margin-bottom: tn-space() !default;

//interactive
$tn-color--link: tn-color(action) !default;
$tn-color--link-hover: darken($tn-color--link, 5) !default;
$tn-color--link-active: darken($tn-color--link, 10) !default;
$tn-color--link-disabled: tn-color(text, 2) !default;

//states
$tn-color--error: tn-color(status, 3) !default;
$tn-color--warning: tn-color(status, 2) !default;
$tn-color--success: tn-color(status, 1) !default;

//animation speed
$tn-animation--speed: 0.125s !default;

//FORMS
//dimensions
$tn-forms-height--input-text: tn-space(13) !default;
$tn-forms-height--input-check: tn-space(7) !default;
$tn-forms-padding: tn-space(4) !default;
//colors
$tn-forms-color: $tn-color !default;
$tn-forms-color--placeholder: tn-color(text, 3) !default;
$tn-forms-color--focus: $tn-forms-color !default;
$tn-forms-color--disabled: tn-color(text, 3) !default;
$tn-forms-background-color: tn-color(background, 1) !default;
$tn-forms-background-color--check: tn-color(action, 1);
$tn-forms-background-color--check-disabled: tn-color(text, 2);
$tn-forms-background-color--disabled: tn-color(neutral, 1) !default;
$tn-forms-border-color: tn-color(neutral, 3) !default;
$tn-forms-border-color--check: tn-color(action) !default;
$tn-forms-border-color--focus: tn-color(action) !default;
$tn-forms-border-color--disabled: lighten(tn-color(neutral, 2), 5%) !default;
//elements
$tn-forms-select-width--background-image: 12px !default;
$tn-forms-select-background-image: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMTI2MkMiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
$tn-forms-select-background-image--active: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDhGRDIiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
$tn-forms-select-background-image--expanded: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDhGRDIiIGQ9Ik0xMS45MzUgNi41M0w2LjE4OC4xMDRhLjI2NC4yNjQgMCAwIDAtLjM3OCAwTC4wNjUgNi41M2EuMjQuMjQgMCAwIDAtLjA2MS4xNzcuMjM3LjIzNyAwIDAgMCAuMDg3LjE2NWwxLjI5IDEuMDcxYS4yNTguMjU4IDAgMCAwIC4xNjMuMDU4TDEuNTYzIDhhLjI1Mi4yNTIgMCAwIDAgLjE3MS0uMDg1bDQuMjY1LTQuODYxIDQuMjY3IDQuODYxYy4wNDMuMDQ5LjEwNC4wOC4xNy4wODVhLjI2MS4yNjEgMCAwIDAgLjE4Mi0uMDU3bDEuMjkxLTEuMDcxYS4yMzYuMjM2IDAgMCAwIC4wMjYtLjM0MnoiLz48L3N2Zz4=" !default;
$tn-forms-select-background-image--disabled: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiM2Mzc1OEIiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNS4yMzUgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzQuMjM0IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+" !default;
