@import "./../settings";
@import "./../mixins";
@import "./../functions";

// Required variables:
$elements__headers: h1, h2, h3, h4, h5, h6;
$elements__blocks: p, ul, ol, blockquote, table, figure;

/*!
* @section Root Element
* Default styles for root elements
*/
html {
    box-sizing: border-box;
    min-height: 100%;
}
html,
body {
    font-size: $fd-font-size;
    font-family: $fd-font-family;
    line-height: $fd-line-height;
}
* {
    box-sizing: inherit;
    &::before,
    &::after {
        box-sizing: inherit;
    }
}
body {
    margin: 0;
    @include fd-var-color("background-color", $fd-background-color, --fd-background-color);
    -webkit-font-smoothing: antialiased;
    @include fd-var-color("color", $fd-color, --fd-color);
}

/**
* @section Header Elements
* Default styles for header elements
*/
#{$elements__headers} {
    text-rendering: optimizeLegibility;
    margin-bottom: $fd-margin-bottom;
    margin-top: 0;
}

/*!
* @section Block Elements
* Default styles for block elements
*/
#{$elements__blocks} {
    margin-top: 0;
    margin-bottom: $fd-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
}

/*!
* @section List Elements
* Default styles for lists
*/
ul, ol {
    padding: 0;
}

/*!
* @section Phrases Elements
* Default styles for phrase elements
*/
img {
    line-height: 0;
    vertical-align: middle;
}
a {
    text-decoration: none;
    display: inline-block;
    transition: all $fd-animation--speed ease-in;
    @include fd-var-color("color", $fd-color--action, --fd-color-action);
    @include fd-hover() {
      @include fd-var-color("color", fd-color-state("hover", "action"), --fd-color-action-hover);
    }
    @include fd-active-pressed-selected() {
      @include fd-var-color("color", fd-color-state("selected", "action"), --fd-color-action-selected);
      outline: none;
    }
    &:focus {
      outline-style: dotted;
      outline-width: 1px;
      @include fd-var-color("outline-color", fd-color-state("hover", "action"), --fd-color-action-focus);
    }
    @include fd-disabled() {
      @include fd-var-color("outline-color", fd-color-state("disabled", "action"), --fd-color-action-disabled);
      cursor: not-allowed;
    }
}
pre,
code {
  font-family: $fd-font-family--code;
}

/*!
* @section Button Elements
* Default styles for button elements
*/
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}
