@import "./../settings";
@import "../functions.scss";

// Required variables:
// 	$fd-background-color
// 	$fd-color
$elements__headers: h1, h2, h3, h4, h5, h6;
$elements__blocks: p, ul, ol, blockquote, table, figure;

/*!
* @section Root Element
* Default styles for root elements
*/
html {
    box-sizing: border-box;
    min-height: 100%;
}
html,
body {
    font-size: $fd-font-size;
    font-family: $fd-font-family;
    line-height: $fd-line-height;
}
* {
    box-sizing: inherit;
    &::before,
    &::after {
        box-sizing: inherit;
    }
}
body {
    margin: 0;
    background-color: $fd-background-color;
    -webkit-font-smoothing: antialiased;
    color: $fd-color;
}

/**
* @section Header Elements
* Default styles for header elements
*/
#{$elements__headers} {
    text-rendering: optimizeLegibility;
    margin-bottom: $fd-margin-bottom;
    margin-top: 0;
}

/*!
* @section Block Elements
* Default styles for block elements
*/
#{$elements__blocks} {
    margin-top: 0;
    margin-bottom: $fd-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
}

/*!
* @section List Elements
* Default styles for lists
*/
ul, ol {
    padding-left: 0;
    //list-style: none;
}


/*!
* @section Phrases Elements
* Default styles for phrase elements
*/
img {
    line-height: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all $fd-animation--speed ease-in;
    color: $fd-color--action;
    @include fd-hover {
      color: fd-color-state("hover", "action");
    }
    @include fd-selected {
        color: fd-color-state("selected", "action");
        outline: none;
    }
    &:focus{
      outline-style: dotted;
      outline-width: 1px;
      @include fd-var-color("outline-color", fd-color-state("hover","action"), --fd-color-action-focus)
    }
    @include fd-disabled {
        color: $fd-link-color--disabled;
        cursor: not-allowed;
    }
}

pre,
code {
  font-family: $fd-font-family--code;
}

/*!
* @section Button Elements
* Default styles for button elements
*/
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}
