@import "settings";

// Required variables:
// 	$tn-background-color
// 	$tn-color
$elements__headers: h1, h2, h3, h4, h5, h6;
$elements__blocks: p, ul, ol, blockquote, table, figure;
$elements__interactive: a, audio\[controls\], button, details, embed, iframe, img\[usemap\], input, keygen, label, object\[usemap\], select, textarea, video\[controls\];

/*!
* @section Root Element
* Default styles for root elements
*/
html {
    box-sizing: border-box;
    min-height: 100%;
}
html,
body {
    font-size: $tn-font-size;
    font-family: $tn-font-family;
    line-height: $tn-line-height;
}
* {
    box-sizing: inherit;
    &::before,
    &::after {
        box-sizing: inherit;
    }
}
body {
    margin: 0;
    background-color: $tn-background-color;
    -webkit-font-smoothing: antialiased;
    color: $tn-color;
}

/**
* @section Header Elements
* Default styles for header elements
*/
#{$elements__headers} {
    text-rendering: optimizeLegibility;
    margin-bottom: $tn-margin-bottom;
    margin-top: 0;
}

/*!
* @section Block Elements
* Default styles for block elements
*/
#{$elements__blocks} {
    margin-top: 0;
    margin-bottom: $tn-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
}

/*!
* @section List Elements
* Default styles for lists
*/
ul, ol {
    padding-left: 0;
    //list-style: none;
}


/*!
* @section Phrases Elements
* Default styles for phrase elements
*/
img {
    line-height: 0;
    vertical-align: middle;
}

a {
    color: $tn-color--link;
    text-decoration: none;
    &:hover {
        color: $tn-color--link-hover;
    }
    &:active,
    &:focus {
        color: $tn-color--link-hover;
        outline: none;
    }
    &[aria-disabled="true"],
    &.is-disabled {
        color: $tn-color--link-disabled;
        cursor: not-allowed;
    }
}

/*!
* @section Button Elements
* Default styles for button elements
*/
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}
