@import "./../settings";
@import "./../mixins";
@import "./../functions";

%form-field-base {
    @include fd-form-base;
    transition: border-color $fd-forms-transition-params, background-color $fd-forms-transition-params, background-image $fd-forms-transition-params;
    &::after {
        transition: border-color $fd-forms-transition-params;
    }
    &::placeholder {
        color: $fd-forms-color--placeholder;
    }
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
#{$fd-elements-inputs--text},
textarea {
    @include fd-form-text;
    width: 100%;
}
textarea {
    height: $fd-forms-height--input-text * 2;
    padding-top: $fd-forms-padding;
}
select {
    @include fd-form-select;
    width: 100%;
    &[multiple] {
        height: $fd-forms-height--input-text * 3;
        background-image: none;
        padding-top: $fd-forms-padding;
    }
}
#{$fd-elements-inputs--check} {
    @extend %form-field-base;
    height: $fd-forms-height--input-check;
    width: $fd-forms-height--input-check;
    margin: 0;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    &:checked {
        border-color: fd-color-darkest($fd-forms-color--active);
        background-color: fd-color-darkest($fd-forms-color--active);
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        border-color: $fd-forms-border-color--disabled;
        background-color: $fd-forms-background-color--disabled;
    }
}
input[type="checkbox"] {
    &::before {
        content: "";
        width: 10px;
        height: 5px;
        border-color: transparent;
        border-style: solid;
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg);
        position: absolute;
        z-index: 2;
        top: calc(50% - 4px);
        left: calc(50% - 10px/2);
    }
    &:checked {
        &::before {
            border-color: $fd-forms-background-color;
        }
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        &::before {
            border-color: $fd-forms-background-color--check-disabled;
        }
    }
}
input[type="radio"] {
    border-radius: 50%;
    &::after {
        $check-size_: fd-space(2);
        content: "";
        border-radius: 50%;
        width: $check-size_;
        height: $check-size_;
        position: absolute;
        top: calc(50% - (#{$check-size_}/2));
        left: calc(50% - (#{$check-size_}/2));
        transition: background-color $fd-forms-transition-params;
        background-color: transparent;
    }
    &:checked {
        background-color: $fd-forms-background-color;
        &::after {
            background-color: fd-color-darkest($fd-forms-color--active);
        }
        &[disabled],
        &[aria-disabled="true"],
        &.is-disabled {
            &::after {
                background-color: $fd-forms-background-color--check-disabled;
            }
        }
    }
}
