@import "settings";
@import "mixins";

//els
$tn-elements-inputs--text: "input[type=text]", "input[type=password]", "input[type=email]", "input[type=url]", "input[type=search]", "input[type=tel]", "input[type=number]", "input[type=date]";
$tn-elements-inputs--check: "input[type=radio]", "input[type=checkbox]";
//anim
$tn-forms-transition-params: $tn-animation--speed ease-in !default;

%form-field-base {
    @include tn-form-base;
    transition: border-color $tn-forms-transition-params, background-color $tn-forms-transition-params, background-image $tn-forms-transition-params;
    &::after {
        transition: border-color $tn-forms-transition-params;
    }
    &::placeholder {
        color: $tn-forms-color--placeholder;
    }
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
#{$tn-elements-inputs--text},
textarea {
    @include tn-form-text;
    width: 100%;
}
textarea {
    height: $tn-forms-height--input-text * 2;
    padding-top: $tn-forms-padding;
}
select {
    @include tn-form-select;
    width: 100%;
    &[multiple] {
        height: $tn-forms-height--input-text * 3;
        background-image: none;
        padding-top: $tn-forms-padding;
    }
}
#{$tn-elements-inputs--check} {
    @extend %form-field-base;
    height: $tn-forms-height--input-check;
    width: $tn-forms-height--input-check;
    margin: 0;
    vertical-align: middle;
    position: relative;
    &:checked {
        border-color: $tn-forms-border-color--check;
        background-color: $tn-forms-border-color--check;
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        border-color: $tn-forms-border-color--disabled;
        background-color: $tn-forms-background-color--disabled;
    }
}
input[type="checkbox"] {
    &:checked {
        &::after {
            content: "";
            width: 16px;
            height: 6px;
            border-color: $tn-forms-background-color;
            border-style: solid;
            border-width: 0 0 1px 1px;
            transform: rotate(-45deg);
            position: absolute;
            z-index: 2;
            top: calc(50% - 5px);
            left: calc(50% - 16px/2);
        }
        &[disabled],
        &[aria-disabled="true"],
        &.is-disabled {
            &::after {
                border-color: $tn-forms-background-color--check-disabled;
            }
        }
    }
}
input[type="radio"] {
    border-radius: 50%;
    &::after {
        $check-size_: tn-space(4);
        content: "";
        border-radius: 50%;
        width: $check-size_;
        height: $check-size_;
        position: absolute;
        bottom: 0;
        right: 0;
        top: calc(50% - (#{$check-size_}/2));
        left: calc(50% - (#{$check-size_}/2));
        transition: background-color $tn-forms-transition-params;
        background-color: transparent;
    }
    &:checked {
        background-color: $tn-forms-background-color;
        &::after {
            background-color: $tn-forms-background-color--check;
        }
        &[disabled],
        &[aria-disabled="true"],
        &.is-disabled {
            &::after {
                background-color: $tn-forms-background-color--check-disabled;
            }
        }
    }
}
