@import "./../settings";
@import "./../functions";
@import "./../mixins/forms";

// Form Base
%form-field-base {
    @include fd-form-base;
    transition: border-color $fd-forms-transition-params, background-color $fd-forms-transition-params, background-image $fd-forms-transition-params;
    &::after {
        transition: border-color $fd-forms-transition-params;
    }
}

// Global CSS (Remove/Move?)
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

// Default Components
@import "./../components/input";
@import "./../components/textarea";
@import "./../components/checkbox";
@import "./../components/radio";
@import "./../components/select";

// Special Compoments
@import "./../components/input-addon";
@import "./../components/combobox-input";
@import "./../components/search-input";
@import "./../components/multi-input";
