@import "./../settings";
@import "./../functions";
@import "./../mixins/forms";

$fd-form-sizes: (
  "",
  "compact"
) !default;


// Form Base
%form-field-base {
    @include fd-form-base;
    transition: border-color $fd-forms-transition-params, background-color $fd-forms-transition-params, background-image $fd-forms-transition-params;
    &::after {
        transition: border-color $fd-forms-transition-params;
    }

}

// Global CSS (Remove/Move?)
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

// Form Elements
#{$fd-elements-inputs--text}, .#{$fd-namespace}-input {
    @include fd-form-text();
    width: 100%;
    &::placeholder {
      color: $fd-forms-color--placeholder;
    }
}




@import "./../components/textarea";
@import "./../components/select";

#{$fd-elements-inputs--check} {
    @extend %form-field-base;
    height: $fd-forms-height--input-check;
    width: $fd-forms-height--input-check;
    margin: 0;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    border-color: fd-color(neutral, 4);
    &:hover{
        border-width: 2px;
    }
    &:checked {
        border-color: fd-color-darkest($fd-forms-color--active);
        background-color: fd-color-darkest($fd-forms-color--active);
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        border-color: $fd-forms-border-color--disabled;
        background-color: $fd-forms-background-color--disabled;
    }
}

@import "./../components/checkbox";
@import "./../components/radio";
