@import "./../settings";
@import "./../mixins";

:root {
  @each $type, $shades in $fd-colors {
    @each $shade, $value in $shades {  
    --#{$fd-namespace}-color-#{$type}-#{$shade}: #{$value};
    }
  }
  //derived states
  --fd-color-action-hover: #{map-get($fd-colors-action-states, "hover")};
  --fd-color-action-selected: #{map-get($fd-colors-action-states, "selected")};
  --fd-color-action-disabled: #{map-get($fd-colors-action-states, "disabled")};
  --fd-color-action-visited: #{map-get($fd-colors-action-states, "visited")};

  --fd-color-background-hover: #{map-get($fd-colors-background-states, "hover")};
  --fd-color-background-selected: #{map-get($fd-colors-background-states, "selected")};
  --fd-color-background-selected-hover: #{map-get($fd-colors-background-states, "selected-hover")};
  --fd-color-background-positive: #{map-get($fd-colors-background-states, "positive")};
  --fd-color-background-alert: #{map-get($fd-colors-background-states, "alert")};
  --fd-color-background-negative: #{map-get($fd-colors-background-states, "negative")};

  //padding and gutter values used in page, section, and container
  --fd-padding-ui: #{map-get($fd-spacing, xxs)};
  --fd-width-gutter: #{map-get($fd-spacing, xxs)};
  @include fd-screen(s) {
    --fd-padding-ui: #{map-get($fd-spacing, xs)};
  }
  @include fd-screen(m) {
    --fd-padding-ui: #{map-get($fd-spacing, s)};
    --fd-width-gutter: #{map-get($fd-spacing, xs)};
  }
  @include fd-screen(l) {
    --fd-padding-ui: #{$fd-padding--ui};
    --fd-width-gutter: #{$fd-width--gutter};
  }
}
