@import "./../settings";
@import "./../mixins";

:root {
  @each $type, $shades in $fd-colors {
    @each $shade, $value in $shades {
    --#{$fd-namespace}-color-#{$type}-#{$shade}: #{$value};
    }
  }
  //derived states
  --fd-color-action-hover: #{map-get($fd-colors-action-states, "hover")};
  --fd-color-action-focus: #{map-get($fd-colors-action-states, "hover")};
  --fd-color-action-selected: #{map-get($fd-colors-action-states, "selected")};
  --fd-color-action-disabled: #{map-get($fd-colors-action-states, "disabled")};
  --fd-color-action-visited: #{map-get($fd-colors-action-states, "visited")};

  --fd-color-background-hover: #{map-get($fd-colors-background-states, "hover")};
  --fd-color-background-selected: #{map-get($fd-colors-background-states, "selected")};
  --fd-color-background-selected-hover: #{map-get($fd-colors-background-states, "selected-hover")};
  --fd-color-background-positive: #{map-get($fd-colors-background-states, "positive")};
  --fd-color-background-alert: #{map-get($fd-colors-background-states, "alert")};
  --fd-color-background-negative: #{map-get($fd-colors-background-states, "negative")};


  //form metrics
  --fd-forms-height: #{$fd-forms-height};
  --fd-forms-height-compact: #{$fd-forms-height};
  @at-root {
    .fd-for-touch {
      --fd-forms-height-compact: #{$fd-forms-height};
    }
    .fd-for-compact {
      --fd-forms-height-compact: #{$fd-forms-height--compact};
    }
  }
  @include fd-screen(m) {
    --fd-forms-height-compact: #{$fd-forms-height--compact};
  }
  //padding and gutter values used in page, section, and container
  --fd-padding-ui: #{fd-space("tiny")}; //8px
  --fd-width-gutter: #{fd-space("tiny")}; //8px
  @include fd-screen(m) {
    --fd-padding-ui: #{fd-space("medium")}; //32px
    --fd-width-gutter: #{fd-space("small")}; //16px
  }
  @include fd-screen(xl) {
    --fd-padding-ui: #{fd-space("large")}; //48px
  }
}
