@import "./../settings";
@import "./../mixins";

:root {
  --fd-color-action-1: #{map-get($fd-colors-action, 1)};
  --fd-color-action-2: #{map-get($fd-colors-action, 2)};
  --fd-color-shell-1: #{map-get($fd-colors-shell, 1)};
  --fd-color-shell-2: #{map-get($fd-colors-shell, 2)};
  --fd-color-text-1: #{map-get($fd-colors-text, 1)};
  --fd-color-text-2: #{map-get($fd-colors-text, 2)};
  --fd-color-text-3: #{map-get($fd-colors-text, 3)};
  --fd-color-text-4: #{map-get($fd-colors-text, 4)};
  --fd-color-background-1: #{map-get($fd-colors-background, 1)};
  --fd-color-background-2: #{map-get($fd-colors-background, 2)};
  --fd-color-neutral-1: #{map-get($fd-colors-neutral, 1)};
  --fd-color-neutral-2: #{map-get($fd-colors-neutral, 2)};
  --fd-color-neutral-3: #{map-get($fd-colors-neutral, 3)};
  --fd-color-neutral-4: #{map-get($fd-colors-neutral, 4)};
  --fd-color-status-1: #{map-get($fd-colors-status, 1)};
  --fd-color-status-2: #{map-get($fd-colors-status, 2)};
  --fd-color-status-3: #{map-get($fd-colors-status, 3)};
  --fd-color-status-4: #{map-get($fd-colors-status, 4)};
  --fd-color-accent-1: #{map-get($fd-colors-accent, 1)};
  --fd-color-accent-2: #{map-get($fd-colors-accent, 2)};
  --fd-color-accent-3: #{map-get($fd-colors-accent, 3)};
  --fd-color-accent-4: #{map-get($fd-colors-accent, 4)};
  --fd-color-accent-5: #{map-get($fd-colors-accent, 5)};
  --fd-color-accent-6: #{map-get($fd-colors-accent, 6)};
  --fd-color-accent-7: #{map-get($fd-colors-accent, 7)};
  --fd-color-accent-8: #{map-get($fd-colors-accent, 8)};
  --fd-color-accent-9: #{map-get($fd-colors-accent, 9)};
  --fd-color-accent-10: #{map-get($fd-colors-accent, 10)};
  //derived states
  --fd-color-action-hover: #{map-get($fd-colors-action-states, "hover")};
  --fd-color-action-focus: #{map-get($fd-colors-action-states, "hover")};
  --fd-color-action-selected: #{map-get($fd-colors-action-states, "selected")};
  --fd-color-action-disabled: #{map-get($fd-colors-action-states, "disabled")};
  --fd-color-action-visited: #{map-get($fd-colors-action-states, "visited")};

  --fd-color-background-hover: #{map-get($fd-colors-background-states, "hover")};
  --fd-color-background-selected: #{map-get($fd-colors-background-states, "selected")};
  --fd-color-background-selected-hover: #{map-get($fd-colors-background-states, "selected-hover")};
  --fd-color-background-positive: #{map-get($fd-colors-background-states, "positive")};
  --fd-color-background-alert: #{map-get($fd-colors-background-states, "alert")};
  --fd-color-background-negative: #{map-get($fd-colors-background-states, "negative")};


  //form metrics
  --fd-forms-height: #{$fd-forms-height};
  --fd-forms-height-compact: #{$fd-forms-height};
  @at-root {
    .fd-for-touch {
      --fd-forms-height-compact: #{$fd-forms-height};
    }
    .fd-for-compact {
      --fd-forms-height-compact: #{$fd-forms-height--compact};
    }
  }
  @include fd-screen(l) {
    --fd-forms-height-compact: #{$fd-forms-height--compact};
  }


  //padding and gutter values used in page, section, and container
  --fd-padding-ui: #{map-get($fd-spacing, xxs)};
  --fd-width-gutter: #{map-get($fd-spacing, xxs)};
  @include fd-screen(s) {
    --fd-padding-ui: #{map-get($fd-spacing, xs)};
  }
  @include fd-screen(m) {
    --fd-padding-ui: #{map-get($fd-spacing, s)};
    --fd-width-gutter: #{map-get($fd-spacing, xs)};
  }
  @include fd-screen(l) {
    --fd-padding-ui: #{$fd-padding--ui};
    --fd-width-gutter: #{$fd-width--gutter};
  }
}
