@import "./../settings";

:root {
  --color-primary-1: map-get($fd-colors-primary, 1);
  --color-primary-2: map-get($fd-colors-primary, 2);
  --color-action-1: map-get($fd-colors-action, 1);
  --color-action-2: map-get($fd-colors-action, 2);
  --color-text-1: map-get($fd-colors-text, 1);
  --color-text-2: map-get($fd-colors-text, 2);
  --color-text-3: map-get($fd-colors-text, 3);
  --color-text-inverse-1: map-get($fd-colors-text-inverse, 1);
  --color-text-inverse-2: map-get($fd-colors-text-inverse, 2);
  --color-text-inverse-3: map-get($fd-colors-text-inverse, 3);
  --color-background-1: map-get($fd-colors-background, 1);
  --color-background-2: map-get($fd-colors-background, 2);
  --color-background-3: map-get($fd-colors-background, 3);
  --color-neutral-1: map-get($fd-colors-neutral, 1);
  --color-neutral-2: map-get($fd-colors-neutral, 2);
  --color-neutral-3: map-get($fd-colors-neutral, 3);
  --color-neutral-4: map-get($fd-colors-neutral, 4);
  --color-status-1: map-get($fd-colors-status, 1);
  --color-status-2: map-get($fd-colors-status, 2);
  --color-status-3: map-get($fd-colors-status, 3);
}
