@import "./../settings";

:root {
  --color-action-1: #{map-get($fd-colors-action, 1)};
  --color-text-1: #{map-get($fd-colors-text, 1)};
  --color-text-2: #{map-get($fd-colors-text, 2)};
  --color-text-3: #{map-get($fd-colors-text, 3)};
  --color-text-inverse-1: #{map-get($fd-colors-text-inverse, 1)};
  --color-text-inverse-2: #{map-get($fd-colors-text-inverse, 2)};
  --color-text-inverse-3: #{map-get($fd-colors-text-inverse, 3)};
  --color-background-1: #{map-get($fd-colors-background, 1)};
  --color-background-2: #{map-get($fd-colors-background, 2)};
  --color-neutral-1: #{map-get($fd-colors-neutral, 1)};
  --color-neutral-2: #{map-get($fd-colors-neutral, 2)};
  --color-neutral-3: #{map-get($fd-colors-neutral, 3)};
  --color-status-1: #{map-get($fd-colors-status, 1)};
  --color-status-2: #{map-get($fd-colors-status, 2)};
  --color-status-3: #{map-get($fd-colors-status, 3)};
  --color-accent-1: #{map-get($fd-colors-accent, 1)};
  --color-accent-2: #{map-get($fd-colors-accent, 2)};
  --color-accent-3: #{map-get($fd-colors-accent, 3)};
  --color-accent-4: #{map-get($fd-colors-accent, 4)};
  --color-accent-5: #{map-get($fd-colors-accent, 5)};
  --color-accent-6: #{map-get($fd-colors-accent, 6)};
  --color-accent-7: #{map-get($fd-colors-accent, 7)};
  --color-accent-8: #{map-get($fd-colors-accent, 8)};
  --color-accent-9: #{map-get($fd-colors-accent, 9)};
}
