{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../input-group/component.njk" import input_group %}
{% import "./../utils.njk" as utils %}

<!--
table:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{% macro table_contextual_header_control(properties, aria) %}
<span class="fd-table__context-menu-label">{{properties.label}}</span>
{% endmacro %}

{% macro table_contextual_header_body(properties, aria) %}
{{ menu(properties={
            items: properties.menu,
            addon_before: properties.addon_before
        },
        modifier=["addon-before"]
        )
}}
{% endmacro %}

{% macro table_contextual_header(properties={}, modifier={}, state={}, aria={}) -%}
{{  popover(properties={
    id: properties.id,
    control: table_contextual_header_control(properties, aria={controls: properties.id}),
    body: table_contextual_header_body(properties)
  }, modifier={ block: ['no-arrow']})
}}
{%- endmacro %}


{% macro table(properties={}, modifier={}, state={}, aria={}, classes=[]) -%}
{%- if properties.fixed_col_table %}
<div class="fd-table--fixed-wrapper">
<div class="fd-table--fixed">
{% endif %}
<table  class="fd-table{{ modifier.block | modifier('table') }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>
    <thead>
        <tr>
            {%- for header in properties.headers %}
            {%- if header.context_menu -%}
            <th class="fd-table__context-menu {{header.classes | classes}}" style="left:{{0 if header.fixed_col else header.offset}}; width:{{header.width}}" {{header.aria | aria}}  scope="col" >
                {{ table_contextual_header(header) }}
            </th>
            {%- else -%}
            {% set sort_class = "fd-table__sort-column" if header.sortable else "" %}
            {% set sort_order_class = "fd-table__sort-column--"+header.sort_order if header.sort_order and header.sortable  else "" %}
            <th class="{{sort_class}} {{sort_order_class}}" scope="col">{{header.label}}</th>
            {%- endif -%}
            {%- endfor %}
        </tr>
    </thead>
    <tbody>
        {%- for row in properties.rows %}
        <tr{% if properties.selectedRow === loop.index %} aria-selected="true"{% endif %} {% if properties.rowClass.rowIndex === loop.index %} class="{{properties.rowClass.class}}"{% endif %}>
            {%- for item in row %}
            {%- if item.label %}
            <td class="{{item.class}}" style="left:{{0 if item.fixed_col else item.offset }}; width:{{item.width}}">{{ item.label }}</td>
            {%- else %}
            <td>{{ item }}</td>
            {%- endif %}
            {%- endfor %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- if properties.fixed_col_table %}
</div>
</div>
{% endif %}


{%- endmacro %}
