<!--
table:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro table(properties={}, modifier={}, state={}, aria={}) -%}

{{ state.sortable | dump(2)}}

<table class="fd-table{{ modifier.block | modifier('table') }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>
    <thead>
        <tr>
            {%- for header in properties.headers %}
            {% set sort_class = "fd-table__sort-column" if header.sortable else "" %}
            {% set sort_order_class = "fd-table__sort-column--"+header.sort_order if header.sort_order and header.sortable  else "" %}
            <th class="{{sort_class}} {{sort_order_class}}">{{header.label}}</th>
            {%- endfor %}
        </tr>
    </thead>
    <tbody>
        {%- for row in properties.rows %}
        <tr{% if properties.selectedRow === loop.index %} aria-selected="true"{% endif %}>
            {%- for item in row %}
            <td>{{item}}</td>
            {%- endfor %}
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- endmacro %}
