{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../popover/component.njk" import popover %}
{% from "./component.njk" import table %}
{% import "./../utils.njk" as utils %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['fonts', 'icons', 'helpers','components/image', 'components/popover', 'components/menu'] %}

{% block content %}

{% set headers = [
        { label: "Header Column" },
        { label: "Header Column" },
        { label: "Header Column" },
        { label: "Header Column" },
        { label: "Header Column" }
    ]
%}

{% set class_row = [
        { label: "Lorem ipsum dolor sit amet ipsum", class: "fd-table__fixed-col", width: "200px", fixed_col: true},
        { label: "Lorem ipsum dolor sit amet ipsum",  offset: "200px" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" },
        { label: "Lorem ipsum dolor sit amet ipsum" }
    ]
%}

{% set row = ['Lorem', 'Lorem ipsum dolor sit amet ipsum', 'Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet', 'Lorem ipsum', 'Lorem ipsum dolor sit amet'] %}
{% set image_row = ['<span class=" fd-image--s fd-image--circle" aria-label="Image label" style="background-image: url(http://api.adorable.io/avatars/50/rodney.artichoke@hybris.com.png);"></span>', '<a href="#" class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}
{% set checkbox_row = ['<input type="checkbox">', '<a class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}
{% set checkbox_row_selected = ['<input type="checkbox" checked>', '<a class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}

<!-- output the component example and the code snippet -->
<h2>default</h2>
{% set example %}
{{  table(properties={
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ]
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Table with `--no-borders`</h3>
{% set example %}
{{  table(properties={
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ]
    },
    modifier={
        block: ['no-borders']
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Table with `--striped`</h3>
{% set example %}
{{  table(properties={
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ]
    },
    modifier={
        block: ['striped']
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Table with images</h3>

{% set example %}
{{  table({
        headers: headers,
        rows: [image_row, image_row, image_row],
        stripedTable: true,
        noBorders:false
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Table with checkbox</h3>

{% set example %}
{{  table({
        headers:[
                {label: '<input type="checkbox">'},
                {label: "Column Header"},
                {label: "Column Header"},
                {label: "Column Header"},
                {label: "Column Header"}
                ],
        rows: [checkbox_row_selected, checkbox_row, checkbox_row],
        selectedRow: 1,
        stripedTable: true,
        noBorders:false
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Sortable Column Enabled</h3>

{% set example %}
{{  table({
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        sortable: true,
        stripedTable: true,
        noBorders:false
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Asc Sort Column Example</h3>

{% set example %}
{{  table({
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column",
                sortable: true,
                sort_order:"asc"
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        sortable: true,
        stripedTable: true,
        noBorders:false

    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Dec Sort Column Example</h3>

{% set example %}
{{  table({
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column",
                sortable: true,
                sort_order:"dsc"
            },
            {
                label: "Header Column",
                sortable: true
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        sortable: true,
        stripedTable: true,
        noBorders:false

    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Column with Contextual Menu</h3>

{% set example %}
{{  table({
        rows: [row, row, row],
        headers: [
            {
                label: "Header Column",
                id: "col1",
                context_menu: true,
                menu: [
                    { label: "Ascending" },
                    { label: "Decensing" },
                    { label: "Seperator", seperator: true },
                    { label: "Fix Column" }
                ],
                aria: {
                    controls: "col1",
                    haspopup: true
                }
            },
            {
                label: "Header Column",
                id: "col2",
                context_menu: true,
                menu: [
                    { label: "Ascending" },
                    { label: "Decensing" },
                    { label: "Seperator", seperator: true },
                    { label: "Fix Column" }
                ],
                aria: {
                    controls: "col2",
                    haspopup: true
                }
            },
            {
                label: "Header Column",
                id: "col3",
                context_menu: true,
                menu: [
                    { label: "Ascending" },
                    { label: "Decensing" },
                    { label: "Seperator", seperator: true },
                    { label: "Fix Column" }
                ],
                aria: {
                    controls: "col3",
                    haspopup: true
                }
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        contextual_headers: true,
        stripedTable: true,
        noBorders:false
    })
}}
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Fixed Column with Contextual Menu</h3>

{% set example %}
{{  table({
        rows: [class_row, class_row, class_row],
        headers: [
            {
                label: "Header Column",
                id: "col1.2",
                context_menu: true,
                addon_before: true,
                fixed_col: true,
                width: "200px",
                menu: [
                    { label: "Ascending" },
                    { label: "Decensing" },
                    { label: "Seperator", seperator: true },
                    { label: "Fix Column", icon: "accept" }
                ],
                aria: {
                    controls: "col1.2",
                    haspopup: true
                },
                classes: ["table__fixed-col"]
            },
            {
                label: "Header Column",
                id: "col2.2",
                context_menu: true,
                offset: "200px",
                menu: [
                    { label: "Ascending" },
                    { label: "Decensing" },
                    { label: "Seperator", seperator: true },
                    { label: "Fix Column" }
                ],
                aria: {
                    controls: "col2.2",
                    haspopup: true
                }
            },
            {
                label: "Header Column",
                id: "col3.2",
                context_menu: true,
                menu: [
                    { label: "Ascending" },
                    { label: "Decensing" },
                    { label: "Seperator", seperator: true },
                    { label: "Fix Column" }
                ],
                aria: {
                    controls: "col3.2",
                    haspopup: true
                }
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            },
            {
                label: "Header Column"
            }
        ],
        contextual_headers: true,
        fixed_col_table: true,
        stripedTable: true,
        noBorders:false

    })
}}
{% endset %}
{{ format(example) }}


{% endblock %}
