{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import table %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['fonts','helpers','components/image'] %}

{% block content %}

    <h1>table</h1>
{% set headers = ["", "Column Header", "Column Header", "Column Header", "Column Header"] %}

{% set row = ['Lorem', 'Lorem ipsum dolor sit amet ipsum', 'Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet', 'Lorem ipsum', 'Lorem ipsum dolor sit amet'] %}


{% set image_row = ['<span class=" fd-image--s fd-image--circle" aria-label="Image label" style="background-image: url(http://api.adorable.io/avatars/50/rodney.artichoke@hybris.com.png);"></span>', '<a href="#" class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}

{% set checkbox_row = ['<input type="checkbox">', '<a class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}
{% set checkbox_row_selected = ['<input type="checkbox" checked>', '<a class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}


    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  table({
            headers: ["Header", "Column Header", "Column Header", "Column Header", "Column Header"],
            rows: [row, row, row]
        })
    }}
    {% endset %}
    {{ format(example) }}


    {% set example %}
    {{  table({
            headers: headers,
            rows: [image_row, image_row, image_row]
        })
    }}
    {% endset %}
    {{ format(example) }}

    {% set example %}
    {{  table({
            headers: ['<input type="checkbox">', "Column Header", "Column Header", "Column Header", "Column Header"],
            rows: [checkbox_row_selected, checkbox_row, checkbox_row],
            selectedRow: 1
        })
    }}
    {% endset %}
    {{ format(example) }}


{% endblock %}
