//DEPRECATE 1.6

// Form Mixins
@mixin fd-form-base {
    @include fd-reset();
    @include fd-type("0");
    appearance: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    font-size: inherit;
    box-sizing: border-box;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: $fd-forms-border-color;
    border-radius: $fd-border-radius;
    color: $fd-forms-color;
    background-color: $fd-forms-background-color;
    transition: border-color $fd-animation--speed;
    //states
    @include fd-hover() {
        border-color: fd-color-state("hover", "action");
    }
    @include fd-focus() {
      border-color: adjust-color($fd-forms-color--active, $lightness: 30%);
    }
    &.is-invalid {
        border-color: $fd-color--negative;
        border-width: 2px;
    }
    &.is-valid {
        border-color: $fd-color--positive;
        border-width: 2px;
    }
    &.is-warning {
        border-color: $fd-color--alert;
        border-width: 2px;
    }
    @include fd-disabled() {
        cursor: not-allowed;
        color: $fd-forms-color--disabled;
        border-color: $fd-forms-border-color--disabled;
        background-color: $fd-forms-background-color--disabled;
    }
    &[readonly],
    &.is-readonly {
        color: $fd-forms-color;
        border-color: $fd-forms-border-color--disabled;
        border-width: 0 0 1px;
        border-radius: 0;
    }
    @content;
}

@mixin fd-form-text() {
    @include fd-form-base();
    padding-left: $fd-forms-padding;
    padding-right: $fd-forms-padding;
    @content;
}
