{% import "./../utils.njk" as utils %}

{% macro shell_header_search(
    properties={},
    state={},
    aria={},
    classes=[])
-%}
    <div class="fd-shellbar-search{{ state | state }}">
        <button class="fd-button--m sap-icon--search fd-button--shellheader" id="{{ properties.id }}"></button>
    </div>
{%- endmacro %}
