{% import "./../utils.njk" as utils %}
<!--
toggle:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro toggle(properties={}, modifier={}, state={}, aria={}, classes=[]) -%}
{%- set _id = properties.id or utils.id() -%}
<label>
    <span class="fd-toggle{{ modifier.block | modifier('toggle') }}{{ classes | classes }}"{{ aria | aria }}>
        <input type="checkbox" name="" value="" id="{{ _id }}"{{ ' disabled' if state.disabled }}{{ ' checked' if state.checked }}>
        <span class="fd-toggle__switch" role="presentation"></span>
    </span>
</label>
{%- endmacro %}
