{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../form/component.njk" import form_item %}
{% from "./component.njk" import toggle %}

{% block content %}


<style>
.fd-toggle{
    margin: 20px 20px 20px 0;
}
</style>

<p>Wrap a regular <code>input[type=checkbox]</code> and an empty <code>.fd-toggle__switch</code>. <i>The empty switch container is necessary for compatibilty with Firefox.</i></p>

<h3>Cozy Toggle (default)</h3>
{% set example %}
<label>
{{  toggle(
        properties={},
        state=data.state,
        aria=data.aria
    )
}}
</label>

<label>
{{  toggle(
        properties={
            offLabel: 'OFF',
            onLabel: 'ON'
        },
        state=data.state,
        aria=data.aria,
        modifier={
            block: ['label']
        }

    )
}}
</label>

<label>
{{  toggle(
        properties={},
        state=data.state,
        aria=data.aria,
        modifier={
            block: ['semantic']
        }

    )
}}
</label>
{% endset %}
{{ format(example) }}

<br><br><br>

<h3>Compact Toggle</h3>
{% set example %}
<label>
{{  toggle(
        properties={},
        state=data.state,
        aria=data.aria,
        modifier={
            block: ['compact']
        }

    )
}}
</label>

<label>
{{  toggle(
        properties={
            offLabel: 'OFF',
            onLabel: 'ON'
        },
        state=data.state,
        aria=data.aria,
        modifier={
            block: ['label', 'compact']
        }

    )
}}
</label>

<label>
{{  toggle(
        properties={},
        state=data.state,
        aria=data.aria,
        modifier={
            block: ['compact', 'semantic']
        }

    )
}}
</label>
{% endset %}
{{ format(example) }}

<hr>

<h2>Other Sizes</h2>
{% set example %}

<h3>Large</h3>

<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['l']
        }
    )
}}

</label>

<br><br><br>

<h3>Small</h3>

<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['s']
        }
    )
}}
</label>

<br><br><br>

<h3>Extra small</h3>

<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['xs']
        }
    )
}}
</label>
{% endset %}
{{ format(example) }}

<br><br><br>

<hr> 

<h2>checked</h2>
{% set example %}
<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['xs']
        },
        state={
            checked: true
        }
    )
}}
</label>
<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['s']
        },
        state={
            checked: true
        }
    )
}}
</label>
<label>
{{  toggle(
        properties=data.properties,
        state={
            checked: true
        }
    )
}}
</label>
<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['l']
        },
        state={
            checked: true
        }
    )
}}
</label>
{% endset %}
{{ format(example) }}


<br><br><br>

<hr>

<h2>disabled</h2>
{% set example %}
<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['xs']
        },
        state={
            disabled: true
        }
    )
}}
</label>
<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['small']
        },
        state={
            disabled: true
        }
    )
}}
</label>
<label>
{{  toggle(
        properties=data.properties,
        state={
            disabled: true,
            checked: true
        }
    )
}}
</label>
<label>
{{  toggle(
        properties=data.properties,
        modifier={
            block: ['l']
        },
        state={
            disabled: true,
            checked: true
        }
    )
}}
</label>
{% endset %}
{{ format(example) }}

<br><br><br>

<hr>

<h1>Use with <code>.fd-form__item--check</code></h1>
<p>Replace the normal checkbox with the <code>.fd-toggle</code> component. Apply the <code>.fd-form__control</code> class to the <code>.fd-toggle</code> component instead of to the <code>input</code> element. Everything else works the same.</p>

{% set example %}
{{ form_item("toggle", modifier={ control: "s" }) }}
{{ form_item("toggle", modifier={ control: "s" }) }}
{{ form_item("toggle") }}
{{ form_item("toggle", modifier={ control: "l" }) }}
{% endset %}
{{ format(example) }}

{% endblock %}
