{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../form/component.njk" import form_item %}
{% from "./component.njk" import toggle %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['components/form'] %}

{% block content %}

    <h1>toggle</h1>
    <p>Wrap a regular <code>input[type=checkbox]</code> and an empty <code>.tn-toggle__switch</code>. <i>The empty switch container is necessary for compatibilty with Firefox.</i>
    </p>
    <!-- output the component example and the code snippet -->
{% set example %}
{{  toggle(
        properties=data.properties,
        modifier={
            block: "small"
        }
    )
}}

{{  toggle(
        properties=data.properties,
        state=data.state,
        aria=data.aria
    )
}}

{{  toggle(
        properties=data.properties,
        modifier={
            block: "large"
        }
    )
}}
{% endset %}
{{ format(example) }}

    <br><br>

<h2>checked</h2>
{% set example %}
{{  toggle(
        properties=data.properties,
        modifier={
            block: "small"
        },
        state={
            checked: true
        }
    )
}}

{{  toggle(
        properties=data.properties,
        state={
            checked: true
        }
    )
}}

{{  toggle(
        properties=data.properties,
        modifier={
            block: "large"
        },
        state={
            checked: true
        }
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2>disabled</h2>
{% set example %}
{{  toggle(
        properties=data.properties,
        modifier={
            block: "small"
        },
        state={
            disabled: true
        }
    )
}}

{{  toggle(
        properties=data.properties,
        state={
            disabled: true,
            checked: true
        }
    )
}}

{{  toggle(
        properties=data.properties,
        modifier={
            block: "large"
        },
        state={
            disabled: true
        }
    )
}}
{% endset %}
{{ format(example) }}

<br><br>

<h1>Use with <code>.tn-form__item--check</code></h1>
<p>Replace the normal checkbox with the <code>.tn-toggle</code> component. Apply the <code>.tn-form__control</code> class to the <code>.tn-toggle</code> component instead of to the <code>input</code> element. Everything else works the same.</p>

{% set example %}
{{ form_item("toggle", modifier={ control: "small" }) }}
{{ form_item("toggle") }}
{{ form_item("toggle", modifier={ control: "large" }) }}
{% endset %}
{{ format(example) }}

{% endblock %}
