{% extends "./../layouts/shell.njk" %}
{% import "../../layout/component.njk" as layout %}

{% set page_title = "Page Title" %}
{% set page_intro = "Optional page intro lorem ipsum dolor" %}
{% set is_editable_page = true %}
{% set show_breadcrumb = false %}

{# *************************
  app-level settings #}
{% set show_app_nav_vertical = true %}




{% block page_content %}

{% call layout.section() -%}





{%- endcall %}

{% endblock %}
