{% extends "./../layouts/shell.njk" %}
{% import "../../layout/component.njk" as layout %}

{% set page_title = "" %}
{% set page_intro = "" %}
{% set hide_app_sidebar = true %}

{% block page_content %}

{% call layout.section() -%}

{%- endcall %}

{% endblock %}
