{% extends "./../layouts/shell.njk" %}
{% import "../../layout/component.njk" as layout %}

{% set page_title = "Page Title" %}
{% set page_intro = "Page level help message goes here" %}
{% set is_landing_page = false %}
{% set is_editable_page = false %}

{% block page_content %}

{% call layout.section() -%}
    {% call layout.section_header({ title: "Section Title" }) -%}
    {%- endcall %}
{%- endcall %}

{% endblock %}
