{% extends "./../layouts/shell.njk" %}
{% import "../../layout/component.njk" as layout %}
{% from "./../../panel-grid/component.njk" import panel_grid %}
{% from "./../../panel/component.njk" import panel, panel_header, panel_actions, panel_filters, panel_body, panel_footer %}

{% set page_title = "Page Title" %}
{% set page_intro = "Optional page intro lorem ipsum dolor" %}


{% set panel_item %}
{% call panel() -%}
    {% call panel_header({ title: "Lorem ipsum" }) -%}

    {%- endcall %}
    {% call panel_body() -%}
      <p>Vivamus sagittis diam in vehicula lobortis sapien arcu mattis erat vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet.</p>
    {%- endcall %}
{%- endcall %}
{% endset %}



{% block page_content %}

  {% call layout.section() -%}
    {% call layout.container(modifier="fluid") -%}


    {{  panel_grid(
            properties={
                items: [
                panel_item, panel_item, panel_item, panel_item, panel_item, panel_item, panel_item, panel_item
                ]
            },
            modifier={
                block: ["4col"]
            },
            state={},
            aria={}
        )
    }}



    {%- endcall %}
  {%- endcall %}

{% endblock %}
