{#
    see ./data.json for object structure
#}
{% macro input_addon(
    type="text",
    properties={ value: "", name: "", placeholder: "", id: "" },
    state={ disabled: false, readonly: false, status: "" },
    aria={},
    classes=[])
-%}
    <div class="fd-input-addon">
    <input type="{{ type }}"{{ ' placeholder="'+properties.placeholder+'"' if properties.placeholder }}{{ ' value="'+properties.value+'"' if properties.value }}>
</div>
{%- endmacro %}