
{% import "../forms.njk" as forms %}
{% from "../button/component.njk" import button %}
{% from "../icon/component.njk" import icon %}
{#
    see ./data.json for object structure
#}
{% macro pagination(properties={}) %}
{%- set currentPage = properties.currentPage -%}
{%- set totalItems = properties.totalItems -%}
{%- set itemsPerPage = properties.itemsPerPage -%}
{%- set pages = totalItems/itemsPerPage -%}

<ul class="tn-pagination">
    <span class="tn-pagination__total">{{totalItems}} items</span>
    <li class="tn-pagination__item">
        {%- if currentPage === 1 %}
        <button class="tn-button tn-button--text tn-button--icon tn-button--small" aria-label="Previous" aria-disabled="true">
        {%- else %}
        <button class="tn-button tn-button--text tn-button--icon tn-button--small" aria-label="Previous">
        {%- endif %}
            <span class="tn-icon tn-icon--chevron-back tn-icon--small" role="presentation"></span>
        </button>
    </li>
    {%- if pages < 4 %}
        {%- for item in range(1, pages + 1) %}
        <li class="tn-pagination__item">
            {%- if item === currentPage %}
                <a href="#" class="tn-pagination__link" aria-selected="true">{{item}}</a>
            {%- else %}
                <a href="#" class="tn-pagination__link">{{item}}</a>
            {%- endif %}
        </li>
        {%- endfor %}
    {%- elseif (currentPage === pages) or (currentPage === pages + 1) or (currentPage > 4) %}
        <li class="tn-pagination__item">
            <a href="#" class="tn-pagination__link">1</a>
        </li>
        {%- for item in range(pages, pages+1) %}
            <li class="tn-pagination__item">
                <span class="tn-pagination__more"
                    aria-hidden="true"
                    aria-label="..."
                    role="presentation">&#8226;&#8226;&#8226;</span>
            </li>
            {%- if (item === currentPage) %}
                <li class="tn-pagination__item">
                    <a href="#" class="tn-pagination__link">{{item - 1}}</a>
                </li>
            {%- elseif (currentPage !== (pages)) or (item !== (pages))%}
                <li class="tn-pagination__item">
                    <a href="#" class="tn-pagination__link">{{currentPage -1}}</a>
                </li>
                <li class="tn-pagination__item">
                    <a href="#" class="tn-pagination__link" aria-selected="true">{{currentPage}}</a>
                </li>
                <li class="tn-pagination__item">
                    <a href="#" class="tn-pagination__link">{{currentPage+1}}</a>
                </li>
                <li class="tn-pagination__item">
                    <span class="tn-pagination__more"
                        aria-hidden="true"
                        aria-label="..."
                        role="presentation">&#8226;&#8226;&#8226;</span>
                </li>
            {%- endif %}
            <li class="tn-pagination__item">
                {%- if (item === currentPage) or (item === pages + 1) %}
                    <a href="#" class="tn-pagination__link" aria-selected="true">{{item}}</a>
                {%- else %}
                    <a href="#" class="tn-pagination__link">{{item}}</a>
                {%- endif %}
            </li>
        {%- endfor %}
    {%- else %}
        {%- for item in range(1, 4) %}
            <li class="tn-pagination__item">
                {%- if item === currentPage %}
                    <a href="#" class="tn-pagination__link" aria-selected="true">{{item}}</a>
                {%- else %}
                    <a href="#" class="tn-pagination__link">{{item}}</a>
                {%- endif %}
            </li>
        {%- endfor %}
        {%- for item in range(pages, pages+1) %}
            <li class="tn-pagination__item">
            <span class="tn-pagination__more"
                aria-hidden="true"
                aria-label="..."
                role="presentation">&#8226;&#8226;&#8226;</span>
            </li>
            {%- if (item === currentPage) %}
                <li class="tn-pagination__item">
                    <a href="#" class="tn-pagination__link">{{item - 1}}</a>
                </li>
            {%- endif %}
            <li class="tn-pagination__item">
                {%- if (item === currentPage) or (item === pages + 1) %}
                    <a href="#" class="tn-pagination__link" aria-selected="true">{{item}}</a>
                {%- else %}
                    <a href="#" class="tn-pagination__link">{{item}}</a>
                {%- endif %}
            </li>
        {%- endfor %}
    {%- endif %}
    <li class="tn-pagination__item">
        {%- if currentPage === pages | round(0) %}
        <button class="tn-button tn-button--text tn-button--icon tn-button--small" aria-label="Next" aria-disabled="true">
        {%- else %}
        <button class="tn-button tn-button--text tn-button--icon tn-button--small" aria-label="Next">
        {%- endif %}
            <span class="tn-icon tn-icon--chevron tn-icon--small" role="presentation"></span>
        </button>
    </li>
</ul>
<br>
{% endmacro %}
