{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../input-group/component.njk" import input_group %}
{% from "../button/component.njk" import button %}
{% import "./../utils.njk" as utils %}

{#
    see ./data.json for object structure
#}
{%- set _id = utils.id() %}

{# {%- macro combobox_control(properties={}) -%}
    <div class="fd-combobox-control" aria-label="Image label" aria-controls="{{ properties.id }}" aria-expanded="false" aria-haspopup="true"{{ " disabled" if state.disabled }}{{ aria | aria }} >
        {{ input_group(
            modifier={
                after: ['after', 'button'],
                block: "after"
            },
            properties={
                input: {
                    properties: {
                        placeholder: "Select Fruit"
                    }
                },
                after: button({ icon: 'navigation-down-arrow' }, modifier={ block: ['icon', 'secondary'] })
            })
        }}
    </div>
{%- endmacro %} #}

{% macro combobox_input(
    properties={},
    state={},
    aria={},
    classes=[])
-%}    
    <div class="fd-combobox-input">
        {# {{  popover(properties={
            id: _id,
            control: combobox_control(properties={id: _id}),
            body: menu(properties={
                items: [
                    { "label": "Apple" },
                    { "label": "Berry" },
                    { "label": "Orange" },
                    { "label": "Pear" },
                    { "label": "Strawberry" },
                    { "label": "Raspberry" }
                ]
                })
            })
        }} #}

        
        <div class="fd-popover">
            <div class="fd-popover__control">
                <div class="fd-combobox-control" aria-label="Image label" aria-controls="F4GcX348" aria-expanded="false" aria-haspopup="true">
                    <div class="fd-input-group fd-input-group--after">
                        <input type="text" class="fd-input" id="" placeholder="Select Fruit">
                        <span class="fd-input-group__addon fd-input-group__addon--after fd-input-group__addon--button">
                            <button class=" fd-button--icon fd-button--secondary sap-icon--navigation-down-arrow"></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="fd-popover__body" aria-hidden="true" id="F4GcX348">
                <nav class="fd-menu">
                <ul class="fd-menu__list">
                    <li><a href="#" class="fd-menu__item">Pear</a></li>
                    <li><a href="#" class="fd-menu__item">Strawberry</a></li>
                    <li><a href="#" class="fd-menu__item">Raspberry</a></li>
                    <li><a href="#" class="fd-menu__item fd-menu__link">+ New Item</a></li>
                </ul>
                </nav>
            </div>
        </div>

    </div>
{%- endmacro %}