{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../input-group/component.njk" import input_group %}
{% from "../button/component.njk" import button %}
{% import "./../utils.njk" as utils %}

{#
    see ./data.json for object structure
#}

{% macro combobox_input(
    properties={},
    state={},
    aria={},
    classes=[],
    size="")
-%}
{%- set _id = utils.id() %}
    <div class="fd-combobox-input">
        <div class="fd-popover">
            <div class="fd-popover__control">
                <div class="fd-combobox-control{{ size | modifier("input-group") }}" aria-label="Image label" aria-controls="{{_id}}" aria-expanded="false" aria-haspopup="true">
                    {{- input_group(
                        modifier={
                            block: "after",
                            after: ['after', 'button']
                        },
                        properties={
                            input: {
                                properties: {
                                    placeholder: "Select Fruit"
                                }
                            },
                            after: button(
                              {
                                  label: '',
                                  icon: 'navigation-down-arrow'
                              },
                              modifier={
                                  block: ['light']
                              },size=size)
                        },size=size)
                    }}
                </div>
            </div>
            <div class="fd-popover__body fd-popover__body--no-arrow" aria-hidden="true" id="{{_id}}">
                <nav class="fd-menu">
                <ul class="fd-menu__list">
                    <li><a href="#" class="fd-menu__item">Pear</a></li>
                    <li><a href="#" class="fd-menu__item">Strawberry</a></li>
                    <li><a href="#" class="fd-menu__item">Raspberry</a></li>
                    <li><a href="#" class="fd-menu__item fd-menu__link">+ New Item</a></li>
                </ul>
                </nav>
            </div>
        </div>
    </div>
{%- endmacro %}
