{% extends "layout.njk" %}
{% from "./component.njk" import combobox_input %}
{% from "./../format.njk" import format %}

{% block content %}


    {% set basic_combobox_input %}
        {{ combobox_input(
            properties={
                placeholder: "Placeholder Text"
            })
        }}


    {% endset %}

    {{ format(basic_combobox_input) }}

    {% set basic_combobox_input %}
        {{ combobox_input(
            properties={
                placeholder: "Placeholder Text"
            },
            size="compact")
        }}


    {% endset %}

    {{ format(basic_combobox_input) }}

{% endblock %}
