{% extends "layout.njk" %}
{% from "./component.njk" import multi_input %}
{% from "./../format.njk" import format %}

{% block content %}


    {% set basic_multi_input %}
        {{ multi_input(
            properties={
                placeholder: "Select Fruit"
            })
        }}
    {% endset %}

    {{ format(basic_multi_input) }}


<br><br>

<h3>compact</h3>


{% set basic_multi_input %}
    {{ multi_input(
        properties={
            placeholder: "Select Fruit"
        },size="compact")
    }}
{% endset %}

{{ format(basic_multi_input) }}

{% endblock %}
