{% import "./../utils.njk" as utils %}
{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../button/component.njk" import button %}

<!--
shell_header_collapse:
    properties={
        "items": []
    },
    modifier={ block: [] },
    state={},
    aria={}
-->

{% macro shell_header_collapse(
    properties={},
    state={},
    aria={},
    classes=[])
-%}

{%- set _id = utils.id() %}

<div class="fd-shell-header-collapse">
    {{  popover(properties={
            id: _id,
            control: button({ icon: 'overflow' }, modifier={ block: ['shellheader fd-button--m'] }, aria={ "controls": _id, "haspopup": true, "expanded": false}),
            body: menu(properties={
                "items": properties.items
            })
        }, modifier={ block: ['right'] })
    }}
</div>

{%- endmacro %}
