{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../card/component.njk" import card %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import card_group %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['fonts','helpers','components/card','components/button','components/badge'] %}

{% block content %}
{% set cardItem = card(
            { title: 'Lorem ipsum dolor quam placeat numquam repellendus', description: 'Tenetur quam placeat obcaecati molestias voluptatibus dolorum ut molestias voluptatibus dolorum ut.', status: '<span class="fd-badge fd-badge--success">Adipisci</span>' },
            modifier={ block: [] },
            aria={ role: 'button' }
    )
%}
{% set cardItemEmpty = card({ body: "" }) %}
{% set cardItemMin = card(
            { title: 'Lorem ipsum dolor', description: 'Tenetur quam placeat' },
            modifier={ block: [] },
            aria={ role: 'button' }
    )
%}

{% set btn = button(
        {
            label: 'View'
        }
    )
 %}
{% set actionCardItem = card(
            { title: 'Lorem ipsum dolor quam placeat numquam repellendus', description: 'Tenetur quam  dolorum ut.', status: '<span class="fd-has-color-status-2">Voluptate quis sit</span>',
            actions: btn },
            modifier={ block: [] },
            aria={  }
    )
%}

    <h1>card-group</h1>

<h2>3-col grid (default)</h2>
    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  card_group(
            properties={
                items: [
                cardItem, cardItem, cardItem, cardItem, cardItem, cardItem
                ]
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}
    {% endset %}
    {{ format(example) }}

<br><br>

<h1>2 col grid</h1>

{% set example %}
{{  card_group(
        properties={
            items: [
            actionCardItem, actionCardItem, actionCardItem, actionCardItem
            ]
        },
        modifier={
            block: ["2col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h1>4 col grid</h1>
{% set example %}
{{  card_group(
        properties={
            items: [
            cardItemMin, cardItemMin, cardItemMin, cardItemMin, cardItemMin, cardItemMin, cardItemMin, cardItemMin
            ]
        },
        modifier={
            block: ["4col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

<br><br>

<h1>5 col grid</h1>
{% set example %}
{{  card_group(
        properties={
            items: [
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty,
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty
            ]
        },
        modifier={
            block: ["5col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h1>6 col grid</h1>
{% set span %}
<div style="grid-row: span 2;">
  {{cardItemEmpty}}
</div>
{% endset %}
{% set example %}
{{  card_group(
        properties={
            items: [
cardItemEmpty,cardItemEmpty,
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty,
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

<br><br>

<h1>6 col grid w/ span helpers</h1>
<p>Shows use of helper classes <code>.fd-has-grid-row-span-2</code> and <code>.fd-has-grid-column-span-2</code>.
</p>
{% set example %}
{{  card_group(
        properties={
            items: [
            card({ body: "" },classes=['has-grid-row-span-2','has-background-color-accent-7']),
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty,
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, card({ body: "" },classes=['has-grid-column-span-2','has-background-color-accent-7'])
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

{% endblock %}
