{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../card/component.njk" import card %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import card_group %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['fonts','helpers','components/card','components/button','components/badge'] %}

{% block content %}
{% set mediaCardItem = card(
        {
            'title': 'Asperiores doloribus id dolore',
            'description': 'Consectetur adipisicing elit',
            'media': {
                'alt': 'YaaS product thumbnail',
                'image': 'https://techne.yaas.io/images/product-thumbnail-wide.png'
            }
        },
        modifier={ media: "fill" },
        aria={ role: 'button' })
 %}


{% set cardItem = card(
            { title: 'Lorem ipsum dolor quam placeat numquam repellendus', description: 'Tenetur quam placeat obcaecati molestias voluptatibus dolorum ut molestias voluptatibus dolorum ut.', status: '<span class="fd-badge fd-badge--success">Adipisci</span>' },
            modifier={ block: [] },
            aria={ role: 'button' }
    )
%}
{% set cardItemEmpty = card(

    )
%}
{% set cardItemMin = card(
            { title: 'Lorem ipsum dolor', description: 'Tenetur quam placeat' },
            modifier={ block: [] },
            aria={ role: 'button' }
    )
%}
{% set cardItem2 = card(
            { title: 'Lorem ipsum dolor quam placeat numquam repellendus', description: 'Tenetur quam  dolorum ut.', status: '' },
            modifier={ block: [] },
            aria={ role: 'button' }
    )
%}
{% set btn = button(
        {
            label: 'View'
        },
        modifier={ block: "small" }
    )
 %}
{% set actionCardItem = card(
            { title: 'Lorem ipsum dolor quam placeat numquam repellendus', description: 'Tenetur quam  dolorum ut.', status: 'VOLUPTATE QUIS ADIPISCI SIT',
            actions: btn },
            modifier={ block: [] },
            aria={  }
    )
%}
{% set productCardItem =
    card(
            {
                'title': 'Asperiores doloribus id dolore',
                'description': 'Consectetur adipisicing elit',
                'status': '<span class="fd-has-color-status-1">Cumque itaque</span>',
                'media': {
                    'alt': 'YaaS product thumbnail',
                    'image': 'https://techne.yaas.io/images/product-thumbnail-wide.png'
                }
            },
            modifier={ block: ['vertical'] },
            aria={ role: 'button' })
     %}
    <h1>card-group</h1>

<h2>3-col (default)</h2>
    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  card_group(
            properties={
                items: [
                cardItem, cardItem, cardItem, cardItem, cardItem, cardItem
                ]
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}
    {% endset %}
    {{ format(example) }}

<br><br>

<h1>2 cols</h1>

{% set example %}
{{  card_group(
        properties={
            items: [
            actionCardItem, actionCardItem, actionCardItem, actionCardItem
            ]
        },
        modifier={
            block: ["2col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h1>4 cols</h1>
{% set example %}
{{  card_group(
        properties={
            items: [
            cardItemMin, cardItemMin, cardItemMin, cardItemMin, cardItemMin, cardItemMin, cardItemMin, cardItemMin
            ]
        },
        modifier={
            block: ["4col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

<br><br>

<h1>5 cols</h1>
{% set example %}
{{  card_group(
        properties={
            items: [
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty,
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty
            ]
        },
        modifier={
            block: ["5col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h1>6 cols</h1>
{% set example %}
{{  card_group(
        properties={
            items: [
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty,
            cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty, cardItemEmpty
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

{% endblock %}
