{# {% extends "layout.njk" %} #}
{% from "./../format.njk" import format %}

<!-- include add'tl css from src/styles/ -->
{% set css_deps = ['fonts', 'icons', 'components/button', 'components/link'] %}



{% block content %}

{{ data.id }}
component list 

{% endblock %}
