{% import "./../utils.njk" as utils %}
{% from "../button/component.njk" import button %}
<!--
calendar:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% set data = {
    "days": [
      "Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"
    ],
    "months": [
      {
        "name": "January",
        "days": 31
      },
      {
        "name": "February",
        "days": 28
      },
      {
        "name": "March",
        "days": 31
      },
      {
        "name": "April",
        "days": 30
      },
      {
        "name": "May",
        "days": 31
      },
      {
        "name": "June",
        "days": 30
      },
      {
        "name": "July",
        "days": 31
      },
      {
        "name": "August",
        "days": 31
      },
      {
        "name": "September",
        "days": 30
      },
      {
        "name": "October",
        "days": 31
      },
      {
        "name": "November",
        "days": 30
      },
      {
        "name": "December",
        "days": 31
      }
    ]
  }
%}
{% macro calendar(properties={}, modifier={}, state={}, aria={}) -%}
  {%- set month = data.months[properties.month] %}
  {%- set _grid_id = utils.id() %}
  {%- set _months_id = utils.id() %}
  {%- set _years_id = utils.id() %}
<div class="fd-calendar">{{properties.header.show}}
  {%- if not properties.header.hide %}
      {{ calendar_header({ months: _months_id, years: _years_id }, properties) }}
  {%- endif %}
  <div class="fd-calendar__content">
    {%- if properties.dates %}
    {{ calendar_dates(_grid_id, properties, aria={ hidden: properties.dates.show === false } ) | indent(2) }}
    {%- endif %}
    {%- if properties.months %}
      {{ calendar_months(_months_id, properties, aria={ hidden: not properties.months.show === true } ) }}
    {%- endif %}
    {%- if properties.years %}
      {{ calendar_years(_years_id, properties, aria={ hidden: not  properties.years.show === true  } ) }}
    {%- endif %}
  </div>
</div>
{%- endmacro %}

{% macro calendar_dates(id, properties={}, modifier={}, state={}, aria={}) -%}
  {%- set month = data.months[properties.month] %}
  {%- set monthTotalDays = month.days %}
  {%- set daysOffset = properties.dates.daysOffset %}
  {%- set totalCells = 7 * 5 %}
  {%- if monthTotalDays + daysOffset > totalCells %}
    {%- set totalCells = 7 * 6 %}
  {%- endif %}
  {%- set _predate = 31 %}
  {%- set _enddate = 0 %}
<div class="fd-calendar__dates" id="{{id}}"{{ aria | aria }}>
  <table class="fd-calendar__table"{{ { role: 'grid'} | aria }}>
    {{ calendar_header_group() }}
    <tbody class="fd-calendar__group">
      <tr class="fd-calendar__row">
      {%- for cell in range(0,totalCells) %}
      {%- if (loop.index0) % 7 == 0 and not loop.first%}
      </tr>
      <tr class="fd-calendar__row">
      {%-endif %}
  {%- set date = loop.index - daysOffset %}
  {%- set _is_other_month = date < 1 or date > monthTotalDays %}
  {%- set _is_disabled = properties.dates.disablePast and date < properties.today and not _is_other_month %}
  {%- if _is_other_month %}
    {%- if date < 1 %}
      {%- set _is_disabled = properties.dates.disablePast %}
      {%- set date = _predate + date %}
    {%- else %}
      {%- set _enddate = _enddate + 1 %}
      {%- set date = _enddate %}
    {%- endif %}
  {%- endif %}
  {%- set _is_today = date === properties.today and _is_other_month == false %}
  {%- set _is_blocked = (date > properties.dates.block[0] and date < properties.dates.block[1]) and not _is_other_month %}
  {%- set _is_selected = date === properties.dates.selected and not _is_other_month %}
  {%- if properties.dates.selectedRange and not _is_other_month %}
    {%- set _is_selected = date === properties.dates.selectedRange[0] or date === properties.dates.selectedRange[1] %}
    {%- set _is_selected_range = date > properties.dates.selectedRange[0] and date < properties.dates.selectedRange[1] %}
    {%- set _is_selected_range_first = date == properties.dates.selectedRange[0] %}
    {%- set _is_selected_range_last = date == properties.dates.selectedRange[1] %}
  {%- endif %}
        {{ calendar_item(date,modifier={ 'item': ['other-month' if _is_other_month else '', 'current' if _is_today else '' ] },state={ blocked: _is_blocked, selected: _is_selected, 'selected-range': _is_selected_range, 'selected-range-first': _is_selected_range_first, 'selected-range-last': _is_selected_range_last, disabled: _is_disabled }) }}
      {%- endfor %}
      </tr>
    </tbody>
  </table>
</div>
{%- endmacro %}

{% macro calendar_months(id, properties={}, modifier={}, state={}, aria={}) -%}
  {%- set month = data.months[properties.month] %}
  <div class="fd-calendar__months{{ state | state}}" id="{{id}}"{{ aria | aria }}>
    <ul class="fd-calendar__list">
    {%- for month in data.months %}
{%- set _is_current = properties.month === loop.index0 %}
{%- set _is_selected = properties.months.selected === loop.index0 %}
    {{ calendar_item(month.name | truncate(3, true, "."),modifier={ 'item': ['current' if _is_current else '' ] },state={ blocked: _is_blocked, selected: _is_selected }, el="li") }}
    {%- endfor %}
  </ul>
  </div>
{%- endmacro %}
{% macro calendar_years(id, properties={}, modifier={}, state={}, aria={}) -%}
  <div class="fd-calendar__years{{ state | state}}"{{ aria | aria }} id="{{id}}">
    <ul class="fd-calendar__list">
      {%- for i in range(0,12) %}
      {%- set year = properties.year + loop.index0 %}
      {%- set _is_current = properties.year === year %}
{%- set _is_selected = properties.years.selected === loop.index0 %}
          {{ calendar_item(properties.year + loop.index0,modifier={ 'item': ['current' if _is_current else '' ] },state={ blocked: _is_blocked, selected: _is_selected }, el="li") }}
      {%- endfor %}
    </ul>
  </div>
{%- endmacro %}

{% macro calendar_header(ids={},properties={}, modifier={}, state={}, aria={}) -%}
  {%- set month = data.months[properties.month] %}
  {%- set year = properties.year %}
  <header class="fd-calendar__header{{ state | state}}"{{ aria | aria }}>
    <div class="fd-calendar__navigation">
      <div class="fd-calendar__action">
        {{  button(
          {
            icon: 'slim-arrow-left' },
                modifier={ block: ['standard','light','compact'] },
                aria={ label: 'Previous', disabled: properties.dates.disablePast })
        }}
      </div>
      <div class="fd-calendar__action">
        {{  button(
            { label: month.name },
            modifier={ block: ['light','compact'] },
            aria={ selected: properties.months.show === true, expanded: properties.months.show === true,  controls: ids.months }

          )
        }}
      </div>
      <div class="fd-calendar__action">
        {{  button(
          {
            label: year },
            modifier={ block: ['light','compact']
          },
          aria={ selected: properties.years.show === true, expanded: properties.years.show === true, controls: ids.years }
          )
        }}
      </div>
      <div class="fd-calendar__action">
        {{ button(
          {
            icon: 'slim-arrow-right' },
                modifier={ block: ['standard','light','compact'] },
                aria={ label: 'Next' })
        }}
      </div>
    </div>
  </header>
{%- endmacro %}

{% macro calendar_header_group(date, properties={}, modifier={}, state={}, aria={}) -%}
    <thead class="fd-calendar__group">
      <tr class="fd-calendar__row">
      {%- for day in data.days %}
         <th class="fd-calendar__column-header"><span class="fd-calendar__day-of-week">{{day| truncate(1, true, "")}}</span></th>
      {%- endfor %}
      </tr>
    </thead>
{%- endmacro %}

{% macro calendar_item(text, properties={}, modifier={}, state={}, aria={}, el="td") -%}
      <{{el}} class="fd-calendar__item{{ modifier.item | modifier('calendar__item')}}{{ state | state}}"{{ { role: 'gridcell' } | aria if el == 'td'  }}>
      <span class="fd-calendar__text">{{ text }}</span></{{el}}>
{%- endmacro %}
