{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import calendar %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['icons','components/button'] %}

{% block content %}
<style>
main {background-color: white;}

</style>
    <h1>calendar</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  calendar(
            properties=data.properties,
            modifier={
                block: data.modifier.block
            },
            state=data.state,
            aria=data.aria
        )
    }}

        {% endset %}
        {{ format(example) }}


        <br><br>

  <h2>dates</h2>
  {% set example %}
  {{  calendar({
    "month": 8,
    "year": 2018,
    "today": 6,
    "dates": {
      "daysOffset": 3,
      "block": [25,29],
      "selected": 15,
      "disablePast": true
    }
    })
  }}
  {% endset %}
  {{ format(example) }}


<br><br>

<h2>months</h2>
{% set example %}
{{  calendar({
    "month": 0,
    "year": 2018,
    "today": 3,
    "months": {
      "selected": 2,
      "show": true
    }
  })
}}
{% endset %}
{{ format(example) }}

<br><br>
<h2>years</h2>
{% set example %}
{{  calendar({
    "month": 0,
    "year": 2018,
    "today": 3,
    "years": {
      "selected": 3,
      "show": true
    }
  })
}}
{% endset %}
{{ format(example) }}


{% endblock %}
