@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

@font-face {
    font-family: "<%= fontName %>";
    src: url("<%= fontName %>.woff2") format("woff2"),
        url("<%= fontName %>.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

//icon map
$fd-icons: (
<% _.each(glyphs, function(glyph) { %>
    <%= glyph.name %>: "\<%= glyph.codepoint.toString(16) %>",
<% }); %>
) !default;

$block: ns(<%= className %>);


//TODO: finish mixin
// @mixin <%= className %>($key, $size) {
//     @if map-has-key($fd-icons, $size) {
//         &::before {
//             content: map-get($fd-icons, $key);
//             @content;
//         }
//     } @else {
//         @warn "Unknown `#{$key}` in $fd-icons map";
//     }
// }

// [class*="#{$block}"] {
//
// }

.#{$block} {
    $tn-icon-size: 1.125rem !default;         //18px
    $tn-icon-size--medium: 1.625rem !default; //26px
    $tn-icon-size--large: 2rem !default;      //32px
    font-size: $tn-icon-size;
    font-family: "<%= fontName %>";
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &--medium {
        font-size: $tn-icon-size--medium;
    }
    &--large {
        font-size: $tn-icon-size--large;
    }
    &::before {
        display: inline;
        text-align: center;
    }

    @each $key, $value in $fd-icons {
        &--#{$key} {
            &::before {
                content: $value;
            }
        }
    }
}
