{% extends "layout.njk" %}
{% import "../forms.njk" as forms %}
{% from "./../format.njk" import format %}

{% block content %}


    {% set basic_input %}
{{ forms.text(
    type="text",
    properties={
        placeholder: "Placeholder Text"
    })
}}
{{ forms.text(
    type="text",
    properties={
        placeholder: "Placeholder Text"
    },
    size="compact"
    )
}}
    {% endset %}

    {{ format(basic_input) }}

{% endblock %}
