{% extends "layout.njk" %}
{% from "./component.njk" import shell_header_title_menu %}
{% from "./../format.njk" import format %}

{% set css_deps = ['fonts','helpers', 'components/popover', 'components/button', 'components/menu', 'icons'] %}

{% block content %}
<div style="background-color: #f3f4f5; margin:-20px; padding:50px;">
    <h1>Shell Header Title Menu</h1>

    {% set shell_header_title_menu %}
        {{ shell_header_title_menu(properties={ "title": data.properties.title, "items": data.properties.items }) }}
    {% endset %}

    {{ format(shell_header_title_menu) }}
</div>
{% endblock %}
