{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import token %}

{% block content %}

    <h1>token</h1>
    <p>Example shows the link for "Clear All" even though it is not part of the component.</p>

    <!-- output the component example and the code snippet -->
    {% set example %}
{{  token(
        properties={
            label: "Bibendum"
        }
    )
}}
{{  token(
        properties={
            label: "Lorem"
        }
    )
}}
{{  token(
        properties={
            label: "Dolor"
        }
    )
}}
{{  token(
        properties=data.properties
    )
}}
<button type="button" name="button" class="fd-button--light fd-button--xs">Clear All</button>
    {% endset %}
    {{ format(example) }}


{% endblock %}
