{% assign min = 50 %}
{% assign max = 100000 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
<div class="fd-tile docs-component docs-component__{{include.class}}">
    <label class="fd-form__label docs-component__bg-toggle" for="{{ randomNumber }}" title="Change Background">
        <span class="fd-toggle fd-toggle--xs fd-form__control">
            <input type="checkbox" name="" value="" id="{{ randomNumber }}" class="toggle-bg">
            <span class="fd-toggle__switch" role="presentation"></span>
        </span>

    </label>
    <div class="fd-tile__content">
		{{ include.component }}
	</div>
</div>
{% highlight html %}
{{ include.component}}
{% endhighlight %}
