
{% assign display = include.display %}
{% case display %}
  {% when "mobile" %}
     {% assign width = "414" %}
     {% assign height = "736" %}
  {% when "tablet" %}
     {% assign width = "720" %}
     {% assign height = "1024" %}
  {% else %}
    {% if include.width %}
        {% assign width = include.width %}
    {% else %}
        {% assign width = "100%" %}
    {% endif %}
    {% if include.height %}
        {% assign height = include.height %}
    {% else %}
        {% assign height = "600" %}
    {% endif %}
{% endcase %}

<div class="fd-tile docs-component docs-component__{{include.cssclass}}">
    {% if include.controls == "true" %}
    <div class="fd-button-group docs-component--responsive-display__controls" role="group" aria-label="Group label" id="docs-responsive-controls">
      <button class="fd-button--compact sap-icon--iphone" aria-pressed="false" data-size="mobile"></button>
      <button class="fd-button--compact sap-icon--ipad"  aria-pressed="false" data-size="tablet"></button>
      <a class="fd-button--compact docs-component--responsive-display__full-screen"  aria-pressed="false" data-size="fullscreen" href="{{site.baseurl}}{{include.component}}" target="_blank"><span class="sap-icon--popup-window"></span></a>
    </div>
    {% endif %}
    <div class="fd-tile__content fd-tile__content--responsive-display">
        <iframe
        src="{{site.baseurl}}{{include.component}}"
        width="{{width}}"
        height="{{height}}"
        frameborder="0"
        class="docs-component--responsive-display__frame">
        </iframe>
	</div>
</div>
