{% import "./../utils.njk" as utils %}
{% from "../icon/component.njk" import icon %}
<!--
menu:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{%- macro menu(properties={}, modifier=[], classes=[], aria=[]) -%}
{{modifier.addon | dump(2)}}
<nav class="fd-menu{{ modifier | modifier('menu') }}{{ classes | classes }}"{{ aria | aria }}{% if properties.id %} id="{{ properties.id }}"{% endif %}>
{%- for item in properties.items %}
  {%- if item.items %}
    {%- if not loop.first %}
    </ul>
      {%- endif %}
      {{ optgroup(item)| indent(2) }}
    {%- else %}
      {%- if loop.first %}
    <ul class="fd-menu__list">
      {%- endif %}
      {{ option(item, properties) }}
      {%- if loop.last %}
    </ul>
      {%- endif %}
    {%- endif %}
{%- endfor %}
</nav>
{%- endmacro %}

{%- macro option(item={}, properties={}) -%}
    {%- if item.seperator -%}
    <hr>
    {%- else  -%}
    <li>
        {%- if properties.addon_before -%}
        <div class="fd-menu__addon-before">
            {%- if item.icon -%}
            <span class="sap-icon--{{item.icon}}"></span>
            {%- endif -%}
        </div>
        {%- endif -%}
        <a href="#" class="fd-menu__item">{{ item.label }}</a>
    </li>
    {%- endif -%}
{%- endmacro %}

{% macro optgroup(properties={}) -%}
    <div class="fd-menu__group">
      <h1 class="fd-menu__title">{{ properties.label }}</h1>
      <ul class="fd-menu__list">
          {%- for item in properties.items %}
            {{ option(item) }}
          {%- endfor %}
      </ul>
    </div>
{%- endmacro %}
