{% import "./../utils.njk" as utils %}
{% from "../icon/component.njk" import icon %}
<!--
menu:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{%- macro menu(properties={}, modifier=[], classes=[], aria=[]) -%}
{{modifier.addon | dump(2)}}
<nav class="fd-menu{{ modifier | modifier('menu') }}{{ classes | classes }}"{{ aria | aria }}{% if properties.id %} id="{{ properties.id }}"{% endif %}>
{%- for item in properties.items %}
  {%- if item.items %}
    {%- if not loop.first %}
    </ul>
      {%- endif %}
      {{ optgroup(item, properties.separator)| indent(2) }}
    {%- else %}
      {%- if loop.first %}
    <ul class="fd-menu__list{{ 'separated' | modifier('menu__list') if properties.separator }}">
      {%- endif %}
      {{ option(item, properties) }}
      {%- if loop.last %}
    </ul>
      {%- endif %}
    {%- endif %}
{%- endfor %}
</nav>
{%- endmacro %}

{%- macro option(item={}, properties={}) -%}
    <li>
        {%- if properties.addon_before -%}
        <div class="fd-menu__addon-before">
            {%- if item.icon -%}
            <span class="sap-icon--{{item.icon}}"></span>
            {%- endif -%}
        </div>
        {%- endif -%}
        <a role="button" class="fd-menu__item">{{ item.label }}</a>
    </li>
{%- endmacro %}

{% macro optgroup(properties={}, separated=false) -%}
    <div class="fd-menu__group">
    {%- if properties.label %}
      {% set title_size = properties.header_size if properties.header_size else "h3" %}
      <{{title_size}} class="fd-menu__title">{{ properties.label }}</{{title_size}}>
    {%- endif %}
      <ul class="fd-menu__list{{ 'separated' | modifier('menu__list') if separated }}">
          {%- for item in properties.items %}
            {{ option(item) }}
          {%- endfor %}
      </ul>
    </div>
{%- endmacro %}
