<section class="fl-intro">
    <div class="fl-title fl-title--big">Fundamental</div>
    <div class="fl-intro__container"> 
      <h1 class="sr-only">Fundamental Library Website</h1>
      <div class="fl-title fl-title--big">Library</div>
      <p class="fl-intro__text">
        Fundamental Library is a robust open-source toolkit allowing seamless alignment of application interfaces with the signature SAP Design theming and versatility.
      </p>
    </div>
    <div class="fl-intro__btn-container">
      <a href="#fl-libraries" class="fl-button" title="browse libraries" hreflang="en" rel="noopener noreferrer">browse libraries</a>
      <a href="#fl-used" class="fl-button fl-button--secondary"  title="discover testimonials" hreflang="en" rel="noopener noreferrer">discover testimonials</a>
    </div>
  </section>