<div class="fl-intro">
    <div class="fl-title fl-title--big">Fundamental</div>
    <div class="fl-intro__container">
      <div class="fl-title fl-title--big">Library</div>
      <p class="fl-intro__text">
        Fundamental Library is a robust open-source toolkit allowing seamless alignment of application interfaces with the signature SAP Design theming and versatility.
      </p>
    </div>
    <div class="fl-intro__btn-container">
      <a href="#" class="fl-button">browse libraries</a>
      <a href="#" class="fl-button fl-button--secondary">
          discover components
        </a>
    </div>
  </div>