
.docs-component{

    $docs-example-bg-color: fd-color(text, 4);

    margin-bottom: -28px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 8px;
    border:1px solid #ccc;

    .fd-tile__content {
        padding: 20px;
        overflow: visible;
    }

    p {
        @extend .fd-has-padding-xs;
    }

    pre {
        background-color: #fff;
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        a:hover {
            text-decoration: none;
            color: inherit;
        }
    }

    .fd-identifier--s {
        display: inline-block;
        background: transperant ;
    }

    .fd-mega-menu__header-link,
    .fd-mega-menu__link,
    .fd-mega-menu__sublink,
    .fd-dropdown__item,
    .fd-breadcrumb__link,
    .fd-side-nav__link {
        color: inherit;
        &:hover{
            text-decoration: none;
            color: inherit;
        }
    }

    .fd-mega-menu__list,
    .fd-mega-menu__sublist {
        margin-left: 0;
    }

    &__app {
        height: 500px;
        color: #fff;
        position: relative;

        .fd-ui__app,
        .fd-ui,
        .fd-app {
            width: 100%;
            min-height: 410px;
            position: relative;
            margin-top: 0;
        }

        .fd-ui__header,
        .fd-app__sidebar,
        .fd-ui__footer,
        .fd-app__main {
            padding: 10px;
            text-align: center;
            color: #000;
        }

        .fd-ui__header, .fd-ui__footer {
            background-color: fd-color(neutral, 3);
        }

        .fd-app__sidebar {
            width:250px;
            background-color: fd-color(background, 2);
            padding-top:100px;

        }

        .fd-app__main {
            background-color: fd-color(neutral, 1);
            padding-top: 50px;
        }

        .fd-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .fd-overlay--alert{
            .fd-alert{
                margin-top: -410px;
            }
        }
    }

    &__app-example {
        color: #fff;
        position: relative;

        .fd-ui__app, .fd-ui, .fd-app {
            width: 100%;
            min-height: 410px;
            position: relative;
            margin-top: 0;
        }

        .fd-ui__header,
        .fd-app__sidebar,
        .fd-ui__footer,
        .fd-app__main {
        }

        .fd-app__sidebar {
            width:250px;
            padding-top:50px;
        }

        .fd-app__main {
            background-color: fd-color(neutral, 1);
            padding-top: 50px;
        }

        .fd-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        .fd-side-nav__list,
        .fd-side-nav__sublist,
        .fd-breadcrumb {
            margin-left: 0;
        }

        .fd-action-bar__description {
            padding: 0;
        }
    }

    &__page {
        .fd-page,
        .fd-page__header,
        .fd-page__intro,
        .fd-page__content {
            padding: 10px;
        }

    }

    &__section {
        .fd-section,
        .fd-section__header,
        .fd-section__title,
        .fd-section__actions,
        .fd-section__footer,
        .fd-container {
            padding:10px;
        }

        .fd-section {
            background-color: $docs-example-bg-color;
        }

        .fd-section__header {
            background-color: fd-color(background, 1);
        }

        .fd-section__title {
            background-color: fd-color(text, 4);
        }

        .fd-section__actions {
            background-color: fd-color(text, 4);
            padding:14px 10px;
        }

        .fd-section__footer {
            background-color: fd-color(background, 1);
        }

        .fd-container {
            background-color: fd-color(background, 1);
        }
    }

    &__panel {
        .fd-panel,
        .fd-panel__header,
        .fd-panel__title,
        .fd-panel__actions,
        .fd-panel__footer,
        .fd-container {
            padding:10px;
        }

        .fd-panel {
            background-color: $docs-example-bg-color;
        }

        .fd-panel__header {
            background-color: fd-color(background, 1);
        }

        .fd-panel__title {
            background-color: fd-color(text, 4);
        }

        .fd-panel__actions {
            background-color: fd-color(text, 4);
            padding:14px 10px;
        }

        .fd-panel__footer {
            background-color: fd-color(background, 1);
        }

        .fd-container {
            background-color: fd-color(background, 1);
        }
    }

    &__container {
        .fd-container {
            background-color: $docs-example-bg-color;
            padding: 20px;
            max-width: 800px;
        }

        .fd-container--fluid {
            max-width: 100%;
        }

        [class^="fd-col"] {
            background-color: fd-color(background, 1);
            height: 70px;
            border: 1px solid fd-color(neutral, 3);
            text-align: center;
            padding: 10px 5px;
        }
    }

    &__global-nav {
        .fd-dropdown__list {
            margin-left: 0;
        }
    }

    .fd-breadcrumb__link {
        color: #0a6ed1;
        &:hover{
            color: #0a6ed1;
            text-decoration: none;
        }
    }

    .fd-side-nav {
        max-width: 250px;
    }

    .fd-side-nav__link {
        color: inherit;
    }

    .fd-side-nav--icons {
        max-width: 65px;
    }

    .fd-dropdown {
        margin-right: 20px;
    }

    [class*="fd-identifier"] {
        margin-right: 20px;
    }

    .fd-product-tile {
        min-width: 30%;
        float: left;
        margin-right: 20px;
    }

    .fd-tile-grid {
        .fd-product-tile {
            margin-right: 0;
        }
    }

    a[aria-disabled="true"]:hover,
    a[aria-disabled="true"]:visited,
    a[aria-disabled="true"]:active,
    a[aria-disabled="true"]:focus,
    a.is-disabled {
        color: rgba(10, 110, 209, 0.4);
        cursor: not-allowed;
        text-decoration: none;
    }

    .fd-link:hover,
    .fd-link:active,
    .fd-link:focus {
        text-decoration: none;
    }

    .fd-panel__description, .fd-action-bar__description {
        padding: 0;
    }

}
