.fd-tile__content--responsive-display {
    padding: 60px 10px 30px 10px!important;
    text-align: center;
}
.docs-component--responsive-display {
    &__frame{
        border: 1px solid #ccc;
        margin: 0 auto;
        transition: width .2s, height .2s;
    }
    &__controls {
        position:absolute; right:10px; top: 10px;
    }
}
