
.docs-component{
    margin-bottom: -28px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 8px;
    border:1px solid #ccc;

    .fd-tile__content{
        padding: 20px;

        overflow: visible;
    }

    pre{
        background-color: #fff;
    }

    ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        a:hover{
            text-decoration: none;
            color: inherit;
        }
    }

    .fd-breadcrumb__link{
        color: #0a6ed1;
        &:hover{
            color: #0a6ed1;
            text-decoration: none;
        }
    }

    .fd-side-nav{
        max-width: 250px;
    }

    .fd-side-nav__link{
        color: inherit;
    }

    .fd-side-nav--icons{
        max-width: 65px;
    }

    .fd-dropdown{
        margin-right: 20px;
    }

    [class*="fd-identifier"]{
        margin-right: 20px;
    }

    .fd-product-tile{
        min-width: 30%;
        float: left;
        margin-right: 20px;
    }

    .fd-tile-grid{
        .fd-product-tile{
            margin-right: 0;
        }
    }

    a[aria-disabled="true"]:hover,
    a[aria-disabled="true"]:visited,
    a[aria-disabled="true"]:active,
    a[aria-disabled="true"]:focus,
    a.is-disabled {
    color: rgba(10, 110, 209, 0.4);
    cursor: not-allowed;
    text-decoration: none;
}
}
