
$gird-border-color: #cfdbe7;
$grid-item-bg-color: #fff;
$grid-lable-color: tn-color(text, 1);
.docs-component-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    background: $gird-border-color;
    border:1px solid $gird-border-color;
    border-left: none;
    border-right: none;
    margin: 0 -40px;

    &--item{
        background:$grid-item-bg-color;
        padding: 40px 10px;
        display: block;
        text-align: center;
        position: relative;
        height: 280px;

        &:hover{
            border-color: #009cdf;
            background-color: $grid-item-bg-color;
            box-shadow: 0 0 5px 0 rgba(138, 143, 161, 0.4);
            text-decoration: none;
        }
    }

    &--lable{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
        text-align: center;
        color: #21262c;
        margin-top: 30px;
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &--img{

        &__action-bar{
            width: 250px;
            margin-top:45px;
        }

        &__alert{
            width: 230px;
            margin-top:45px;
        }

        &__button{
            width: 150px;
            margin-top:60px;
        }

        &__card{
            width: 200px;
            margin-top:40px;
        }

        &__card-group{
            width: 300px;
            margin-top:20px;
        }

        &__dropdown{
            width: 250px;
            margin-top:10px;
        }

        &__icons{
            width: 150px;
            margin-top:50px;
        }

        &__image{
            width: 150px;
            margin-top:50px;
        }

        &__input-field{
            width: 200px;
            margin-top:30px;
        }

        &__input-group{
            width: 200px;
            margin-top:30px;
        }

        &__list{
            width: 200px;
            margin-top:20px;
        }

        &__loading-spinner{
            width: 50px;
            margin-top:50px;
        }

        &__modal{
            width: 200px;
            margin-top:0px;
        }

        &__pagination{
            width: 250px;
            margin-top:60px;
        }

        &__panel{
            width: 280px;
            margin-top:0px;
        }

        &__status{
            width: 180px;
            margin-top:50px;
        }

        &__table{
            width: 280px;
            margin-top:0px;
        }

        &__tabs{
            width: 250px;
            margin-top:50px;
        }

        &__toggle{
            width: 100px;
            margin-top:60px;
        }

        &__toolbar{
            width: 280px;
            margin-top:60px;
        }

        &__tree{
            width: 280px;
            margin-top:0px;
        }
    }
}
