.docs-top-nav {
    background-color: #000;
    height: 87px;
    &__logo{
        padding-top: 25px;
        padding-left: 35px;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        color: #fff!important;

        &:hover{
            text-decoration: none;
            color: #fff !important;
        }
        &__accent{
            font-weight: 100;
        }

    }


    &__support{
        @include fd-type("-1");
        color: #fff !important;
        padding: 20px 20px 0 0;
        display: inline-block;

        .fd-dropdown__menu {
            margin-left: -70px;
        }
    }
}
