body{
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

a, a:visited{
    color: docs-color(action, 3);
    &:hover{
        color: docs-color(action, 3);
    }
}

ul,ol{
    margin-left: 40px;
}

hr{
    margin: 36px 0;
    float: none;
    clear: both;
}


.highlight{
    max-width: 1600px;
}

.docs-tiles{
    $docs-tiles-color: docs-color(action, 3);
    margin: 0 -20px;
    .fd-tile[role="button"]{
        border: 1px solid docs-color(neturals, 1);
        margin:20px;
        text-decoration: none;
        &:hover{
            border-color: $docs-tiles-color;
        }
        &:active, :focus{
            border-color: $docs-tiles-color;
            text-decoration: none;
        }
    }

    .fd-tile__header{
        color: $docs-tiles-color !important;
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .fd-tile__description{
        color: docs-color(text, 1);
    }
    a:hover{
        color: inherit;
        text-decoration: none;
    }
}

hr{
    margin: 36px 0;
}

.docs-container{
    margin-left: 0;
    width: 100%;
    display: flex;
    min-height: 100vh;
}

.docs-landing-page{
    width: 100%;
    min-width: 1024px;
}

.docs-table{
    @extend .fd-table;
    border: 1px solid fd-color(neutral, 3);
    width: 100%;

    td{
        vertical-align: top;
    }
}
