$side-nav-bg: docs-color(background, 2);
$side-nav-border-color: docs-color(neturals, 3);
$side-nav-links-color: docs-color(text, 1);
$side-nav-link-active-border: docs-color(action, 1);
.side-nav{
    background-color: $side-nav-bg;
    padding: 20px;
    float: none;
    vertical-align: top;
    width: 300px;
    min-width: 300px;

    &__headers{
        font-size: 15px;
        font-weight: bold;
        list-style: none;
        &-link{
            color: $side-nav-links-color;
            padding: 20px 20px 5px 20px;
            display: block;
            &:hover{
                color: $side-nav-links-color;
            }
        }
        ol,ul{
            margin-left: 0;
        }
    }

    &__links-container{
        border-top: 2px solid $side-nav-border-color;
        margin: 0 -20px;
    }
    &__links{
        list-style: none;
        font-weight: normal;
        &-link{
            color: $side-nav-links-color;
            display: block;
            padding: 8px 30px;
            font-size: 15px;
            &:hover{
                color: $side-nav-links-color;
                text-decoration: none;
                background-color: #e4eaf1;
            }
        }
        &.active{
            a{
                padding-left: 24px;
                border-left: 6px solid $side-nav-link-active-border;
                background-color: #cfdbe7;
            }
        }
    }


    .search-box{
        margin-bottom: 30px;
    }
}
