.docs-top-nav {
    background-color: #000;
    height: 87px;
    &__logo{
        padding-top: 25px;
        padding-left: 35px;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        color: fd-color(text, 5) !important;

        &:hover{
            text-decoration: none;
            color: fd-color(text, 5) !important;
        }
        &__accent{
            font-weight: 100;
        }

    }


    &__support{
        @include fd-type("1");
        color: fd-color(text, 5) !important;
        padding: 18px 20px 0 0;
        display: inline-block;

        .fd-dropdown__menu {
            margin-left: -70px;
        }
    }
}
