.docs-header{

    &-h1{
        font-family: Lato;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.06;
        text-align: left;
    }

    &-h2{
    	font-family: Lato;
    	font-size: 28px;
    	font-weight: 900;
    	line-height: 1.14;
        margin-top: 40px;
    }

    &-h3{
        font-family: Lato;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 40px;
    }
}
