
.docs-component{
    margin-bottom: -28px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 8px;
    border-color: #ccc;

    .fd-card__content{
        overflow: visible;
    }

    .fd-button, [class*="fd-button--"]{
        margin-right: 10px;
    }

}
