.main-content{
    vertical-align: top;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.post-content{
    padding: 40px 40px 80px 40px;
    min-width: 1024px;
    max-width: 1600px;
    width: 80%;
}
