body{
    font-family: 'Lato', sans-serif;
}

a{
    color: docs-color(action, 3);
    &:hover{
        color: docs-color(action, 3);
    }
}

ul,ol{
    margin-left: 40px;
}

hr{
    margin: 36px 0;
    float: none;
    clear: both;
}


.highlight{
    max-width: 1600px;
}

.docs-cards{
    .fd-card[role="button"]:hover{
        border-color: $accent-color;
    }
    .fd-card__header{
        color: $accent-color !important;
    }
    a:hover{
        color: inherit;
        text-decoration: none;
    }
}

hr{
    margin: 36px 0;
}

.docs-container{
    margin-left: 0;
    width: 100%;
    display: flex;
}

.docs-landing-page{
    width: 100%;
    min-width: 1024px;
}

.docs-table{
    @extend .fd-table;
    border:1px solid fd-color(neutral, 3);
    width:auto;
}
