.docs-type{

    &_drop-cap{
        float: left;
        font-size:150px;
        padding: 10px 20px 10px 0;
        margin-left: -10px;
        line-height: 80px;
        font-weight: bold;
    }

    &_roboto{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
        &--1{
            font-family: 'Roboto', sans-serif;
            font-size: 45px;
            font-weight: bold;
            line-height: 52px;
        }

        &--2{
            font-family: 'Roboto', sans-serif;
            font-size:35px;
            font-weight: bold;
            line-height: 44px;
        }

        &--3{
            font-family: 'Roboto', sans-serif;
            font-size:25px;
            font-weight: bold;
            line-height: 32px;
        }

    }

    &_open-sans{
        font-family: 'Open-Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        &--1{
            font-family: 'Open-Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
        }

        &--2{
            font-family: 'Open-Sans', sans-serif;
            font-size:18px;
            font-weight: 600;
            line-height: 24px;
        }

        &--3{
            font-family: 'Open-Sans', sans-serif;
            font-size:16px;
            font-weight: 600;
            line-height: 24px;
        }

        &--4{
            font-family: 'Open-Sans', sans-serif;
            font-size:14px;
            line-height: 20px;
        }

        &--5{
            font-family: 'Open-Sans', sans-serif;
            font-size:13px;
            line-height: 20px;
        }

        &--6{
            font-family: 'Open-Sans', sans-serif;
            font-size:12px;
            font-weight: bold;
            line-height: 16px;
        }

    }
}
