// web font
@import url('https://fonts.googleapis.com/css?family=Lato');

// site colors
$docs-colors: (
    action: (
        1: #2fd0c8,
        2: #9ba7b3,
    ),
    text: (
        1: #424e5a
    ),
    neturals: (
        1: #cfdbe7,
        2: #e4eaf1,
        3: #dbe7f3

    ),
    background: (
        1: #ffffff,
        2: #f1f3f6,
        3: #313c46
    )
) !default;
