
.docs-example{

    &__card{
        margin-bottom: -28px;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 8px;
        border-color: #ccc;

        span{
            display: block;
            border: 1px solid fd-color(neutral, 3);
            background: fd-color(neutral, 1);
        }
    }



}
