
.docs-colors{
    $colors-example-1-bg: tn-color(background, 1);
    $colors-example-1-text: tn-color(text, 1);
    $colors-example-2-bg: tn-color(action, 2);
    $colors-example-2-text: tn-color(text-inverse, 1);
    $colors-example-3-bg: tn-color(action, 1);
    $colors-example-3-text: tn-color(text-inverse, 1);
    $colors-example-4-bg: tn-color(background, 3);
    $colors-example-4-text: tn-color(text-inverse, 1);

    &_container{
        width: 12%;
        float: left;
        margin-right: 20px
    }

    &_plaque{
        list-style: none;
        margin-left: 0;
        &_color{
            padding: 5px;
            justify-content: center;
            margin-bottom: 20px;
            min-height: 115px;
            display: flex;
            flex-direction: column;
            align-items: center;
            vertical-align: middle;

            &-name { 
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }

    &_example{
        text-align: center;
        &--1{
            background-color: $colors-example-1-bg;
            color: $colors-example-1-text;
        }
        &--2{
            background-color: $colors-example-2-bg;
            color: $colors-example-2-text;
        }
        &--3{
            background-color: $colors-example-3-bg;
            color: $colors-example-3-text;
        }
        &--4{
            background-color: $colors-example-4-bg;
            color: $colors-example-4-text;
        }
    }
}
