.fd-tile__content--responsive-display{
    padding: 60px 10px 30px 10px!important;
    text-align: center;
}
.docs-components-responsive-frame{
    border: 1px solid #ccc;
    margin: 0 auto;
}
.docs-component--responsive-display__controls{
    position:absolute; right:10px; top: 10px;
}
