$side-nav-bg: #EEEEEE;
$side-nav-links-color: docs-color(text, 1);
.side-nav{
    background-color: $side-nav-bg;
    padding: 20px 40px;
    float: none;
    vertical-align: top;
    width: 290px;
    min-width: 290px;

    @include media("<=tablet") {
        width: auto;
        display: none;
    }

    &__headers{
        font-size: 28px;
        font-weight: bold;
        list-style: none;

        &:last-child hr{
            display: none;
        }

        >ul{
            display: none;
        }
        &.active>ul{
            display: block;
        }
        &-link{
            color: $side-nav-links-color !important;
            font-family: '72', sans-serif;
            padding: 20px 20px 5px 20px;
            display: block;
            &:hover{
                color: $side-nav-links-color;
            }
        }
        ol,ul{
            margin-left: 0;
        }
    }

    &__links-container{
        margin: 0 -20px;
    }
    &__links{
        list-style: none;
        font-weight: normal;
        &-link{
            color: $side-nav-links-color !important;
            display: block;
            padding: 12px 30px;
            font-weight: lighter;
            font-size: 18px;
            font-family: '72', sans-serif;
            &:hover{
                color: $side-nav-links-color;
                text-decoration: none;
                background-color: #fbfbfb;
            }
        }
        &.active{
            a{
                padding-left: 30px;
                color: red;
                font-weight: bold;
            }
        }
    }

    .search-box{
        margin-bottom: 20px;
    }

    &__seperator{
        margin: 15px 20px 0 20px;
        border-bottom: 1px solid #242424;
        opacity: .3;

    }
}
