
$search-border-color: docs-color(neturals, 1);
$search-input-bg: docs-color(background, 1);
$search-results-link-hover: docs-color(background, 2);

.search-box{
    position: relative;

    &__icon{
        position: absolute;
        top:12px;
        left: 12px;
        color:$search-border-color;
    }

    &__input{
        height: 40px !important;
        border-color: $search-border-color !important;
        background-color: $search-input-bg !important;
        padding-left: 35px !important;
    }

    &__results {
        list-style: none;
        font-size: 12px;
        background-color: white;
        position: absolute;
        top: 40px;
        z-index: 1;
        width:100%;
        margin-left: 0;
        border: 1px solid $search-border-color;
        &-links a{
            color: docs-color(text,1);
            display: block;
            padding: 10px;
            &:hover{
                background-color: $search-results-link-hover;
            }
        }
    }

}
