
.docs-breakpoints-table{
    $docs-breakpoint-table-border-color: docs-color(neturals, 1);

    border:  1px solid $docs-breakpoint-table-border-color;

    & th{
        background-color: $docs-breakpoint-table-border-color;
        font-size: 14px;
        text-transform: uppercase;
        color: docs-color(text, 1);
        font-weight: bold;
        position: relative;
    }

    & td{
        font-size: 14px;

    }

    &_col-legend{
        position: relative !important;
        &:before{
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            background: black;
            position: absolute;
            left: -20px;
            top: 14px;
        }
        &--column::before{
            background-color: #ff4aff;
        }
        &--gutter::before{
            background-color: #50e3c2;
        }
        &--margin::before{
            background-color: #f5a623;
        }
    }
}
