{% import "./../utils.njk" as utils %}
{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../identifier/component.njk" import identifier %}
{% from "./../notification-counter/component.njk" import notification_counter %}

<!--
user_menu:
    properties={
        "id": "",
        "initials": "",
        "name": "",
        "items": [],
        "notifications": 0
    },
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro user_menu(
    properties={},
    state={},
    aria={})
-%}
{%- set _id = utils.id() %}
<div class="fd-user-menu">
    {{  popover(properties={
            id: _id,
            control: user_menu_control(properties={"id": _id, "initials": properties.initials, "notifications": properties.notifications}),
            body: menu(properties={
                items: properties.items
            })
        }, modifier={ block: ['right'] })
    }}
</div>
{%- endmacro %}

{%- macro user_menu_control(properties={}, modifier={}, state={}) -%}
<div class="fd-user-menu--control" aria-controls="{{properties.id}}" aria-expanded="false" aria-haspopup="true" role="button">
    {{ identifier(properties={ "initials": properties.initials }, modifier={block: ["xs", "circle"]}) }}
    {%- if properties.notifications > 0 %}
        {{ notification_counter(properties={ "count": properties.notifications },modifier={block: ["topright"]}) }}
    {%- endif %}
</div>
{%- endmacro -%}
