{% extends "layout.njk" %}
{% from "./component.njk" import user_menu, user_menu_control %}
{% from "./../format.njk" import format %}

{% block content %}
<style media="screen">

</style>
<div style="background-color: #f3f4f5; margin:-20px; padding:50px 100px;">

<h2>types</h2>

  {% set controls %}
    {{ user_menu_control(thumbnail="") }}
    {{ user_menu_control() }}
    {{ user_menu_control(notifications=5) }}
    {{ user_menu_control(notifications=5000) }}

  {% endset %}
{{ format(controls) }}


  <h1>User Menu (w/ initials)</h1>
  {% set basic_user_menu %}
      {{ user_menu(thumbnail="") }}
  {% endset %}
{{ format(basic_user_menu) }}

    <h1>User Menu (w/ thumbnail)</h1>
    {% set basic_user_menu %}
        {{ user_menu(
          )
        }}
    {% endset %}
  {{ format(basic_user_menu) }}


  <br>
  <h1>User Menu (w/ counter)</h1>
  {% set basic_user_menu %}
      {{ user_menu(
          notifications=5
        )
      }}
  {% endset %}
  {{ format(basic_user_menu) }}


</div>
{% endblock %}
