{% import "./../utils.njk" as utils %}
{% from "./../product-menu/component.njk" import product_menu %}
{% from "./../user-menu/component.njk" import user_menu %}
{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../button/component.njk" import button %}
{% from "./../product-switcher/component.njk" import product_switcher %}
{% from "./../shellbar-collapse/component.njk" import shell_header_collapse %}
{% from "./../shellbar-title-menu/component.njk" import shell_header_title_menu %}
{% from "./../search-input/component.njk" import search_input %}

<!--
shell_header:
    properties={
        "brand": {
            "name": "",
            "logo": ""
        },
        "title": "",
        "title_items": [],
        "subtitle": "",
        "copilot": true,
        "actions": [],
        "search": {
          "value": "",
          "placeholder": "",
          "collapsed": true,
          "items": []
        }
    },
    modifier={ block: [] },
    state={},
    aria={}
-->

{% set search = search_input(properties={
    "id": utils.id(),
    "value": properties.search.value,
    "placeholder": properties.search.placeholder,
    "collapsed": properties.search.collapsed,
    "items": properties.search.items
  })
%}

{% set notification = button({ icon: 'bell' }, modifier={ block: ['shellheader'] }) %}

{% set actions = [
  {
    "label": "Notifications",
    "action": notification,
    "collapse": false
  },
  {
    "label": "Pool",
    "action": button({
      icon: 'pool' },
      modifier={ block: ['shellheader'] },
      aria={
        label: "Pool"
      }),
    "collapse": true
  }
]
%}

{% set brand = {
    name: "SAP",
    logo: null
} %}

{% set product = {
  title: "SuccessFactors",
  subtitle: "Subtitle",
  items: [
      { "label": "Application A" },
      { "label": "Application B" },
      { "label": "Application C" },
      { "label": "Application D" }
  ]
} %}

{% macro shell_header(brand=brand,product=product,copilot=true,actions=actions,user=true,switcher=true, properties={}, modifier={}, state={}, aria={}) -%}
{%- set _id = utils.id() %}
<div class="fd-shellbar">
    <div class="fd-shellbar__group fd-shellbar__group--start">
        <div class="fd-shellbar__logo">
          {% if brand.logo %}
            <img src="{{brand.logo}}" alt="{{brand.name}}">
          {% else %}
              <div class="fd-shellbar--brand" aria-label="{{brand.name}}"></div>
          {% endif %}
        </div>
        <div class="fd-shellbar__title">
          {% if product %}
            {{ product_menu(product) }}
          {% endif %}
        </div>
        {% if product.subtitle %}
          <div class="fd-shellbar__subtitle">
            {{ product.subtitle }}
          </div>
        {% endif %}
    </div>
    {% if copilot === true %}
    <div class="fd-shellbar__group fd-shellbar__group--middle">
      <img src="/static/copilot.png" alt="CoPilot" height="30" width="30" />
    </div>
    {% endif %}
    {% if actions or user or switcher %}
    <div class="fd-shellbar__group fd-shellbar__group--end">
      {{ shell_actions(actions=actions, user=user, switcher=switcher, properties=properties) }}
    </div>
    {% endif %}
  </div>
{%- endmacro %}

{% macro shell_actions(actions=actions, user=true, switcher=true, properties={}, modifier={}, state={}, aria={}) -%}
  {% set collapsed_items = actions | filter_array("collapse",true) %}
    <div class="fd-shellbar__actions">
      {%- if actions %}
        <div class="fd-shellbar__action fd-shellbar__action--hide">
          {{
            search_input(properties={
              "id": utils.id(),
              "value": "Sear",
              "placeholder": "Search products",
              "closed": true,
              "items": [
                {
                  "label": "<strong>Sear</strong>ch Result A",
                  "action": "#"
                },
                {
                  "label": "<strong>Sear</strong>ch Result B",
                  "action": "#"
                },
                {
                  "label": "<strong>Sear</strong>ch Result C",
                  "action": "#"
                },
                {
                  "label": "<strong>Sear</strong>ch Result D",
                  "action": "#"
                }
              ]
            })
          }}
          {{ properties | dump }}
        </div>
        {%- for item in actions %}
            <div class="fd-shellbar__action fd-shellbar__action--hide">
                {{item.action}}
            </div>
        {%- endfor %}
        <div class="fd-shellbar__action fd-shellbar__action--collapse">
          {{ shell_actions_collapse(actions=collapsed_items) }}
        </div>
        {%- endif %}
        {%- if user %}
            <div class="fd-shellbar__action fd-shellbar__action--show">
              {{ user_menu() }}
            </div>
        {%- endif %}
        {%- if switcher %}
            <div class="fd-shellbar__action fd-shellbar__action--hide">
              {{ product_switcher() }}
            </div>
        {%- endif %}
    </div>
{%- endmacro %}

{% macro shell_actions_collapse(actions=[], user=true, switcher=true, properties={}, modifier={}, state={}, aria={}) -%}
  <div class="fd-shellbar-collapse">
      {{  popover(properties={
              id: _id,
              control: button({ icon: 'overflow' }, modifier={ block: ['shellheader fd-button--m'] }, aria={ "controls": _id, "haspopup": true, "expanded": false}),
              body: menu(properties={
                  "items": actions
              })
          }, modifier={ block: ['right'] })
      }}
</div>
{%- endmacro %}
