{% import "./../utils.njk" as utils %}
{% from "./../user-menu/component.njk" import user_menu %}
{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../product-menu/component.njk" import product_menu %}
{% from "./../button/component.njk" import button %}
{% from "./../product-switcher/component.njk" import product_switcher %}
{% from "./../search-input/component.njk" import search_input %}
{% from "./../counter/component.njk" import counter %}

<!--
shellbar:
    properties={
        "brand": {
            "name": "",
            "logo": ""
        },
        "product": {
          "title": "",
          "items": [],
          "subtitle": ""
        },
        "copilot": true,
        "actions": [],
        "search": {
          "value": "",
          "placeholder": "",
          "collapsed": true,
          "items": []
        }
    },
    modifier={ block: [] },
    state={},
    aria={}
-->

{% set search = search_input(properties={
    "id": utils.id(),
    "value": properties.search.value,
    "placeholder": properties.search.placeholder,
    "collapsed": properties.search.collapsed,
    "items": properties.search.items
  })
%}

{% set action_notification = button({ label: counter(count=25,modifier="notification"), icon: 'bell' }, modifier={ block: ['shell'] }, aria={ label: "Notifications" }) %}

{% set action_pool = button({ icon: 'pool' }, modifier={ block: ['shell'] }, aria={ label: "Pool" }) %}

{% set actions = [
  {
    "label": "Notifications",
    "action": action_notification,
    "collapse": false,
    "notifications": 25,
    "collapse": true
  },
  {
    "label": "Pool",
    "action": action_pool,
    "collapse": true
  }
]
%}

{% set collapse_unshift_extras = [
  {
    "label": "Search"
  }
]
%}

{% set collapse_push_extras = [
  {
    "label": "Product Switcher"
  }
]
%}

{% set brand = {
    name: "SAP",
    logo: {}
  }
%}

{% set product = {
  title: "Corporate Portal",
  subtitle: "Subtitle",
  brand: brand,
  items: [
      { "label": "Application A" },
      { "label": "Application B" },
      { "label": "Application C" },
      { "label": "Application D" }
  ]
} %}

{% set user_menu_props = {
  "initials": "EB",
  "name": "Eric Boyer",
  "thumbnail": "",
  "items": [
    { "label": "App Finder" },
    { "label": "Settings" },
    { "label": "App Settings" },
    { "label": "Help" },
    { "label": "Give Feedback" },
    { "label": "About" },
    { "label": "Sign Out" }
  ]
} %}

{% set search_input_props = {
  "id": utils.id(),
  "value": "Sear",
  "placeholder": "Search products",
  "closed": true,
  "items": [
    {
      "label": "<strong>Sear</strong>ch Result A",
      "action": "#"
    },
    {
      "label": "<strong>Sear</strong>ch Result B",
      "action": "#"
    },
    {
      "label": "<strong>Sear</strong>ch Result C",
      "action": "#"
    },
    {
      "label": "<strong>Sear</strong>ch Result D",
      "action": "#"
    }
  ]
} %}

{%- macro shell_logo(logo=brand.logo, name=brand.name) %}
  <a href="#" class="fd-shellbar__logo{{ ' fd-shellbar__logo--image-replaced' if not logo.src and not logo.svg  }}" aria-label="{{ name }}">
    {%- if logo.src %}
    {%- set comma = joiner() %}
      <img src="{{ logo.src }}"{% if logo.srcset %} srcset="{% for item in logo.srcset %}{{ comma() -}} {{ item }} {{ loop.index }}x
      {%- endfor %}"{% endif %}{% if logo.width %} width="{{logo.width}}"{% endif %}{% if logo.height %} height="{{logo.height}}"{% endif %} alt="">
    {%- endif %}
    {%- if logo.svg %}
      {{ logo.svg }}
    {%- endif %}
  </a>
{% endmacro -%}

{% macro shellbar(brand=brand,product=product,copilot=true,actions=actions,user=true,switcher=true, search=search_input_props, properties={}, modifier={}, state={}, aria={}, styles="") -%}
{%- set _id = utils.id() %}
<div class="fd-shellbar">
    <div class="fd-shellbar__group fd-shellbar__group--start">
        {{ shell_logo(logo=brand.logo, name=brand.name) }}
        <div class="fd-shellbar__product">
          {% if product %}
            {{ product_menu(product=product,brand=brand) }}
          {% endif %}
        </div>
        {% if product.subtitle %}
          <div class="fd-shellbar__subtitle">
            {{ product.subtitle }}
          </div>
        {% endif %}
    </div>
    {% if copilot === true %}
    <div class="fd-shellbar__group fd-shellbar__group--middle">
      <img src="/static/copilot.png" alt="CoPilot" height="30" width="30" />
    </div>
    {% endif %}
    {% if actions or user or switcher or search %}
      <div class="fd-shellbar__group fd-shellbar__group--end">
      {{ shell_actions(actions=actions, user=user, switcher=switcher, search=search,  properties=properties) }}
    </div>
    {% endif %}
  </div>
{%- endmacro %}

{% macro shell_actions(actions=actions, user=true, switcher=true, search=false, properties={}, modifier={}, state={}, aria={}) -%}

  {%- set _id = utils.id() %}

  {% set collapsed_items = actions | filter_array("collapse",true) %}

    <div class="fd-shellbar__actions">
      {%- if actions %}
        {%- if search %}
          <div class="fd-shellbar__action fd-shellbar__action--collapsible">
            {{ search_input(properties=search) }}
          </div>
        {% endif %}
        {%- for item in actions %}
            <div class="fd-shellbar__action fd-shellbar__action--collapsible">
                {{item.action}}
            </div>
        {%- endfor %}
        <div class="fd-shellbar__action fd-shellbar__action--collapse">
          <div class="fd-shellbar-collapse">
            <div class="fd-popover fd-popover--right">
              <div class="fd-popover__control">
                <div class="fd-shellbar-collapse--control" aria-controls="{{_id}}" aria-expanded="false" aria-haspopup="true" role="button">
                  <button class=" fd-button--shell sap-icon--overflow" aria-controls="undefined" aria-haspopup="true" aria-expanded="false">
                  <span class="fd-counter fd-counter--notification" aria-label="Unread count">25</span></button>
                </div>
              </div>
              <div class="fd-popover__body fd-popover__body--right" aria-hidden="true" id="{{_id}}">
                <nav class="fd-menu">
                <ul class="fd-menu__list">
                  <li>
                    <a role="button" class="fd-menu__item">Search</a>
                  </li>
                  <li>
                    <a role="button" class="fd-menu__item">Notifications</a>
                  </li>
                  <li>
                    <a role="button" class="fd-menu__item">Pool</a>
                  </li>
                  <li>
                    <a role="button" class="fd-menu__item">Product Switcher</a>
                  </li>
                </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        {%- endif %}
        {%- if user %}
            <div class="fd-shellbar__action fd-shellbar__action--show-always">
              {{ user_menu(thumbnail="") }}
            </div>
        {%- endif %}
        {%- if switcher %}
            <div class="fd-shellbar__action fd-shellbar__action--collapsible">
              {{ product_switcher() }}
            </div>
        {%- endif %}
    </div>
{%- endmacro %}

{% macro shell_actions_collapse(actions=[], user=true, switcher=true, properties={}, modifier={}, state={}, aria={}) -%}
  {%- set _id = utils.id() %}

  {%- set totalNotifications = 0 %}

  {%- for item in actions %}
    {%- set totalNotifications = totalNotifications + (item.notifications or 0) %}
  {%- endfor %}

  <div class="fd-shellbar-collapse">
      {{  popover(properties={
              id: _id,
              control: shellbar_collapse_control(properties={"id": _id, "notifications": totalNotifications}),
              body: menu(properties={
                  "items": actions
              })
          }, modifier={ block: ['right'] })
      }}
  </div>
{%- endmacro %}

{%- macro shellbar_collapse_control(properties={}, modifier={}, state={}) -%}
  <div class="fd-shellbar-collapse--control" aria-controls="{{properties.id}}" aria-expanded="false" aria-haspopup="true" role="button">
      {{ button({ label: counter(count=properties.notifications,modifier="notification"), icon: 'overflow' }, modifier={ block: ['shell'] }, aria={ "controls": _id, "haspopup": true, "expanded": false}) }}
  </div>
{%- endmacro -%}
