{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./../button/component.njk" import button %}
{% from "./../product-switcher/component.njk" import product_switcher %}
{% from "./../user-menu/component.njk" import user_menu %}
{% from "./component.njk" import shell_header %}
{% from "./../search-input/component.njk" import search_input %}

{% set css_deps = ['icons', 'components/button', 'components/dropdown', 'components/nav', 'components/identifier', 'components/popover', 'components/menu', 'components/product-switcher', 'components/product-menu', 'components/search-input', 'components/notification-counter', 'components/user-menu', 'helpers'] %}

{% set search = search_input(properties={
    "id": utils.id(),
    "value": data.properties.search.value,
    "placeholder": data.properties.search.placeholder,
    "collapsed": data.properties.search.collapsed,
    "items": data.properties.search.items
  })
%}

{% set notification = button({ icon: 'bell' }, modifier={ block: ['shellheader'] }) %}

{% set actions = [
  {
    "label": "Notifications",
    "action": notification,
    "collapse": false
  }
]
%}

{% block content %}

<style media="screen">
    .fd-shellbar{
        margin: 40px 0;
    }
</style>


<div style="background-color: #f3f4f5; margin:-20px; padding:20px;">
    <h1>shellbar</h1>

    {% set example %}
        {{  shell_header(switcher=true, properties=data.properties) }}

        {{  shell_header(switcher=false) }}

        {{  shell_header(product={ title: "Sales Cloud"}) }}

        {{  shell_header(actions=actions) }}

        {{  shell_header(
          brand={
            logo: "http://pngimg.com/uploads/cocacola_logo/cocacola_logo_PNG3.png"},
            product={ title: "Corporate Portal"})
        }}
    {% endset %}
    {{ format(example) }}
{% endblock %}

</div>
