<!--
image:
    properties={ url: "" },
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro image(properties={}, modifier={}, state={}, aria={}) -%}
<span class="tn-image{{ modifier.block | modifier('image') }}{{ state | state }}"{{ aria | aria }}{{ ' style="background-image: url(\'' + properties.url + '\');"' if properties.url }}></span>
{%- endmacro %}
