{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import image %}

{% block content %}


<h1>specs</h1>
<p>Three sizes, default matches the base font size (14px)</p>
<table>
  <tr>
    <td>
      {{  image(
        properties=data.properties,
        modifier={ block: ["s"] }
          )
      }}
    </td>
    <td>
      <span>small (s) - 24px
    </td>
    <td>
<code>.fd-image--s</code>

    </td>
  </tr>
  <tr>
    <td>
      {{  image(
        properties=data.properties,
        modifier={ block: ["m"] }
          )
      }}
    </td>
    <td>

  medium (m) - 36px
    </td>
    <td>
<code>.fd-image--m</code>

    </td>

  </tr>
  <tr>
    <td style="padding-right: 20px;">
      {{  image(
              properties=data.properties,
              modifier={ block: ["l"] }
          )
      }}
    </td>
    <td>

  large (l) - 48px
    </td>
    <td>
<code>.fd-image--l</code>

    </td>

  </tr>

</table>

<br><hr><br>



{% set sizes = ["s","m","l"] %}
    <h1>image</h1>

    <h2>default</h2>
    {%- set example %}
{%- for size in sizes %}
{{  image(
        properties=data.properties,
        modifier={
            block: size
        },
        aria=data.aria
    )
}}
{% endfor %}
    {%- endset %}
    {{ format(example) }}
<br><br>

    {# <h2>rounded</h2>
    {%- set example %}
{% for size in sizes %}
{{  image(
        properties=data.properties,
        modifier={
            block: [size, "rounded"]
        },
        aria=data.aria
    )
}}
{% endfor %}
    {%- endset %}
    {{ format(example) }}

<br><br> #}
    <h2>circle</h2>
    {%- set example %}
{% for size in sizes %}
{{  image(
        properties=data.properties,
        modifier={
            block: [size, "circle"]
        },
        aria=data.aria
    )
}}
{% endfor %}
    {%- endset %}
    {{ format(example) }}



{% endblock %}
