{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import image %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['fonts','icons'] %}

{% block content %}
{% set sizes = ["s","m","l"] %}
    <h1>image</h1>

    <h2>default</h2>
    {%- set example %}
{%- for size in sizes %}
{{  image(
        properties=data.properties,
        modifier={
            block: size
        },
        aria=data.aria
    )
}}
{% endfor %}
    {%- endset %}
    {{ format(example) }}
<br><br>

    {# <h2>rounded</h2>
    {%- set example %}
{% for size in sizes %}
{{  image(
        properties=data.properties,
        modifier={
            block: [size, "rounded"]
        },
        aria=data.aria
    )
}}
{% endfor %}
    {%- endset %}
    {{ format(example) }}

<br><br> #}
    <h2>circle</h2>
    {%- set example %}
{% for size in sizes %}
{{  image(
        properties=data.properties,
        modifier={
            block: [size, "circle"]
        },
        aria=data.aria
    )
}}
{% endfor %}
    {%- endset %}
    {{ format(example) }}



{% endblock %}
