<section class="fl-design">
     <img class="fl-designimg1" src="./assets/images/up.webp" aria-hidden="true" role="presentation"/> 
    <h2 class="fl-title">SAP Design System</h2>
    <p class="fl-text">
      Fundamental Libraries follow the SAP Design guidelines for all component
      libraries and layout configurations to bring full alignment with an industry
      standard visual language.
    </p>
  
    <a href="https://www.sap.com/canada/design/design-system.html" class="fl-button" title="explore" target="_blank" hreflang="en" rel="noopener noreferrer">explore</a>
    <img class="fl-designimg2" src="./assets/images/down.webp" aria-hidden="true" role="presentation"/> 
  </section>
