.fl-design {

    background-color: #fafcff;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0 1.25rem;
    position: relative;
    top: 0;
    justify-content: center;
}

@media (width > 550px){

    .fl-design{
        p{
            width: 80vw;
        }
    }
}
@media (width > 800px){

    .fl-design{
        p{
            width: 60vw;
        }
        row-gap: 2.5rem;
    }
}
@media (width > 1300px){

    .fl-design{
        p{
            width: 50vw;
        }
        row-gap: 3rem;
    }
}
@media (width > 1600px){

    .fl-design{
        p{
            width: 40vw;
        }
        row-gap: 3.5rem;
    }
}