{% extends "layout.njk" %}
{% from "./../format.njk" import format, code %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import container, col %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['layout','helpers'] %}

{% block content %}

    <style media="screen">
    .tn-container {
        min-height: 20px;
        background: lightblue;
    }
    [class*="tn-col"] {
        min-height: 20px;
        outline: solid 1px gray;
    }
    </style>



<h1>container</h1>
<p>A box with left and right padding built in, most useful with columns where you want consistent space around the content.</p>

{% call container() -%}
<code>.tn-container</code><br>
<small>Max width at 1290px (default)</small>
{%- endcall %}
{% call code() -%}
{%- call container() -%}{%- endcall %}
{%- endcall %}
{#
{% call container(modifier="bleed") -%}
<code>.tn-container--bleed</code><br>
<small>No left and right padding</small>
{%- endcall %}
{% call code() -%}
{%- call container(modifier="bleed") -%}{%- endcall %}
{%- endcall %} #}

{% call container(modifier="fluid") -%}
<code>.tn-container--fluid</code><br>
<small>No max width</small>
{%- endcall %}
{% call code() -%}
{%- call container(modifier="fluid") -%}{%- endcall %}
{%- endcall %}


{% call container(modifier=["centered"]) -%}
<code>.tn-container--centered</code><br>
<small>Auto left and right margin, this does NOT center content</small>
{%- endcall %}
{% call code() -%}
{%- call container(modifier="centered") -%}{%- endcall %}
{%- endcall %}


{% call container(modifier=["flex"]) -%}
<code>.tn-container--flex</code>
<small>Display<br>flex</small>
{%- endcall %}
{% call code() -%}
{%- call container(modifier="flex") -%}{%- endcall %}
{%- endcall %}



    <h1>col</h1>





    <h1>Equal width</h1>
    <strong>12 col</strong>
    {% set example %}
    {%- call container() -%}
        {%- for i in range(1,13) %}
            {%- call col(1) %}{% endcall %}
        {%- endfor %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}

    <strong>12 col, bleed</strong>
    {% set example %}
    {%- call container(modifier="bleed") -%}
        {%- for i in range(1,13) %}
            {%- call col(1) %}{% endcall %}
        {%- endfor %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}



    <strong>6 col</strong>
    {% set example %}
    {%- call container() -%}
        {%- for i in range(1,7) %}
            {%- call col(2) %}{% endcall %}
        {%- endfor %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}




    <strong>4 col</strong>
    {% set example %}
    {%- call container() -%}
        {%- for i in range(1,5) %}
            {%- call col(3) -%}{%- endcall %}
        {%- endfor %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}


    <strong>3 col</strong>
    {% set example %}
    {%- call container() -%}
        {%- for i in range(1,4) %}
            {%- call col(4) -%}{%- endcall %}
        {%- endfor %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}

    <h1>Unequal width</h1>
    <strong>2 col (3/9)</strong>
    {% set example %}
    {%- call container(classes="has-align-items-center") -%}
        {%- call col(3) -%}{%- endcall %}
        {%- call col(9) -%}{%- endcall %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}



    <strong>3 col (3/6/3)</strong>
    {% set example %}
    {%- call container() -%}
        {%- call col(3) -%}{%- endcall %}
        {%- call col(6) -%}{%- endcall %}
        {%- call col(3) -%}{%- endcall %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}


    <strong>1 col, shifted 3 cols (9)</strong>
    {% set example %}
    {%- call container() -%}
        {%- call col(9, "shift-3") -%}{%- endcall %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}


    <h1>Flex widths</h1>
    <strong>4 col (9,flex,flex,flex)</strong>
    <p>Inside flex containers, use .tn-col to evenly fill the left over space</p>
    {% set example %}
    {%- call container(modifier="flex") -%}
        {%- call col(9) -%}{%- endcall %}
        {%- call col(0) -%}{%- endcall %}
        {%- call col(0) -%}{%- endcall %}
        {%- call col(0) -%}{%- endcall %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}

    <strong>3 col (flex,flex,flex)</strong>
    <p>Inside flex containers, use .tn-col to distirbute space with no margin</p>
    {% set example %}
    {%- call container(modifier="flex") -%}
        {%- call col(0) -%}{%- endcall %}
        {%- call col(0) -%}{%- endcall %}
        {%- call col(0) -%}{%- endcall %}
    {%- endcall %}
    {% endset %}
    {{ format(example) }}




{% endblock %}
