{% import "./../utils.njk" as utils %}
{% from "../popover/component.njk" import popover %}
{% from "./../time/component.njk" import time %}
{% from "./../input-group/component.njk" import input_group %}
{% from "./../button/component.njk" import button %}

<!--
time_picker:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{%- set _time_items %}
{{ time(properties={ items: [
  {
    "placeholder": "hh",
    "label": "hours"
  },
  {
    "placeholder": "mm",
    "label": "minutes"
  },
  {
    "placeholder": "ss",
    "label": "seconds"
  },
  {
    "placeholder": "am",
    "label": "period"
  }]
}) }}
{%- endset %}
{%- macro time_picker_control(properties={}, modifier={}, state={}, aria={ hidden: true },size="") %}
{%- set btn = button(
  { label: '',
    icon: 'history'
  },
  modifier={
    block: ['light']
  },
  aria={
    controls: properties.id,
    expanded: false,
    haspopup: true
  },
  state=state,
  classes=["popover__control"])
%}
{{- input_group(
    type="time",
    modifier={
        block: "after",
        after: ['after', 'button']
    },
    properties={
        input: {
            properties: {
                placeholder: "hh:mm am/pm"
            }
        },
        after: btn
    },size=size)
}}
{%- endmacro %}

{%- macro time_picker(properties={}, modifier={}, state={}, aria={ hidden: true },size="") -%}
{%- set _id = utils.id() %}
<div class="fd-time-picker">
    {{  popover(properties={
            id: _id,
            control: time_picker_control(properties={id: _id},size=size),
            body: _time_items
        }, modifier={ block: ['no-arrow'] })
    }}
</div>
{%- endmacro %}
