{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./../time-picker/component.njk" import time_picker %}

{% set css_deps = ['fonts','components/button','icons','components/time', 'components/popover', 'components/time-picker'] %}

{% block content %}
  <h2>timepicker</h2>

  {% set example %}
    {{  time_picker()
    }}
  {% endset %}
  {{ format(example) }}
{% endblock %}