{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./../time-picker/component.njk" import time_picker %}

{% block content %}
  <h2>timepicker</h2>

  {% set example %}
    {{  time_picker()
    }}
  {% endset %}
  {{ format(example) }}


  <br><br>
  <h3>compact</h3>

  {% set example %}
    {{  time_picker(size="compact")
    }}
  {% endset %}
  {{ format(example) }}


{% endblock %}
