
// get color from main map
@function fd-color($type: text, $shade: 1) {
    $_map: $fd-colors;
    //check type
    @if map-has-key($_map, $type) {
        $_group: map-get($_map, $type);
        //check shade
        @if map-has-key($_group, $shade) {
            $_color: map-get($_group, $shade);
            @return $_color;
        } @else {
            @warn "Invalid $shade of `#{$shade}` in the map $type of `#{$type}`. Valid $shade values are #{map-keys($_group)}. Returning `black`.";
            @return black;
        }
    } @else {
        @warn "Invalid map $type of `#{$type}`. Valid $type values are #{map-keys($_map)}. Returning `black`.";
        @return black;
    }
}

// darken for hover states
@function fd-color-darker($color) {
    @return darken($color, 7);
}

// darken for pressed states
@function fd-color-darkest($color) {
    @return darken($color, 10);
}

//$state: hover, selected, disabled, visited, negative, positive, alert
//$type: background, action
@function fd-color-state($state, $type: "background") {
  $_map: $fd-colors-background-states;
  @if $type == "action" {
    $_map: $fd-colors-action-states;
  }
  //check type
  @if map-has-key($_map, $state) {
    $_color: map-get($_map, $state);
    @return $_color;
  } @else {
      @warn "Invalid map $state of `#{$state}`. Valid $state values are #{map-keys($_map)}. Returning `black`.";
      @return black;
  }
}
