{% import "./../utils.njk" as utils %}
{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../button/component.njk" import button %}
<!--
product_menu:
    properties={
      "title": "Title",
      "subtitle": "Subtitle",
      "items": [
          { "label": "Application A" },
          { "label": "Application B" },
          { "label": "Application C" },
          { "label": "Application D" }
      ],
      "selectedIndex": 0
    },
    modifier={ block: [] },
    state={},
    aria={}
-->

{% macro product_menu(properties={}, modifier={}, state={}, aria={}) -%}
  {%- set _id = utils.id() %}
  <div class="fd-product-menu{{ modifier.block | modifier('product-menu') }}{{ state | state }}"{{ aria | aria }}>
    {{  popover(properties={
            id: _id,
            control: product_menu_control(properties={ "title": properties.title }, aria={ "controls": _id, "haspopup": true, "expanded": false}),
            body: menu(properties={
                "items": properties.items
            })
        }, modifier={ block: ['right'] })
    }}
  </div>
{%- endmacro %}


{%- macro product_menu_control(properties={}, modifier={}, state={}, aria={}) -%}
  <button class="fd-product-menu__control"{{ aria | aria }}>
    {{ properties.title }}
  </button>
{%- endmacro -%}
