{% import "./../utils.njk" as utils %}
{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../button/component.njk" import button %}
<!--
product_menu:
    properties={
      "title": "Title",
      "subtitle": "Subtitle",
      "items": [
          { "label": "Application A" },
          { "label": "Application B" },
          { "label": "Application C" },
          { "label": "Application D" }
      ],
      "selectedIndex": 0
    },
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro product_menu(product={}, brand={}, modifier={}, state={}, aria={}) -%}
{%- set _id = utils.id() %}
{%- if product.items %}
<div class="fd-product-menu{{ modifier.block | modifier('product-menu') }}{{ state | state }}"{{ aria | aria }}>
  {{  popover(properties={
          id: _id,
          control: product_menu_control(properties={ "title": product.title }, brand=brand, aria={ "controls": _id, "haspopup": true, "expanded": false}),
          body: menu(properties={
              "items": product.items
          })
      }, modifier={ block: ['right'] })
  }}
</div>
{%- else %}
<span class="fd-shellbar__title">{{ product.title }}</span>
{%- endif %}
{%- endmacro %}

{%- macro product_menu_control(properties={}, brand={}, modifier={}, state={}, aria={}) -%}
  <button class="fd-product-menu__control"{{ aria | aria }}>
    <span class="fd-shellbar__title fd-product-menu__title">{{ properties.title }}</span>
  </button>
{%- endmacro -%}

{%- macro product_menu_logo(logo=brand.logo, name=brand.name) %}
<div class="fd-shellbar__logo fd-shellbar__logo--control{{ ' fd-shellbar__logo--image-replaced' if not logo.src and not logo.svg  }} fd-product-menu__logo" aria-label="{{ name }}">
  {%- if logo.src %}
  {%- set comma = joiner() %}
    <img src="{{ logo.src }}"{% if logo.srcset %} srcset="{% for item in logo.srcset %}{{ comma() -}} {{ item }} {{ loop.index }}x
    {%- endfor %}"{% endif %} alt="">
  {%- endif %}
  {%- if logo.svg %}
    {{ logo.svg }}
  {%- endif %}
</div>
{% endmacro -%}
