{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import product_menu %}

{% block content %}


    <!-- output the component example and the code snippet -->
    {% set example %}

    {{  product_menu(
            product=data.properties,
            brand=data.properties.brand,
            modifier={
                block: data.modifier.block
            },
            state=data.state,
            aria=data.aria
        )
    }}
    {% endset %}
    {{ format(example) }}


{% endblock %}
