{% import "../forms.njk" as forms %}
{% import "./../utils.njk" as utils %}
{% from "./../inline-help/component.njk" import inline_help %}
{% from "./../toggle/component.njk" import toggle %}

<!--
form-set:
    properties={},
    modifier={},
    state={},
    aria={}
-->
{% macro form_set(
    properties={
        legend: "Form set legend",
        message: ""
    },
    modifier=[])
-%}
<fieldset class="tn-form__set">
    {%- if properties.legend %}
        <legend class="tn-form__legend{{ ' is-required' if state.required === true }}">{{ properties.legend }}</legend>
    {%- endif %}
    <div class="tn-form__group">
        {{ caller() }}
    </div>
    {%- if properties.message %}
    {{ form_message(properties, modifier.message) }}
    {%- endif %}
</fieldset>
{%- endmacro %}

<!--
form-item:
    properties={},
    modifier={},
    state={},
    aria={}
-->
{% macro form_item(
    type="text",
    properties={
        label: "Field label",
        placeholder: "Field placeholder text",
        name: "",
        value: "",
        message: "",
        help: "",
        options: [{
            properties: { label: "Option 1", value: "1" }
        }]
    },
    modifier={ item: [], message: [], control: [] },
    state={ required: false, checked: false, disabled: false, readonly: false, status: "" },
    aria={})
-%}
{%- set _id = utils.id() %}
<div class="tn-form__item{{ modifier.item | modifier('form__item') }}{{ ' tn-form__item--check' if type == "checkbox" or type == "radio" or type == "toggle" }}">
    {%- if type == "checkbox" or type == "radio" or type == "toggle" %}
    <label class="tn-form__label{{ ' is-required' if state.required }}" for="{{_id}}">
        {{ form_control(type,_id,properties,state=state,aria=aria,modifier=modifier.control) }}
        {{ properties.label }}
        {%- if properties.help %}
        <span class="tn-form__help">
            {{ inline_help({ content: properties.help }) }}
        </span>
        {%- endif %}
    </label>
    {%- else %}
    <label class="tn-form__label{{ ' is-required' if state.required }}" for="{{_id}}">
        {{properties.label}}
        {%- if properties.help %}
        <span class="tn-form__help">
            {{ inline_help({ content: properties.help }) }}
        </span>
        {%- endif %}
    </label>
    {{ form_control(type,_id,properties,state=state,aria=aria,modifier=modifier.control) }}
    {%- endif %}
    {%- if properties.message %}
    {{ form_message({ message: properties.message }, modifier=modifier.message) }}
    {%- endif %}
</div>
{%- endmacro %}

<!--
form-message:
    properties={ message: "" },
    modifier=""
-->
{% macro form_message(
    properties={
        message: "Message text"
    },
    modifier="help")
-%}
<span class="tn-form__message{{ modifier | modifier('form__message') }}">
    {{properties.message}}
</span>
{%- endmacro %}

<!--
form-control:
    properties={},
    modifier={},
    state={},
    aria={}
-->
{% macro form_control(
    type="text",
    id="",
    properties={
        placeholder: "Field placeholder text",
        name: "",
        value: "",
        options: [{
            properties: { label: "Option 1", value: "1" }
        }]
    },
    modifier={},
    state={ checked: false, disabled: false, readonly: false, status: "" },
    aria={})
-%}
{%- set props = {
    id: id,
    placeholder: properties.placeholder,
    name: properties.name,
    value: properties.value,
    options: properties.options
} -%}
{%- if type == "textarea" -%}
    {{ forms.textarea(props,state=state,aria=aria,classes="form__control") }}
{%- elif type == "radio" -%}
    {{ forms.radio(props,state=state,aria=aria,classes=["form__control"]) }}
{%- elif type == "checkbox" -%}
    {{ forms.checkbox(props,state=state,aria=aria,classes=["form__control"]) }}
{%- elif type == "select" -%}
    {{ forms.select(props,state=state,aria=aria,classes=["form__control"]) }}
{%- elif type == "toggle" -%}
    {{ toggle(props,state=state,aria=aria,modifier={ block: modifier },classes=["form__control"]) | indent(8) }}
{%- else -%}
    {{ forms.text(type,props,state=state,aria=aria, classes="form__control") }}
{%- endif -%}
{%- endmacro %}


{# —————— BELOW ARE DEPRECATED ——————— #}
{% macro form_group(
    type="text",
    properties={
        legend: "",
        label: "",
        id: "",
        message: "",
        items: []
    },
    modifier={

    },
    state={
        required: false
    },
    aria={})
-%}
<{{ 'fieldset' if (type !== 'text' and type !== 'select') else 'div' }} class="tn-form__group{{ modifier.block | modifier('form__group') }}">
{%- if properties.legend %}
    <legend class="tn-form__legend{{ ' is-required' if state.required === true }}">{{ properties.legend }}</legend>
{%- endif %}
{%- for item in properties.items %}
    <div class="tn-form__item{{ modifier.item | modifier('form__item') }}{{ ' tn-form__item--check' if type == "checkbox" or type == "radio" }}">
        {%- if type == "checkbox" or type == "radio" %}
        {{ form_control(type,properties=item.properties,state=item.state,aria=item.aria) | trim }}
        <label class="tn-form__label{{ ' is-required' if item.state.required === true }}" for="{{ item.properties.id }}">{{item.properties.label}}</label>
        {%- else %}
        <label class="tn-form__label{{ ' is-required' if item.state.required === true }}" for="{{ item.properties.id }}">{{item.properties.label}}</label>
        {{ form_control(type,properties=item.properties,state=item.state,aria=item.aria) | trim }}
        {%- endif %}
        {%- if item.properties.message %}
        <span class="tn-form__message{{ item.modifier.message | modifier('form__message') }}">
            {{item.properties.message}}
        </span>
        {%- endif %}
    </div>
{%- endfor %}
{%- if properties.message %}
<div class="tn-form__message {{ modifier.message | modifier('form__message') }}">
    {{properties.message}}
</div>
{%- endif %}
</{{ 'fieldset' if (type !== 'text' and type !== 'select') else 'div' }}>
{%- endmacro %}
