{% extends "layout.njk" %}
{% from "./component.njk" import form_control, form_item, form_set %}
{% import "../forms.njk" as forms %}
{% from "./../format.njk" import format %}
{% import "./../utils.njk" as utils %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['components/inline-help'] %}

{% block content %}

<h1>.tn-form</h1>
<p>Form elements are unique in that they can be used independently. In most cases, you will not need a <code>.tn-form</code> wrapper, it can be inferred.</p>

<h2>.tn-form__item</h2>
<p>A form item is the basic unit for the layout of a form field, which includes a <code>.tn-form__label</code> and <code>.tn-form__control</code> (the field) bound by an id.</p>

<ul>
    <li>— Indicate a required field with the <code>is-required</code> class on the label.</li>
    <li>— Indicate status and state of the form field by applying classes or aria attributes to the form control element.</li>
</ul>

<h3>Text input</h3>
{% set example %}
{{ form_item() }}
{{ form_item(state={ required: true }) }}
{{ form_item(state={ status: "valid" }) }}
{{ form_item(state={ disabled: true }) }}
{{ form_item(state={ readonly: true }) }}
{% endset %}
{{ format(example) }}
<br><br>

<h3>Select</h3>
{% set example %}
{{ form_item("select") }}
{{ form_item("select", state={ required: true }) }}
{{ form_item("select", state={ disabled: true }) }}
{% endset %}
{{ format(example) }}
<br><br>

<h3>Textarea</h3>
{% set example %}
{{ form_item("textarea", properties={
        label: "Field Label",
        value: "Pellentesque metus lacus commodo eget justo ut rutrum varius nunc. Sed non rhoncus risus. Morbi sodales gravida pulvinar. Duis malesuada odio volutpat elementum vulputate massa magna scelerisque ante et accumsan tellus nunc in sem." }) }}
{% endset %}
{{ format(example) }}
<br><br>


<h2>.tn-form__item--check</h2>
<p>Use a <code>--check</code> modifier for <code>radio</code> and <code>checkbox</code> form fields. The same state attributes as above apply. Note: Most often, mutiple radio and checkbox form item elements will be used together. See <code><a href="#form-set">.tn-form__set</a></code> for grouping check-type forms fields.</p>

{% set example %}
{{ form_item("radio") }}
{{ form_item("radio",state={ checked: true }) }}
{{ form_item("radio",state={ required: true }) }}
{{ form_item("radio",state={ status: "valid" }) }}
{{ form_item("radio",state={ disabled: true }) }}
{% endset %}
{{ format(example) }}

<br><br>

{% set example %}
{{ form_item("checkbox") }}
{{ form_item("checkbox",state={ checked: true }) }}
{{ form_item("checkbox",state={ required: true }) }}
{{ form_item("checkbox",state={ status: "valid" }) }}
{{ form_item("checkbox",state={ disabled: true }) }}
{% endset %}
{{ format(example) }}

<br><br>

<h3>.tn-form__message</h3>
<p>An optional <code>.tn-form__message</code> element is available inside the form item. A form field class of "is-invalid" or "is-warning" should be included to match the message modifier for "error" and "warning" respectively.</p>
{% set example %}
{{ form_item(
    properties={
        label: "Field Label",
        placeholder: "Field placeholder text",
        message: "Pellentesque metus lacus commodo eget justo ut rutrum varius nunc" }
    )
}}
{{ form_item(
    properties={
        label: "Field Label",
        placeholder: "Field placeholder text",
        message: "Pellentesque metus lacus commodo eget justo ut rutrum varius nunc" },
    modifier={
        message: "error"
    },
    state={ status: "invalid" }
    )
}}
{{ form_item(
    properties={
        label: "Field Label",
        placeholder: "Field placeholder text",
        message: "Pellentesque metus lacus commodo eget justo ut rutrum varius nunc" },
    modifier={
        message: "warning"
    },
    state={ status: "warning" }
    )
}}

{{ form_item(
    properties={
        label: "Field Label",
        placeholder: "Field placeholder text",
        message: "Pellentesque metus lacus commodo eget justo ut rutrum varius nunc" },
    modifier={
        message: "help"
    }
    )
}}
{% endset %}
{{ format(example) }}
<br><br>

<h3>.tn-form__help</h3>
<p>An optional <code>.tn-form__help</code> element is available which should include a <code><a href="inline-help">.tn-inline-help</a></code> component.</p>
{% set example %}
{{ form_item(
    properties={
        label: "Field Label",
        placeholder: "Field placeholder text",
        help: "Pellentesque metus lacus commodo eget." }
    )
}}
{{ form_item(
    properties={
        label: "Field Label",
        placeholder: "Field placeholder text",
        help: "Pellentesque metus lacus commodo eget." },
    state={
        readonly: true
    })
}}
{% endset %}
{{ format(example) }}
<br><br>


<h2 id="form-set">.tn-form__set</h2>
<p>A form set should be used when multiple form items are needed. Most often this will be used for checked elements and grouped form fields like city, state, zip addresses. Use an addt'l <code>.tn-form__group</code> container to wrap the items, e.g., multiple checkboxes. An optional <code>.tn-form__legend</code> can be used as a header.</p>


{% set example %}
{% call form_set(properties={
        legend: "Form set legend"
    }) %}
    {{ form_item("radio", { label: "Field label", name: "foo" }) }}
    {{ form_item("radio", { label: "Field label", name: "foo" }) }}
    {{ form_item("radio", { label: "Field label", name: "foo" }) }}
{% endcall %}

{% call form_set() %}
{{ form_item("radio", { label: "Field label", name: "bar" }, modifier={ item: "inline" }) }}
{{ form_item("radio", { label: "Field label", name: "bar" }, modifier={ item: "inline" }) }}
{{ form_item("radio", { label: "Field label", name: "bar" }, modifier={ item: "inline" }) }}
{% endcall %}

{% call form_set({ }) %}
    {{ form_item("text", modifier={ item: "inline" }) }}
    {{ form_item("text", modifier={ item: "inline" }) }}
{% endcall %}
{% endset %}
{{ format(example) }}
<br><br>

<h3>.tn-form__message</h3>
<p>Like a <code>.tn-form__item</code> a message can be included for the entire set.</p>

{% set example %}
{% call form_set(properties={
        legend: "Form set legend",
        message: "Pellentesque metus lacus commodo eget justo ut rutrum varius nunc" },
    modifier={
        message: "error"
    }) %}
    {{ form_item("radio", { label: "Field label", name: "bar" }, modifier={ item: "inline" }) }}
    {{ form_item("radio", { label: "Field label", name: "bar" }, modifier={ item: "inline" }) }}
    {{ form_item("radio", { label: "Field label", name: "bar" }, modifier={ item: "inline" }) }}
{% endcall %}
{% endset %}
{{ format(example) }}



{% endblock %}
