{#
    see ./data.json for object structure
    FOR simplicity, this component has standalone params
    instead of more complex modifier.block options
#}
{%- macro icon(glyph="", size="", classes="") -%}
<span class="tn-icon{{ (glyph if size == "" else [glyph, size]) | modifier('icon') }}{{ classes | classes }}" role="presentation"></span>
{%- endmacro %}
