{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import icon %}

{% block content %}

<style>
.demo-icons {
  display: flex;
  flex-wrap: wrap;
      align-content: space-between;
}
	.demo-icon-wrapper{
		padding: 20px;

		width: 25%;

		text-align: center;
	}
	.demo-icon-wrapper span {
		margin: 20px;
	}

  .demo-icon-animate {
    padding-right: 8px;
  }

  .demo-icon-animate-type {
    width: 100px;
  }
</style>



<p>
<h1>Specs</h1>
<p>Five sizes, default matches the base font size (14px)</p>
<table>
  <tr>
    <td style="padding-right: 20px;">
      <span class="sap-icon--map sap-icon--s" role="presentation"></span>
    </td>
    <td>
      <span>small (s) - 12px
    </td>
    <td>
      Include class <code>sap-icon--s</code>
    </td>
  </tr>
  <tr>
    <td>
      <span class="sap-icon--map" role="presentation"></span>
    </td>
    <td>

  default - 14px
    </td>
    <td>


    </td>
  </tr>
  <tr>
    <td>
      <span class="sap-icon--map sap-icon--m" role="presentation"></span>
    </td>
    <td style="padding-right: 20px;">

medium (m) - 16px
    </td>
    <td>

    Include class <code>sap-icon--m</code>
    </td>
  </tr>
  <tr>
    <td>
      <span class="sap-icon--map sap-icon--l" role="presentation"></span>
    </td>
    <td>
  large (l) - 20px

    </td>
    <td>

    Include class <code>sap-icon--l</code>
    </td>
  </tr>
  <tr>
    <td>
      <span class="sap-icon--map sap-icon--xl" role="presentation"></span>
    </td>
    <td>
      xlarge (xl) - 24px
    </td>
    <td>
    Include class <code>sap-icon--xl</code>
    </td>
  </tr>
</table>

<p>
<h1>Animation</h1>
<p>2 types of animation, spin (continuous rotate of icon), and pulse (pulsating rotate of icon).</p>
<table>
  <tr>
    <td class="demo-icon-animate">
      <span class="sap-icon--synchronize sap-icon--xl sap-icon--animate-spin" role="presentation"></span>
    </td>
    <td class="demo-icon-animate-type">
      spin
    </td>
    <td>
    Include class <code>sap-icon--animate-spin</code>
    </td>
  </tr>
  <tr>
    <td class="demo-icon-animate">
      <span class="sap-icon--synchronize sap-icon--xl sap-icon--animate-pulse" role="presentation"></span>
    </td>
    <td class="demo-icon-animate-type">
      pulse
    </td>
    <td>
    Include class <code>sap-icon--animate-pulse</code>
    </td>
  </tr>  
</table>


<div class="demo-icons">



{% for glyph in data.properties.glyphs %}
<div class="demo-icon-wrapper">

    <h2>.sap-icon--{{glyph}}</h2>
{% set example %}
{{ icon(glyph) }}
{% for size in data.modifier.block %}
{{ icon(glyph, size) }}
{% endfor %}
{% endset %}
{{ format(example) }}


</div>

{% endfor %}

</div>

{% endblock %}
