{% macro format(content="",bgcolor="transparent") %}
<div style="background-color:{{bgcolor}}">
{{ content }}
</div>
<br><br>
<textarea readonly class="test-textarea">{{ content | e | trim }}</textarea>
{% endmacro %}


{% macro code() -%}
<textarea readonly class="test-textarea">{{ caller() | trim }}</textarea>
{%- endmacro %}
