{%- macro _field_attrs(
    properties={ value: "", name: "", id: "" },
    field="input",
    size="",
    state={ checked: false, disabled: false, readonly: false, indeterminate: false, status: "" },
    aria={},
    classes=[])
-%}
class="fd-{{field}} {{ size | modifier(field) }}{{ classes | classes | trim }}{{ ' is-'+state.status if state.status }}" id="{{properties.id}}"
{{- ' name="'+properties.name+'"' if properties.name }}
{{- aria | aria }}
{{- ' disabled' if state.disabled }}
{{- ' readonly' if state.readonly }}
{{- ' indeterminate="true"' if state.indeterminate }}
{{- ' checked' if state.checked }}{{ ' multiple' if state.multiple }}
{%- endmacro %}

{% macro text(
    type="text",
    properties={ value: "", name: "", placeholder: "", id: "" },
    field="input",
    size="",
    modifier=[],
    state={ disabled: false, readonly: false, status: "" },
    aria={},
    classes=[])
-%}
<input type="{{ type }}" {{ _field_attrs(properties, field, size, state, aria, classes) | trim }}{{ ' placeholder="'+properties.placeholder+'"' if properties.placeholder }}{{ ' value="'+properties.value+'"' if properties.value }}>
{%- endmacro %}


{% macro textarea(
    properties={ value: "", name: "", placeholder: "", id: "" },
    field="textarea",
    size="",
    state={ disabled: false, readonly: false, status: "" },
    aria={},
    classes=[])
-%}
<textarea {{ _field_attrs(properties, field, size, state, aria, classes) | trim }}{{ ' placeholder="'+properties.placeholder+'"' if properties.placeholder }}>{{properties.value}}</textarea>
{%- endmacro %}

{% macro radio(
    properties={ value: "", id: "" },
    field="radio",
    size="",
    state={ checked: false, disabled: false, status: "" },
    aria={},
    classes=[])
-%}
<input type="radio" {{ _field_attrs(properties, field, size, state, aria, classes)  | trim }}{{ ' value="'+properties.value+'"' if properties.value }}>
{%- endmacro %}

{% macro checkbox(
    properties={ value: "", id: "" },
    field="checkbox",
    size="",
    state={ checked: false, disabled: false, status: "", indeterminate: false },
    aria={},
    classes=[])
-%}
<input type="checkbox" {{ _field_attrs(properties, field, size, state, aria, classes) | trim }}{{ ' value="'+properties.value+'"' if properties.value }}>
{%- endmacro %}

{% macro select(
    properties={ value: "", id: "", options: [] },
    field="select",
    size="",
    state={ multiple: false, disabled: false, status: "" },
    aria={},
    classes=[])
-%}
<select {{ _field_attrs(properties, field, size, state, aria, classes) | trim }}>
{%- for option in properties.options %}
    <option value="{{option.properties.value}}"{{ ' aria-disabled="'+ option.aria.disabled +'"' if aria.disabled }}{{ ' disabled' if option.state.disabled }}>{{option.properties.label}}</option>
{%- endfor %}
</select>
{%- endmacro %}
