<style media="screen">
body {
    font-family: sans-serif;
}
li {
    margin-bottom: 0.25em;
}
        a {
            font-family: monospace;
            font-size: 14px;
        }
</style>

<h1>Components</h1>
<ul>
    <li><a href="action-bar">.tn-action-bar</a></li>
    <li><a href="alert">.tn-alert</a></li>
    <li><a href="badge">.tn-badge</a> | <a href="label">.tn-label</a></li>
    <li><a href="button">.tn-button</a></li>
    <li><a href="card">.tn-card</a></li>
    <li><a href="card-group">.tn-card-group</a></li>
    <li><a href="contextual-menu">.tn-contextual-menu</a></li>
    <li><a href="dropdown">.tn-dropdown</a></li>
    <li><a href="form">.tn-form > .tn-form__group</a></li>
    <li><a href="icon">.tn-icon</a></li>
    <li><a href="image">.tn-image</a></li>
    <li><a href="inline-help">.tn-inline-help</a></li>
    <li><a href="input-group">.tn-input-group</a></li>
    <li><a href="list-group">.tn-list-group</a></li>
    <li><a href="modal">.tn-modal</a></li>
    <li><a href="nav">.tn-nav</a></li>
    <li><a href="pagination">.tn-pagination</a></li>
    <li><a href="spinner">.tn-spinner</a></li>
    <li><a href="table">.tn-table</a></li>
    <li><a href="tabs">.tn-tabs</a></li>
    <li><a href="toolbar">.tn-toolbar</a></li>
    <li><a href="toggle">.tn-toggle</a></li>
    <li><a href="tree">.tn-tree</a></li>
</ul>

<h1>Layout</h1>
<ul>
    <li><a href="pages/app">.tn-ui .tn-app</a></li>
    <li><a href="pages/page">.tn-page</a></li>
    <li><a href="pages/section">.tn-section</a></li>
    <li><a href="pages/panel">.tn-panel</a></li>
    <li><a href="layout">.tn-container .tn-col</a></li>
</ul>

<h1>Starter Pages </h1>
<ul>
  <li><a href="pages/cards">Cards</a></li>
  <li><a href="pages/table">Table</a></li>
  <li><a href="pages/tree">Tree</a></li>
  <li><a href="pages/empty">Empty Page</a></li>
  <li><a href="pages/details-1">Details 1</a></li>
  <li><a href="pages/details-2">Details 2</a></li>
  {# <li><a href="pages/starter">Starter</a></li>
  <li><a href="pages/styles">Styles</a></li> #}
</ul>
