<style media="screen">
body {
    font-family: sans-serif;
}
li {
    margin-bottom: 0.25em;
}
        a {
            font-family: monospace;
            font-size: 14px;
        }
</style>
<h1>{% if selfContained %}Self-Contained Styles Playground{% else %}Playground{% endif %}</h1>
<div style="display: flex;">
    <div class="" style="flex: 1;">
      <h2>Components</h2>
      <ul>
          <li><a href="action-bar">.fd-action-bar</a></li>
          <li><a href="alert">.fd-alert</a></li>
          <li><a href="badge">.fd-badge</a> | <a href="label">.fd-label</a> | <a href="status-label">.fd-status-label</a></li>
          <li><a href="button">.fd-button</a></li>
          <li><a href="button-group">.fd-button-group</a></li>
          <li><a href="button-split">.fd-button-split</a></li>
          <li><a href="breadcrumb">.fd-breadcrumb</a></li>
          <li><a href="calendar">.fd-calendar</a></li>
          <li><a href="checkbox">.fd-checkbox</a></li>
          <li><a href="contextual-menu">.fd-contextual-menu</a></li>
          <li><a href="combobox-input">.fd-combobox-input</a></li>
          <li><a href="counter">.fd-counter</a></li>
          <li><a href="date-picker">.fd-date-picker</a></li>
          <li><a href="dropdown">.fd-dropdown</a></li>
          <li><a href="form">.fd-form > .fd-form__group</a></li>
          <li><a href="icon">.fd-icon</a></li>
          <li><a href="identifier">.fd-identifier</a></li>
          <li><a href="image">.fd-image</a></li>
          <li><a href="inline-help">.fd-inline-help</a></li>
          <li><a href="input">.fd-input</a></li>
          <li><a href="input-group">.fd-input-group</a></li>
          <li><a href="link">.fd-link</a></li>
          <li><a href="list-group">.fd-list-group</a></li>
          <li><a href="localization-editor">.fd-localization-editor</a></li>
          <li><a href="loading-dots">.fd-loading-dots</a></li>
          <li><a href="loading-spinner">.fd-loading-spinner</a></li>
          <li><a href="menu">.fd-menu</a></li>
          <li><a href="multi-input">.fd-multi-input</a></li>
          <li><a href="modal">.fd-modal</a></li>
          <li><a href="nav">.fd-nav</a></li>
          <li><a href="pagination">.fd-pagination</a></li>
          <li><a href="panel">.fd-panel</a></li>
          <li><a href="panel-grid">.fd-panel-grid</a></li>
          <li><a href="popover">.fd-popover</a></li>
          <li><a href="product-menu">.fd-product-menu</a></li>
          <li><a href="product-switcher">.fd-product-switcher</a></li>
          <li><a href="radio">.fd-radio</a></li>
          <li><a href="search-input">.fd-search-input</a></li>
          <li><a href="shellbar">.fd-shellbar</a></li>
          <li><a href="side-nav">.fd-side-nav</a></li>
          <li><a href="table">.fd-table</a></li>
          <li><a href="tile">.fd-tile</a> | <a href="product-tile">.fd-product-tile</a></li>
          <li><a href="tile-grid">.fd-tile-grid</a></li>
          <li><a href="time">.fd-time</a> | <a href="time-picker">.fd-time-picker</a></li>
          <li><a href="tabs">.fd-tabs</a></li>
          <li><a href="token">.fd-token</a></li>
          <li><a href="toggle">.fd-toggle</a></li>
          <li><a href="tree">.fd-tree</a></li>
          <li><a href="user-menu">.fd-user-menu</a></li>
      </ul>
    </div>
    {% if not selfContained %}
    <div class=""  style="flex: 1;">
      <h2>Layout</h2>
      <ul>
          <li><a href="pages/shell">.fd-shell</a></li>
          <li><a href="pages/app">.fd-shell .fd-app</a></li>
          <li><a href="pages/modal-placement">.fd-shell__overlay--modal</a></li>
          <li><a href="pages/alert-placement">.fd-shell__overlay--alert</a></li>
          <li><a href="pages/page">.fd-page</a></li>
          <li><a href="pages/section">.fd-section</a></li>
          <li><a href="pages/panel">.fd-panel</a></li>
          <li><a href="layout">.fd-container .fd-col</a></li>
      </ul>

      <h2>App Template Pages</h2>
      <ul>
        <li><a href="pages/app/product-overview">Product Overview</a></li>
        <li><a href="pages/app/application-horizontal">Application (Horizontal Nav)</a></li>
        <li><a href="pages/app/application-vertical">Application (Vertical Nav)</a></li>
        <li><s><a href="pages/app/fullwidth">Full-width</a></s></li>
        <li><s><a href="pages/app/sidebar">Sidebar</a></s></li>
      </ul>


      <h2>Floorplan Examples</h2>
      <ul>
        <li><a href="pages/floorplans/object">Object</a></li>
      </ul>

      <h2>Content Pages</h2>
      <ul>
      <li><a href="pages/tiles">Tiles</a></li>
        <li><a href="pages/table">Table</a></li>
        <li><a href="pages/tree">Tree</a></li>
        <li><a href="pages/empty">Empty Page</a></li>
      </ul>
    </div>

    <div class=""  style="flex: 1;">
      <h2>Specs</h2>
      <ul>
          <li><a href="pages/styles">Styles</a></li>
          <li><a href="pages/text">Text</a></li>
          <li><a href="pages/form-elements">Forms</a></li>
          <li><a href="pages/all">Sections and Panels</a></li>
          <li><a href="pages/grid">Grid</a></li>
      </ul>

      <h2>Deprecated</h2>
      <ul>
          <li><s><a href="tag">.fd-tag</a></s></li>
          <li><s><a href="global-nav">.fd-global-nav</a></s></li>
          <li><s><a href="mega-menu">.fd-mega-menu</a></s></li>
          <li><s><a href="spinner">.fd-spinner</a></s></li>

      </ul>

    </div>
    {% endif %}
</div>
