<style media="screen">
body {
    font-family: sans-serif;
}
li {
    margin-bottom: 0.25em;
}
        a {
            font-family: monospace;
            font-size: 14px;
        }
</style>

<h1>Components</h1>
<ul>
    <li><a href="action-bar">.fd-action-bar</a></li>
    <li><a href="alert">.fd-alert</a></li>
    <li><a href="badge">.fd-badge</a> | <a href="label">.fd-label</a></li>
    <li><a href="button">.fd-button</a></li>
    <li><a href="button-group">.fd-button-group</a></li>
    <li><a href="breadcrumb">.fd-breadcrumb</a></li>
    <li><a href="card">.fd-card</a></li>
    <li><a href="card-group">.fd-card-group</a></li>
    <li><a href="contextual-menu">.fd-contextual-menu</a></li>
    <li><a href="dropdown">.fd-dropdown</a></li>
    <li><a href="form">.fd-form > .fd-form__group</a></li>
    <li><a href="global-nav">.fd-global-nav</a></li>
    <li><a href="icon">.fd-icon</a></li>
    <li><a href="identifier">.fd-identifier</a></li>
    <li><a href="image">.fd-image</a></li>
    <li><a href="inline-help">.fd-inline-help</a></li>
    <li><a href="input-group">.fd-input-group</a></li>
    <li><a href="link">.fd-link</a></li>
    <li><a href="list-group">.fd-list-group</a></li>
    <li><a href="mega-menu">.fd-mega-menu</a></li>
    <li><a href="modal">.fd-modal</a></li>
    <li><a href="nav">.fd-nav</a></li>
    <li><a href="pagination">.fd-pagination</a></li>
    <li><a href="spinner">.fd-spinner</a></li>
    <li><a href="side-nav">.fd-side-nav</a></li>
    <li><a href="table">.fd-table</a></li>
    <li><a href="tabs">.fd-tabs</a></li>
    <li><a href="toolbar">.fd-toolbar</a></li>
    <li><a href="toggle">.fd-toggle</a></li>
    <li><a href="tree">.fd-tree</a></li>
</ul>

<h1>Layout</h1>
<ul>
    <li><a href="pages/app">.fd-ui .fd-app</a></li>
    <li><a href="pages/overlay">.fd-ui__overlay</a></li>
    <li><a href="pages/page">.fd-page</a></li>
    <li><a href="pages/section">.fd-section</a></li>
    <li><a href="pages/panel">.fd-panel</a></li>
    <li><a href="layout">.fd-container .fd-col</a></li>
</ul>

<h1>App Template Pages</h1>
<ul>
  <li><a href="pages/app/fullwidth">Full-width</a></li>
  <li><a href="pages/app/sidebar">Sidebar</a></li>
</ul>


<h1>Content Pages</h1>
<ul>
  <li><a href="pages/cards">Cards</a></li>
  <li><a href="pages/table">Table</a></li>
  <li><a href="pages/tree">Tree</a></li>
  <li><a href="pages/empty">Empty Page</a></li>
  <li><a href="pages/details-1">Details 1</a></li>
  <li><a href="pages/details-2">Details 2</a></li>
  {# <li><a href="pages/starter">Starter</a></li>
  <li><a href="pages/styles">Styles</a></li> #}
</ul>



<h1>Specs</h1>
<ul>
    <li><a href="pages/styles">Styles</a></li>
    <li><a href="pages/all">Sections and Panels</a></li>
</ul>
