<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ id }}</title>
    <link rel="stylesheet" href="static/layout.css">
    <style>
        {% if ie11 %}
            {% set sass = 'all-ie11.scss' %}
        {% elif selfContained %}
            {% if id === 'icon' %}
                {% set sass = 'icons.scss' %}
            {% elif id === 'radio' or id === 'checkbox' or id === 'input' %}
                {% set sass = 'components/form.scss' %}
            {% elif id === 'panel' or id === 'panel-grid' or id === 'layout' %}
                {% set sass = 'layout.scss' %}
            {% else %}
                {% set sass = 'components/' + id + '.scss'  %}
            {% endif %}
        {% else %}
         {% set sass = 'all.scss' %}
        {% endif %}
        {{ sass | sass_to_css }}
    </style>
</head>

<body>
    <a href="../">Back to Index</a>
    <header class="test-header">
        <h1>{% if selfContained %}Self-Contained Styles Playground{% elif ie11 %}IE11 Playground{% else %}Playground{% endif %}: <code>{{ data.id }}</code></h1>
        <form action="#" method="get">
            <fieldset class="test-fieldset">
                <label class="test-label"><input type="checkbox" value="" id="toggleBg"> Toggle BG</label>
                <span>
                    Contexts:
                    <label class="test-label"><input type="checkbox" value="" id="toggleDir"> RTL</label>
                    <label class="test-label" title="Enables touch metrics"><input type="checkbox" value="" id="toggleTouch"> Touch</label>
                    <label class="test-label" title="Forces compact metrics"><input type="checkbox" value="" id="toggleCompact"> Compact</label>
                </span>
            </fieldset>
        </form>
        <div class="status">
            {% if data.css_vars == true %}
            <span class="status-label">✅ CSS vars</span>
            {% else %}
            <span class="status-label">❌ CSS vars</span>
            {% endif %}

            {% if data.rtl == true %}
            <span class="status-label">✅ RTL</span>
            {% else %}
            <span class="status-label">❌ RTL</span>
            {% endif %}
        </div>
    </header>
    <main>
         <div class="test-datacontainer">
            <h2><code>{{id}}/data.json</code></h2>
            <textarea class="test-textarea" style="">{{ data | dump(2) }}</textarea>
        </div>
        <div id="example-container" style="padding: 20px;">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script type="text/javascript" src="/static/controls.js"></script>
</body>

</html>
