<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ id }}</title>
{% if libs.b3 %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">{% endif %}
{% if libs.b4 %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">{% endif %}
{% if libs.md %}<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">{% endif %}
{% if libs.tn %}<link rel="stylesheet" href="/static/techne-1.5.7.css">{% endif %}
    <style media="screen">
        {% set core_sass = 'core.scss' %}
        {{ core_sass | sass_to_css }}

{% if id === 'icon' %}
    {{ 'icons.scss' | sass_to_css }}
{% else %}
    {% set component_sass = 'components/' + id + '.scss'  %}
    {{ component_sass | sass_to_css }}
{% endif %}

        {% for sass in css_deps %}
            {% set dep_sass = sass + '.scss' %}
            {{ dep_sass | sass_to_css }}
        {% endfor %}
        body { padding: 20px; }
        .test-label { margin-right: 20px; }
        textarea.test-textarea { font-family: monospace; height: 200px; width: 100%; padding: 10px; font-size: 0.9rem; border: solid 1px rgba(0,0,0,0.1); }
    </style>
</head>
<body>
    <header style="border-bottom: solid 6px lightgray; padding-bottom: 10px; margin-bottom: 10px;">
        <form action="#" method="get">
        <fieldset style="font-family: monospace;font-size: 14px;">
            <label class="test-label"><input type="checkbox" name="lib" value="b3" {{'checked' if libs.b3 }}> bootstrap/3.3.7</label>
            <label class="test-label"><input type="checkbox" name="lib" value="b4" {{'checked' if libs.b4 }}> bootstrap/4.0.0-beta</label>
            <label class="test-label"><input type="checkbox" name="lib" value="md" {{'checked' if libs.md }}>
angular_material/1.1.4</label>
            <label class="test-label"><input type="checkbox" name="lib" value="tn" {{'checked' if libs.tn }}> techne/1.5.7</label>
            <button type="submit" class="tn-button tn-button--small">Submit</button>
        </fieldset>

        </form>

        <div class="test-datacontainer" style="position: fixed;right: 10px;bottom: 0px;text-align:right; width: 500px;max-width: calc(100vw - 15px);z-index:10;">
                    <h2 style="font-size: 12px;margin-bottom:5px"><code style="word-wrap:break-word;">{{id}}/data.json</code></h2>
            <textarea class="test-textarea" style="">
{{ data | dump(2) }}
            </textarea>

        </div>
        <style media="screen">
        .test-datacontainer { padding: 5px;background-color: rgba(0,0,0,0.1); }
        .test-datacontainer textarea { height: 50px; }
            .test-datacontainer textarea:focus { height: 80vh; }
        </style>



    </header>
    <main style="background-color: white;">
        <div style="padding: 20px;">

            {% block content %}
            {% endblock %}

        </div>
    </main>

    <script type="text/javascript" src="/static/controls.js"></script>


</body>
</html>
