{#
    see ./data.json for object structure
#}
{% macro select(
    properties={ value: "", id: "", options: [] },
    state={ multiple: false, disabled: false, status: "" },
    aria={},
    classes=[])
-%}
<select>
{%- for option in properties.options %}
    <option value="{{option.properties.value}}"{{ ' aria-disabled="'+ option.aria.disabled +'"' if aria.disabled }}{{ ' disabled' if option.state.disabled }}>{{option.properties.label}}</option>
{%- endfor %}
</select>
{%- endmacro %}