{% extends "layout.njk" %}
{% from "./component.njk" import select %}
{% from "./../format.njk" import format %}

{% set css_deps = ['fonts','helpers'] %}

{% block content %}

    <h1>Select</h1>
    {% set basic_select %}
        {{ select(
            type="text",
            properties={
                options: [{
                    properties: { label: "Option 1", value: "1" }
                },{
                    properties: { label: "Option 2", value: "2" }
                },{
                    properties: { label: "Option 3", value: "3" }
                },{
                    properties: { label: "Option 4", value: "4" }
                }]
            })
        }}
    {% endset %}

    {{ format(basic_select) }}

{% endblock %}
