@import "./../settings";
@import "./../../../mixins";
@import "./../../../functions";

$fd-forms-height--input-check-radio: $fd-spacing--base * 5 ;
$fd-forms-color--input-check: map-get($fd-colors-action, 1);
$fd-forms-color--input-unfocused: map-get($fd-colors-accent, 10);
$fd-forms-border-color--disabled: map-get($fd-colors-text, 5);
$fd-forms-background-color--disabled: map-get($fd-colors-neutral, 4);

#{$fd-elements-inputs--text} {
    //@include fd-form-text;
    //width: 100%;
    direction: inherit;
    line-height: nth(map-get($fd-type, "1"), 1);
    border-color: $fd-forms-color--input-unfocused;
    &:active, &:focus, &:hover {
        border-color: $fd-forms-color--input-check;
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        border-color: transparent;
        background-color: $fd-forms-background-color--disabled;
    }
    &.--l {
        height: $fd-forms-height + 8;
        font-size: $fd-font-size + 2;
        line-height: nth(map-get($fd-type, "2"), 1);
    }
}

#{$fd-elements-inputs--check} {
    height: $fd-forms-height--input-check-radio;
    width: $fd-forms-height--input-check-radio;
    border-color: $fd-forms-color--input-unfocused;
    &:checked {
        border-color: $fd-forms-color--input-check;
        background-color: $fd-forms-color--input-check
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        border-color: $fd-forms-border-color--disabled;
        background-color: $fd-forms-background-color--disabled;
    }

    &.--s {
        min-width: $fd-forms-height--input-check-radio - 2;
        height: $fd-forms-height--input-check-radio - 2;
        width: $fd-forms-height--input-check-radio - 2;
    }
    &.--l {
        height: $fd-forms-height--input-check-radio + 4;
        width: $fd-forms-height--input-check-radio + 4;
    }
}
input[type="checkbox"] {

    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        &::before {
            border-color: $fd-forms-border-color--disabled;
        }
    }
}

input[type="radio"] {
    $check-size_: fd-space(2);
    &:checked {
        background-color: $fd-forms-background-color;
        border-color: $fd-forms-color--input-unfocused;
        &::after {
            background-color: $fd-forms-color--input-check;
        }
        &[disabled],
        &[aria-disabled="true"],
        &.is-disabled {
            &::after {
                background-color: $fd-forms-border-color--disabled;
            }
        }
    }
    &:active, &:focus {
        border-color: $fd-forms-color--input-check;
    }
    &.--s::after {
        $check-size_: fd-space(1.5);
        width: $check-size_;
        height: $check-size_;
        top: calc(50% - (#{$check-size_}/2));
        left: calc(50% - (#{$check-size_}/2));
    }
    &.--l::after {
        $check-size_: fd-space(3);
        width: $check-size_;
        height: $check-size_;
        top: calc(50% - (#{$check-size_}/2));
        left: calc(50% - (#{$check-size_}/2));
    }
}
