{% extends "layout.njk" %}
{% import "../forms.njk" as forms %}
{% from "./../format.njk" import format %}

{% set css_deps = ['fonts','helpers'] %}

{% block content %}

    <h1>Radio</h1>
    {% set basic_radio %}
        {{ forms.radio(
            type="radio",
            properties={
                placeholder: "Placeholder Text"
            })
        }}
    {% endset %}

    {{ format(basic_radio) }}

{% endblock %}
