{% extends "layout.njk" %}
{% import "../forms.njk" as forms %}
{% from "./../format.njk" import format %}

{% block content %}


    {% set basic_radio %}
{{ forms.radio(
    type="radio",
    properties={
    })
}}
{{ forms.radio(
    type="radio",
    properties={
    },
    state={
      checked: true
    })
}}
{{ forms.radio(
    type="radio",
    properties={
    },
    state={
      disabled: true
    })
}}
{{ forms.radio(
    type="radio",
    properties={
    },
    state={
      checked: true,
      disabled: true
    })
}}
    {% endset %}

    {{ format(basic_radio) }}

{% endblock %}
