---
# Front matter comment to ensure Jekyll properly reads file.
---
//base component styles - do not import SCSS as the underlying jekyll sass engine does not use LibSass
@import "./fiori-fundamentals-ie11.css";
//needed for color variables in docs site
@import "../../scss/functions/_color.scss";
@import "../../scss/_settings.scss";

// landing page styling
@import "landingPage";

//docs site specific styles
@import "include-media.scss";
@import "docs-settings";
@import "docs-functions";
@import "docs-utils";
@import "docs-general";
@import "docs-top-nav";
@import "docs-side-nav";
@import "docs-right-nav";
@import "docs-search-box";
@import "docs-main-content";
@import "docs-home";
@import "docs-ui-kit";
@import "docs-headers";
@import "docs-colors";
@import "docs-grid";
@import "docs-spacing";
@import "docs-type";
@import "docs-component-list";
@import "docs-display-component";
@import "docs-display-responsive-component";
@import "docs-footer";
@import "docs-icons";
@import "docs-officehours";