
.fl-libraries {
  position: sticky;
  top: 0;
  height: auto;
  min-height: 100vh;
  background-color: #fafcff;
  .fl-title {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding-top: 2rem;
    margin-right: 1.1875rem;
    margin-left: 5vw;
  }
  @media (width >= 500px) {
    .fl-title {
      flex-direction: row;
      column-gap: clamp(1rem, 2vw, 3rem);
    }
  }
}
.fl-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5vw 5vw;
 
}
@media (width >= 1115px){
  .fl-cards{
    flex-direction: row;
    column-gap: 2rem;
  }
}






