<header class="header">
  <img
    class="header-image"
    src="./assets/images/Fundamental Library Full Logo.png"
    width="300"
  />
</header>

<section class="empty">
    <div class="p1">
        <div class="p1-title">Fundamental</div>
        <div class="p1-second">
            <div class="p1-second_library">Library</div>
            <p class="p1-second_text">
                Fundamental Library is a robust open-source toolkit allowing seamless
                alignment of application interfaces with the signature SAP Design
                theming and versatility.
              </p>
        </div>
        <div class="p1-buttons">
            <a href="#"
              ><button class="buttons_circle">browse libraries</button></a
            >
            <a href="#"
              ><button class="buttons_flat">discover components</button></a
            >
          </div>
    </div>
    

  <div class="p2">
    <h1 class="p2-title">
      <span>Purpose</span>
    </h1>

    <p class="p2-text">
      Fundamental library grew out of a need to ensure a consistent SAP
      Fiori look and feel across products and applications without having to
      rebuild them from the ground up.
    </p>
  </div>

  <div class="p3">
    <div class="p3-title">
      <span>The</span>
      <span>Libraries</span>
    </div>
    <div class="boxes">
      <div class="box-one">
        <img class="box-one_logo" src="./assets/images/Combo logo - styles.png" />
        
        <h2 class="box-one_title">
          <span>Fundamental Library Styles</span>
        </h2>

        <p class="box-one_text">
          Fundamental Styles simplifies building consistent SAP Fiori apps
          in any web-based technology (Angular, Vue, React, etc.). It offers
          designed and pre-built components for easy implementation and is
          open-source and community-driven.
        </p>

        <a href="#"
          ><button class="box-one_button">documentation</button>
          </a>
      </div>

      <div class="box-two">
        <img class="box-two_logo" src="./assets/images/Combo logo - angular.png" />

        <h2 class="box-two_title">
          <span>Fundamental Library for Angular</span>
        </h2>

        <p class="box-two_text">
          The Fundamental NGX library is based on the Angular framework and
          Fundamental Styles, giving its components a modern look. It offers
          already built and ready-to-use components which reduce drastically
          the overall coding time and lines for the developer.
        </p>

        <a href="#"
          ><button class="box-two_button">documentation</button>
          </a>
      </div>
    </div>
  </div>
</section>

<section class="full">
  <div class="p4">
    <h1 class="p4-title">
      <span>Used by</span>
      <span>Many</span>
    </h1>

    <div class="p4-box">
      <p class="p4-box_text">
        Long valuable quote by Fundamental Library users showcasing how they
        use the technologies in their work and why they might recommend
        others to try out the project for their product.
      </p>
      <p class="p4-box_quote">~ Who said this quote</p>
      <!--FINISH THE BUTTONS...(1/3)???-->
    </div>
  </div>

  <div class="p5">

    <div class="p5-part1">
            <img class="p5-logo" src="./assets/images/Frame 162892.png" />
    </div>
    <div class="p5-part2">
            <div class="p5-title">
                <span>Fundamental </span> 
                <span>Conference</span>
            </div>

            <p class="p5-text">
            Connect with the Fundamentals community through our annual conference
            featuring insightful sessions by industry professionals using and
            collaborating with the Fundamental Libraries in their work.
            </p>

            <a href="#"><button class="p5-button">see past events</button></a>
    </div>
  </div>

  <div class="p6">
    <img class="linesup" src="./assets/images/Lines up.png" />
    <h1 class="p6-title">SAP Design System</h1>
    <p class="p6-text">
      Fundamental Libraries follow the SAP Design guidelines for all
      component libraries and layout configurations to bring full alignment
      with an industry standard visual language.
    </p>

    <a href="#"><button class="p6-button">explore</button></a>
    <img class="linesbottom" src="./assets/images/Lines Bottom.png" />
  </div>
</section>

<footer>
  <div class="footers">
    <div class="columns-container">

      <div class="conleft">
        <p class="deskmessage">
          <span>Join our vibrant community of developers and</span>
          <span>help drive the Fundamental Libraries forward!</span>
        </p>
        <img class="footer-img" src="./assets/images/Fundamental Library Full Logo.png"/>
      </div>

      <div class="conright">
        <div class="connect">
          <a href="#"><img class="connecticon" src="./assets/images/Icon.png" /></a>
          <p class="connectitle">Connect</p>
          <ul class="list1">
            <div class="firstrow">
              <li class="slack"><a href="#">Slack</a></li>
              <li class="youtube"><a href="#">Youtube</a></li>
              <li class="linkedin"><a href="#">Linkedin</a></li>
            </div>

            <div class="secondrow">
              <li class="twitter"><a href="#">Twitter</a></li>
              <li class="github"><a href="#">GitHub</a></li>
              <li class="email"><a href="#">Email</a></li>
            </div>
          </ul>
        </div>


          <div class="libraries">
            <a href="#"
              ><img class="librariesicon" src="./assets/images/Book Icon.png"
            /></a>
            <p class="librarytitle">Our Libraries</p>
            <ul class="list2">
              <li class="fundstyles"><a href="#">Fundamental Styles</a></li>
              <li class="fundagx"><a href="#">Fundamental AGX</a></li>
              <li class="fundplatform"><a href="#">Fundamental Platform</a></li>
            </ul>
          </div>

          <div class="resources">
            <a href="#"
              ><img class="resourcesicon" src="./assets/images/Mediums Icon.png"
            /></a>
            <p class="resourcestitle">Resources</p>
            <ul class="list3">
              <li class="sapblogs"><a href="#">SAP Blogs</a></li>
              <li class="medium"><a href="#">Medium</a></li>
            </ul>
          </div>
    
      </div>
        
    </div>

    <div class="policies">
      <ul class="list4">
        <a href="#"><img class="SAP" src="./assets/images/SAP.png" /></a>
        <div class="justpolicy">
          <li class="privacypolicy"><a href="#">Privacy Policy</a></li>
          <li class="legaldisclosure"><a href="#">Legal Disclosure</a></li>
          <li class="copyrighttrade"><a href="#">Copyright and Trademark</a></li>
          <li class="termsofuse"><a href="#">Terms of Use</a></li>
        </div>
      </ul>

      <div class="disclaimer">
        <p class="last">
          <span>Fundamental Library is released under the Apache License 2.0</span>
          <span>© Copyright 2023, SAP SE</span>
        </p>
      </div>
    </div>
  </div>
</footer>