<header class="fl-header">
  <img class="fl-header-image" src="./assets/images/headerlogo.webp" width="220.56" height="61" alt="fundamental library logo"/>
</header>

<main class="fl-components">

<fl-intro/>

<fl-purpose/>


<section class="fl-libraries" id="fl-libraries">

  <h2 class="fl-title">
    <span>The</span>
    <span>Libraries</span>
  </h2>

  <div class="fl-cards">

  <fl-card logoname="CSS" title="Fundamental Library Styles" imgLink="./assets/images/csstyles.webp" link="https://sap.github.io/fundamental-styles"> 
    Fundamental Styles simplifies building consistent SAP Fiori apps in any
    web-based technology (Angular, Vue, React, etc.). It offers designed and
    pre-built components for easy implementation and is open-source and
    community-driven.
  </fl-card>

  <fl-card logoname="Angular" title="Fundamental Library for Angular" imgLink="./assets/images/angular_black.webp" link="https://sap.github.io/fundamental-ngx">
      The Fundamental NGX library is based on the Angular framework and
      Fundamental Styles, giving its components a modern look. It offers already
      built and ready-to-use components which reduce drastically the overall
      coding time and lines for the developer.
  </fl-card>
  
  </div>
</section>

<fl-used/>

<fl-conference/>

<fl-design/>

</main>

<fl-footer/>


