<header class="fl-header">
  <img
    class="fl-header-image"
    src="./assets/images/headerlogo.png"
    width="300"
  />
</header>

<div class="fl-components">

<fl-intro/>

<fl-purpose/>


<div class="fl-libraries">

  <div class="fl-title">
    <span>The</span>
    <span>Libraries</span>
  </div>

  <div class="fl-cards">

  <fl-card title="Fundamental Library Styles" imgLink="./assets/images/csstyles.png">
    Fundamental Styles simplifies building consistent SAP Fiori apps in any
    web-based technology (Angular, Vue, React, etc.). It offers designed and
    pre-built components for easy implementation and is open-source and
    community-driven.
  </fl-card>

  <fl-card title="Fundamental Library for Angular" imgLink="./assets/images/angularstyles.png">
      The Fundamental NGX library is based on the Angular framework and
      Fundamental Styles, giving its components a modern look. It offers already
      built and ready-to-use components which reduce drastically the overall
      coding time and lines for the developer.
  </fl-card>
  
  </div>
</div>

<fl-used/>

<fl-conference/>

<fl-design/>

</div>

<fl-footer/>


