body {
    padding: 20px;
    background-color: rgb(243, 244, 245);
    transition: background-color .25s;
}
.test-label {
    margin-right: 20px;
}

.test-header {
    border-bottom: solid 6px lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.test-fieldset {
    font-family: monospace;
    font-size: 14px;
    border: solid 2px lightgray;
    padding: 10px 5px;
}

textarea.test-textarea {
    font-family: monospace;
    height: 100px;
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border: solid 1px rgba(0,0,0,0.1);
}

.test-datacontainer {
    padding: 5px;
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    right: 10px;
    bottom: 0;
    text-align: right;
    width: 500px;
    max-width: calc(100vw - 15px);
    z-index: 10;
}
.test-datacontainer textarea {
    height: 50px;
}
.test-datacontainer textarea:focus {
    height: 80vh;
}
.test-datacontainer h2 {
    font-size: 12px;
    margin-bottom: 5px;
}

.test-datacontainer h2 code {
    word-wrap: break-word;
}

.status {
    margin-top: 10px;
}