<!--
card_grid:
    properties={ items: [] },
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro card_grid(properties={}, modifier={}, state={}, aria={}) -%}
<div class="fd-card-grid{{ modifier.block | modifier('card-grid') }}">
{% for item in properties.items -%}
{{ item | trim | indent(4, true) }}
{%- endfor -%}
</div>
{%- endmacro %}
