.fl-purpose{
    display: flex;
    height: 100vh;
    max-width: 85vw;
    margin: 1.5rem auto;
    border-radius: 1rem;
    padding: 1.75rem 1rem;
    flex-direction: column;
    background-color: #00677f;
    position: sticky;
    top: 0;

    p {
        flex: 1;
        display: flex;
        
        margin: 0 auto;
        max-width: 80vw;
        font-size: 1rem;
        font-weight: 400;
        color: #F9FDFF;
        text-align: center;
        align-items: center;
        line-height: 1.375rem;
    }
}

@media (min-width: 800px) {
    .fl-purpose {
        max-width: 90vw;

        p {
            max-width: 40vw;
            font-size: 1.5rem;
            line-height: 2.125rem;
        }
       
    }
}
