.docs-officehours {
  padding: 80px 20px 20px 20px;
  color: fd-color(text, 5);

  &._one {
    background: fd-color(accent, 9);
  }
  &._two {
    background: fd-color(accent, 10);
  }

  &-heading {}
  &-description {}
}
