body{
    font-family: '72', sans-serif;
    background-color: fd-color(background, 2);
}

a, a:visited{
    &:hover{
        color: docs-color(action, 4);
    }
}

ul,ol{
    margin-left: 40px;
}

hr{
    margin: 36px 0;
    float: none;
    clear: both;
}


.highlight{
    max-width: 1440px;
    margin: 25px 0 0 0;
}

.docs-tiles{
    $docs-tiles-color: docs-color(action, 3);
    margin: 0 -20px;
     grid-auto-rows: 1fr;

    .fd-tile[role="button"]{
        border: 1px solid docs-color(neturals, 1);
        margin: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        text-decoration: none;

        &:hover{
            border-color: $docs-tiles-color;
        }
        &:active, :focus{
            border-color: $docs-tiles-color;
            text-decoration: none;
        }
    }

    .fd-tile__header{
        color: $docs-tiles-color !important;
        font-weight: normal;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
    }
    .fd-tile__content{
        align-self: auto;
    }
    .fd-tile__description{
        color: docs-color(text, 1);
    }
    a:hover{
        color: inherit;
        text-decoration: none;
    }
}

hr{
    margin: 36px 0;
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 20px;
    word-break: break-all;
    word-wrap: break-word;
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;

    code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

  blockquote{
      margin: 15px 0;
      padding: 10px;
      border: 1px solid #ccc;
      border-left-width: 5px;
      border-radius: 5px;
      background: #fffde4;
  }


.docs-container{
    margin-left: 0;
    width: 100%;
    display: flex;
    min-height: calc(100vh - 87px - 89px);
    @include media("<=tablet") {
        display: inline;
    }

}


.docs-landing-page{
    width: 100%;
    min-width: 1024px;
}

.docs-table{
    border: 1px solid fd-color(neutral, 3);
    width: 100%;

    td{
        vertical-align: top;
    }
}


.docs-status {
  padding: 10px 0;
  margin-bottom: 30px;
  border: solid 1px fd-color(neutral, 3);
  border-width: 1px 0;

}

.docs-intro {
    font-size: 1.42857rem;
    line-height: 1.4;
    font-weight: 400;
}

.docs-alert {
  margin: 0 0 30px 0;
}


#mobile-sidenav-btn {
    display: none;
    @include media("<=tablet") {
        display: block;
    }
}
