.docs-ui-kit{

    $docs-home-white-color: docs-color(background, 1);
    $docs-home-dark-color: docs-color(text, 1);

    &_hero{
        background-image: url('../images/ui-kit/hero-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #242424;
        color: #d4d4d4;
        margin: 30px -60px 10px -60px;
        @include media("<=tablet") {
            margin:0 -20px 10px -10px;
        }


        &-heading{
            font-size: 32px;
            font-weight: 100;
            line-height: 1.1;
            text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.09);
            @include media("<=tablet") {
                font-size: 40px;
            }
        }
        &-description{
            max-width: 500px;
            margin: 0 auto;
        }

        &-content{
            padding: 60px;
            @include media("<=tablet") {
                padding: 20px;
            }
        }

        &-btn{
            font-size: 16px;
            font-weight: bold;
            background-color: docs-color(action, 3);
            color: fd-color(text, 5) !important;
            display: inline-block;
            margin-top:16px;
            margin-bottom:32px;
            line-height: 0;
            padding: 20px;
            border:none;
            @include media("<=tablet") {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            &:hover{
                background-color: docs-color(action, 4);
                text-decoration: none;
                box-shadow: none;
            }
        }

    }

    .docs-header-h3{
        margin-top: 20px;
        text-transform: unset;
    }

    .fd-col--6,
    .fd-col--4{
        padding-right: 20px;
    }

}
