.demo-icon-wrapper{
  padding: 10px;
  float: left;
  width: 16%;
  text-align: center;
  height: 120px;
  & span {
    padding: 10px;
    display: inline-block;
    &:before{
        font-size: 35px;
    }
  }
  & h5 {
    margin-bottom: 0;
  }

}
