.main-content {
    vertical-align: top;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 27px - 40px - 20px);
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
  }

.docs-content{
    padding: 40px 40px 80px 60px;
    min-width: 1024px;
    max-width: 1440px;
    width: 80%;
    @include media("<=tablet") {
        padding: 10px;
        min-width: auto;
        width: 100%;
    }
    > ol li, 
    > ul li {
        margin: 10px 0px 10px 0;
    }

    > h2{
        @extend .docs-header-h2;
    }

    > h3{
        @extend .docs-header-h3;
    }
    
}
.docs-content-full-width{
    padding: 40px 40px 80px 40px;
    width: 100%;
    @include media("<=tablet") {
        text-align: center;
        padding-top: 20px;
    }
}


