.docs-footer{
    background: #EAEAEA;
    border-top: 1px solid docs-color(neturals, 1);
    bottom: 0;
    padding: 32px;
    width: 100%;
    font-size: 16px;
    .row {
      margin: 0;
    }
    &__link {
      margin-left: 20px;

    }
}
