
$gird-border-color: #cfdbe7;
$grid-item-bg-color: fd-color(background, 2);
$grid-transition-delay: 100ms;
.docs-component-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    background: $gird-border-color;
    border: 1px solid $gird-border-color;
    border-left: none;
    border-right: none;
    margin: 0 -40px -100px -40px;

    @include media("<=tablet") {
        grid-template-columns: auto;
    }

    &--item{
        background: $grid-item-bg-color;
        padding: 40px 10px;
        display: block;
        text-align: center;
        position: relative;
        height: 280px;
        z-index: 1;
        transition: all ease-in-out $grid-transition-delay;

        &:hover{
            background-color: $grid-item-bg-color;
            box-shadow: 0 0 20px 0 rgba(138, 143, 161, 0.4);
            text-decoration: none;
            z-index: 2;
            transition: all ease-in-out $grid-transition-delay;
        }
    }

    &--label {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
        text-align: center;
        color: #21262c;
        margin-top: 30px;
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &--img{

        &__action-bar{
            width: 300px;
            margin-top:60px;
        }

        &__alert{
            width: 250px;
            margin-top:20px;
        }

        &__status-indicators{
            width: 250px;
            margin-top:60px;
        }

        &__button{
            width: 150px;
            margin-top:40px;
        }

        &__combobox-input{
            margin-top:10px;
        }

        &__contextual-menu{
            width: 100px;
            margin-top:10px;
        }

        &__dropdown{
            width: 250px;
            margin-top:20px;
        }

        &__icons{
            width: 250px;
            margin-top:70px;
        }

        &__identifier{
            width: 200px;
            margin-top:50px;
        }

        &__image{
            width: 100px;
            margin-top:20px;
        }

        &__inline-help{
            width: 250px;
            margin-top:30px;
        }

        &__link{
            width: 100px;
            margin-top:60px;
        }

        &__localization-editor{
            margin-top:60px;
        }

        &__form{
            width: 250px;
            margin-top:30px;
        }

        &__input-group{
            width: 250px;
            margin-top:30px;
        }

        &__list-group{
            width: 300px;
            margin-top:40px;
        }

        &__loading-spinner{
            width: 50px;
            margin-top:50px;
        }

        &__mega-menu{
            width: 110px;
            margin-top:0px;
        }

        &__modal{
            width: 230px;
            margin-top:0px;
        }

        &__multi-input{
            width: 230px;
            margin-top:50px;
        }

        &__pagination{
            width: 300px;
            margin-top:60px;
        }

        &__search-input{
            margin-top:50px;
        }

        &__side-navigation{
            width: 100px;
            margin-top:0px;
        }

        &__shellbar{
            width: 300px;
            margin-top:50px;
        }

        &__table{
            width: 300px;
            margin-top:0px;
        }

        &__tabs{
            width: 300px;
            margin-top:60px;
        }

        &__tag{
            width: 150px;
            margin-top:50px;
        }

        &__tile{
            width: 300px;
            margin-top:40px;
        }

        &__tile-grid{
            width: 300px;
            margin-top:20px;
        }

        &__toggle{
            width: 40px;
            margin-top:30px;
        }

        &__toolbar{
            width: 320px;
            margin-top:60px;
        }

        &__tree{
            width: 300px;
            margin-top:0px;
        }
    }
}
