.docs-top-nav {
    background-color: #000;
    height: 87px;
    &__logo{
        margin-top: 25px;
        margin-left: 35px;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        color: fd-color(text, 5) !important;

        &:hover{
            text-decoration: none;
            color: fd-color(text, 5) !important;
        }
        &__accent{
            font-weight: 100;
        }

    }


    &__support{
        font-size: 1.14286rem;
        line-height: 1.25;
        font-weight: 400;
        color: fd-color(text, 5) !important;
        padding: 30px 20px 0 0;
        display: inline-block;
        @include media("<=tablet") {
            display: none;
        }
        &--link{
            display: inline-block;
            vertical-align: top
        }
    }

    &__mobile {
        @include media("<=tablet") {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }
    }
}
