* {
  margin: 0;
  padding: 0;
}

.vh {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@mixin text() {
  font-family: "72";
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #404040;
}

@mixin text-mobile {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
}

@mixin title-mobile {
  font-family: "72";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
}

@mixin item-title-mobile {
  font-family: "72";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

@mixin item-text-mobile {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
}

@mixin button {
  height: 36px;
  padding: 0 5px;
  border-radius: 4px;
  color: white;
  border: solid 1px #007ea3;
  background-color: #007ea3;
}

$home-page-action-color: #007ea3;
$learn-section-side-margin: 0 2rem;

@media (min-width: 0) {

  .about-section {
    padding: 140px 120px;
    background-image: url("../images/land-page-assets/about_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    &__title {
      @include text();
  
      text-align: center;
      margin-bottom: 64px;
    }
  
    &__container {
      max-width: 1440px;
      margin: 0 auto;
      display: grid;
      grid-gap: 24px;
      grid-template-columns: auto auto auto;
    }
  
    &__item {
      @include text();
  
      font-size: 20px;
      line-height: 1.4;
      text-align: justify;
    }
  }
  
  .community-section {
    padding: 140px 120px;
    max-width: 1440px;
    margin: 0 auto;
  
    &__title {
      @include text();
  
      text-align: center;
    }
  
    &__text {
      width: 50%;
      margin: 16px auto 44px;
  
      @include text();
  
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
    }
  
    &__container {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: auto auto auto auto;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $home-page-action-color;
    }
  
    &__logo {
      img {
        height: 80px;
        display: block;
        margin-bottom: 24px;
      }
    }
  
    a {
      color: $home-page-action-color;
      text-align: center;
    }
  }

  .features-section {
    padding: 80px 120px 140px 120px;
    max-width: 1440px;
    margin: 0 auto;
  
    &__logo {
      height: 60px;
      padding-bottom: 12px;
    }
  
    &__title {
      @include text();
  
      text-align: center;
      margin-bottom: 52px;
    }
  
    &__container {
      display: grid;
      grid-gap: 52px;
      grid-template-columns: auto auto auto auto;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__item-title {
      @include text();
  
      font-size: 30px;
      line-height: 1.2;
    }
  
    &__text {
      @include text();
  
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
    }
  }

  .intro-section {
    padding: 100px 120px;
    background-image: url("../images/land-page-assets/hero_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    &__logo {
      height: 120px;
    }
  
    &__container {
      max-width: 100%;
      margin: 0 auto;
    }
  
    &__text {
      width: 70%;
      margin-top: 16px;
  
      @include text();
    }
  }

  .libraries-section {
    padding: 140px 120px 0 120px;
    max-width: 100%;
    margin: 0 auto;
  
    &__logo {
      height: 75px;
    }
  
    &__title {
      @include text();
  
      text-align: center;
      margin-bottom: 64px;
    }
  
    &__container {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: 1fr 1fr;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 300px;
      padding: 44px 24px 44px 44px;
      border-radius: 8px;
      border: solid 1px #d3d3d3;
      background-color: #fff;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        box-shadow: 0 0 10px 0 rgba(211, 211, 211, 0.9);
        transform: scale(1.005);
      }
    }
  
    &__item-title {
      @include text();
  
      font-size: 30px;
      line-height: 1.2;
      margin: 16px 0;
    }
  
    &__text {
      @include text();
  
      font-size: 20px;
      line-height: 1.4;
    }
  
    &__links {
      display: flex;
    }
  
    &__more {
      @include text();
  
      font-size: 16px;
      line-height: 1.75;
      font-weight: normal;
      margin-top: 16px;
      color: $home-page-action-color;
      text-decoration: none;
      margin-right: 20px;
    }
  }
  
  .footer-section {
    width: 100%;
    margin: 16px 120px 0;
    padding: 16px 0;
  
    @include text();
  
    font-size: 12px;
    line-height: 1.33;
    font-weight: normal;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-top: 2px solid #eeeeee;
    color: #404040;
  
    &__slogan-logo {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
    &__slogan {
      font-size: 14px;
      color: #767676;
      margin-right: 16px;
      min-width: 120px;
    }
  
    &__copyright {
      margin-left: 24px;
      color: #404040;
      width: 100%;
    }
  
    &__container--left {
      display: flex;
      align-items: center;
      justify-self: start;
    }
  
    &__container--right {
      justify-self: end;
      display: flex;
      justify-content: space-between;
  
      a {
        margin-left: 24px;
        color: #8f8f8f;
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2.75rem 44px 0 44px;
    max-width: 1440px;

    &--learn {
      padding: 2.75rem 0 0 0;
    }

    &--testemonials {
      width: 100%;
      max-width: 100%;
      margin-top: 14px;
      background-size: cover;
      background-image: url("../images/land-page-assets/FL_Banner_50Opacity.png");

      .company,
      .company-container {
        max-width: 1440px;
      }
    }

    &__button {
      @include button();
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      outline-offset: -0.25rem;

      &:visited {
        color: white;
        
        &:hover {
          color: white;
        }

        &:focus {
          color: white;
          outline: dotted 0.125rem white;
        }
      }
      &:hover {
        color: white;
      }

      &:focus {
        color: white;
        outline: dotted 0.125rem white;
      }
    }

    &__button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 44px;
    }

    &__item {
      text-align: center;
      margin-bottom: 2.75rem;

      &--learn {
        text-align: left;
        border-radius: 8px;
        border: solid 1px #d3d3d3;
        width: 100%;
        max-width: 100%;
        max-height: 352px;
        overflow: scroll;
      }
      &--learn-inner {
        margin-bottom: 0;
      }

      &--img {
        text-align: left;

        img {
          width: 100%;
        }
  
        h3 {
          font-size: 20px;
          font-weight: 500;
          border-bottom: 1px solid lightgrey;
          padding: 0.5rem 0 0.5rem 1rem;
        }
  
        a {
          font-weight: 900;
          margin: 0;
        }
  
        .blog {
          padding-left: 1rem;
        }

        p {
          padding: 0.25rem 0 2rem 0;
        } 

        span {
          color: grey;
          font-weight: 300;
          font-size: 14px;
        }
      }


      &--youtube {
        border: 1px solid transparent;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        overflow: hidden;

        iframe {
          -webkit-transform: scale(1.0);
          -webkit-transform-origin: 0 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__item-title {
      @include text();
      @include item-title-mobile();
      margin: 1rem 0 1rem 0;
      font-weight: normal;

      &--learn {
        padding: 0 2rem;
        line-height: normal;
        text-align: left;
      }
    }

    &__logo {
      height: 4.875rem;
      border-radius: 8px;

      &--learn {
        width: 100%;
        object-fit: cover;
        text-align: center;
        height: 100vw;
      }
    }

    &__subtitle {
      @include item-title-mobile();
      margin-top: 3.375rem;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: normal;
    }

    #testemonial {
      display: none;
    }

    &__testemonial {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;

      &--outer {
        flex-direction: column;
        max-width: 100%;
      }

      .testemonial-inner {
        max-width: 1440px;
        padding: 0 30px 0 30px;
        text-align: center;
      }

      .company {
        justify-content: center;
        position: relative;
        margin-top: 54px;
        opacity: 1;

        &--logo {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-bottom: 44px;
          margin-top: 0;
          padding: 0;
        }

        .logo {
          height: 60px;
        }
      }

      .company-name {
        @include text();  
        font-size: 21px;
        text-align: center;
        font-weight: bold;
        padding-left: 1rem;
        margin: 0;
      }

      .quotations {
        display: none;
      }

      .read-more {
        @include text();
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 1.75;
        font-weight: normal;
        margin-top: 16px;
        color: $home-page-action-color;
        text-decoration: none;
        margin-right: 20px;
      }

      .quote {
        @include text();
        text-align: left; 
        line-height: 1.25;
        font-size: 16px;
      }

      .logo {
        height: 79.5px;
      }

    }

    &__testemonial-arrows {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      top: 120px;
      margin-top: -60px;

      .left-arrow,
      .right-arrow {
        padding: 0 2rem;
        outline: none;
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: #767676;

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      .left-arrow {
        margin-left: -4rem;
      }

      .right-arrow {
        margin-right: -4rem;
      }
    }

    &__text {
      @include text();  
      font-size: 16px;
      line-height: 1.25;
      text-align: left;
      margin-bottom: 1.25rem;

      &--learn {
        margin: $learn-section-side-margin;
        font-size: 20px;
        line-height: 1;
        font-weight: normal;
      }
    }

    &__title {
      @include text();
      font-size: 30px;
      margin-bottom: 1rem;
      text-align: center;

      &--learn {
        margin-bottom: 40px;
      }
    }

    .animate-in {
      -moz-animation: fade-in 1s;
      -webkit-animation: fade-in 1s;
      animation: fade-in 1s;
    }

    .animate-out {
      -moz-animation: fade-out 1s;
      -webkit-animation: fade-out 1s;
      animation: fade-out 1s;
    }
  }
}

@media (min-width: 768px) {
  .about-section {
    &__item {
      text-align: left;
    }
  }

  .section {
    flex-direction: column;
    padding: 140px 120px 0 120px;

    &__button {
      margin-top: 1.25rem;

      &--next-prev {
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        padding: 1.5rem;
        font-weight: 300;
      }
    }

    &__container {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0;
      min-width: 100%;
      margin-left: -24px;
      margin-right: -24px;

      > :not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__container-inner {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;

      > :not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__container-button {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    &__item {
      margin-bottom: 0;
      padding: 0 24px;
      max-width: 100%;

      &--learn {
        padding: 0 24px;
        width: 50%;
        border: none;
      }
  
      &--learn-inner {
        border-radius: 8px;
        border: solid 1px #d3d3d3;
        padding: 0;
        width: 100%;
        max-width: 100%;
      }

      &--youtube {
        width: 100%;
        margin-top: 24px;
      }

      &--img {
        text-align: left;
      }
    }

    &__item-title {
      margin: 1.25rem 0 1rem 0;
    }

    &__logo {
      height: 4.875rem;
      width: auto;

      &--learn {
        height: auto;
        width: 100%;
        height: 352px;
        border-radius: 0.5rem;
      }
    }

    &__subtitle {
      margin-bottom: 3.4375rem;
      margin-top: 4.0625rem;
    }

    &__text {
      font-size: 20px;
      line-height: normal;
      margin: 0;
    }

    &--testemonials {
      margin-top: 55px;

      .testemonial-inner {
        padding: 0 125px;
        text-align: left;

        .company {  
          &--logo {
            margin-bottom: 140px;
          }

          .quote {
            margin-right: -50px;
          }
        }
      }
    }

    &__title {
      font-size: 55px;
      margin-bottom: 4.1875rem;
    }
  }
}

@media (min-width: 1024px) {
  .section {

    &__button {
      &--next-prev{
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        padding: 1.5rem;
      }
    }

    &__container {
      flex-direction: row;
      justify-content: space-between;
      margin-left: -36px;
      margin-right: -36px;
      width: auto;

      > :not(:last-child) {
        margin-bottom: 0;
      }

      &--learn {
        padding: 0 7.5rem 0 7.5rem;
      }
    }

    &__container-inner {
      padding: 0;
    }

    &__item {
      margin-bottom: 0;
      padding: 0 36px;
      max-width: 33%;

      &--youtube {
        margin-top: 0;
        height: 352px;
      }

      &--learn {
        padding: 0 36px;
        border: none;
        width: 33%;
      }

      &--learn-inner {
        border-radius: 8px;
        border: solid 1px #d3d3d3;
        padding: 0;
        width: 100%;
        max-width: 100%;
      }
    }

    &__testemonial-arrows {
      .left-arrow,
      .right-arrow {
        font-size: 48px;
      }
    }

    &__testemonial {
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      
      &--outer {
        margin-top: 40px;
        flex-direction: column;
        padding: 0;
        align-items: center;
      }

      .company {
        justify-content: center;

        &--logo {
          display: flex;
          align-items: center;
          padding: 0;
        }

        .quote {
          font-size: 25px;
        }
      }

      .company-name {
        text-align: left;
        font-size: 30px;
        margin: 0;
      }

      .quotations {
        display: block;
        position: absolute;
        width: 49px;
        left: -50px;
        top: -30px;
      }

      .animate-in {
        -moz-animation: fade-in 1s;
        -webkit-animation: fade-in 1s;
        animation: fade-in 1s;
      }

      .animate-out {
        -moz-animation: fade-out 1s;
        -webkit-animation: fade-out 1s;
        animation: fade-out 1s;
      }

      .logo {
        margin: 0;
        height: 79.5px;
      }

    }

  }
}

@media (min-width: 1440px) {
  .about-section {
    &__title {
      font-size: 55px;
    }

    &__container {
      max-width: 1560px;
      padding: 0 120px;
    }
    &__item {
      font-size: 24px;
    }
  }

  .community-section {
    &__logo {
      font-size: 20px;

      img {
        height: 100px;
      }
    }

    &__text {
      font-size: 24px;
    }

    &__title {
      font-size: 55px;
    }
  }

  .features-section {
    padding: 80px 120px 140px 120px;
    max-width: 1560px;

    &__title {
      font-size: 55px;
    }

    &__text {
      font-size: 24px;
    }

    &__logo {
      height: 75px;
    }
  }

  .intro-section {
    &__container {
      max-width: 1560px;
    }

    &__text {
      width: 100%;
    }
  }

  .libraries-section {
    padding: 140px 120px 64px 120px;
    max-width: 1560px;

    &__item-title{
      font-size: 30px;
    }

    &__logo {
      height: 100px;
    }

    &__more {
      font-size: 24px;
    }

    &__text {
      font-size: 24px;
    }

    &__title {
      font-size: 55px;
    }
  }

  .section {
    &__button {
      width: auto;
      height: auto;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-size: 24px;

      &--next-prev {
        margin: 0;
        border-radius: 50%;
      }
    }
    
    &__container-button {
      justify-content: center;
    }

    &__container--learn {
      justify-content: center;
    }

    &__item-title {
      font-size: 30px;
    }

    &__logo {
      height: 8rem;

      &--learn {
        height: 352px;
      }
    }

    &__testemonial {

      .quote {
        font-size: 24px;
      }

      .logo {
        height: 100px;
      }

      .company-name {
        font-size: 30px;
      }
    }
    
    &__text {
      font-size: 24px;
      line-height: normal;
      margin: 0;
    }
    
    &__title {
      font-size: 55px;
    }

    &__subtitle {
      font-size: 40px;
    }
  }
}

body {
  font-family: "72", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.header-section {
  min-height: 64px;
  padding: 0 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__links {
    display: none;
    position: absolute;
    left: 0;
    top: 63px;
    width: 100%;
    background: #fff;
    will-change: transform;

    &.show {
      display: flex;
      flex-direction: column;
      animation: show-list-animate 0.5s;
    }

    &.hide {
      display: flex;
      flex-direction: column;
      animation: scale-display--reversed 0.5s;
      animation-fill-mode: forwards;
    }

    @media (min-width: 900px) {
      display: block;
      position: static;
      width: auto;
      background: transparent;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      margin: 0;
      padding: 0;

      @media (min-width: 900px) {
        display: inline-block;
      }
    }

    a {
      @include text();

      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      border-bottom: solid 1px #d3d3d3;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.75;
      color: #404040;

      @media (min-width: 900px) {
        height: auto;
        display: inline-block;
        font-size: 14px;
        line-height: 1.43;
        margin: 0 6px;
        border: none;
        color: inherit;
      }

      @media (min-width: 1024px) {
        margin: 0 24px;
      }
    }
  }

  &__hamburger {
    display: none;
    min-width: 15px;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    button {
      border: 0;
      background: transparent;
      outline: none;
      cursor: pointer;
      padding: 6px;
      display: inline-block;
      width: 36px;
    }
  }

  &__logo {
    img {
      max-height: 35px;
    }
  }
}


.backToTopHidden {
  display: none;
}

.backToTopVisible {
  width: 44px;
  height: 44px;
  line-height: 44px;
  box-shadow: 0 1px 4px 0 #d3d3d3;
  border: solid 1px #d3d3d3;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 30px;
  border-radius: 50%;
  color: $home-page-action-color;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

// TABLET AND MOBILE

@media (max-width: 900px) {
  .header-section {
    padding: 0 20px;
    justify-content: space-between;

    &__logo {
      flex: 1;
      text-align: center;
    }

    &__hamburger {
      display: block;
    }
  }
}

@media (max-width: 1224px) {
  .intro-section {
    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .intro-section {
    padding: 36px;

    &__text {
      width: 100%;

      @include item-title-mobile();
    }

    &__logo {
      height: 70px;
    }
  }
}

@media (max-width: 900px) {
  .libraries-section {
    padding: 80px 120px;

    &__container {
      grid-template-columns: auto;
    }
  }
}

@media (max-width: 768px) {
  .libraries-section {
    padding: 64px 44px;

    &__container {
      grid-template-columns: auto;
    }

    &__title {
      @include title-mobile();

      margin-bottom: 44px;
    }

    &__item {
      min-height: 260px;
    }

    &__item-title {
      @include item-title-mobile();

      margin-bottom: 8px;
    }

    &__text {
      @include text-mobile();
    }

    &__more {
      font-size: 14px;
      line-height: 1.43;
    }
  }
}

@media (max-width: 600px) {
  .libraries-section {
    padding: 64px 0;

    &__container {
      grid-gap: 0;
    }

    &__title {
      @include title-mobile();

      margin-bottom: 20px;
    }

    &__item {
      min-height: auto;
      border: none;
      box-shadow: none;
      border-radius: 0;
      border-bottom: solid 1px #d3d3d3;
      transition: none;

      &:hover {
        box-shadow: none;
        transform: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .features-section {
    &__container {
      grid-template-columns: auto auto;
    }
  }
}

@media (max-width: 600px) {
  .features-section {
    padding: 0 44px 44px 44px;

    &__container {
      grid-template-columns: auto;
    }

    &__title {
      @include title-mobile();

      margin-bottom: 44px;
    }

    &__item-title {
      @include item-title-mobile();

      margin-bottom: 8px;
    }

    &__text {
      @include text-mobile();
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 44px;

    &__container {
      grid-template-columns: auto;
    }

    &__title {
      @include title-mobile();

      margin-bottom: 16px;
    }

    &__item {
      @include text-mobile();
    }
  }
}

@media (max-width: 1024px) {
  .community-section {
    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .community-section {
    padding: 44px;

    &__title {
      @include title-mobile();
    }

    &__item-title {
      @include item-title-mobile();
    }

    &__text {
      @include text-mobile();
    }
  }
}

@media (max-width: 600px) {
  .community-section {
    padding-bottom: 0;

    &__container {
      grid-template-columns: auto;
    }

    &__item {
      margin-bottom: 44px;
    }
  }
}

@media (max-width: 990px) {
  .footer-section {
    grid-template-columns: auto;

    &__container--left {
      margin-bottom: 16px;
      justify-self: center;
    }

    &__container--right {
      justify-self: center;
    }
  }
}

@media (max-width: 768px) {
  .footer-section {
    margin: 0;
    padding: 16px 44px;
  }
}

@media (max-width: 600px) {
  .footer-section {
    padding: 44px;
    flex-direction: column;
    align-items: center;

    &__copyright {
      margin: 0;
      margin-top: 24px;
      text-align: center;
    }

    &__container--left {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }

    &__container--right {
      flex-direction: column;
      align-items: center;
      margin-bottom: 70px;

      a {
        margin-top: 24px;
        margin-left: 0;
      }
    }

    &__slogan-logo {
      width: 100%;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .backToTopVisible {
    display: none;
  }
}

.header-section__sap-icon--menu2 {
  background-color: white;
  border: none;
}

.header-section__sap-icon--menu2::before {
  transition: opacity 0.3s, transform 0.3s;
  color: $home-page-action-color;
  font-size: 20px;
}

.header-section__sap-icon--decline::before {
  font-size: 20px;
  transition: opacity 0.3s, transform 0.3s;
  transform: rotate(-180deg);
  color: $home-page-action-color;
}

@keyframes show-list-animate {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 1;
    transform-origin: top left;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes scale-display--reversed {
  0% {
    opacity: 1;
    display: flex;
    flex-direction: column;
    transform-origin: top left;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  99% {
    opacity: 0;
    display: flex;
    flex-direction: column;
    transform-origin: top left;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    display: none;
    opacity: 0;
    transform-origin: top left;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

.docs-landing-page {
  a {
    &:focus {
      text-decoration: underline;
      outline-offset: 2px;
    }
  }
}
