$button-focus: #02617e;
$button-hover: #006f91;
$button-regular: #007ea3;
$button-outline-hover: #007ea3;
$button-outline-focus: #006f91;

@mixin button-focus() {
  background-color: #02617e;
  border-color: #02617e;
}

@mixin button-hover() {
  background-color: #006f91;
  border-color: #006f91;
}


@mixin button-outline-hover() {
  background-color: #007ea3;
  border-color: #007ea3;
}

@mixin button-outline-focus() {
  background-color: #006f91;
  border-color: #006f91;
}


* {
  margin: 0;
  padding: 0;
}

.vh {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@mixin text() {
  font-family: "72";
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #404040;
}

@mixin text-mobile {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
}

@mixin title-mobile {
  font-family: "72";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
}

@mixin item-title-mobile {
  font-family: "72";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

@mixin item-text-mobile {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
}

@mixin button {
  height: 36px;
  padding: 0 5px;
  border-radius: 4px;
  color: white;
  border: solid 1px #007ea3;
  background-color: #007ea3;
}

$home-page-action-color: #007ea3;
$learn-section-side-margin: 0 2rem;

@media (min-width: 0) {

  .about-section {
    padding: 140px 120px;
    background-image: url("../images/land-page-assets/about_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    &__title {
      @include text();
  
      text-align: center;
      margin-bottom: 64px;
    }
  
    &__container {
      max-width: 1440px;
      margin: 0 auto;
      display: grid;
      grid-gap: 24px;
      grid-template-columns: auto auto auto;
    }
  
    &__item {
      @include text();
  
      font-size: 20px;
      line-height: 1.4;
      text-align: justify;
    }
  }
  
  .community-section {
    padding: 2.75rem 44px;
    max-width: 1440px;
    margin: 0 auto;
  
    &__item-title {
      @include item-title-mobile();
    }

    &__title {
      @include text();
      font-size: 30px;
      margin: 0;
      text-align: center;
    }
  
    &__text {
      margin: 16px auto 24px;
  
      @include text();
      font-size: 16px;
      line-height: 1.4;
      text-align: left;
    }
  
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 100%;
      margin-right: -5px;
      margin-left: -5px;
      margin-bottom: -16px;
    }
  
    &__item {
      padding: 0 5px 16px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $home-page-action-color;
      min-width: 16.66%;
      max-width: 16.66%;

      .contact {
        display: none;
      }
    }
  
    &__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      img {
        max-width: 100%;
        display: block;
        margin-bottom: 8px;
      }
    }
  
    a {
      color: $home-page-action-color;
      text-align: center;
    }
  }

  .features-section {
    padding: 80px 120px 140px 120px;
    max-width: 1440px;
    margin: 0 auto;
  
    &__logo {
      height: 60px;
      padding-bottom: 12px;
    }
  
    &__title {
      @include text();
  
      text-align: center;
      margin-bottom: 52px;
    }
  
    &__container {
      display: grid;
      grid-gap: 52px;
      grid-template-columns: auto auto auto auto;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__item-title {
      @include text();
  
      font-size: 30px;
      line-height: 1.2;
    }
  
    &__text {
      @include text();
  
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
    }
  }

  .intro-section__banner{
    width: 100%;
  }

  .intro-section {
    padding: 100px 120px;
    background-repeat: no-repeat;
    background-size: cover;
  
    &__logo {
      height: 120px;
    }
  
    &__container {
      max-width: 100%;
      margin: 0 auto;
    }
  
    &__text {
      width: 70%;
      margin-top: 16px;
  
      @include text();
    }

    &__conf {
      width: 100%;

      &--mobile{
        width: 100%;

      }
    }

  }

  .libraries-section {
    padding: 140px 120px 0 120px;
    max-width: 100%;
    margin: 0 auto;
  
    &__logo {
      height: 75px;
    }
  
    &__title {
      @include text();
  
      text-align: center;
      margin-bottom: 64px;
    }
  
    &__container {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: 1fr 1fr;
    }
  
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 300px;
      padding: 44px 24px 44px 44px;
      border-radius: 8px;
      border: solid 1px #d3d3d3;
      background-color: #fff;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        box-shadow: 0 0 10px 0 rgba(211, 211, 211, 0.9);
        transform: scale(1.005);
      }
    }
  
    &__item-title {
      @include text();
  
      font-size: 30px;
      line-height: 1.2;
      margin: 16px 0;
    }
  
    &__text {
      @include text();
  
      font-size: 20px;
      line-height: 1.4;
    }
  
    &__links {
      display: flex;
    }
  
    &__more {
      @include text();
  
      font-size: 16px;
      line-height: 1.75;
      font-weight: normal;
      margin-top: 16px;
      color: $home-page-action-color;
      text-decoration: none;
      margin-right: 20px;
    }
  }
  
  .footer-section {
    width: 100%;
    margin: 0;
    padding: 44px 0;
  
    @include text();
  
    font-size: 12px;
    line-height: 1.33;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #404040;
    color: white;

    &__logo {
      width: 31px;
    }

    &__separator {
      width: 100%;
      border: 1px solid #F0F0F0;
      border-bottom: none;
      margin: 24px 0;
    }
  
    &__slogan-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    &__slogan {
      @include text();
      margin-left: 4px;
      font-size: 12px;
      color: white;
      font-weight: bold;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      &--contact {
        display: none;
      }

      &--right {
        flex-direction: column-reverse;
        justify-content: center;
  
        .footer-section__container-inner {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    &__text {
      @include text();
      margin: 0;
      margin-top: 16px;
      font-size: 14px;
      font-weight: 400;
      color: #EEEEEE;

      &:focus {
        outline-color: white;
      }

      &--copyright-title {
        text-align: center;
        width: 100%;
      }

      &--copyright {
        font-size: 10px;
      }

      &--title {
        font-size: 16px;
        font-weight: bold;
        margin-top: 24px;

        &:hover {
          color: white;
        }

        &:active {
          color: white;
        }
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2.75rem 44px;
    max-width: 1440px;

    .cta {
      background-color: #eeeeef;
      padding: 44px;
      width: 100%;
      margin-top: 44px;

      &__button-container {
        display: flex;
        flex-direction: column;

        :first-child {
          margin-bottom: 8px;
        }
      }

      &__title {
        @include text();
        font-size: 20px;
        font-weight: bold;
      }

      &__description {
        @include text-mobile();
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 20px;
      }
    }

    &--learn {
      padding-top: 64px;
    }

    &--testemonials {
      width: 100%;
      max-width: 100%;
      margin-top: 14px;
      background-size: cover;
      background-image: url("../images/land-page-assets/FL_Banner_50Opacity.png");

      .company,
      .company-container {
        max-width: 1440px;
      }
      
      .add-testimonial {
        display: flex;
        flex-direction: column;
        margin-top: -20px;

        p,a {
          @include text();
          font-size: 14px;
        }

         > :first-child {
          color: #767676; 
        }

        a {
          color: #007ea3;
          text-decoration: none;
        }
      }
    }

    &__button {
      @include button();
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      outline-offset: -0.25rem;
      padding: 8px 0;
      height: 36px;
      font-size: 14px;

      &:visited {
        color: $button-regular;
        
        &:hover {
          color: white;
          @include button-hover();
        }

        &:focus {
          color: white;
          @include button-focus();
          outline: dotted 0.125rem white;

          :hover {
            @include button-focus();
          }
        }
      }
      
      &:hover {
        cursor: pointer;
        background-color: $button-hover;
        color: white;
      }

      &:active {
        @include button-focus();
      }

      &:focus {
        color: white;
        outline: dotted 0.125rem white;
        @include button-focus();
        
        :hover {
          @include button-focus();

        }
      }

      &--outline {
        background-color: transparent;
        color: #007ea3;
        border: solid 3px #007ea3;

        &:visited {
          &:hover {
            @include button-outline-hover();
            color: white;
          }

          &:focus {
            color: white;
            @include button-outline-focus();
            outline: dotted 0.125rem white;
  
            &:hover {
              @include button-outline-focus();
            }
          }

          &:active {
            color: white;
            @include button-outline-focus();
  
            &:hover {
              @include button-outline-hover();
              color: white;
            }
  
            &:focus {
              color: white;
              @include button-outline-focus();
              outline: dotted 0.125rem white;
    
              &:hover {
                @include button-outline-focus();
              }
            }
          }
        }

        &:active {
          color: white;
          @include button-outline-focus();

          &:hover {
            @include button-outline-hover();
            color: white;
          }

          &:focus {
            color: white;
            @include button-outline-focus();
            outline: dotted 0.125rem white;
  
            &:hover {
              @include button-outline-focus();
            }
          }
        }

        &:focus {
          color: white;
          @include button-outline-focus();
          outline: dotted 0.125rem white;

          &:hover {
            @include button-outline-focus();
          }
        }

        &:hover {
          @include button-outline-hover();
          color: white;
        }
      }
    }

    &__button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;

      > :last-child {
        margin-bottom: 0;
      }
    }

    &__item {
      text-align: center;
      margin-bottom: 2.75rem;

      &--learn {
        text-align: left;
        border-radius: 8px;
        border: solid 1px #d3d3d3;
        width: 100%;
        max-width: 100%;
        max-height: 352px;
        overflow: scroll;
      }
      &--learn-inner {
        margin-bottom: 0;
      }

      &--img {
        text-align: left;

        img {
          width: 100%;
        }
  
        h3 {
          font-size: 20px;
          font-weight: 500;
          border-bottom: 1px solid lightgrey;
          padding: 0.5rem 0 0.5rem 1rem;
        }
  
        a {
          font-weight: 900;
          margin: 0;
        }
  
        .blog {
          padding-left: 1rem;
        }

        p {
          padding: 0.25rem 0 2rem 0;
        } 

        span {
          color: grey;
          font-weight: 300;
          font-size: 14px;
        }
      }


      &--youtube {
        border: 1px solid transparent;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        overflow: hidden;

        iframe {
          -webkit-transform: scale(1.0);
          -webkit-transform-origin: 0 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__item-title {
      @include text();
      @include item-title-mobile();
      margin: 1rem 0 1rem 0;
      font-weight: bold;

      &--learn {
        padding: 0 2rem;
        line-height: normal;
        text-align: left;
      }
    }

    &__logo {
      height: 4.875rem;
      border-radius: 8px;

      &--learn {
        width: 100%;
        object-fit: cover;
        text-align: center;
        height: 100vw;
      }
    }

    &__subtitle {
      @include item-title-mobile();
      margin-top: 3.375rem;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: normal;
    }

    #testemonial {
      display: none;
    }

    &__testemonial {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      width: 100%;

      &--outer {
        flex-direction: column;
        max-width: 100%;
      }

      .testemonial-inner {
        max-width: 1440px;
        padding: 0 30px 0 30px;
        text-align: center;
      }

      .company {
        justify-content: center;
        position: relative;
        margin-top: 54px;
        opacity: 1;

        &--logo {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-bottom: 44px;
          margin-top: 0;
          padding: 0;
        }

        .logo {
          height: 40px;
        }
      }

      .company-name {
        @include text();  
        font-size: 21px;
        text-align: center;
        font-weight: bold;
        padding-left: 1rem;
        margin: 0;
      }

      .quotations {
        display: none;
      }

      .read-more, .read-less {
        @include text();
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 1.75;
        font-weight: normal;
        color: $home-page-action-color;
        text-decoration: none;
      }

      .read-less {
        display: none;
      }

      .quote {
        @include text();
        text-align: left; 
        line-height: 1.25;
        font-size: 16px;
        margin-bottom: 0;
      }

      .logo {
        height: 79.5px;
      }

    }

    &__testemonial-arrows {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      top: 140px;
      margin-top: -60px;

      .left-arrow,
      .right-arrow {
        padding: 0 2rem;
        outline: none;
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: #767676;

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      .left-arrow {
        margin-left: -4rem;
      }

      .right-arrow {
        margin-right: -4rem;
      }
    }

    &__text {
      @include text();  
      font-size: 16px;
      line-height: 1.25;
      text-align: left;
      margin-bottom: 1.25rem;

      &--subtitle {
        margin-bottom: 44px;
      }

      &--learn {
        margin: $learn-section-side-margin;
        font-size: 20px;
        line-height: 1;
        font-weight: normal;
      }
    }

    &__title {
      @include text();
      font-size: 30px;
      margin-bottom: 1rem;
      text-align: center;

      &--learn {
        margin-bottom: 40px;
      }
    }

    .animate-in {
      -moz-animation: fade-in 1s;
      -webkit-animation: fade-in 1s;
      animation: fade-in 1s;
    }

    .animate-out {
      -moz-animation: fade-out 1s;
      -webkit-animation: fade-out 1s;
      animation: fade-out 1s;
    }
  }
}

@media (max-width: 768px){
  .intro-section__conf{
    display: none;
  }
  .intro-section__conf--mobile{
    display: block;
  }
}

@media (min-width: 769px){
  .intro-section__conf{
    display: block;
  }
  .intro-section__conf--mobile{
    display: none;
  }

}

@media (min-width: 768px) {
  .about-section {
    &__item {
      text-align: left;
    }
  }

  .libraries-section,.about-section,.community-section, .section {
    padding: 140px 44px;
  }

  .features-section {
    padding: 0 44px 140px 44px;
  }
  .community-section {
    padding: 140px 44px;

    &__container {
      margin-left: -22px;
      margin-right: -22px;
      margin-bottom: -20px;
    }

    &__text {
      font-size: 20px;
      margin-top: 44px;
    }

    &__title {
      font-size: 48px;
    }

    &__item {
      padding: 0 22px 20px 22px;
      min-width: 16.66%;
      max-width: 16.66%;

      .contact {
        display: inline-block;
        font-size: 20px;
      }
    }

    &__logo {
      img {
        margin-bottom: 16px;
      }
    }
  }

  .section {
    flex-direction: column;
    padding: 140px 44px;

    &--learn {
      padding-top: 140px;
    }

    &--testemonials {

      .testemonial-inner {
        text-align: left;

        .company {

          .logo {
            height: 60px;
          }
          .quote, .read-more, .read-less {
            font-size: 22px;
          }
          .quote {
            font-weight: 500;
          }
        }
      }

      .add-testimonial {
        margin-top: 10px;
        margin-bottom: 0;

        span, a {
          font-size: 20px;
        }
      }
    }

    &__button {
      margin-top: 1.25rem;
      width: auto;
      height: 44px;
      padding: 12px 35px;
      font-size: 18px;

      &--next-prev {
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        padding: 1.5rem;
        font-weight: 300;
      }
    }

    &__container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      min-width: 100%;
      margin-left: -24px;
      margin-right: -24px;

      > :not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &__container-inner {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;

      > :not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__container-button {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    &__item {
      margin-bottom: 0;
      max-width: 100%;

      &--learn {
        padding: 0 24px;
        width: 50%;
        border: none;
      }
  
      &--learn-inner {
        border-radius: 8px;
        border: solid 1px #d3d3d3;
        padding: 0;
        width: 100%;
        max-width: 100%;
      }

      &--youtube {
        width: 100%;
        margin-top: 24px;
      }

      &--img {
        text-align: left;
      }
    }

    &__item-title {
      margin: 1.25rem 0 1rem 0;
    }

    &__logo {
      height: 4.875rem;
      width: auto;

      &--learn {
        height: auto;
        width: 100%;
        height: 352px;
        border-radius: 0.5rem;
      }
    }

    &__subtitle {
      margin-bottom: 3.4375rem;
      margin-top: 4.0625rem;
    }

    &__text {
      font-size: 20px;
      line-height: normal;
      margin: 0;
      max-width: 450px;

      &--full-width {
        max-width: 100%;
      }
    }

    &__testemonial {
      .testemonial-inner {
        padding: 0 44px;
      }
    }

    &__testemonial-arrows {
      top: 120px;

      .left-arrow, .right-arrow {
        padding: 0 44px;
        font-size: 40px;
      }
      .left-arrow {
        margin-left: -44px;
      }
      .right-arrow {
        margin-right: -44px;
      }
    }


      &--subtitle {
        margin-bottom: 44px;
      }

      &__title {
        font-size: 48px;
        margin-bottom: 4.1875rem;
      }

    .cta {
      padding: 42px;
      margin-top: 60px;

      &__title {
        font-size: 30px;
      }

      &__description {
        margin: 20px 0;
        font-size: 20px;
      }

      &__button-container {
        flex-direction: row;

        button, a {
          margin: 0;
          font-size: 18px;
        }

        :first-child {
          margin-bottom: 0;
          margin-right: 8px;
        }
      }
    }
  }

  .footer-section {
    padding: 64px 44px 44px 44px;

    &__logo {
      width: 70px;
    }

    &__container {
      align-items: flex-start;
      width: auto;

      &--bottom {
        width: 100%;
      }

      &--separator {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;

        .footer-section__slogan-logo {
          justify-content: flex-end;
        }
      }

      &--inner {
        flex-direction: row;

        :not(:last-child) {
          margin-right: 16px;
        }
      }

      &--right {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
      }

      &--responsive {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        margin-bottom: 24px;

        .footer-section__container, .footer-section__logo  {
          margin-right: 64px;
        }
      }
    }

    &__separator {
      margin: 10px 0 10px 0;
    }

    &__text {
      font-size: 18px;

      &--copyright {
        font-size: 14px;
        margin-top: 0;
      }
      
      &--title {
        font-size: 20px;
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .community-section {
    &__text {
      max-width: 66.66%;
    }
    
    &__item {
      min-width: 12%;
      max-width: 12%;
    }

    &__logo {
      font-size: 20px;

      img {
        margin-bottom: 16px;
        width: 100%;
      }
    }
    
    &__text {
      margin: 64px auto 40px;
    }
  }

  .section {
    padding: 140px 120px;

    &--learn {
      padding-top: 140px;
    }

    &--testemonials {
      margin-top: 55px;

      .testemonial-inner {
        text-align: left;

        .company {
          .logo {
            height: 60px;
          }
        }
      }

      .add-testimonial {
        margin-top: 65px;

        span, a {
          font-size: 18px;
        }
      }
    }

    &__button {
      font-size: 18px;
      padding: 12px 35px;

      &--next-prev{
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        padding: 1.5rem;
      }
    }

    &__container {
      flex-direction: row;
      justify-content: space-between;
      margin-left: -36px;
      margin-right: -36px;
      width: auto;

      > :not(:last-child) {
        margin-bottom: 0;
      }

      &--learn {
        padding: 0 7.5rem 0 7.5rem;
      }
    }

    &__container-inner {
      padding: 0;
    }

    &__item {
      margin-bottom: 0;
      padding: 0 36px;
      max-width: 33%;

      &--youtube {
        margin-top: 0;
        height: 352px;
      }

      &--learn {
        padding: 0 36px;
        border: none;
        width: 33%;
      }

      &--learn-inner {
        border-radius: 8px;
        border: solid 1px #d3d3d3;
        padding: 0;
        width: 100%;
        max-width: 100%;
      }
    }

    &__testemonial-arrows {
      .left-arrow,
      .right-arrow {
        font-size: 48px;
      }
    }

    &__testemonial {
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;

      .testemonial-inner {
        padding: 0 125px;
      }
      
      .add-testimonial {
        flex-direction: row;
      }

      &--outer {
        max-width: 1440px;
        margin-top: 40px;
        flex-direction: column;
        padding: 0;
        align-items: center;
      }

      .company {
        justify-content: center;

        &--logo {
          display: flex;
          align-items: center;
          padding: 0;
        }

        .quote {
          font-size: 25px;
          margin-right: -50px;
        }

        .read-more, .read-less {
          font-size: 24px;
          margin: 0;
          margin-right: 20px;
        }
      }

      .company-name {
        text-align: left;
        font-size: 30px;
        margin: 0;
      }

      .quotations {
        display: block;
        position: absolute;
        width: 49px;
        left: -50px;
        top: -30px;
      }

      .animate-in {
        -moz-animation: fade-in 1s;
        -webkit-animation: fade-in 1s;
        animation: fade-in 1s;
      }

      .animate-out {
        -moz-animation: fade-out 1s;
        -webkit-animation: fade-out 1s;
        animation: fade-out 1s;
      }

      .logo {
        margin: 0;
      }

    }

    &__title {
      font-size: 55px;
      margin-bottom: 4.1875rem;
    }

    .cta {
      padding: 34px;
      margin-top: 64px;

      &__button-container {
        margin-top: 32px;
      }

      &__title, &__description {
        @include text();
      }

      &__title {
        font-size: 30px;
        font-weight: bold;
      }

      &__description {
        font-size: 20px;
        font-weight: normal;
      }
    }
  }

  .footer-section {
    padding: 100px 122px 44px 122px;
    &__container {
      margin-right: 0;

      &--responsive {
        justify-content: space-between;
      }

      &--contact {
        display: flex;
      }

      &--right {
        position: relative;
        top: -16px;
        left: 140px;
        padding-right: 140px;
        flex-direction: row;
        justify-content: space-between;
      }

      &--separator {
        flex-direction: column;
        align-items: flex-start;

        .footer-section__slogan-logo {
          justify-content: flex-start;
        }
      }
    }

    &__logo {
      width: 82px;
    }

    &__separator {
      margin: 14px 0 20px 0;
    }
  }
}

@media (min-width: 1440px) {
  .about-section {
    &__title {
      font-size: 55px;
    }

    &__container {
      max-width: 1560px;
      padding: 0 120px;
    }
    &__item {
      font-size: 24px;
    }
  }

  .community-section {
    &__logo {
      font-size: 20px;
    }

    &__text {
      font-size: 24px;
    }

    &__title {
      font-size: 55px;
    }
  }

  .features-section {
    padding: 80px 120px 140px 120px;
    max-width: 1560px;

    &__title {
      font-size: 55px;
    }

    &__text {
      font-size: 24px;
    }

    &__logo {
      height: 75px;
    }
  }

  .intro-section {
    &__container {
      max-width: 1560px;
    }

    &__text {
      width: 100%;
    }
  }

  .footer-section {
    &__logo {
      width: 96px;
    }
  }

  .libraries-section {
    padding: 140px 120px 64px 120px;
    max-width: 1560px;

    &__item-title{
      font-size: 30px;
    }

    &__logo {
      height: 100px;
    }

    &__more {
      font-size: 24px;
    }

    &__text {
      font-size: 24px;
    }

    &__title {
      font-size: 55px;
    }
  }

  .section {
    &__button {
      border-radius: 0.5rem;
      font-size: 24px;

      &--next-prev {
        margin: 0;
        border-radius: 50%;
      }
    }
    
    &__container-button {
      justify-content: center;
    }

    &__container--learn {
      justify-content: center;
    }

    &__item-title {
      font-size: 30px;
    }

    &__logo {
      height: 8rem;

      &--learn {
        height: 352px;
      }
    }

    &__testemonial {

      .quote {
        font-size: 24px;
      }

      .logo {
        height: 100px;
      }

      .company-name {
        font-size: 30px;
      }
    }
    
    &__text {
      font-size: 24px;
      line-height: normal;
      margin: 0;

      &--subtitle {
        margin-bottom: 44px;
      }
    }
    
    &__title {
      font-size: 55px;
    }

    &__subtitle {
      font-size: 40px;
    }
  }
}

body {
  font-family: "72", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.header-section {
  min-height: 64px;
  padding: 0 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__links {
    display: none;
    position: absolute;
    left: 0;
    top: 63px;
    width: 100%;
    background: #fff;
    will-change: transform;

    &.show {
      display: flex;
      flex-direction: column;
      animation: show-list-animate 0.5s;
    }

    &.hide {
      display: flex;
      flex-direction: column;
      animation: scale-display--reversed 0.5s;
      animation-fill-mode: forwards;
    }

    @media (min-width: 900px) {
      display: block;
      position: static;
      width: auto;
      background: transparent;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      margin: 0;
      padding: 0;

      @media (min-width: 900px) {
        display: inline-block;
      }
    }

    a {
      @include text();

      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      border-bottom: solid 1px #d3d3d3;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.75;
      color: #404040;

      @media (min-width: 900px) {
        height: auto;
        display: inline-block;
        font-size: 14px;
        line-height: 1.43;
        margin: 0 6px;
        border: none;
        color: inherit;
      }

      @media (min-width: 1024px) {
        margin: 0 24px;
      }
    }
  }

  &__hamburger {
    display: none;
    min-width: 15px;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    button {
      border: 0;
      background: transparent;
      outline: none;
      cursor: pointer;
      padding: 6px;
      display: inline-block;
      width: 36px;
    }
  }

  &__logo {
    img {
      max-height: 35px;
    }
  }
}


.backToTopHidden {
  display: none;
}

.backToTopVisible {
  width: 44px;
  height: 44px;
  line-height: 44px;
  box-shadow: 0 1px 4px 0 #d3d3d3;
  border: solid 1px #d3d3d3;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 30px;
  border-radius: 50%;
  color: $home-page-action-color;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

// TABLET AND MOBILE

@media (max-width: 900px) {
  .header-section {
    padding: 0 20px;
    justify-content: space-between;

    &__logo {
      flex: 1;
      text-align: center;
    }

    &__hamburger {
      display: block;
    }
  }
}

@media (max-width: 1224px) {
  .intro-section {
    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .intro-section {
    padding: 36px;

    &__text {
      width: 100%;

      @include item-title-mobile();
    }

    &__logo {
      height: 70px;
    }
  }
}

@media (max-width: 1023px) {
  .libraries-section {
    padding: 80px 44px;

    &__container {
      grid-template-columns: auto;
    }
  }
}

@media (max-width: 767px) {
  .libraries-section {
    padding: 64px 44px;

    &__container {
      grid-template-columns: auto;
    }

    &__title {
      @include title-mobile();

      margin-bottom: 44px;
    }

    &__item {
      min-height: 260px;
    }

    &__item-title {
      @include item-title-mobile();

      margin-bottom: 8px;
    }

    &__text {
      @include text-mobile();
    }

    &__more {
      font-size: 14px;
      line-height: 1.43;
    }
  }
}

@media (max-width: 600px) {
  .libraries-section {
    padding: 64px 0;

    &__container {
      grid-gap: 0;
    }

    &__title {
      @include title-mobile();

      margin-bottom: 20px;
    }

    &__item {
      min-height: auto;
      border: none;
      box-shadow: none;
      border-radius: 0;
      border-bottom: solid 1px #d3d3d3;
      transition: none;

      &:hover {
        box-shadow: none;
        transform: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .features-section {
    &__container {
      grid-template-columns: auto auto;
    }
  }
}

@media (max-width: 767px) {
  .features-section {
    padding: 0 44px 44px 44px;

    &__container {
      grid-template-columns: auto;
    }

    &__title {
      @include title-mobile();

      margin-bottom: 44px;
    }

    &__item-title {
      @include item-title-mobile();

      margin-bottom: 8px;
    }

    &__text {
      @include text-mobile();
    }
  }
}

@media (max-width: 767px) {
  .about-section {
    padding: 44px;

    &__container {
      grid-template-columns: auto;
    }

    &__title {
      @include title-mobile();

      margin-bottom: 16px;
    }

    &__item {
      @include text-mobile();
    }
  }
}

@media (max-width: 600px) {
  .community-section {
    padding-bottom: 0;

    &__container {
      grid-template-columns: auto;
    }

    &__item {
      margin-bottom: 44px;
    }
  }
}

@media (max-width: 767px) {
  .backToTopVisible {
    display: none;
  }
}

.header-section__sap-icon--menu2 {
  background-color: white;
  border: none;
}

.header-section__sap-icon--menu2::before {
  transition: opacity 0.3s, transform 0.3s;
  color: $home-page-action-color;
  font-size: 20px;
}

.header-section__sap-icon--decline::before {
  font-size: 20px;
  transition: opacity 0.3s, transform 0.3s;
  transform: rotate(-180deg);
  color: $home-page-action-color;
}

@keyframes show-list-animate {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    -webkit-transform: scale(0);
  }

  100% {
    opacity: 1;
    transform-origin: top left;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes scale-display--reversed {
  0% {
    opacity: 1;
    display: flex;
    flex-direction: column;
    transform-origin: top left;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  99% {
    opacity: 0;
    display: flex;
    flex-direction: column;
    transform-origin: top left;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    display: none;
    opacity: 0;
    transform-origin: top left;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

.docs-landing-page {
  a {
    &:focus {
      text-decoration: underline;
      outline-offset: 2px;
    }
  }
}
