<!--
link:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro link(properties={}, modifier={}, state={}, aria={}) -%}
<a href="#" class="fd-link{{ modifier.block | modifier('link') }}{{ state | state }}"{{ aria | aria }}>{{ properties.text }}</a>
{%- endmacro %}
