{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import link %}

{% block content %}

    <!-- output the component example and the code snippet -->
    {% set example %}
{{  link(
        properties=data.properties,
        modifier={},
        state={},
        aria={}
    )
}}
<br>
{{  link(
        properties=data.properties,
        modifier={

        },
        state=data.state,
        aria={
          selected: true
        }
    )
}}
<br>
{{  link(
        properties=data.properties,
        modifier={

        },
        state=data.state,
        aria={
          disabled: true
        }
    )
}}
<br><br>
{{  link(
        properties={
            text: "Text with an icon <span class='sap-icon--cart'></span>"
        }
    )
}}
    {% endset %}
    {{ format(example) }}


{% endblock %}
