{% from "../button/component.njk" import button %}
{% from "../icon/component.njk" import icon %}
{% from "../dropdown/component.njk" import dropdown, menu %}
{% from "../nav/component.njk" import nav %}
{% import "./../utils.njk" as utils %}

<!--
global_nav:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{% macro global_nav(properties={}, modifier={}, state={}, aria={}) -%}

<nav class="fd-global-nav{{ modifier.block | modifier('global-nav') }}{{ state | state }}"{{ aria | aria }}>

    <div class="fd-global-nav__group fd-global-nav__group--branding">
        <div class="fd-global-nav__side-menu">
            {{  button(
                    { icon: 'list' },
                    modifier={ block: ['icon', 'text'] },
                    aria={ label: 'BUTTON_LABEL' },
                    classes='global-nav__btn'
                )
            }}
        </div>
        <div class="fd-global-nav__logo">
            Sap Hybris [y]
        </div>
        <div class="fd-global-nav__app-logo">
            SAP Hybris Application Logo
        </div>
    </div>

    <div class="fd-global-nav__group fd-global-nav__group--actions">

        <div class="fd-global-nav__actions">
            {{  button(
                    { icon: 'search' },
                    modifier={ block: ['icon', 'text'] },
                    aria={ label: 'BUTTON_LABEL' }
                )
            }}
            {{  button(
                    { icon: 'feedback' },
                    modifier={ block: ['icon', 'text'] },
                    aria={ label: 'BUTTON_LABEL' }
                )
            }}
            {{  button(
                    { icon: 'options' },
                    modifier={ block: ['icon', 'text'] },
                    aria={ label: 'BUTTON_LABEL' }
                )
            }}
            {{  button(
                    { icon: 'noimage' },
                    modifier={ block: ['icon', 'text'] },
                    aria={ label: 'BUTTON_LABEL' }
                )
            }}
        </div>

        <div class="fd-global-nav__context-menu">
            {{ dropdown(properties.contextMenu, modifier={ control: "no-border" }) | indent(12) }}
        </div>

    </div>

    <div class="fd-global-nav__group fd-global-nav__group--launchpad">
        {{ dropdown(properties.launchpad, modifier={ control: "no-border" }) | indent(12) }}
    </div>

</nav>
<nav class="fd-global-nav__subnav">

    <div class="fd-global-nav__subnav__links fd-has-float-left">
        {{ nav(properties.subNav) | indent(12) }}
    </div>

    <div class="fd-global-nav__subnav__actions fd-has-float-right">
        {{ button({ icon: "more" }, modifier={ block: ["icon","text", "small"] }, aria={ controls: _id, haspopup: true, expanded: false, label: "More", cssclass: "test" }) | indent(4) }}
        {{  menu(properties={
                id: _id,
                items: [
                    { "label": "Pellentesque metus" },
                    { "label": "Duis malesuada odio volutpat" },
                    { "label": "Suspendisse" },
                    { "label": "Donec mattis arcu et velit" }
                ]
            },
            classes="contextual-menu"
            ) | indent(4)
        }}
    </div>
</nav>
{%- endmacro %}
