{% import "./../utils.njk" as utils %}

<!--
global_nav:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{% macro global_nav(properties={}, modifier={}, state={}, aria={}) -%}
{%- set _id = utils.id() %}
<nav class="fd-global-nav">
    <div class="fd-global-nav__group fd-global-nav__group--left">
        <div class="fd-global-nav__logo"></div>
        <div class="fd-global-nav__product-name">Product Name</div>
    </div>
    <div class="fd-global-nav__group fd-global-nav__group--middle">
        <!-- Middle Content -->
    </div>
    <div class="fd-global-nav__group fd-global-nav__group--right">
        <div class="fd-global-nav__actions">
            <button class="fd-button--secondary fd-button--m sap-icon--action-settings fd-global-nav__btn" aria-label="BUTTON_LABEL"></button>
            <button class=" fd-button--secondary fd-button--m fd-global-nav__btn" aria-label="BUTTON_LABEL"><span class=" fd-identifier--s fd-identifier--circle">WW</span></button>
        </div>
    </div>
</nav>
{%- endmacro %}
