{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "../dropdown/component.njk" import dropdown, menu %}
{% from "./component.njk" import global_nav %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['icons', 'components/button'] %}

{% block content %}

    <h1>global-nav</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  global_nav(
            properties=data.properties,
            modifier={
                block: data.properties
            },
            state=data.state,
            aria=data.aria
        )
    }}

    {% endset %}
    {{ format(example) }}


{% endblock %}
