<!--
panel_grid:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro panel_grid(properties={}, modifier={}, state={}, aria={},classes=[]) -%}
<div class="fd-panel-grid{{ modifier.block | modifier('panel-grid') }}{{ classes | classes }}">
{% for item in properties.items -%}
{{ item | trim | indent(4, true) }}
{%- endfor -%}
</div>
{%- endmacro %}
