{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import panel_grid %}
{% from "./../panel/component.njk" import panel, panel_header, panel_actions, panel_filters, panel_body, panel_footer %}

{% set panel_item %}
{% call panel() -%}
    {% call panel_body() -%}
      <p>.fd-panel</p>
    {%- endcall %}
{%- endcall %}
{% endset %}


{% set panel_item_span %}
{% call panel(classes="has-grid-column-span-2") -%}
    {% call panel_body() -%}
      <p>.fd-panel</p>
    {%- endcall %}
{%- endcall %}
{% endset %}

{% block content %}
    <p class="fd-has-type-2">NOTE: This is a <code>layout</code> component</p>
<h2>
  <code>.fd-panel-grid</code>
</h2>
    <!-- output the component example and the code snippet -->
{% set example %}
{{  panel_grid(
        properties={
            items: [
            panel_item, panel_item, panel_item, panel_item, panel_item
            ]
        },
        modifier={
            block: []
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2><code>--1col</code></h2>

{% set example %}
{{  panel_grid(
        properties={
            items: [
            panel_item, panel_item, panel_item, panel_item, panel_item, panel_item
            ]
        },
        modifier={
            block: ["1col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


        <br><br>

    <h2><code>--2col</code>
      and <code>--nogap</code>
  </h2>


{% set example %}
{{  panel_grid(
        properties={
            items: [
            panel_item, panel_item
            ]
        },
        modifier={
            block: ["2col","nogap"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


    <br><br>

<h2><code>--2col</code></h2>

{% set example %}
{{  panel_grid(
        properties={
            items: [
            panel_item, panel_item, panel_item, panel_item
            ]
        },
        modifier={
            block: ["2col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2><code>--4col</code></h2>

{% set example %}
{{  panel_grid(
        properties={
            items: [
            panel_item, panel_item, panel_item, panel_item
            ]
        },
        modifier={
            block: ["4col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2><code>--5col</code></h2>

{% set example %}
{{  panel_grid(
        properties={
            items: [
            panel_item, panel_item, panel_item, panel_item, panel_item
            ]
        },
        modifier={
            block: ["5col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2><code>--6col</code></h2>

{% set example %}
{{  panel_grid(
        properties={
            items: [
            panel_item, panel_item, panel_item, panel_item, panel_item, panel_item
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}



<br><br>

<h2><code>--6col</code> and panel with <code>.fd-has-grid-column-span-2</code>. </h2>

{% set example %}
{{  panel_grid(
        properties={
            items: [
            panel_item, panel_item_span, panel_item, panel_item, panel_item
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}



{% endblock %}
