{% import "./../utils.njk" as utils %}
{% from "./../product-menu/component.njk" import product_menu %}
{% from "./../user-menu/component.njk" import user_menu %}
{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../button/component.njk" import button %}
{% from "./../product-switcher/component.njk" import product_switcher %}
{% from "./../shell-header-collapse/component.njk" import shell_header_collapse %}
{% from "./../shell-header-title-menu/component.njk" import shell_header_title_menu %}
{% from "./../shell-header-search/component.njk" import shell_header_search %}

<!--
shell_header:
    properties={
        "brand": {
            "name": "",
            "logo": ""
        },
        "title": "",
        "title_items": [],
        "subtitle": "",
        "copilot": true,
        "actions": []
    },
    modifier={ block: [] },
    state={},
    aria={}
-->
{% set search = shell_header_search(properties={ "id": utils.id() }, state={ "closed": true }) %}
{% set notification = button({ icon: 'bell' }, modifier={ block: ['shellheader'] }) %}
{% set actions = [
  {
    "label": "Search",
    "action": search,
    "collapse": false
  },
  {
    "label": "Notifications",
    "action": notification,
    "collapse": false
  },
  {
    "label": "Pool",
    "action": button({
      icon: 'pool' },
      modifier={ block: ['shellheader'] },
      aria={
        label: "Pool"
      }),
    "collapse": true
  }
]
%}

{% set brand = {
    name: "SAP",
    logo: null
} %}
{% set product = {
  title: "SuccessFactors",
  subtitle: "Subtitle",
  items: [
      { "label": "Application A" },
      { "label": "Application B" },
      { "label": "Application C" },
      { "label": "Application D" }
  ]
} %}

{% macro shell_header(brand=brand,product=product,copilot=true,actions=actions,user=true,switcher=true, properties={}, modifier={}, state={}, aria={}) -%}
{%- set _id = utils.id() %}
<div class="fd-shell-header">
    <div class="fd-shell-header__group fd-shell-header__group--start">
        <div class="fd-shell-header__logo">
          {% if brand.logo %}
            <img src="{{brand.logo}}" alt="{{brand.name}}">
          {% else %}
              <div class="fd-shell-header--brand" aria-label="{{brand.name}}"></div>
          {% endif %}
        </div>
        <div class="fd-shell-header__title">
        {% if product %}
{{ product_menu(product) }}
        {% endif %}
        </div>
        {% if product.subtitle %}
        <div class="fd-shell-header__subtitle">
{{ product.subtitle }}
        </div>
        {% endif %}
    </div>
    {% if copilot === true %}
    <div class="fd-shell-header__group fd-shell-header__group--middle">
      <img src="/static/copilot.png" alt="CoPilot" height="30" width="30" />
    </div>
    {% endif %}
    {% if actions or user or switcher %}
    <div class="fd-shell-header__group fd-shell-header__group--end">
      {{ shell_actions(actions=actions, user=user, switcher=switcher) }}
    </div>
    {% endif %}
  </div>
{%- endmacro %}

{% macro shell_actions(actions=actions, user=true, switcher=true, properties={}, modifier={}, state={}, aria={}) -%}
  {% set collapsed_items = actions | filter_array("collapse",true) %}
    <div class="fd-shell-header__actions">
      {%- if actions %}
        {%- for item in actions %}
            <div class="fd-shell-header__action">
                {{item.action}}
            </div>
        {%- endfor %}
        <div class="fd-shell-header__action">
{{ shell_actions_collapse(actions=collapsed_items) }}
        </div>
        {%- endif %}
        {%- if user %}
            <div class="fd-shell-header__action">
{{ user_menu() }}
            </div>
        {%- endif %}
        {%- if switcher %}
            <div class="fd-shell-header__action">
{{ product_switcher() }}
            </div>
        {%- endif %}
    </div>
{%- endmacro %}

{% macro shell_actions_collapse(actions=[], user=true, switcher=true, properties={}, modifier={}, state={}, aria={}) -%}
  <div class="fd-shell-header-collapse">
      {{  popover(properties={
              id: _id,
              control: button({ icon: 'overflow' }, modifier={ block: ['shellheader fd-button--m'] }, aria={ "controls": _id, "haspopup": true, "expanded": false}),
              body: menu(properties={
                  "items": actions
              })
          }, modifier={ block: ['right'] })
      }}
</div>
{%- endmacro %}
