{% import "./../utils.njk" as utils %}
{% from "./../shell-header-brand/component.njk" import shell_header_brand %}
{% from "./../product-switcher/component.njk" import product_switcher %}
{% from "./../shell-header-collapse/component.njk" import shell_header_collapse %}
{% from "./../user-menu/component.njk" import user_menu %}

<!--
shell_header:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->

{% macro shell_header(properties={}, modifier={}, state={}, aria={}) -%}
{%- set _id = utils.id() %}
<nav class="fd-shell-header">

    <div class="fd-shell-header__group fd-shell-header__group--left">
        <div class="fd-shell-header__logo">
            {{  shell_header_brand() }}
        </div>
        <div class="fd-shell-header__title">This is a very long Title</div>
        <!--<div class="fd-shell-header__subtitle">Context Title (with option of doing a menu)</div>-->
    </div>

    <div class="fd-shell-header__group fd-shell-header__group--middle">
        <span class="fd-shell-header__copilot">
            <img src="/static/copilot.png" />
        </span>
    </div>

    <div class="fd-shell-header__group fd-shell-header__group--right">
        <div class="fd-shell-header__actions">
            <div class="fd-shell-header__action fd-display-xs-none fd-display-s-none fd-display-m-inline-block">
                <button class="fd-button--secondary fd-button--m sap-icon--search fd-button--shellheader" aria-label="BUTTON_LABEL"></button>
            </div>

            <div class="fd-shell-header__action fd-display-xs-none fd-display-s-none fd-display-m-inline-block">
                <button class="fd-button--secondary fd-button--m sap-icon--circle-task fd-button--shellheader" aria-label="BUTTON_LABEL"></button>
            </div>

            <div class="fd-shell-header__action fd-display-xs-none fd-display-s-none fd-display-m-inline-block">
                <button class="fd-button--secondary fd-button--m sap-icon--bell fd-button--shellheader" aria-label="BUTTON_LABEL"></button>
            </div>

            <div class="fd-shell-header__action">
                {{ shell_header_collapse() }}
            </div>

            <div class="fd-shell-header__action">
                {{ user_menu() }}
            </div>

            <div class="fd-shell-header__action fd-display-xs-none fd-display-s-none fd-display-m-inline-block">
                {{ product_switcher() }}
            </div>
        </div>
    </div>

</nav>
{%- endmacro %}
