{% extends "layout.njk" %}
{% import "./../utils.njk" as utils %}
{% from "./../format.njk" import format %}
{% from "./../button/component.njk" import button %}
{% from "./../product-switcher/component.njk" import product_switcher %}
{% from "./../shell-header-collapse/component.njk" import shell_header_collapse %}
{% from "./../shell-header-search/component.njk" import shell_header_search %}
{% from "./../user-menu/component.njk" import user_menu %}
{% from "./component.njk" import shell_header %}

{% set css_deps = ['icons', 'components/button', 'components/dropdown', 'components/nav', 'components/identifier', 'components/popover', 'components/menu', 'components/product-switcher', 'helpers'] %}

{% block content %}

<style media="screen">
    .fd-shell-header{
        margin: 40px 0;
    }
</style>

<div style="background-color: #f3f4f5; margin:-20px; padding:20px;">
    <h1>shell-header</h1>

    {% set example %}
        {% set properties = {
            "brand": {
                "name": "SAP",
                "logo": "SAP"
            },
            "title": "Title",
            "title_items": [
                { "label": "Product A" },
                { "label": "Product B" },
                { "label": "Product C" },
                { "label": "Product D" }
            ],
            "subtitle": "Subtitle",
            "copilot": true,
            "actions": [
                {
                    "name": "search",
                    "state": "closed",
                    "component": shell_header_search(properties={ "id": utils.id() }, state={ "closed": true })
                },
                {
                    "name": "notifications",
                    "component": button({ icon: 'bell' }, modifier={ block: ['shellheader'] })
                },
                {
                    "name": "collapse",
                    "component": shell_header_collapse(properties={
                        items: [
                            { "label": "Notifications" },
                            {"label": "Search" }
                        ]
                    })
                },
                {
                    "name": "user_menu",
                    "component": user_menu(properties={
                        "initials": "EB",
                        "name": "Eric Boyer",
                        items: [
                            { "label": "App Finder" },
                            { "label": "Settings" },
                            { "label": "App Settings" },
                            { "label": "Help" },
                            { "label": "Give Feedback" },
                            { "label": "About" },
                            { "label": "Sign Out" }
                        ]
                    })
                },
                {
                    "name": "product_switcher",
                    "component": product_switcher(properties={ "items": data.properties.product_switcher_items })
                }
            ]
        } %}

        {% set properties_two = {
            "brand": {
                "name": "SAP",
                "logo": "SAP"
            },
            "title": "Title",
            "subtitle": false,
            "copilot": true,
            "actions": [
                {
                    "name": "user_menu",
                    "component": user_menu(properties={
                        "initials": "EB",
                        "name": "Eric Boyer",
                        items: [
                            { "label": "App Finder" },
                            { "label": "Settings" },
                            { "label": "App Settings" },
                            { "label": "Help" },
                            { "label": "Give Feedback" },
                            { "label": "About" },
                            { "label": "Sign Out" }
                        ]
                    })
                },
                {
                    "name": "product_switcher",
                    "component": product_switcher(properties={ "items": data.properties.product_switcher_items })
                }
            ]
        } %}

        {% set properties_three = {
            "brand": {
                "name": "SAP",
                "logo": "SAP"
            },
            "title": "Title",
            "subtitle": false,
            "copilot": false,
            "actions": [
                {
                    "name": "user_menu",
                    "component": user_menu(properties={
                        "initials": "EB",
                        "name": "Eric Boyer",
                        items: [
                            { "label": "App Finder" },
                            { "label": "Settings" },
                            { "label": "App Settings" },
                            { "label": "Help" },
                            { "label": "Give Feedback" },
                            { "label": "About" },
                            { "label": "Sign Out" }
                        ]
                    })
                },
                {
                    "name": "product_switcher",
                    "component": product_switcher(properties={ "items": data.properties.product_switcher_items })
                }
            ]
        } %}

        {{  shell_header(properties) }}
        {{  shell_header(properties_two) }}
        {{  shell_header(properties_three) }}
    {% endset %}
    {{ format(example) }}
{% endblock %}

</div>
