<!--
breadcrumb:
    properties={}
-->
{% macro breadcrumb(properties={}, modifier={}, state={}, aria={}) -%}
<ul class="fd-breadcrumb{{ modifier.block | modifier('breadcrumb') }}{{ state | state }}"{{ aria | aria }}>
    {%- for item in properties.items %}
    <li class="fd-breadcrumb__item{{ modifier.content | modifier('breadcrumb__content') }}">
        <a class="fd-breadcrumb__link{{ modifier.content | modifier('breadcrumb__content') }}" href="{{ item.href or '#' }}">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
{%- endmacro %}
