{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% import "../forms.njk" as forms %}

{% block content %}

    {% set basic_checkbox %}

{{ forms.checkbox(
    type="radio",
    properties={
    })
}}
{{ forms.checkbox(
    type="radio",
    properties={
    },
    state={
      checked: true
    })
}}
{{ forms.checkbox(
    type="radio",
    properties={

    },
    state={
      indeterminate:true
    })
}}
{{ forms.checkbox(
    type="radio",
    properties={
    },
    state={
      disabled: true
    })
}}
{{ forms.checkbox(
    type="radio",
    properties={
    },
    state={
      checked: true,
      disabled: true
    })
}}
{{ forms.checkbox(
    type="radio",
    properties={

    },
    state={
      indeterminate: true,
      disabled: true
    })
}}

    {% endset %}

    {{ format(basic_checkbox) }}

{% endblock %}
