{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% import "../forms.njk" as forms %}

{% set css_deps = ['fonts','helpers'] %}

{% block content %}

    <h1>Checkbox</h1>
    {% set basic_checkbox %}
        {{ forms.checkbox(
            type="checkbox",
            properties={
                placeholder: "Placeholder Text"
            })
        }}
    {% endset %}

    {{ format(basic_checkbox) }}

{% endblock %}
