{% import "./../utils.njk" as utils %}
{% from "./../icon/component.njk" import icon %}
{% from "./../popover/component.njk" import popover %}

<!--
dropdown:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{%- macro dropdown(properties={}, modifier={}, state={}, aria={}, size="") %}
    {%- set _id = utils.id() -%}
    <div class="fd-dropdown{{ modifier.block | modifier('dropdown') }}">
        {%- macro dropdown_control(properties={}, modifier={}, state={}, aria={}) -%}
            {%- set btn_modifier_class = " fd-button--"+modifier.block if modifier.block and modifier.block !== "default" else "" %}
            <button class="fd-dropdown__control{{ modifier.control | modifier('dropdown__control') }} fd-button {{ "sap-icon--"+properties.icon if properties.icon }} {{ size | modifier('button') }} {{ modifier.block | modifier('button') }}" aria-controls="{{ properties.id }}" aria-expanded="false" aria-haspopup="true"{{ " disabled" if state.disabled }}{{ aria | aria }}>
                {{ properties.label }}
            </button>
        {%- endmacro %}
        {{  popover(properties={
                id: _id,
                control: dropdown_control(properties={label: properties.label, id: _id, icon: properties.icon}, modifier={ block: modifier.block }, state={ disabled: aria.disabled }),
                body: properties.body
            })
        }}
    </div>
{%- endmacro %}
