{% import "./../utils.njk" as utils %}
{% from "./../icon/component.njk" import icon %}
<!--
dropdown:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{%- macro dropdown(properties={}, modifier={}, state={}, aria={}) %}
{%- set _id = utils.id() %}
<div class="fd-dropdown{{ modifier.block | modifier('dropdown') }}">
    <button class="fd-dropdown__control{{ modifier.control | modifier('dropdown__control') }} fd-button--toolbar fd-button--s{{ " sap-icon--"+properties.icon if properties.icon }}" aria-controls="{{ _id }}" aria-expanded="false" aria-haspopup="true"{{ " disabled" if state.disabled }}{{ aria | aria }}>
        {{ properties.label }}
    </button>
    {{ menu({ items: properties.items, id: _id }, modifier.menu) | indent(4) }}
</div>
{%- endmacro %}

{%- macro option(properties={}) -%}
<li><a href="#" class="fd-dropdown__item">{{ properties.label }}</a></li>
{%- endmacro %}

{%- macro menu(properties={}, modifier=[], classes=[]) -%}
<ul class="fd-dropdown__menu{{ modifier | modifier('dropdown__menu') }}{{ classes | classes }}" aria-hidden="true" id="{{ properties.id }}">
    {%- for item in properties.items %}
    {%- if item.items %}
    {{ optgroup(item) }}
    {%- else %}
    {{ option(item) }}
    {%- endif %}
    {%- endfor %}
</ul>
{%- endmacro %}

{% macro optgroup(properties={}) -%}
<ul class="fd-dropdown__group">
    <span class="fd-dropdown__separator" role="separator">{{ properties.label }}</span>
    {%- for item in properties.items %}
    {{ option(item) }}
    {%- endfor %}
</ul>
{%- endmacro %}


{% macro dropdown_alt(properties={}, modifier={}, state={}, aria={}) -%}
{%- set _id = utils.id() %}
<div class="fd-dropdown{{ modifier.block | modifier('dropdown') }}{{ state | state }}"{{ aria | aria }}>
    <button class="fd-dropdown__control" aria-controls="{{ _id }}" aria-expanded="false">
        {%- if properties.icon %}
        {{ icon(glyph=properties.icon, classes="dropdown__icon") }}
        {%- endif %}
        {{ properties.label }}
    </button>
    <div class="fd-dropdown__menu" aria-hidden="true">
        {%- for item in properties.items %}
        {%- if item.items %}
        {{ optgroup_alt(item) | indent(8) }}
        {%- else %}
        {{ option_alt(item) }}
        {%- endif %}
        {%- endfor %}
    </div>
</div>
{%- endmacro %}

{%- macro option_alt(properties={}, modifier={}, state={}, aria={}) -%}
<a href="#" class="fd-dropdown__item">{{ properties.label }}</a>
{%- endmacro %}

{% macro optgroup_alt(properties={}, modifier={}, state={}, aria={}) -%}
<div class="fd-dropdown__group">
    <span class="fd-dropdown__separator" role="separator">{{ properties.label }}</span>
    {%- for item in properties.items %}
    {{ option_alt(item) }}
    {%- endfor %}
</div>
{%- endmacro %}
