{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "../menu/component.njk" import menu %}
{% from "./component.njk" import dropdown %}

{% block content %}

  <style media="screen">
      .fd-dropdown {
          margin-right: 10px;
          margin-bottom: 10px;
      }
  </style>

  {% set modifiers = ["default", "compact"
  ] %}
  {% set types = ["", "standard" ] %}


  <p><strong>onclick</strong>: change aria-expanded boolean on the control and change aria-hidden boolean on the menu </p>
  <p>Shows default and <code>compact</code> modifiers. Include modifier button.</p>

{% set bodyitems = menu(properties={
  items: [
      { "label": "Option 1" },
      { "label": "Option 2" },
      { "label": "Option 3" },
      { "label": "Option 4" }
    ]
  })
%}
{% set props = {
  label: data.properties.label,
  body: bodyitems
} %}

  {% set example %}

  {{ dropdown(props) }}

  {{ dropdown(props, modifier={ block: ["compact"]} ) }}

{% endset %}
{{ format(example) }}

<br><br>
<h3>toolbar</h3>
{% set example %}


{{ dropdown(props, modifier={ block: ["standard"]} ) }}
{{ dropdown(props, modifier={ block: ["compact", "standard"]} ) }}

{% endset %}
{{ format(example) }}


<br><br>

  {% set example %}





    {%- for modifier in modifiers %}
      {% if modifier === "default" %}
        {{ dropdown(properties={
          label: "Select",
          body: menu(properties={
            items: [
                { "label": "Option 1" },
                { "label": "Option 2" },
                { "label": "Option 3" },
                { "label": "Option 4" }
              ]
            })
          })
        }}
      {% else %}
        {{ dropdown(properties={
          label: "Select",
          body: menu(properties={
            items: [
                { "label": "Option 1" },
                { "label": "Option 2" },
                { "label": "Option 3" },
                { "label": "Option 4" }
              ]
            })
        },modifier={ block: modifier, button: btn })
        }}
      {% endif %}
    {%- endfor %}
  {% endset %}
  {{ format(example) }}

<br><br>

<h2>icon</h2>

{% set example %}
  {%- for modifier in modifiers %}
    {% if modifier === "default" %}
        {{ dropdown(properties={
          icon: "filter",
          label: "Select",
          body: menu(properties={
            items: [
                { "label": "Option 1" },
                { "label": "Option 2" },
                { "label": "Option 3" },
                { "label": "Option 4" }
              ]
            })
          })
        }}
      {% else %}
        {{ dropdown(properties={
          icon: "filter",
          label: "Select",
          body: menu(properties={
            items: [
                { "label": "Option 1" },
                { "label": "Option 2" },
                { "label": "Option 3" },
                { "label": "Option 4" }
              ]
            })
        },modifier={ block: modifier })
        }}
      {% endif %}
  {%- endfor %}
{% endset %}
{{ format(example) }}


<br><br>

<h2>disabled</h2>

{%- for modifier in modifiers %}
  {% if modifier === "default" %}
    {{  dropdown(properties=data.properties, aria={ disabled: true }) }}
  {% else %}
   {{  dropdown(properties=data.properties,modifier={ block: modifier }, aria={ disabled: true }) }}
  {% endif %}
{%- endfor %}

<br>

{% set example %}
  {%- for modifier in modifiers %}
    {% if modifier === "default" %}
      {{  dropdown(properties={
        icon: "filter",
        label: "Select" }, aria={ disabled: true })
      }}
    {% else %}
      {{  dropdown(properties={
        icon: "filter",
        label: "Select" },modifier={ block: modifier }, aria={ disabled: true }) }}
    {% endif %}
  {%- endfor %}
{% endset %}
{{ format(example) }}


{% endblock %}
