{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import dropdown %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ["components/button","icons"] %}

{% block content %}
<style media="screen">
    .tn-dropdown {
        margin-right: 200px;
    }
</style>

    <h1>dropdown</h1>
    <p><strong>onclick</strong>: change aria-expanded boolean on the control and change aria-hidden boolean on the menu </p>
    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  dropdown(properties=data.properties) }}

    {{  dropdown(properties={
            label: "Select",
            icon: "filter",
            items: [
                { "label": "Pellentesque metus" },
                { "label": "Duis malesuada odio volutpat" },
                { "label": "Suspendisse" },
                { "label": "Donec mattis arcu et velit" },
                {  "label": "Accumsan tellus",
                    "items": [
                        { "label": "Scelerisque ante" },
                        { "label": "Accumsan" },
                        { "label": "Volutpat felix" }
                    ]
                }
            ]
        })
    }}

    {{  dropdown(properties={
                label: "Select"
            },
            state={
                disabled: true
            }
        )  }}


    {% endset %}
    {{ format(example) }}




{% endblock %}
