{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "../menu/component.njk" import menu %}
{% from "./../popover/component.njk" import popover_body %}
{% import "./../utils.njk" as utils %}

{% block content %}
<style>
  .fd-popover {
    margin-left: 50px;
  }
</style>


<p>This is not a standalone component. It use a "more" icon button and the popover component with a child of menu.</p>


    <!-- output the component example and the code snippet -->
    {% set example %}
{%- set _id = utils.id() %}
<div class="fd-popover fd-contextual-menu">
    {{ button({ icon: "overflow" }, modifier={ block: ["light"] }, aria={ controls: _id, haspopup: true, expanded: false, label: "More" }) | indent(4) }}
    {{  popover_body(properties={
            id: _id,
            body: menu(properties={
            items: [
                { "label": "Option 1" },
                { "label": "Option 2" },
                { "label": "Option 3" },
                { "label": "Option 4" }
              ]
            })
        },
        classes="contextual-menu"
        ) | indent(4)
    }}
</div>

{% set _id = utils.id() %}
<div class="fd-popover fd-contextual-menu">
{{ button({ icon: "overflow" }, state={ disabled: true }, modifier={ block: ["light"] }, aria={ controls: _id, haspopup: true, expanded: false, label: "More" }) | indent(4) }}
</div>

{% set _id = utils.id() %}
<div class="fd-popover fd-contextual-menu">
{{  button(
        { label: 'More' },
        aria={ controls: _id, haspopup: true, expanded: false, label: "More" }
    ) | indent(4)
}}
{{  popover_body(properties={
        id: _id,
        body: menu(properties={
            items: [
                { "label": "Option 1" },
                { "label": "Option 2" },
                { "label": "Option 3" },
                { "label": "Option 4" }
              ]
            })
    },
    classes="contextual-menu") | indent(4)
}}
</div>
    {% endset %}
    {{ format(example) }}



{% endblock %}
