//fonts
$fd-fonts: (
    "body": #{Arial, Helvetica, sans-serif},
    "header": #{Arial, Helvetica, sans-serif},
    "code": #{"Courier", sans-serif},
);

//colors
$fd-colors: (
    "primary": (
        1: #b4cbe1,
        2: #27394f,
    ),
    "text": (
        1: #333333,
        2: #7f90a4,
        3: #63758b,
        4: #ffffff
    ),
    "background": (
      1: #f3f4f5,
      2: #ffffff,
      3: #427cac,
    ),
    "action": (
        1: #346187,
        2: #00a5ec,
        3: #0093d1,
       	4: #008ac4
    ),
    "neutral": (
        1: #f7f7f7,
        2: #f3f4f5,
        3: #ccdaeb,
        4: #8a8fa1,
    ),
    "status": (
        1: #619b62,
        2: #e96b1a,
        3: #df1919,
    )
);

//BRING IN DEFAULT SETTINGS so you have access to the full system when defining overrides
@import "./../functions";
@import "./../settings";

//NO !default flags
$fd-background-color: fd-color("primary");
$fd-border-radius: 0;
$fd-background-color--header: transparent;
$fd-background-color--sidebar: transparent;
$fd-background-color--footer: transparent;
$fd-background: linear-gradient(to bottom,#a9c4df,#e7ecf0);
$fd-section-title-color: $fd-color;
$fd-forms-background-color: rgba(fd-color("background"), 0.4);
$fd-list-group-border-color: none;
