//fonts
$fd-fonts: (
    "body": #{"'Open Sans'", sans-serif},
    "header": #{"Roboto", sans-serif},
    "code": #{"'Courier New'", monospace},
);

//colors
$fd-colors: (
    "primary": (
        1: #006fbb,
        2: #27394f,
    ),
    "action": (
        1: #009cdf,
        2: #8D9DBC
    ),
    "text": (
        1: #21262c,
        2: #7f90a4,
        3: #63758b,
        4: #ffffff
    ),
    "background": (
        1: #ffffff,
        2: #f0f5ff,
        3: #000000
    ),
    "neutral": (
        1: #f9fbfc,
        2: #d7d7d7,
        3: #ccdaeb,
        4: #8a8fa1,
    ),
    "status": (
        1: #61bf33,
        2: #e97326,
        3: #df1919,
    )
);

//breakpoints
$fd-breakpoints: (
    xs: 320px,
    s: 800px,
    m: 1024px,
    l: 1440px,
    xl: 1580px,
);

//spacing
$fd-spacing--base: 4px;
$fd-spacing: (
    base: $fd-spacing--base,    //4
    xs: $fd-spacing--base * 2,  //8
    s: $fd-spacing--base * 3,   //12
    reg: $fd-spacing--base * 5, //20
    m: $fd-spacing--base * 10,  //40
    l: $fd-spacing--base * 25,  //100
    xl: $fd-spacing--base * 37, //148
);

//type
$fd-font-size: 16px;
$fd-line-height: 24/16;
$fd-type--base: 16;
$fd-type: (
    "-3": 0.75rem 1.33334 "body" bold uppercase,    //12/16
    "-2": 0.8125rem 1.53847 "body" reg none,	    //13/20
    "-1": 0.875rem 1.42858 "body" reg none,	        //14/20
    "0": 1rem 1.5 "body" reg none,     	            //16/24
    "1": 1.125rem 1.33334 "body" semi none,   	    //18/24
    "2": 1.25rem 1.4 "body" semi none,   	        //20/28
    "3": 1.625rem 1.23077 "header" semi none,	    //26/32
    "4": 2.1875rem 1.25715 "header" bold none,	    //35/44
    "5": 2.8125rem 1.15556 "header" med none,       //45/52
);

$fd-weights: (
    light: 300,
    reg: 400,
    med: 500,
    semi: 600,
    bold: 700
);

//BRING IN DEFAULT SETTINGS so you have access to the full system when defining overrides
@import "./../functions";
@import "./../settings";

//NO !default flags

//features
$fd-space-modify: normal; //normal, compact

//ui
$fd-padding--ui: map-get($fd-spacing, "reg");


$fd-border-radius: 0;
$fd-panel-background-color: none;
$fd-panel-box-shadow: none;
$fd-panel-header-border: none;
$fd-panel-padding: fd-space("s") 0;


//NO CHANGED SINCE DIVERTED
//$fd-max-width--ui: map-get($fd-breakpoints,xl);
$fd-max-width--ui: 1290px;

//type
$fd-font-family: map-get($fd-fonts, "body");
$fd-font-family--header: map-get($fd-fonts, "header");
$fd-font-family--code: map-get($fd-fonts, "code");
$fd-font-size: nth(map-get($fd-type, "0"), 1);
$fd-line-height: nth(map-get($fd-type, "0"), 2);

//baseline
$fd-color: map-get($fd-colors-text, 1);
$fd-background-color: map-get($fd-colors-background, 1);

//positioning
$fd-margin-bottom: map-get($fd-spacing, "reg");

//interactive
$fd-link-color: map-get($fd-colors-action, 1);
$fd-link-color--hover: darken($fd-link-color, 5);
$fd-link-color--active: darken($fd-link-color, 10);
$fd-link-color--disabled: map-get($fd-colors-text, 2);

//states
$fd-color--error: map-get($fd-colors-status, 3);
$fd-color--warning: map-get($fd-colors-status, 2);
$fd-color--success: map-get($fd-colors-status, 1);

//animation speed
$fd-animation--speed: 0.125s;

//FORMS
//dimensions
$fd-forms-height: $fd-spacing--base * 13;
$fd-forms-height--input-check: $fd-spacing--base * 7;
$fd-forms-padding: $fd-spacing--base * 4;
//colors
$fd-forms-color: $fd-color;
$fd-forms-color--placeholder: map-get($fd-colors-text, 3);
$fd-forms-color--focus: $fd-forms-color;
$fd-forms-color--disabled: map-get($fd-colors-text, 3);
$fd-forms-background-color: map-get($fd-colors-background, 1);
$fd-forms-background-color--check: map-get($fd-colors-action, 1);
$fd-forms-background-color--check-disabled: map-get($fd-colors-text, 2);
$fd-forms-background-color--disabled: map-get($fd-colors-neutral, 1);
$fd-forms-border-color: map-get($fd-colors-neutral, 3);
$fd-forms-border-color--check: map-get($fd-colors-action, 1);
$fd-forms-border-color--focus: map-get($fd-colors-action, 1);
$fd-forms-border-color--disabled: lighten(map-get($fd-colors-neutral, 3), 5%);
//elements
$fd-forms-select-width--background-image: 12px;
$fd-forms-select-background-image: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMyMTI2MkMiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+";
$fd-forms-select-background-image--active: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDhGRDIiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNi4yMzYgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzYuMjM2IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+";
$fd-forms-select-background-image--expanded: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwMDhGRDIiIGQ9Ik0xMS45MzUgNi41M0w2LjE4OC4xMDRhLjI2NC4yNjQgMCAwIDAtLjM3OCAwTC4wNjUgNi41M2EuMjQuMjQgMCAwIDAtLjA2MS4xNzcuMjM3LjIzNyAwIDAgMCAuMDg3LjE2NWwxLjI5IDEuMDcxYS4yNTguMjU4IDAgMCAwIC4xNjMuMDU4TDEuNTYzIDhhLjI1Mi4yNTIgMCAwIDAgLjE3MS0uMDg1bDQuMjY1LTQuODYxIDQuMjY3IDQuODYxYy4wNDMuMDQ5LjEwNC4wOC4xNy4wODVhLjI2MS4yNjEgMCAwIDAgLjE4Mi0uMDU3bDEuMjkxLTEuMDcxYS4yMzYuMjM2IDAgMCAwIC4wMjYtLjM0MnoiLz48L3N2Zz4=";
$fd-forms-select-background-image--disabled: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI5Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiM2Mzc1OEIiIGQ9Ik0xMS45MzUgMS40NzVMNi4xODggNy45MjdhLjI2NC4yNjQgMCAwIDEtLjM3OCAwTC4wNjUgMS40NzVhLjIzNS4yMzUgMCAwIDEgLjAyNi0uMzQzTDEuMzgxLjA1OGEuMjUzLjI1MyAwIDAgMSAuMTYzLS4wNTlMMS41NjMgMGEuMjUyLjI1MiAwIDAgMSAuMTcxLjA4NWw0LjI2NSA0Ljg4IDQuMjY3LTQuODhhLjI1Mi4yNTIgMCAwIDEgLjM1Mi0uMDI3bDEuMjkxIDEuMDc0Yy4wNS4wNDIuMDgxLjEwMi4wODYuMTY2YS4yMzQuMjM0IDAgMCAxLS4wNi4xNzd6Ii8+PC9zdmc+";


$fd-background-color--header: fd-color("primary");
$fd-background-color--sidebar: fd-color("primary",2);
$fd-background-color--footer: fd-color("primary");
$fd-ui-header-border-bottom: none;
$fd-ui-footer-border-top: none;

$fd-section-title-color: fd-color("text");
