@import "../core/functions";


//colors
$tn-colors: (
    primary: (
        1: midnightblue,
        2: #1a1a1a,
    ),
    text: (
        1: #ded9d3,
        2: #7f6f5c,
        3: #fff,
    ),
    text-inverse: (
        1: #000000,
        2: #090706,
        3: #110e0c,
    ),
    action: (
        1: #1ba6e9,
        2: #e45916,
        3: #e86b30,
       	4: #008ac4
    ),
    neutral: (
        1: #060403,
        2: #cdcdcd,
        3: #332515,
        4: #8a8fa1,
        5: #c2d1ea,
        6: #a8bfe3
    ),
    background: (
        1: black
    ),
    status: (
        1: #61bf33,
        2: #dff2d6,
        3: #e96b1a,
        4: #fbe3d4,
        5: #df1919,
        6: #f9d1d1
    )
);

$tn-ui-sidebar-background-color: lighten(black, 10);
