//colors
$fd-colors: (
  "action": (
    1: #008CDD,
    2: #00060c,
  ),
  "text": (
    1: #e1e4e9,
    2: #b7bac2,
    3: #a7abb4,
    4: #32363a,
    5: #10151c,
  ),
  "background": (
    1: #10151c,
    2: #00060c,
  ),
  "neutral": (
    1: #222c3d,
    2: #2c3647,
    3: #364051,
    4: #414b5c,
  ),
  "status": (
    1: #118843,
    2: #e9730c,
    3: #ff3b3b,
    4: #687173, //neutral
  ),
  "shell": (
    1: #00060c, //background #354A5F
    2: hsl(210, 100%, 91%) //icons #D1E8FF
  )
);

//BRING IN DEFAULT SETTINGS so you have access to the full system when defining overrides
@import "./../functions";
@import "./../settings";

//NO !default flags
$fd-card-background-color: fd-color("background",2);
$fd-list-group-border-color: none;
$fd-link-color: fd-color("action",1);
$fd-list-group-background-color--hover: fd-color("neutral",1);
