@import "../core/functions";

//fonts
$fd-fonts: (
    body: #{Arial, Helvetica, sans-serif},
    header: #{Arial, Helvetica, sans-serif},
    code: #{"Courier", sans-serif},
);

$fd-background-color: #efefef;
$fd-ui-fixed: true;
$fd-ui-header-background-color: black;
$fd-ui-footer-background-color: darkgray;
$fd-app-sidebar-background-color: darkred;
