@import "../core/functions";

//fonts
$tn-fonts: (
    body: #{Arial, Helvetica, sans-serif},
    header: #{Arial, Helvetica, sans-serif},
    code: #{"Courier", sans-serif},
);

$tn-background-color: #efefef;
$tn-ui-fixed: true;
$tn-ui-header-background-color: black;
$tn-ui-footer-background-color: darkgray;
$tn-app-sidebar-background-color: darkred;
