// @import "../core/functions";
// @import "../core/mixins";

$fd-fonts: (
    "body": #{"'72'", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"},
    "header": #{"'72Condensed'", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"}
);

//colors
$fd-colors: (
    "action": (
        1: #0a6ed1,
        2: #8D9DBC
    ),
    "text": (
        1: #32363b,
        2: #515559,
        3: magenta,
    ),
    "background": (
        1: #f3f4f5,
        2: #ffffff,
        3: magenta,
    ),
    "neutral": (
        1: #fafafa,
        2: #eeeeef,
        3: #dededf,
        4: magenta,
    ),
    "status": (
        1: #359c46,
        2: #f59518,
        3: #ee0000,
    )
);

//sets HTML el
$fd-font-size: 14px;
$fd-line-height: 20/14;

//sets type hierarchy
$fd-type--base: 14;
$fd-type: (
    "-3": #{11/$fd-type--base}rem 16/11 "body" reg none,  //11/16
    "-2": #{12/$fd-type--base}rem 16/12 "body" reg none, //12/16
    "-1": #{13/$fd-type--base}rem 16/13 "body" reg none,	//13/16
    "0": #{14/$fd-type--base}rem 20/14 "body" reg none, //14/20
    "1": #{16/$fd-type--base}rem 20/16 "body" reg none,  //16/20
    "2": #{19/$fd-type--base}rem 24/19 "body" reg none, //19/24
    "3": #{23/$fd-type--base}rem 32/23 "body" reg none, //23/32
    "4": #{30/$fd-type--base}rem 36/30 "body" light none, //30/36
    "5": 2.8125rem 1.15556 "header" reg none, //
);

@import "../core/settings";
