@import "./../mixins";

@mixin navlist($direction: horizontal) {
    list-style: none;
    padding: 0;
	[aria-selected=true] {
		cursor: default;
	}
	a {
		color: inherit;
	}
	[aria-hidden=true] {
		display: none;
	}
	@if $direction = horizontal {
	    @include fd-clearfix();
		margin: 0;
		li {
			float: left;
		}
	}
}

/*
WHY THIS:
Other semantic grids don't eaily allow for fixed gutter widths
nor do they take advantage of the CSS calc function
and they can get kind of confusing.
This is meant for simple layout problems — 
i.e., you have a box and you need three cols inside of equal widths
with gutters between.

The FLOW terminology is meant to be netural outside of rows and columns
and comes from the HTML5 spec referring to elements that can contain other elements
http://w3c.github.io/html/dom.html#kinds-of-content-flow-content

USAGE:
— Outer containers should contain the `@include flow-box` base styles
— Columns get `@include flow` with `$span` and `$cols` params

EXAMPLE MARKUP:
<section>
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
  <div class="box">x</div>
</section>

EXAMPLE CSS:
section {
  @include flow-box()
  .box {
    @include flow(2);
    &:first-child {
      @include flow-shift(2);
    }
  }
}

OUTPUT:
This will render 4 boxes spanning 2 cols each indented 2 cols
(based on defaults)

|--| |--| |--| |--| |--| |--| |--| |--| |--| |--| |--| |--|
          |  box  | |  box  | |  box  | |  box  |

*/

$flow_width_of_gutter: map-get($fd-spacing, xxs); // Should match var(--fd-width-gutter) in root.scss

//Apply to outer container
@mixin fd-flow-box {
  @include fd-clearfix();
}

//Apply to "columned" containers
@mixin fd-flow($span: 12, $cols: 12) {
  float: left;
  //set margin for gutter
  margin-right: $flow_width_of_gutter;
  margin-right: var(--fd-width-gutter);
  &:last-child {
    margin-right: 0;
  }

  @include fd-rtl() {
    float: right;
    //set margin for gutter
    margin-right: 0;
    margin-left: $flow_width_of_gutter;
    margin-left: var(--fd-width-gutter);
    &:last-child {
      margin-left: 0;
    }
  }

  //calc width without gutters
  $num_of_gutters: $cols - 1;
  $gutter_width_total: $num_of_gutters * $flow_width_of_gutter;

  //calc spanned gutter width
  $gutter_width_spanned: $flow_width_of_gutter * ($span - 1);

  //the math
  //#1 subtract total gutter width from container width (e.g., 12 cols have 11 gutters * 20px)
  //#2 divide remaining space by number of cols to get width for each col
  //#3 multiply col width by number of cols to span
  //#4 add back in gutter space for cols spanning multiple cols (e.g., 3 col spans over 2 gutters)
  width: calc(
    (
      (
        (100% - #{$gutter_width_total})
          / #{$cols}
      ) * #{$span}
    ) + #{$gutter_width_spanned}
  );
  width: calc(
    (
      (
        (100% - (#{$num_of_gutters} * var(--fd-width-gutter)))
          / #{$cols}
      ) * #{$span}
    ) + (var(--fd-width-gutter) * (#{$span} - 1))
  );
}

//Indents content
@mixin fd-flow-shift($span, $cols: 12) {

  //calc width without gutters
  $num_of_gutters: $cols - 1;
  $gutter_width_total: $num_of_gutters * $flow_width_of_gutter;

  //calc spanned gutter width
  $gutter_width_spanned: $flow_width_of_gutter * ($span);

  margin-left: calc(
    (
      (
        (100% - #{$gutter_width_total})
          / #{$cols}
      ) * #{$span}
    ) + #{$gutter_width_spanned}
  );
  margin-left: calc(
    (
      (
        (100% - (#{$num_of_gutters} * var(--fd-width-gutter)))
          / #{$cols}
      ) * #{$span}
    ) + (var(--fd-width-gutter) * (#{$span}))
  );
  @include fd-rtl() {
    margin-left: 0;
    margin-right: calc(
      (
        (
          (100% - #{$gutter_width_total})
            / #{$cols}
        ) * #{$span}
      ) + #{$gutter_width_spanned}
    );
    margin-right: calc(
      (
        (
          (100% - (#{$num_of_gutters} * var(--fd-width-gutter)))
            / #{$cols}
        ) * #{$span}
      ) + (var(--fd-width-gutter) * (#{$span}))
    );
  }
}
