@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-tile-grid+(--2col | --4col | --5col | --6col)
*/
$block: #{$fd-namespace}-panel-grid;
.#{$block} {
  //VARS

  $fd-panel-grid-items-per-row: 3 !default;
  $fd-panel-grid-box-shadow: 0 5px 20px 0 rgba(fd-color("text"), 0.08) !default;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;

  @include fd-screen(s) {
    /* flex fallback */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(#{$fd-panel-grid-items-per-row}, 1fr);
    @include fd-var-size("grid-gap", $fd-width--gutter, --fd-width-gutter);

    //BLOCK MODIFIERS ************
    @each $n in 1, 2, 3, 4, 5, 6 {
      &--#{$n}col {
        grid-template-columns: repeat(#{$n}, 1fr);
      }
    }
    &--nogap,
    &--nogutter {
      grid-gap: 1px;
      & > * {
        box-shadow: none;
      }
    }
  }
}
