@import "./../settings";
@import "./../functions";
@import "./../mixins";
/*!
.fd-ui+(--fixed)
    .fd-ui__header+(--fixed)
    .fd-ui__app
    .fd-ui__footer+(--fixed)
    .fd-ui__overlay
*/
$block: #{$fd-namespace}-ui;
.#{$block} {
    //these vars can be set globally to lock all pages
    //also, --fixed modifiers can be used in the HTML to set per template configurations
    $fd-ui-fixed: false !default;
    $fd-ui-background: none !default;
    $fd-ui-header-fixed: false !default;
    $fd-ui-footer-fixed: false !default;

    $fd-ui-header-height: 50px !default;
    $fd-ui-header-background-color: $fd-background-color--header !default;
    $fd-ui-header-border-bottom: solid 1px fd-color("neutral",3) !default;
    $fd-ui-footer-height: 40px !default;
    $fd-ui-footer-background-color: $fd-background-color--footer !default;
    $fd-ui-footer-border-top: solid 1px fd-color("neutral",3) !default;
    $_ui-is-fixed: $fd-ui-fixed or ($fd-ui-header-fixed and $fd-ui-footer-fixed);
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    background: $fd-ui-background;
    background-size: cover;
    background-attachment: fixed;

    &--fixed {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        .#{$block}__header {
            flex: 0 0 $fd-ui-header-height;
            position: static;
        }
        & .#{$block}__footer {
            flex: 0 0 $fd-ui-footer-height;
            position: static;
        }
        & .#{$block}__app {
            overflow: scroll;
            margin-top: 0;
            flex: 1;
            min-height: auto;
        }
    }
    @if $_ui-is-fixed {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }
    &__header {
        position: absolute;
        z-index: map-get($fd-z-index-levels, "first");
        background: $fd-ui-header-background-color;
        width: 100%;
        min-height: $fd-ui-header-height;
        height: $fd-ui-header-height;
        border-bottom: $fd-ui-header-border-bottom;
        &--fixed {
            position: fixed;
        }
        @if $_ui-is-fixed {
            position: static;
            flex: 0 0 $fd-ui-header-height;
        } @else {
            @if $fd-ui-header-fixed {
                position: fixed;
            }
        }
    }
    &__footer {
        background: $fd-ui-footer-background-color;
        width: 100%;
        min-height: $fd-ui-footer-height;
        height: $fd-ui-footer-height;
        border-top: $fd-ui-footer-border-top;
        &--fixed {
            position: fixed;
            bottom: 0;
        }
        @if $_ui-is-fixed {
            position: static;
            flex: 0 0 $fd-ui-footer-height;
        } @else {
            @if $fd-ui-footer-fixed {
                position: fixed;
                bottom: 0;
            }
        }
    }
    &__app {
        margin-top: $fd-ui-header-height;
        min-height: calc(100vh - #{$fd-ui-footer-height} - #{$fd-ui-header-height});
        width: 100%;
        display: flex;
        position: relative;
        @if $_ui-is-fixed {
            overflow: scroll;
            flex: 1;
            margin-top: 0;
        } @else {
            @if $fd-ui-header-fixed {
                min-height: calc(100vh - #{$fd-ui-footer-height});
            }
            @if $fd-ui-footer-fixed {
                padding-bottom: $fd-ui-footer-height;
            }
        }
    }
    &__main {
        @if $_ui-is-fixed {
            overflow: scroll;
        }
    }
    &__overlay {
        position: absolute;
    }
}
