@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

$block: ns(app);

/*!
.fd-app
    .fd-app__sidebar
    .fd-app__main
*/

.#{$block} {
    $fd-app-sidebar-width: 250px !default;
    $fd-app-sidebar-height--minimized: 40px !default;
    $fd-app-sidebar-width--minimized: 80px !default;
    $fd-app-sidebar-background-color: fd-color(primary, 2) !default;
    width: 100%;
    @include fd-screen(s) {
        display: flex;
    }
    &__sidebar {
        background-color: $fd-app-sidebar-background-color;
        width: 100vw;
        max-height: $fd-app-sidebar-height--minimized;
        &:hover {
            position: absolute;
            min-height: 100%;
        }
        @include fd-screen(s) {
            width: $fd-app-sidebar-width--minimized;
            max-height: 100%;
            &:hover {
                width: $fd-app-sidebar-width;
                position: relative;
                margin-right: -200px;
            }
        }
        @include fd-screen(l) {
            width: $fd-app-sidebar-width;
            &:hover {
                width: $fd-app-sidebar-width;
                margin-right: 0;
            }
        }
        overflow: scroll;
    }
    &__main {
        flex: 1;
        overflow: scroll;
    }
}
