@import "../core/settings";
@import "../core/functions";
@import "../core/mixins";
@import "mixins";

$block: ns(col);

/*!
    .tn-col+(--1...12, --shift-1...11)
*/
.#{$block} {
    flex: 1;
    @include tn-screen(s) {
        @for $i from 1 through 12 {
            &--#{$i} {
                @include tn-flow($i, 12);
            }
        }
        @for $i from 1 through 11 {
            &--shift-#{$i} {
                @include tn-flow-shift($i);
            }
        }
    }
    @at-root {
        [class^="#{$block}"] {
            margin-bottom: $tn-margin-bottom;
            &:last-child {
                margin-bottom: 0;
            }
            @include tn-screen(s) {
                margin-bottom: 0;
            }
        }
    }
}
