@import "./../settings";
@import "./../functions";
@import "./../mixins";
//$fd-support-css-var-fallback: true;
$block: #{$fd-namespace}-page;
.#{$block} {
  $fd-page-background-color: $fd-background-color !default;
  --fd-page-background-color: transparent;
  $fd-page-header-padding-x: $fd-padding--ui !default;
  $fd-page-header-padding-y: 0 !default;
  --fd-page-header-padding-x: var(--fd-padding-ui);
  $fd-page-header-height: auto !default;
  $fd-page-header-border-color: fd-color("neutral", 3) !default;
  --fd-page-header-border-color: var(--fd-color-neutral-3);
  $fd-page-header-border-width: 0 !default;
  $fd-page-header-background-color: transparent !default;
  --fd-page-header-background-color: #{$fd-page-header-background-color};
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  @include fd-var-color("background-color", $fd-page-background-color, --fd-page-background-color);
  &__header {
    border-style: solid;
    border-width: $fd-page-header-border-width;
    @include fd-var-color("border-color", $fd-page-header-border-color, --fd-page-header-border-color);
    @include fd-var-color("background-color", $fd-page-header-background-color, --fd-page-header-background-color);
    min-height: $fd-page-header-height;
    padding: $fd-page-header-padding-y $fd-page-header-padding-x;
    padding: $fd-page-header-padding-y var(--fd-page-header-padding-x);
  }
  &__content {
    flex-grow: 1;
    margin-bottom: fd-space(m);
  }
}
