@import "./../settings";
@import "./../functions";
@import "./../mixins";

$block: #{$fd-namespace}-page;
.#{$block} {
  $fd-page-background-color: $fd-background-color !default;
  $fd-page-header-height: auto !default;
  $fd-page-header-border-color: fd-color("neutral", 3) !default;
  $fd-page-header-border-width: 0 0 1px 0 !default;
  $fd-page-intro-background-color: fd-color("background", 2) !default;
  $fd-page-intro-padding: fd-space(4) !default;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: $fd-page-background-color;
  &__header {
    border-style: solid;
    border-width: $fd-page-header-border-width;
    border-color: $fd-page-header-border-color;
    background-color: $fd-page-background-color;
    height: $fd-page-header-height;
  }
  &__intro {
    @include fd-type("-1");
    padding: $fd-page-intro-padding $fd-padding--ui;
    background-color: $fd-page-intro-background-color;
    text-align: center;
    border-bottom: solid 1px fd-color("neutral", 3);
    margin-bottom: -1px;
  }
  &__content {
    flex-grow: 1;
    margin-bottom: fd-space(m);
  }
}
