@import "./../settings";
@import "./../functions";
@import "./../mixins";
/*!
.fd-section+(--full-bleed, --no-border)
    .fd-section__header
        .fd-section__title
        .fd-section__actions
    .fd-section__footer
*/
:root {
  --fd-section-background-color: transparent;
}
$block: #{$fd-namespace}-section;
.#{$block} {

    $fd-section-padding: $fd-padding--ui !default;
    --fd-section-padding-x: var(--fd-padding-ui);

    $fd-section-padding--top: fd-space(s) !default;
    $fd-section-padding--bottom: fd-space("reg") !default;
    $fd-section-header-margin--bottom: fd-space("reg") !default;
    $fd-section-title-color: fd-color("text",2) !default;
    --fd-section-title-color: var(--fd-color-text-2);

    @include fd-clearfix();
    padding: $fd-section-padding--top $fd-section-padding $fd-section-padding--bottom;
    padding: $fd-section-padding--top var(--fd-section-padding-x) $fd-section-padding--bottom;
    border-bottom: none;

    background-color: var(--fd-section-background-color, transparent);

    &:last-child,
    &--no-border {
        border-bottom: 0;
    }
    &--full-bleed,
    &--bleed {
        padding-right: 0;
        padding-left: 0;
        .#{$block}__header, .#{$block}__footer {
            margin-left: $fd-section-padding;
            margin-left: var(--fd-section-padding-x);
            margin-right: $fd-section-padding;
            margin-right: var(--fd-section-padding-x);
        }
    }
    &__header {
        min-height: fd-space(10);
        display: flex;
        align-items: center;
        margin-bottom: $fd-section-header-margin--bottom;
    }
    &__title {
        @include fd-type("4");
        @include fd-var-color("color", $fd-section-title-color, --fd-section-title-color);
        flex: 1;
        margin-bottom: 0;
    }
    &__actions {
        margin-left: auto;
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
}
