@import "./../settings";
@import "./../functions";
@import "./../mixins";
/*!
.fd-section+(--full-bleed, --no-border)
    .fd-section__header
        .fd-section__title
        .fd-section__actions
    .fd-section__footer
*/
$block: #{$fd-namespace}-section;
.#{$block} {
    $fd-section-border-color: fd-color("neutral", 3) !default;
    $fd-section-padding: $fd-padding--ui !default;
    $fd-section-padding--top: fd-space(m) !default;
    $fd-section-padding--bottom: fd-space(reg) !default;

    @include fd-clearfix;
    padding: $fd-section-padding--top $fd-section-padding $fd-section-padding--bottom;
    border-bottom: solid 2px $fd-section-border-color;
    &:last-child,
    &--no-border {
        border-bottom: 0;
    }
    &--full-bleed {
        padding-right: 0;
        padding-left: 0;
        .#{$block}__header, .#{$block}__footer {
            margin-left: $fd-section-padding;
            margin-right: $fd-section-padding;
        }
    }
    &__header {
        min-height: fd-space(10);
        display: flex;
        align-items: center;
        margin-bottom: fd-space(4);
    }
    &__title {
        @include fd-type("3");
        flex: 1;
        margin-bottom: 0;
    }
    &__actions {
        margin-left: auto;
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
}
