{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../input-group/component.njk" import input_group %}
{% from "../button/component.njk" import button %}
{% import "./../utils.njk" as utils %}
<!--
localization_editor:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->


{#

 #}
{% macro localization_editor_main_input_item(items, aria={}) %}

{% set main_input = items[0].properties %}
{{ input_group(
    properties={
        after: button(
                properties={ label: main_input.label },
                modifier={ block: ['secondary', 'compact'] },
                aria={ controls: aria.controls, expanded: false, haspopup: true }
                ),
        input: {
            properties: {
                placeholder: "Enter Label"
            },
            aria: {
                controls: aria.controls,
                expanded: false,
                haspopup: true
            }
        }
    },
    modifier={
        after: ["after", "button"],
        block: "after"
    })
}}
{% endmacro %}

{% macro localization_editor_input_item(properties={}) %}
{{ input_group(
    properties={
        after: properties.language,
        input: {
            properties: {
                placeholder: "Enter Label"
            }
        }
    },
    modifier={
        block: ["after"],
        after: "after"
    })
}}
{% endmacro %}

{% macro localization_editor_input_body(items) %}
<nav class="fd-menu">
    <ul class="fd-menu__list fd-localization-editor__list">
{%- set len = items.length -%}
{%- for i in range(1, len) -%}
        <li>
            {{ item[i].properties.label }}
            {{ localization_editor_input_item(properties={language: items[i].properties.label}) }}
        </li>
{%- endfor -%}
    </ul>
</nav>
{% endmacro %}

{% macro localization_editor(properties={}, modifier={}, state={}, aria={}) -%}
{{  popover(properties={
    id: properties.id,
    control: localization_editor_main_input_item(properties.items, aria={controls: properties.id}),
    body: localization_editor_input_body(properties.items)
  })
}}
{%- endmacro %}
