{% from "./../popover/component.njk" import popover %}
{% from "./../menu/component.njk" import menu %}
{% from "./../input-group/component.njk" import input_group %}
{% from "../button/component.njk" import button %}
{% import "./../utils.njk" as utils %}
<!--
localization_editor:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro localization_editor_item(properties={}) %}
<div class="fd-form__item {{ '' if properties.main_input else 'fd-localization-editor__item' }}">
    <div class="fd-input-group fd-input-group--after">
        <input class="" type="text" id="" name="" value="" placeholder="Enter Label" {{'aria-controls="jhqD0558" aria-expanded="false" aria-haspopup="true"' if properties.main_input}}>
        {%- if properties.main_input %}
        <span class="fd-input-group__addon fd-input-group__addon--button fd-input-group__addon--after">
            <button class="fd-button--secondary" aria-controls="jhqD0558" aria-expanded="false" aria-haspopup="true">{{properties.language}}</button>
        </span>
        {%- else -%}
        <span class="fd-input-group__addon fd-input-group__addon--after">{{properties.language}}</span>
        {%- endif -%}
    </div>
</div>
{% endmacro %}

{% macro localization_editor(properties={}, modifier={}, state={}, aria={}) -%}
<div class="fd-localization-editor{{ modifier.block | modifier('localization-editor') }}{{ state | state }}"{{ aria | aria }} >
    <div class="fd-popover">
        <div class="fd-popover__control">
            <div class="fd-form__item">
                <label class="fd-form__label" for="">Label</label>
                {{ localization_editor_item(properties={ language: "EN*", main_input: true }) }}
            </div>
        </div>
        <div class="fd-popover__body" aria-hidden="true" id="jhqD0558">
            <nav class="fd-menu">
                <ul class="fd-menu__list">
                    <li>
                        {{ localization_editor_item(properties={language: "CH"}) }}
                    </li>
                    <li>
                        {{ localization_editor_item(properties={language: "SP"}) }}
                    </li>
                    <li>
                        {{ localization_editor_item(properties={language: "DE"}) }}
                    </li>
                    <li>
                        {{ localization_editor_item(properties={language: "PL"}) }}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{%- endmacro %}
