{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% import "../forms.njk" as forms %}
{% from "./component.njk" import localization_editor %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['fonts','helpers', 'components/form', 'components/input', 'components/menu', 'components/popover','components/button','components/input-group', 'icons'] %}


{% block content %}

    <h1>localization-editor</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  localization_editor(
            properties={
                type: "input"
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}
    {% endset %}
    {{ format(example) }}


{% endblock %}
