<!--
badge:
    properties={},
    modifier={ block: [] }
-->
{% macro badge(properties={}, modifier={}, state={}, aria={}) -%}
<span class="fd-badge{{ modifier.block | modifier('badge') }}">
    {{properties.label}}
</span>
{%- endmacro %}
