<!--
badge:
    properties={},
    modifier={ block: [] }
-->
{% macro badge(properties={}, modifier={}, state={}, aria={}, classes=[]) -%}
<span class="fd-badge{{ modifier.block | modifier('badge') }}{{classes|classes}}">
    {{properties.label}}
</span>
{%- endmacro %}
