{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import badge %}

{% block content %}


<h2>default</h2>
    <!-- output the component example and the code snippet -->
    {% set example %}
{{  badge({label: "Default"}) }}
{{  badge({label: "Default"},
        modifier={block: ["success"]})
}}
{{  badge({label: "Default"},
        modifier={block: ["warning"]})
}}
{{  badge({label: "Default"},
        modifier={block: ["error"]})
}}
    {% endset %}
    {{ format(example) }}
<br><br>

    <h2>pill</h2>

    {% set example %}
{{  badge(
        {label: "Default"},
        modifier={ block: ["pill"] }
    )
}}
{{  badge({label: "Default"},
        modifier={block: ["success", "pill"]})
}}
{{  badge({label: "Default"},
        modifier={block: ["warning", "pill"]})
}}
{{  badge({label: "Default"},
        modifier={block: ["error", "pill"]})
}}
    {% endset %}
    {{ format(example) }}

<br><br>
    <h2>filled</h2>

    {% set example %}
{{  badge(
        {label: "Default"},
        modifier={ block: ["filled"] }
    )
}}
{{  badge({label: "Default"},
        modifier={block: ["success", "filled"]})
}}
{{  badge({label: "Default"},
        modifier={block: ["warning", "filled"]})
}}
{{  badge({label: "Default"},
        modifier={block: ["error", "filled"]})
}}
    {% endset %}
    {{ format(example) }}


    <br><br>
        <h2>pill + filled</h2>

        {% set example %}
    {{  badge(
            {label: "Default"},
            modifier={ block: ["filled", "pill"] }
        )
    }}
    {{  badge({label: "Default"},
            modifier={block: ["success", "filled", "pill"]})
    }}
    {{  badge({label: "Default"},
            modifier={block: ["warning", "filled", "pill"]})
    }}
    {{  badge({label: "Default"},
            modifier={block: ["error", "filled", "pill"]})
    }}
        {% endset %}
        {{ format(example) }}



{% endblock %}
