@mixin fd-button-reset {
  display: inline-block;
  //margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  appearance: none;
  outline: 0;
  border: 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $fd-border-radius;
  @content;
}

@mixin fd-link($color: $fd-link-color) {
  color: $fd-link-color;
  border-bottom: solid 1px $fd-link-color;
  &:hover {
    color: $fd-link-color--hover;
    border-bottom-color: $fd-link-color--hover;
  }
  &:visited {
    color: $fd-link-color--visited;
    border-bottom-color: $fd-link-color--visited;
  }
  &:active,
  &[aria-selected="true"],
  &.is-selected,
  &[aria-pressed="true"],
  &.is-pressed,
  &:focus {
      color: $fd-link-color--active;
      border-bottom-color: $fd-link-color--active;
  }
  &[aria-disabled="true"],
  &.is-disabled {
      color: $fd-link-color--disabled;
      border-bottom-color: $fd-link-color--disabled;
  }
}
