@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-action-bar
	.fd-action-bar__title
	.fd-action-bar__actions+(.is-disabled | aria-hidden)?
        .fd-action-bar__action-item
*/
$block: #{$fd-namespace}-action-bar;
.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-action-bar-background-color: transparent !default;
    $fd-action-bar-height: fd-space(16) !default;
    $fd-action-bar-transition-params: 0.25s ease-in !default;

    //BLOCK BASE *******************************************
    @include fd-reset;
    background-color: $fd-action-bar-background-color;
    min-height: $fd-action-bar-height;
    display: flex;
    align-items: stretch;
    // padding-right: fd-space("reg");
    // padding-left: fd-space("reg");
    padding-right: 0;
    padding-left: 0;

    &__header {
        @include fd-reset;
        @include fd-type("3", header, med);
        flex: 1;
        margin-bottom: 0;
        padding-top: fd-space("s");
        padding-bottom: fd-space("s");
    }

    &__title {
        @include fd-type("3");
        margin-bottom: 0;
    }

    &__actions {
        @include fd-reset;
        display: flex;
        align-items: center;
        transition: opacity $fd-action-bar-transition-params;
        visibility: visible;
        &.is-disabled,
        &[aria-hidden="true"] {
            opacity: 0;
            visibility: hidden;
        }
        & > * {
          margin-left: fd-space(2);
          &:first-child {
            margin-left: 0;
          }
        }
    }
}
