@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-action-bar
	.fd-action-bar__title
	.fd-action-bar__actions+(.is-disabled | aria-hidden)?
        .fd-action-bar__action-item
*/
$block: #{$fd-namespace}-action-bar;
.#{$block} {

    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-action-bar-background-color: transparent !default;
    $fd-action-bard-description-color: fd-color('text', 3);
    $fd-action-bar-height: fd-space(16) !default;
    $fd-action-bar-transition-params: 0.25s ease-in !default;
    $fd-action-bar-backbtn-seperator-color: fd-color('neutral', 3);

    //LOCAL mixins
    @mixin fd-action-bar-responsive {
        // Changed from deprecated fd-screen(xs)
        @include fd-screen(s){
            white-space: nowrap;
            width: calc(100% - 10px);
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }

    @mixin fd-hide-on-mobile {
        // Changed from deprecated fd-screen(xs)
        @include fd-screen(s) {
            display: none !important;
        }

        @include fd-screen(m) {
            display: inline-block !important;
        }
    }

    //BLOCK BASE *******************************************
    @include fd-reset;
    background-color: $fd-action-bar-background-color;
    min-height: $fd-action-bar-height;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    align-items: baseline;

    &__header {
        @include fd-reset;
        @include fd-type("0");
        @include fd-action-bar-responsive;
        margin-bottom: 0;
        padding-top: fd-space("s");
        padding-bottom: fd-space("s");
        flex-grow: 1;
    }

    &__back {
        display: block;
        @include fd-hide-on-mobile;
        &::after {
                content: '';
                width: 0;
                height: 100%;
                position: absolute;
                top: - fd-space(1);
                right: - fd-space(1);
                border-right: 1px solid $fd-action-bar-backbtn-seperator-color;
        }
        button {
            margin-top: - fd-space(2);
        }
    }

    &__back {
        position: relative;
        margin-right: fd-space(5);
        &::after {
                content: '';
                width: 0;
                height: 100%;
                position: absolute;
                top: - fd-space(1);
                right: - fd-space(1);
                border-right: 1px solid $fd-action-bar-backbtn-seperator-color;
        }
    }

    &__title {
        @include fd-type("4");
        @include fd-action-bar-responsive;
        margin-bottom: fd-space(base);
    }

    &__description{
        color: $fd-action-bard-description-color;
        @include fd-type("0");
        @include fd-hide-on-mobile;
    }

    &__actions {
        @include fd-reset;
        display: flex;
        align-items: center;
        transition: opacity $fd-action-bar-transition-params;
        visibility: visible;
        &.is-disabled,
        &[aria-hidden="true"] {
            opacity: 0;
            visibility: hidden;
        }
        & > *,
        & > button {
          margin-left: fd-space(2);
          &:first-child {
            margin-left: 0;
          }
        }
        .fd-popover {
            top: - fd-space(1);
        }
    }
}
