@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "./button";
@import "./contextual-menu";

/*!
.tn-action-bar
	.tn-action-bar__navigation
	.tn-action-bar__title
	.tn-action-bar__actions+(.is-disabled | aria-hidden)?
        .tn-action-bar__action-item
*/
$block: ns(action-bar);

.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $tn-action-bar-background-color: tn-color(background, 2) !default;
    $tn-action-bar-border-color: tn-color(neutral, 3) !default;

    $tn-action-bar-height: tn-space(19) !default;
    $tn-action-bar-transition-params: 0.25s ease-in !default;

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include reset;
    height: $tn-action-bar-height;
    background-color: $tn-action-bar-background-color;
    border-style: solid;
    border-width: 1px 0;
    border-color: $tn-action-bar-border-color;
    display: flex;
    align-items: center;
    &__navigation {

    }
    &__title {
        @include reset;
        @include tn-type(3, header, med);
        flex: 1;
        margin-bottom: 0;
        &:first-child {
            padding-left: tn-space(6);
        }
    }
    &__actions {
        @include reset;
        display: flex;
        transition: opacity $tn-action-bar-transition-params;
        visibility: visible;
        &.is-disabled,
        &[aria-hidden="true"] {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__action-item {

    }
}
