@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-add
*/
$block: #{$fd-namespace}-add-button;
.#{$block} {
    // Block
    @include fd-reset;
    text-align: right;
    padding: fd-space(s);
    margin-top: -(fd-space(m));
}
