@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "../components/mixins";

/*!
.tn-add
*/
$block: ns(add-button);

.#{$block} {

    // Block
    text-align: right;
    padding: tn-space(s);
    margin-top: -(tn-space(m));
}
