@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./../icons/mixins";
/*!
.fd-alert+(--information, --success, --warning, --error)
    .fd-alert__close
*/
$block: #{$fd-namespace}-alert;
.#{$block} {
    //SETTINGS
    $fd-alert-color: fd-color("text", 1) !default;
    $fd-alert-border-color: fd-color("neutral", 4) !default;
    $fd-alert-border-color--warning: fd-color("status", 2) !default;
    $fd-alert-border-color--error: fd-color("status", 3) !default;
    $fd-alert-border-color--success: fd-color("status", 1) !default;
    $fd-alert-border-color--information: fd-color("action", 1) !default;
    $fd-alert-action-color: fd-color("action", 1) !default;

    $fd-alert-background-color: fd-color("neutral", 1) !default;
    $fd-alert-background-color--warning: fd-color-state("alert") !default;
    $fd-alert-background-color--error: fd-color-state("negative") !default;
    $fd-alert-background-color--success: fd-color-state("positive") !default;
    $fd-alert-background-color--information: fd-color-state("information") !default;

    --fd-alert-background-color: var(--fd-color-neutral-1);
    --fd-alert-border-color: var(--fd-color-neutral-4);
    --fd-alert-action-color: var(--fd-color-action-1);

    $fd-alert-padding-x: fd-space("xxs") !default;
    $fd-alert-padding-y: fd-space("xs") !default;

    // Block
    @include fd-reset();
    position: relative;
    color: $fd-alert-color;
    border-style: solid;
    border-width: 1px;
    @include fd-var-color("background-color", $fd-alert-background-color, --fd-alert-background-color);
    @include fd-var-color("border-color", $fd-alert-border-color, --fd-alert-border-color);
    padding: $fd-alert-padding-x $fd-alert-padding-y;
    border-radius: $fd-border-radius;

    //DEPRECATE v1.6 (brute force embedded solution to adopt new styles)
    .sap-icon--message-error, .sap-icon--message-warning, .sap-icon--message-success, .sap-icon--message-information {
      display: none;
    }

    // Elements
    &__close {
      position: absolute;
      right: 0;
      top: 0;
      @include fd-icon("decline", "l");
      @include fd-button-reset();
      @include fd-var-color("color", $fd-alert-action-color, --fd-alert-action-color);

      width: fd-space(9);
      height: fd-space(9);
      @include fd-focus();
      @include fd-rtl() {
        left: 0;
        right: auto;
      }
    }


    // Modifiers
    &--dismissible {
      padding-right: fd-space("large");
      @include fd-rtl() {
        padding-right: $fd-alert-padding-x;
        padding-left: fd-space("large");
      }
    }
    &--warning,
    &--information,
    &--success,
    &--error {
      padding-left: fd-space("large");
      @include fd-rtl() {
        padding-right: fd-space("large");
        padding-left: $fd-alert-padding-x;
        &::before {
          display: none;
        }
      }
      &.#{$block}--dismissible {
        padding-right: fd-space("large");
        @include fd-rtl() {
          padding-left: fd-space("large");
        }
      }
      @include fd-icon-base() {
        position: absolute;
        left: fd-space("small");
        top: fd-space("tiny");
      }
      @include fd-rtl() {
        @include fd-icon-base("after") {
          position: absolute;
          right: fd-space("small");
          top: fd-space("tiny");
        }
      }
    }
    &--warning {
      --fd-alert-background-color: var(--fd-color-background-alert);
      --fd-alert-border-color: var(--fd-color-status-2);
      &::before,
      &::after {
        @include fd-var-color("color", $fd-alert-border-color--warning, --fd-alert-border-color);
      }
      @include fd-var-color("background-color", $fd-alert-background-color--warning, --fd-alert-background-color);
      @include fd-var-color("border-color", $fd-alert-border-color--warning, --fd-alert-border-color);
      @include fd-icon("message-warning", "l");
      @include fd-rtl() {
        @include fd-icon("message-warning", "l", "after");
      }
    }
    &--error {
      --fd-alert-background-color: var(--fd-color-background-negative);
      --fd-alert-border-color: var(--fd-color-status-3);
      &::before,
      &::after {
        @include fd-var-color("color", $fd-alert-border-color--error, --fd-alert-border-color);
      }
      @include fd-var-color("background-color", $fd-alert-background-color--error, --fd-alert-background-color);
      @include fd-var-color("border-color", $fd-alert-border-color--error, --fd-alert-border-color);
      @include fd-icon("message-error", "l");
      @include fd-rtl() {
        @include fd-icon("message-error", "l", "after");
      }
    }
    &--success {
      --fd-alert-background-color: var(--fd-color-background-positive);
      --fd-alert-border-color: var(--fd-color-status-1);
      &::before,
      &::after {
        @include fd-var-color("color", $fd-alert-border-color--success, --fd-alert-border-color);
      }
      @include fd-var-color("background-color", $fd-alert-background-color--success, --fd-alert-background-color);
      @include fd-var-color("border-color", $fd-alert-border-color--success, --fd-alert-border-color);
      @include fd-icon("message-success", "l");
      @include fd-rtl() {
        @include fd-icon("message-success", "l", "after");
      }
    }
    &--information {
      --fd-alert-background-color: var(--fd-color-background-information);
      --fd-alert-border-color: var(--fd-color-action-1);
      &::before,
      &::after {
        @include fd-var-color("color", $fd-alert-border-color--information, --fd-alert-border-color);
      }
      @include fd-var-color("background-color", $fd-alert-background-color--information, --fd-alert-background-color);
      @include fd-var-color("border-color", $fd-alert-border-color--information, --fd-alert-border-color);
      @include fd-icon("message-information", "l");
      @include fd-rtl() {
        @include fd-icon("message-information", "l", "after");
      }
    }
}
