@import "../theme";
@import "../mixins";
@import "../functions";
@import "../components/mixins";

/*!
.fd-alert+(--warning. --error)
    .fd-alert__close
*/
$block: #{$fd-namespace}-alert;
.#{$block} {
    //SETTINGS
    $fd-alert-background-color: fd-color(text, 3) !default;
    $fd-alert-background-color--warning: fd-color(status, 2) !default;
    $fd-alert-background-color--error: fd-color(status, 3) !default;
    $fd-alert-color--warning: fd-color(text, 1) !default;
    $fd-alert-color: fd-color(text-inverse, 1) !default;
    $fd-alert-border-color: fd-color(neutral, 2) !default;
    $fd-alert-height: fd-space(13) !default;
    $fd-alert-action--clerance: 50px;

    // Block
    @include fd-reset;
    color: $fd-alert-color;
    border: solid 1px $fd-alert-border-color;
    background-color: $fd-alert-background-color;
    min-height: $fd-alert-height;
    padding: fd-space(s);

    // Elements
    &__close {
        @include fd-button-reset;  //removes default button chrome
        color: fd-color(text-inverse, 1);
        width: fd-space(m); //best practice hit space
        height: fd-space(m);
        float: right;
        margin: - (fd-space(s)/2);
    }

    // Modifiers
    &--warning {
      background-color: $fd-alert-background-color--warning;
      color: $fd-alert-color--warning;

    }
    &--error {
      background-color: $fd-alert-background-color--error;
    }


}
