@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./mixins";
@import "./../icons/mixins";
/*!
.fd-alert+(--warning. --error)
    .fd-alert__close
*/
$block: #{$fd-namespace}-alert;
.#{$block} {
    //SETTINGS
    $fd-alert-color: fd-color("text", 1) !default;
    $fd-alert-border-color: fd-color("neutral", 3) !default;
    $fd-alert-border-color--warning: fd-color("status", 2) !default;
    $fd-alert-border-color--error: fd-color("status", 3) !default;

    $fd-alert-background-color: fd-color("neutral", 1) !default;
    $fd-alert-background-color--warning: hsla(34, 92%, 96%, 1) !default; // HSL: +43 to base Status 2
    $fd-alert-background-color--error: hsla(0, 100%, 96%, 1) !default; // HSL: +49 to base Status 3  

    $fd-alert-padding-x: fd-space("xxs") !default;
    $fd-alert-padding-y: fd-space("xs") !default;

    // Block
    @include fd-reset;
    color: $fd-alert-color;
    border: solid 1px $fd-alert-border-color;
    background-color: $fd-alert-background-color;
    padding: $fd-alert-padding-x $fd-alert-padding-y;
    border-radius: $fd-border-radius;

    // Elements
    &__close {
      position: absolute;
      right: fd-space(1);
      top: 0;
      @include fd-icon("decline", "l");
      @include fd-button-reset;
      color: fd-color("text", 1);
      width: fd-space(9);
      height: fd-space(9);
    }

    // Modifiers
    &--warning {
      border-color: $fd-alert-border-color--warning;
      background-color: $fd-alert-background-color--warning;
    }
    &--error {
      border-color: $fd-alert-border-color--error;
      background-color: $fd-alert-background-color--error;
    }
    &--dismissible {
      position: relative;
      padding-right: fd-space(12);
    }


}
