@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-badge+(( --success | --warning | --error ), (--pill | --filled))
*/
$block: #{$fd-namespace}-badge;
.#{$block} {

  @include fd-reset();
  @include fd-type("-1");

  @include fd-var-color("border-color", $fd-color--action, --fd-color-action);
  @include fd-var-color("background-color", fd-color("background", 6), --fd-color-background-6);

  line-height: fd-space(4);
  vertical-align: middle;
  display: inline-block;
  padding-top: fd-space(1)/4;
  padding-bottom: fd-space(1)/4;
  padding-left: fd-space(2);
  padding-right: fd-space(2);
  border-radius: $fd-border-radius;
  border-width: 1px;
  border-style: solid;

  &--pill {
    border-radius: fd-space(6)/2;
  }

  &--filled {
    @include fd-weight("bold");
    @include fd-var-color("color", fd-color("text", 5), --fd-color-text-5);
    @include fd-var-color("background-color", $fd-color--action, --fd-color-action);

    border: none;

    &.#{$block}--success {
      @include fd-var-color("background-color", $fd-color--success, --fd-color-positive);
    }

    &.#{$block}--warning {
      @include fd-var-color("background-color", $fd-color--warning, --fd-color-alert);
    }

    &.#{$block}--error {
      @include fd-var-color("background-color", $fd-color--error, --fd-color-negative);
    }
  }

  &--success {
    @include fd-var-color("background-color", fd-color-state("positive"), --fd-color-background-3);
    @include fd-var-color("border-color", $fd-color--success, --fd-color-positive);
  }

  &--warning {
    @include fd-var-color("background-color", fd-color-state("alert"), --fd-color-background-4);
    @include fd-var-color("border-color", $fd-color--warning, --fd-color-alert);
  }

  &--error {
    @include fd-var-color("background-color", fd-color-state("negative"), --fd-color-background-5);
    @include fd-var-color("border-color", $fd-color--error, --fd-color-negative);
  }
}
