@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-badge+(( --success | --warning | --error ), (--pill | --filled))
*/
$block: #{$fd-namespace}-badge;
.#{$block} {
  $fd-badge-color: $fd-color--action !default;
  $fd-badge-color--filled: fd-color("text", 5) !default;
  $fd-badge-color--success: $fd-color--success !default;
  $fd-badge-color--warning: $fd-color--warning !default;
  $fd-badge-color--error: $fd-color--error !default;

  $fd-badge-background-color: fd-color("background", 6) !default;
  $fd-badge-background-color--success: fd-color-state("positive") !default;
  $fd-badge-background-color--warning: fd-color-state("alert") !default;
  $fd-badge-background-color--error: fd-color-state("negative") !default;

  --fd-badge-color: var(--fd-color-action-1);
  --fd-badge-color--filled: var(--fd-color-text-5);
  --fd-badge-color--success: var(--fd-color-status-1);
  --fd-badge-color--warning: var(--fd-color-status-2);
  --fd-badge-color--error: var(--fd-color-status-3);
  --fd-badge-background-color: var(--fd-color-background-6);

  @include fd-reset();
  @include fd-type("-1");

  @include fd-var-color("border-color", $fd-badge-color, --fd-badge-color);
  @include fd-var-color("background-color", $fd-badge-background-color, --fd-badge-background-color);

  line-height: fd-space(4);
  vertical-align: middle;
  display: inline-block;
  padding-top: fd-space(1)/4;
  padding-bottom: fd-space(1)/4;
  padding-left: fd-space(2);
  padding-right: fd-space(2);
  border-radius: $fd-border-radius;
  border-width: 1px;
  border-style: solid;

  &--pill {
    border-radius: fd-space(6)/2;
  }
  &--filled {
    @include fd-weight("bold");
    @include fd-var-color("color", $fd-badge-color--filled, --fd-badge-color--filled);
    @include fd-var-color("background-color", $fd-badge-color, --fd-badge-color);

    border: none;
    &.#{$block}--success {
      @include fd-var-color("color", $fd-badge-color--filled, --fd-badge-color--filled);
      @include fd-var-color("background-color", $fd-badge-color--success, --fd-badge-color--success);
    }
    &.#{$block}--warning {
      @include fd-var-color("color", $fd-badge-color--filled, --fd-badge-color--filled);
      @include fd-var-color("background-color", $fd-badge-color--warning, --fd-badge-color--warning);
    }
    &.#{$block}--error {
      @include fd-var-color("color", $fd-badge-color--filled, --fd-badge-color--filled);
      @include fd-var-color("background-color", $fd-badge-color--error, --fd-badge-color--error);
    }
  }
  &--success {
    @include fd-var-color("background-color", $fd-badge-background-color--success, --fd-badge-background-color--success);
    @include fd-var-color("border-color", $fd-badge-color--success, --fd-badge-color--success);
}
  &--warning {
    @include fd-var-color("background-color", $fd-badge-background-color--warning, --fd-badge-background-color--warning);
    @include fd-var-color("border-color", $fd-badge-color--warning, --fd-badge-color--warning);
  }
  &--error {
    @include fd-var-color("background-color", $fd-badge-background-color--error, --fd-badge-background-color--error);
    @include fd-var-color("border-color", $fd-badge-color--error, --fd-badge-color--error);
  }
}
