@import "./../settings";
@import "./../layout/mixins";
@import "./../mixins";
@import "./../functions";

/*!
.fd-breadcrumb
    .fd-breadcrumb__item
    .fd-breadcrump__link
*/

$fd-breadcrumb-link-margin: fd-space(4);

$block: #{$fd-namespace}-breadcrumb;
.#{$block} {

    //BLOCK BASE *******************************************
    @include fd-reset();
    @include fd-type("-1");
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-right: fd-space(4);

    @include fd-rtl() {
        padding: 0 0 0 fd-space(4);
        &__item {
            &::after {
                content: "/";
                margin-right: initial;
                margin-left: $fd-breadcrumb-link-margin;
            }
            &:last-child::after {
                content: none;
            }
        }
    }

    //ELEMENTS *******************************************
    &__item {
        &::after {
            content: "/";
            margin-right: $fd-breadcrumb-link-margin;
        }
        &:last-child::after {
            content: none;
        }
        @include fd-rtl() {
            &::after {
                content: "/";
                margin-right: initial;
                margin-left: $fd-breadcrumb-link-margin;
            }
            &:last-child::after {
                content: none;
            }
        }
    }

    &__link {
        margin-right: $fd-breadcrumb-link-margin;
        @include fd-rtl() {
            margin-right: initial;
            margin-left: $fd-breadcrumb-link-margin;
        }
    }
}
