@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./../icons/mixins";

/*!
.fd-button+( (--compact), (--emphasized, --light), (--standard, --positive, --medium, --negative))+( (.is-disabled | [aria-disabled=true]) | (.is-selected | [aria-selected=true] | (.is-pressed | [aria-pressed=true]))
*/

$block: #{$fd-namespace}-button;
.#{$block},
a.#{$block} {
  //spacing
  $fd-button-padding-x: fd-space("xs") !default;
  //anim
  $fd-button-transition-params: $fd-animation--speed ease-in !default;

  //BASE
  //set all reset and baseline block styles
  @at-root {
    .#{$block}, [class*="#{$block}--"], a[class*="#{$block}--"] {
      $fd-button-color: fd-color("action", 1);
      $fd-button-border-color: fd-color("action", 1);
      $fd-button-background-color: fd-color("background", 2);
      --fd-button-color: var(--fd-color-action-1);
      --fd-button-border-color: var(--fd-color-action-1);
      --fd-button-background-color: var(--fd-color-background-2);
      @include fd-button-reset();
      //set metrics
      @include fd-var-size("height", $fd-forms-height, --fd-forms-height);
      @include fd-var-size("max-height", $fd-forms-height, --fd-forms-height);
      @include fd-var-size("min-width", $fd-forms-height, --fd-forms-height);
      @include fd-type("0");
      @include fd-icon-size("m", "before");
      @include fd-icon-size("m", "after");
      @include fd-var-size("line-height", $fd-button-line-height, --fd-button-line-height);
      padding-left: $fd-button-padding-x;
      padding-right: $fd-button-padding-x;
      text-align: center;

      //look
      border-style: solid;
      border-width: 1px;
      @include fd-var-color("color", $fd-button-color, --fd-button-color);
      @include fd-var-color("border-color", $fd-button-color, --fd-button-border-color);
      @include fd-var-color("background-color", $fd-button-background-color, --fd-button-background-color);

      //animation
      transition: all $fd-button-transition-params;

      //placements
      &::before {
        margin-right: fd-space(2);
        vertical-align: text-bottom;
      }

      @at-root {
        [dir="rtl"] &,
        &[dir="rtl"] {
          &::before {
            margin-right: 0;
            margin-left: fd-space(2);
          }
        }
      }
      &::after {
        margin-left: fd-space(2);
        vertical-align: middle;
      }
      @at-root {
        [dir="rtl"] &,
        &[dir="rtl"] {
          &::after {
            margin-left: 0;
            margin-right: fd-space(2);
          }
        }
      }
      &:empty {
        padding: 0;
        &::before,
        &::after {
          margin-right: 0;
          margin-left: 0;
        }
      }

      //states
      @include fd-focus();
      @include fd-hover() {
          --fd-button-background-color: var(--fd-color-action-hover);
          --fd-button-color: var(--fd-color-action-2);
          @include fd-var-color("color", fd-color("action",2));
          @include fd-var-color("background-color", fd-color-state("hover","action"));
          @include fd-disabled() {
            --fd-button-background-color: var(--fd-color-background-2);
            --fd-button-color: var(--fd-color-action-1);
            @include fd-var-color("color", fd-color("action",1));
            @include fd-var-color("background-color", fd-color("background",2));
          }
      }
      @include fd-active-pressed-selected() {
        --fd-button-background-color: var(--fd-color-action-selected);
        --fd-button-color: var(--fd-color-action-2);
        @include fd-var-color("color", fd-color("action", 2));
        @include fd-var-color("background-color", fd-color-state("selected","action"));
      }
      @include fd-disabled() {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
  }
  //compact sizes (see `core/root` for css vars rules)
  &--compact {
    //set metrics
    @include fd-var-size("height", $fd-forms-height, --fd-forms-height-compact);
    @include fd-var-size("max-height", $fd-forms-height, --fd-forms-height-compact);
    @include fd-var-size("min-width", $fd-forms-height, --fd-forms-height-compact);
    @include fd-var-size("line-height", $fd-button-line-height--compact, --fd-button-line-height-compact);
    @at-root {
      .fd-for-touch & {
        @include fd-var-size("height", $fd-forms-height, --fd-forms-height);
        @include fd-var-size("min-width", $fd-forms-height, --fd-forms-height);
        @include fd-var-size("line-height", $fd-button-line-height, --fd-button-line-height);
      }
      .fd-for-compact & {
        @include fd-var-size("height", $fd-forms-height--compact, --fd-forms-height-compact);
        @include fd-var-size("min-width", $fd-forms-height--compact, --fd-forms-height-compact);
        @include fd-var-size("line-height", $fd-button-line-height--compact, --fd-button-line-height-compact);
      }
    }
    @include fd-screen(m) {
      @include fd-var-size("height", $fd-forms-height--compact, --fd-forms-height-compact);
      @include fd-var-size("min-width", $fd-forms-height--compact, --fd-forms-height-compact);
      @include fd-var-size("line-height", $fd-button-line-height--compact, --fd-button-line-height-compact);
    }
  }
  //BUTTON emphasis variations
  //.fd-button--emphasized
  &--emphasized {
    font-weight: fd-font-weight("bold");
    --fd-button-color: var(--fd-color-action-2);
    --fd-button-border-color: var(--fd-color-action-1);
    --fd-button-background-color: var(--fd-color-action-1);
    @include fd-var-color("color", fd-color("action", 2));
    @include fd-var-color("border-color", fd-color("action", 1));
    @include fd-var-color("background-color", fd-color("action", 1));

    @include fd-hover() {
      --fd-button-background-color: var(--fd-color-action-hover);
      --fd-button-color: var(--fd-color-action-2);
      @include fd-var-color("color", fd-color("action", 2));
      @include fd-var-color("background-color", fd-color-state("hover","action"));
      @include fd-disabled() {
        --fd-button-background-color: var(--fd-color-action-1);
        --fd-button-color: var(--fd-color-action-2);
        @include fd-var-color("color", fd-color("action", 2));
        @include fd-var-color("background-color", fd-color("action", 1));
      }
    }
    &.#{$block}--standard,
    &.#{$block}--positive,
    &.#{$block}--negative,
    &.#{$block}--medium {
      --fd-button-color: var(--fd-color-action-2);
      @include fd-var-color("color", fd-color("action", 2));
      @include fd-hover() {
        @include fd-disabled() {
          --fd-button-color: var(--fd-color-action-2);
          @include fd-var-color("color", fd-color("action", 2));
        }
      }
    }
    &.#{$block}--standard {
      --fd-button-border-color: var(--fd-color-status-4);
      --fd-button-background-color: var(--fd-color-status-4);
      @include fd-var-color("border-color", fd-color("status", 4));
      @include fd-var-color("background-color", fd-color("status", 4));
      @include fd-hover() {
        @include fd-disabled() {
          --fd-button-background-color: var(--fd-color-status-4);
          @include fd-var-color("background-color", fd-color("status", 4));
        }
      }
    }
    &.#{$block}--negative {
      --fd-button-border-color: var(--fd-color-status-3);
      --fd-button-background-color: var(--fd-color-status-3);
      @include fd-var-color("border-color", fd-color("status", 3));
      @include fd-var-color("background-color", fd-color("status", 3));
      @include fd-hover() {
        @include fd-disabled() {
          --fd-button-background-color: var(--fd-color-status-3);
          @include fd-var-color("background-color", fd-color("status", 3));
        }
      }
    }
    &.#{$block}--medium {
      --fd-button-border-color: var(--fd-color-status-2);
      --fd-button-background-color: var(--fd-color-status-2);
      @include fd-var-color("border-color", fd-color("status", 2));
      @include fd-var-color("background-color", fd-color("status", 2));
      @include fd-hover() {
        @include fd-disabled() {
          --fd-button-background-color: var(--fd-color-status-2);
          @include fd-var-color("background-color", fd-color("status", 2));
        }
      }
    }
    &.#{$block}--positive {
      --fd-button-border-color: var(--fd-color-status-1);
      --fd-button-background-color: var(--fd-color-status-1);
      @include fd-var-color("border-color", fd-color("status", 1));
      @include fd-var-color("background-color", fd-color("status", 1));
      @include fd-hover() {
        @include fd-disabled() {
          --fd-button-background-color: var(--fd-color-status-1);
          @include fd-var-color("background-color", fd-color("status", 1));
        }
      }
    }
  }
  //.fd-button--light
  &--light {
    --fd-button-border-color: transparent;
    --fd-button-background-color: transparent;
    @include fd-var-color("border-color", transparent);
    @include fd-var-color("background-color", transparent);
    @include fd-hover() {
      --fd-button-background-color: var(--fd-color-neutral-1);
      --fd-button-color: var(--fd-color-action-1);
      @include fd-var-color("color", fd-color("action", 1));
      @include fd-var-color("background-color", fd-color("neutral", 1));
      @include fd-disabled() {
        --fd-button-background-color: transparent;
        --fd-button-color: var(--fd-color-action-1);
        @include fd-var-color("color", fd-color("action", 1));
        @include fd-var-color("background-color", transparent);
      }
    }
    @include fd-active-pressed-selected() {
      --fd-button-background-color: var(--fd-color-action-selected);
      --fd-button-color: var(--fd-color-action-2);
      @include fd-var-color("color", fd-color("action", 2));
      @include fd-var-color("background-color", fd-color-state("selected","action"));
    }
    &.#{$block}--standard,
    &.#{$block}--positive,
    &.#{$block}--negative,
    &.#{$block}--medium {
      --fd-button-border-color: transparent;
      --fd-button-background-color: transparent;
      @include fd-var-color("border-color", transparent);
      @include fd-var-color("background-color", transparent);
      @include fd-hover() {
        --fd-button-background-color: var(--fd-color-neutral-1);
        @include fd-var-color("background-color", fd-color("neutral", 1));
        @include fd-disabled() {
          --fd-button-background-color: transparent;
          @include fd-var-color("background-color", transparent);
        }
      }
    }
    &.#{$block}--standard {
      --fd-button-color: var(--fd-color-status-4);
      @include fd-hover() {
        --fd-button-color: var(--fd-color-status-4);
        @include fd-var-color("color", fd-color("status", 4));
        @include fd-disabled() {
          --fd-button-color: var(--fd-color-status-4);
        }
      }
      @include fd-active-pressed-selected() {
        --fd-button-background-color: var(--fd-color-status-4);
        --fd-button-color: var(--fd-color-action-2);
        @include fd-var-color("color", fd-color("action", 2));
        @include fd-var-color("background-color", fd-color("status", 4));
      }
    }
    &.#{$block}--negative {
      --fd-button-color: var(--fd-color-status-3);
      @include fd-hover() {
        --fd-button-color: var(--fd-color-status-3);
        @include fd-var-color("color", fd-color("status", 3));
        @include fd-disabled() {
          --fd-button-color: var(--fd-color-status-3);
        }
      }
      @include fd-active-pressed-selected() {
        --fd-button-background-color: var(--fd-color-status-3);
        --fd-button-color: var(--fd-color-action-2);
        @include fd-var-color("color", fd-color("action", 2));
        @include fd-var-color("background-color", fd-color("status", 3));
      }
    }
    &.#{$block}--positive {
      --fd-button-color: var(--fd-color-status-1);
      @include fd-hover() {
        --fd-button-color: var(--fd-color-status-1);
        @include fd-var-color("color", fd-color("status", 1));
        @include fd-disabled() {
          --fd-button-color: var(--fd-color-status-1);
        }
      }
      @include fd-active-pressed-selected() {
        --fd-button-background-color: var(--fd-color-status-1);
        --fd-button-color: var(--fd-color-action-2);
        @include fd-var-color("color", fd-color("action", 2));
        @include fd-var-color("background-color", fd-color("status", 1));
      }
    }
    &.#{$block}--medium {
      --fd-button-color: var(--fd-color-status-2);
      @include fd-hover() {
        --fd-button-color: var(--fd-color-status-2);
        @include fd-var-color("color", fd-color("status", 2));
        @include fd-disabled() {
          --fd-button-color: var(--fd-color-status-2);
        }
      }
      @include fd-active-pressed-selected() {
        --fd-button-background-color: var(--fd-color-status-2);
        --fd-button-color: var(--fd-color-action-2);
        @include fd-var-color("color", fd-color("action", 2));
        @include fd-var-color("background-color", fd-color("status", 2));
      }
    }
  }

  //BUTTON TYPES
  &--standard,
  &--positive,
  &--negative,
  &--medium {
    --fd-button-background-color: var(--fd-color-background-2);
    @include fd-hover() {
      --fd-button-color: var(--fd-color-action-2);
    }
    @include fd-active-pressed-selected() {
      --fd-button-color: var(--fd-color-action-2);
    }
  }
  &--standard {
    --fd-button-color: var(--fd-color-status-4);
    --fd-button-border-color: var(--fd-color-status-4);
    @include fd-var-color("color", fd-color("status", 4));
    @include fd-var-color("border-color", fd-color("status", 4));
    @include fd-focus(--fd-color-status-4, fd-color("status", 4));
    @include fd-hover() {
      --fd-button-color: var(--fd-color-action-2);
      --fd-button-background-color: var(--fd-color-status-4);
      @include fd-var-color("color", fd-color("action", 2));
      @include fd-var-color("background-color", fd-color("status", 4));
      @include fd-disabled() {
        --fd-button-color: var(--fd-color-status-4);
        @include fd-var-color("color", fd-color("status",4));
      }
    }
    @include fd-active-pressed-selected() {
      --fd-button-background-color: var(--fd-color-status-4);
      @include fd-var-color("background-color", fd-color("status", 4));
      @include fd-var-color("color", fd-color("action", 2));
    }
  }
  &--positive {
    --fd-button-color: var(--fd-color-status-1);
    --fd-button-border-color: var(--fd-color-status-1);
    @include fd-var-color("color", fd-color("status", 1));
    @include fd-var-color("border-color", fd-color("status", 1));
    @include fd-focus(--fd-color-status-1, fd-color("status", 1));
    @include fd-hover() {
      --fd-button-background-color: var(--fd-color-status-1);
      @include fd-var-color("background-color", fd-color("status", 1));
      @include fd-disabled() {
        --fd-button-color: var(--fd-color-status-1);
        @include fd-var-color("color", fd-color("status",1));
      }
    }
    @include fd-active-pressed-selected() {
      --fd-button-background-color: var(--fd-color-status-1);
      @include fd-var-color("background-color", fd-color("status", 1));
    }
  }
  &--medium {
    --fd-button-color: var(--fd-color-status-2);
    --fd-button-border-color: var(--fd-color-status-2);
    @include fd-var-color("color", fd-color("status", 2));
    @include fd-var-color("border-color", fd-color("status", 2));
    @include fd-focus(--fd-color-status-2, fd-color("status", 2));
    @include fd-hover() {
      --fd-button-background-color: var(--fd-color-status-2);
      @include fd-var-color("background-color", fd-color("status", 2));
      @include fd-disabled() {
        --fd-button-color: var(--fd-color-status-2);
        @include fd-var-color("color", fd-color("status",2));
      }
    }
    @include fd-active-pressed-selected() {
      --fd-button-background-color: var(--fd-color-status-2);
      @include fd-var-color("background-color", fd-color("status", 2));
    }
  }
  &--negative {
    --fd-button-color: var(--fd-color-status-3);
    --fd-button-border-color: var(--fd-color-status-3);
    @include fd-var-color("color", fd-color("status", 3));
    @include fd-var-color("border-color", fd-color("status", 3));
    @include fd-focus(--fd-color-status-3, fd-color("status", 3));
    @include fd-hover() {
      --fd-button-background-color: var(--fd-color-status-3);
      @include fd-var-color("background-color", fd-color("status", 3));
      @include fd-disabled() {
        --fd-button-color: var(--fd-color-status-3);
        @include fd-var-color("color", fd-color("status",3));
      }
    }
    @include fd-active-pressed-selected() {
        --fd-button-background-color: var(--fd-color-status-3);
        @include fd-var-color("background-color", fd-color("status", 3));
    }
  }


  &--shell {
    --fd-button-color: var(--fd-color-shell-2);
    --fd-button-border-color: transparent;
    --fd-button-background-color: transparent;
    @include fd-var-color("color", fd-color("shell", 2));
    @include fd-var-color("border-color", transparent);
    @include fd-var-color("background-color", transparent);
    &[class*="#{sap-icon}"] {
      padding: 0;
      &::before,
      &::after {
        margin-right: 0;
        margin-left: 0;
      }
    }
    &:focus {
      box-shadow: none;
    }

    @include fd-hover() {
      --fd-button-color: var(--fd-color-shell-2);
      --fd-button-border-color: transparent;
      --fd-button-background-color: hsl(217, 21%, 25%);
      @include fd-var-color("color", fd-color("shell", 2));
      @include fd-var-color("border-color", transparent);
      @include fd-var-color("background-color", hsl(217, 21%, 25%));
      @include fd-disabled() {
        --fd-button-color: var(--fd-color-shell-2);
        --fd-button-background-color: transparent;
        @include fd-var-color("color", fd-color("shell", 2));
        @include fd-var-color("background-color", transparent);
      }
    }
    @include fd-active-pressed-selected() {
      --fd-button-color: var(--fd-color-shell-2);
      --fd-button-border-color: transparent;
      --fd-button-background-color: hsl(217, 21%, 21%);
      @include fd-var-color("color", fd-color("shell", 2));
      @include fd-var-color("border-color", transparent);
      @include fd-var-color("background-color", hsl(217, 21%, 21%));
    }
  }
}

/* stylelint-disable no-duplicate-selectors */
//DEPRECATED
.#{$block} {
  //SETTINGS
  //SIZES — size: height "text size" "icon size"
  $fd-button-sizes-deprecated: (
      "default": $fd-forms-height "0" "l", //36px
      //"compact": fd-space(8) "0" "m", //32px
      "xs": fd-space(6) "-1" "s", //24px
      "s": fd-space(7) "0" "m", //28px
      "l": fd-space(10) "0" "l", //40px
  ) !default;
  $fd-button-padding-x-deprecated: fd-space(3)/1.2 !default;
    @each $key, $list in $fd-button-sizes-deprecated {
      @if $key != "default" {
        &--#{$key} {
          @include fd-type(nth($list, 2));
          @include fd-icon-size(nth($list, 3), "before");
          @include fd-icon-size(nth($list, 3), "after");
          height: nth($list,1);
          max-height: nth($list, 1);
          min-width: nth($list, 1);
          line-height: 1;
          @if $key == "compact" {
            &::before {
              margin-right: fd-space(2) / 1.333;
            }
            &::after {
              margin-left: fd-space(2) / 1.333;
            }
          }
          @if $key == "xs" {
            padding-left: $fd-button-padding-x-deprecated / 1.25;
            padding-right: $fd-button-padding-x-deprecated / 1.25;
            &::before,
            &::after {
              vertical-align: baseline;
            }
          }
          @if $key == "l" {
            padding-left: $fd-button-padding-x-deprecated * 1.2;
            padding-right: $fd-button-padding-x-deprecated * 1.2;
          }
          @if $key == "xs" or $key == "s" {
            @include fd-icon-size("default", "after");
          }
        }
      }
    }
    //DEPRECATE --main and --action-bar
    &--main,
    &--action-bar {
      --fd-button-color: var(--fd-color-action-2);
      --fd-button-border-color: var(--fd-color-action-1);
      --fd-button-background-color: var(--fd-color-action-1);
      @include fd-hover() {
        --fd-button-background-color: var(--fd-color-action-hover);
        --fd-button-color: var(--fd-color-action-2);
        @include fd-disabled() {
          --fd-button-background-color: var(--fd-color-action-1);
          --fd-button-color: var(--fd-color-action-2);
        }
      }
      &.#{$block}--negative {
        --fd-button-color: var(--fd-color-action-2);
        --fd-button-border-color: var(--fd-color-status-3);
        --fd-button-background-color: var(--fd-color-status-3);
        @include fd-hover() {
          @include fd-disabled() {
            --fd-button-background-color: var(--fd-color-status-3);
            --fd-button-color: var(--fd-color-action-2);
          }
        }
      }
      &.#{$block}--positive {
        --fd-button-color: var(--fd-color-action-2);
        --fd-button-border-color: var(--fd-color-status-1);
        --fd-button-background-color: var(--fd-color-status-1);
        @include fd-hover() {
          @include fd-disabled() {
            --fd-button-background-color: var(--fd-color-status-1);
            --fd-button-color: var(--fd-color-action-2);
          }
        }
      }
    }
    //DEPRECATE --secondary
    &--secondary {
      --fd-button-border-color: transparent;
      @include fd-hover() {
        --fd-button-background-color: var(--fd-color-neutral-1);
        --fd-button-color: var(--fd-color-action-1);
        @include fd-disabled() {
          --fd-button-background-color: var(--fd-color-background-2);
          --fd-button-color: var(--fd-color-action-1);
        }
      }
      @include fd-active-pressed-selected() {
        --fd-button-background-color: var(--fd-color-action-selected);
        --fd-button-color: var(--fd-color-action-2);
      }
      &.#{$block}--negative {
        --fd-button-color: var(--fd-color-status-3);
        --fd-button-border-color: transparent;
        --fd-button-background-color: transparent;
        @include fd-hover() {
          --fd-button-background-color: var(--fd-color-neutral-1);
          --fd-button-color: var(--fd-color-status-3);
          @include fd-disabled() {
            --fd-button-background-color: transparent;
            --fd-button-color: var(--fd-color-status-3);
          }
        }
        @include fd-active-pressed-selected() {
          --fd-button-background-color: var(--fd-color-status-3);
          --fd-button-color: var(--fd-color-action-2);
        }
      }
      &.#{$block}--positive {
        --fd-button-color: var(--fd-color-status-1);
        --fd-button-border-color: transparent;
        --fd-button-background-color: transparent;
        @include fd-hover() {
          --fd-button-background-color: var(--fd-color-neutral-1);
          --fd-button-color: var(--fd-color-status-1);
          @include fd-disabled() {
            --fd-button-background-color: transparent;
            --fd-button-color: var(--fd-color-status-1);
          }
        }
        @include fd-active-pressed-selected() {
          --fd-button-background-color: var(--fd-color-status-1);
          --fd-button-color: var(--fd-color-action-2);
        }
      }
    }
    //DEPRECATE --toolbar
    &--toolbar {
      --fd-button-color: var(--fd-color-text-2);
      --fd-button-border-color: var(--fd-color-neutral-3);
      --fd-button-background-color: var(--fd-color-neutral-1);
      @include fd-focus(--fd-color-neutral-3);
      @include fd-active-pressed-selected() {
        --fd-button-background-color: var(--fd-color-action-selected);
        --fd-button-color: var(--fd-color-action-2);
      }
      @include fd-hover() {
        --fd-button-background-color: var(--fd-color-action-hover);
        --fd-button-color: var(--fd-color-action-2);
        @include fd-disabled() {
          --fd-button-background-color: var(--fd-color-neutral-3);
          --fd-button-color: var(--fd-color-text-2);
        }
      }
    }
}
/* stylelint-enable */
