@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-button-group+()
    .fd-button
*/
$block: #{$fd-namespace}-button-group;
$block-alt: #{$fd-namespace}-segmented-button;

.#{$block},
.#{$block-alt} {

  @include fd-reset-spacing;
  display: inline-flex;
  vertical-align: middle;
  & > * {
    margin: 0;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      border-right: none;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }





}
