@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "mixins";

/*!
.fd-button+( (--small | --large), --icon, --text, --link, --action-bar)+( (.is-disabled | [aria-disabled=true]) | (.is-selected | [aria-selected=true] | (.is-pressed | [aria-pressed=true]))
*/

//set component name using namespace function, then use #{$block} below
$block: ns(button);
.#{$block} {
    //SETTINGS
    $fd-button-color: fd-color(text-inverse, 2) !default;
    $fd-button-color--hover: $fd-button-color !default;
    $fd-button-color--text: $fd-color--link !default;
    $fd-button-color--active: $fd-button-color !default;
    $fd-button-color--disabled: fd-color(text, 2) !default;
    $fd-button-background-color: fd-color(action) !default;
    $fd-button-background-color--hover: darken($fd-button-background-color, 5) !default;
    $fd-button-background-color--active: darken($fd-button-background-color,10) !default;
    $fd-button-background-color--disabled: fd-color(neutral) !default;
    $fd-button-shadow--focus: 0 0 4px 1px rgba(fd-color(neutral, 4), 1) !default;

    //sizes
    $fd-button-height: fd-space(13) !default;
    $fd-button-height--small: fd-space(10) !default;
    $fd-button-height--large: fd-space(19) !default;
    $fd-button-height--link: fd-space(7) !default;
    $fd-button-height--link-small: fd-space(6) !default;
    $fd-button-icon-height: 26px !default;
    $fd-button-icon-height--small: 18px !default;
    $fd-button-icon-height--large: 32px !default;
    //anim
    $fd-button-transition-params: $fd-animation--speed ease-in !default;

    //BASE
    //set all reset and baseline block styles
    @include fd-button-reset;
    @include fd-type("1", header, med);
    display: inline-block;
    background-color: $fd-button-background-color;
    transition: background-color $fd-button-transition-params;
    color: $fd-button-color;
    max-height: $fd-button-height;
    height: $fd-button-height;
    line-height: $fd-button-height;
    padding-left: fd-space(5);
    padding-right: fd-space(5);
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    //MODIFIERS
    &--small {
        @include fd-type("0");
        @include fd-weight(semi);
        max-height: $fd-button-height--small;
        height: $fd-button-height--small;
        line-height: $fd-button-height--small;
        padding-left: fd-space(4);
        padding-right: fd-space(4);
    }
    &--large {
        @include fd-type("2");
        max-height: $fd-button-height--large;
        height: $fd-button-height--large;
        line-height: $fd-button-height--large;
        padding-left: fd-space(7);
        padding-right: fd-space(7);
        &.#{$block}--icon {
            //padding-left: fd-space(5);
            //padding-right: fd-space(5);
        }
    }
    &:hover {
        background-color: $fd-button-background-color--hover;
        color: $fd-button-color--hover;
        text-decoration: none;
    }
    &:focus {
        color: $fd-button-color--hover;
        box-shadow: $fd-button-shadow--focus;
        outline: solid 2px lighten($fd-button-background-color, 15);
    }
    &:active,
    &.is-active,
    &[aria-selected="true"],
    &.is-selected,
    &[aria-pressed="true"],
    &.is-pressed {
        background-color: $fd-button-background-color--active;
        color: $fd-button-color--active;
    }
    &[aria-disabled="true"],
    &.is-disabled,
    &:disabled {
        outline: solid 1px fd-color(neutral, 2);
        color: $fd-button-color--disabled;
        background-color: $fd-button-background-color--disabled;
        cursor: not-allowed;
    }
    &--text,
    &--link {
        color: $fd-button-color--text;
        background-color: transparent;
        &:hover,
        &:focus {
            background-color: transparent;
            color: darken($fd-button-color--text, 5);
        }
        &:active,
        &[aria-selected="true"],
        &.is-selected,
        &[aria-pressed="true"],
        &.is-pressed,
        &[aria-disabled="true"],
        &.is-disabled,
        &:disabled {
            background-color: transparent;
            outline: none;
            box-shadow: none;
        }
        &:active,
        &[aria-selected="true"],
        &.is-selected,
        &[aria-pressed="true"],
        &.is-pressed {
            color: darken($fd-button-color--text, 10);
        }
        &[aria-disabled="true"],
        &.is-disabled,
        &:disabled {
            color: $fd-button-color--disabled;
        }
    }
    &--link {
        height: $fd-button-height--link;
        line-height: $fd-button-height--link;
        padding-left: fd-space(4);
        padding-right: fd-space(4);
        position: relative;
        //adjustment for small button
        &.#{$block}--small {
            height: $fd-button-height--link-small;
            line-height: $fd-button-height--link-small;
        }
        &::after {
            content: "";
            border-bottom: solid 2px transparent;
            width: calc(100% - #{fd-space(4)}*2);
            height: 2px;
            position: absolute;
            bottom: 1px;
            left: 0;
            margin-left: fd-space(4);
            transition: border-bottom-color $fd-button-transition-params;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:hover,
        &:focus,
        &:active,
        &[aria-selected="true"],
        &.is-selected,
        &[aria-pressed="true"],
        &.is-pressed {
            &::after {
                border-bottom-color: $fd-button-color--text;
            }
        }
        &[aria-disabled="true"],
        &.is-disabled,
        &:disabled {
            &::after {
                display: none;
            }
        }
    }
    //ELEMENTS
    & > * {
        display: inline-block;
        vertical-align: top;
        margin-right: fd-space(3);
        @at-root {
            .#{$block}--icon > * {
                margin-left: auto;
                margin-right: auto;
            }
        }
        margin-top: $fd-button-height / 2 - $fd-button-icon-height / 2;
        @at-root {
            .#{$block}--small > * {
                margin-top: $fd-button-height--small / 2 - $fd-button-icon-height--small / 2;
            }
        }
        @at-root {
            .#{$block}--large > * {
                margin-top: $fd-button-height--large / 2 - $fd-button-icon-height--large / 2;
            }
        }
    }
    //special flavor
    &--action-bar {
        @extend .#{$block}--large;
        @include fd-type("-3");
        min-width: 135px;
        line-height: $fd-button-height--large - $fd-button-icon-height--large - fd-space(3);
        vertical-align: middle;
        & > * {
            display: block !important;
            margin-top: fd-space(3);
            margin-left: auto;
            margin-right: auto;
        }
    }
}
