@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./mixins";

/*!
.fd-calendar+(--no-border)
    .fd-calendar__content+()
    .fd-calendar__title+()
*/
$block: #{$fd-namespace}-calendar;

//VARS
//making these more readily available
$fd-calendar-table-item-width: fd-space(9) !default;
$fd-calendar-table-width: $fd-calendar-table-item-width * 7 !default;

%fd-calendar-item {
  @include fd-type("-1", "body");
  height: $fd-calendar-table-item-width;
  min-width: $fd-calendar-table-item-width;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: $fd-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: fd-color("neutral",1);
  }
}
%fd-calendar-item-other-month {
  color: lighten(fd-color("text",1), 50%);
}
%fd-calendar-item-disabled {
  color: lighten(fd-color("text",1), 70%);
  &:hover {
    cursor: not-allowed;
    background-color: transparent;
  }
}
%fd-calendar-item-current {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 2px lighten($fd-link-color--active,40%);
    border-radius: $fd-border-radius;
  }
}
%fd-calendar-item-blocked {
  text-decoration: line-through;
  &:hover {
    cursor: not-allowed;
    background-color: transparent;
  }
}
%fd-calendar-item-selected {
  background-color: $fd-link-color--active;
  color: fd-color("text-inverse");
}
%fd-calendar-item-selected-range {
  background-color: rgba($fd-link-color--active,0.07);
  border-radius: 0;
}
%fd-calendar-item-selected-range-first {
  border-radius: $fd-border-radius 0 0 $fd-border-radius;
}
%fd-calendar-item-selected-range-last {
  border-radius: 0 $fd-border-radius $fd-border-radius 0;
}


.#{$block} {

  //BLOCK BASE *******************************************
  //set all BLOCK reset and baseline styles
  @include fd-reset;
  width: $fd-calendar-table-width;

  //ELEMENTS *******************************************
  &__dates {


  }
  &__months {
      display: grid;

  }
  &__years {
      display: grid;

  }

  //TABLE styles
  &__table {
    display: table;
    border-collapse: collapse;
    .#{$block}__item {
      display: table-cell;
    }
  }
  &__group {
    display: table-row-group;
  }
  &__row {
    display: table-row;
  }
  &__column-header {
    @extend %fd-calendar-item;
    display: table-cell;
    &:hover {
      cursor: default;
    }
  }


  &__list {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

  }




  &__item {
    @extend %fd-calendar-item;

  }
  &__day-of-week {
    @include fd-type("-3","body");
    color: fd-color("text",3);
  }
  &__item {
    &--other-month {
      @extend %fd-calendar-item-other-month;
    }
    &--current {
      @extend %fd-calendar-item-current;
    }
    &.is-disabled {
      @extend %fd-calendar-item-disabled;
    }
    &.is-blocked {
      @extend %fd-calendar-item-blocked;
    }
    &.is-selected {
      @extend %fd-calendar-item-selected;
    }
    &.is-selected-range {
      @extend %fd-calendar-item-selected-range;
      &-first {
        @extend %fd-calendar-item-selected-range-first;
      }
      &-last {
        @extend %fd-calendar-item-selected-range-last;
      }
    }
  }




}
