@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
checkbox
*/

// Repeated CSS (Checkbox/Radio)
#{$fd-elements-inputs--check}{
    @extend %form-field-base;
    height: $fd-forms-height--input-check;
    width: $fd-forms-height--input-check;
    margin: 0;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    border-color: fd-color(neutral, 4);
    &:hover{
        border-width: 2px;
    }
    &:checked {
        border-color: fd-color-darkest($fd-forms-color--active);
        background-color: fd-color-darkest($fd-forms-color--active);
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        border-color: $fd-forms-border-color--disabled;
        background-color: $fd-forms-background-color--disabled;
    }
}

input[type="checkbox"] {
    &::before {
        content: "";
        width: 10px;
        height: 5px;
        border-color: transparent;
        border-style: solid;
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg);
        position: absolute;
        z-index: 2;
        top: calc(50% - 4px);
        left: calc(50% - 10px/2);
    }
    &:checked {
        &::before {
            border-color: $fd-forms-background-color;
        }
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        &::before {
            border-color: $fd-forms-background-color--check-disabled;
        }
    }
}