@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-combobox
*/
$block: #{$fd-namespace}-combobox-input;

.#{$block} {
  & .fd-popover {
    display: block;

    &__body {
      width: 100%;
    }
  }
  & .fd-menu {
    display: block;
  }
}
