@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-contextual-menu
*/
$block: #{$fd-namespace}-contextual-menu;

.#{$block} {
    @include fd-reset();
    min-width: 169px;
    right: 0;

    & .fd-popover__body {
        width: auto;
    }
}
