@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "./dropdown";

/*!
.tn-contextual-menu
*/
$block: ns(contextual-menu);

.#{$block} {
    min-width: 169px;
    right: 0;
}
