@import "./../theme";
@import "./../mixins";
@import "./../functions";
//@import "./dropdown";

/*!
.fd-contextual-menu
*/
$block: #{$fd-namespace}-contextual-menu;

.#{$block} {
    @include fd-reset;
    min-width: 169px;
    right: 0;
}
