@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-date-picker+(--no-border)
    .fd-date-picker__content+()
    .fd-date-picker__title+()
*/
$block: #{$fd-namespace}-date-picker;

.#{$block} {
    .#{$fd-namespace}-popover {
        &__body {
            padding: 0 fd-space(xs);
        }
    }
}
