@import "./../settings";
@import "./../mixins";
@import "./../icons/mixins";
@import "./../functions";

/*!
.fd-dropdown+()
    .fd-dropdown__control+([disabled])
*/
$block: #{$fd-namespace}-dropdown;
.#{$block} {
  //SETTINGS
  //SIZES
  $fd-dropdown-sizes: (
      "default",
      "compact",
      "xs",
      "s",
      "l"
  ) !default;

    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-dropdown-menu-color: solid 1px $fd-forms-color !default;
    $fd-dropdown-menu-border: solid 1px $fd-forms-border-color !default;
    $fd-dropdown-menu-z-index: map-get($fd-z-index-levels, "second") !default;
    $fd-dropdown-menu-background-color: fd-color(background) !default;
    $fd-dropdown-menu-shadow: 0 0 4px 1px rgba(fd-color(neutral, 2), 1) !default;
    //items
    $fd-dropdown-menu-item-color: $fd-dropdown-menu-color !default;
    $fd-dropdown-menu-item-color--hover: fd-color("text", 5) !default;
    $fd-dropdown-menu-item-background-color: $fd-dropdown-menu-background-color !default;
    $fd-dropdown-menu-item-background-color--hover: darken(fd-color(action), 5%) !default;
    $fd-dropdown-menu-item-padding: fd-space(3) fd-space(4) !default;
    $fd-dropdown-menu-item-color--disabled: fd-color(text, 2);
    //anim
    $fd-dropdown-menu-item-transition-params: $fd-animation--speed ease-in !default;

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include fd-reset;
    position: relative;
    display: inline-block;

    //*****
    // WHEN DEPCRECATING THE REST OF THIS FILE MAKE SURE TO KEEP THE CSS FOR THE CONTROL. IT IS USED WHEN COMPOSING TOGETHER POPOVER/MENU FOR A DROPDOWN COMPONENT.
    //*****
    $fd-button-right-padding: fd-space(8) !default;

    &__control {
      @include fd-icon-base("after");
      @include fd-icon-glyph("navigation-down-arrow","after"){
        transition: transform $fd-dropdown-menu-item-transition-params;
      };
      position: relative;
      margin-left: 0;
      width: 100%;
      text-align: left;

      @include fd-rtl {
        &::after {
            border-top-left-radius: $fd-border-radius;
            border-bottom-left-radius: $fd-border-radius;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:not(.fd-button--standard) {
            &::after {
                border-right: 1px solid $fd-forms-border-color;
                border-left: none;
            }
        }
        &.fd-button {
            padding-left: 0;
            padding-right: fd-space("xs");
        }
      }

      &::after {
        color: $fd-link-color;
        width: $fd-forms-height - 2;
        height: $fd-forms-height - 2;
        margin-top: -3px;
        padding-top: fd-space(2.5);
        border-left: 1px solid $fd-forms-border-color;
        background: $fd-menu-title-background-color;
        border-top-right-radius: $fd-border-radius;
        border-bottom-right-radius: $fd-border-radius;
      }
      &--no-border {
        border: none;
      }
      &.fd-button--compact {
          padding-top: fd-space(1) - 1;
        &::after {
            margin-top: -3px;
            height: $fd-forms-height - 6;
            padding-top: fd-space(2) - 1;
        }
      }
      // DEPCRECATE these other sizes -------V
      &.fd-button--xs {
        &::after {
            height: $fd-forms-height - 14.5;
            padding-top: fd-space(1.25);
        }
      }
      &.fd-button--s {
          padding-top: fd-space(1) - 1;
          @include fd-icon-size("default", "after");
        &::after {
            margin-top: -3px;
            height: $fd-forms-height - 10;
            padding-top: fd-space(1.2);
        }
      }
      &.fd-button--compact {
          padding-top: fd-space(1) - 1;
          @include fd-icon-size("default", "after");
        &::after {
            margin-top: -2px;
            height: $fd-forms-height - 10;
            padding-top: fd-space(2) - 5;
        }
      }
      &.fd-button--l {
          padding-top: fd-space(1) - 1;
          @include fd-icon-size("default", "after");
        &::after {
            margin-top: -3px;
            width: $fd-forms-height + 2;
            height: $fd-forms-height + 2;
            padding-top: fd-space(2.5);
        }
      }
    }
    &__control.fd-button {
        color: $fd-forms-color;
        border-color: $fd-forms-border-color;
        padding-right: 0;
        padding-top: fd-space(1) - 2;
        &:hover{
            color: $fd-forms-color;
            background-color:  $fd-forms-background-color;
            border-color: adjust-color($fd-forms-color--active, $lightness: 30%);
            box-shadow: none;
        }
        &:active, &[aria-expanded="true"] {
            color: $fd-forms-color;
            background-color:  $fd-forms-background-color;
            border-color: adjust-color($fd-forms-color--active, $lightness: 30%);
            box-shadow: 0 0 0 1px adjust-color($fd-forms-color--active, $lightness: 30%);
        }
    }
    &__control.fd-button--standard {

        &:hover, &:active {
            color: fd-color("text", 2);
            background-color: fd-color-darker(fd-color("neutral", 1));
            border-color: fd-color-darker(fd-color("neutral", 1));
            box-shadow: none;
        }

        &::after{
            width: auto;
            margin-right: fd-space(2.5);
            color: $fd-forms-color;
            background-color:  transparent;
            border-left: none;
        }

        @include fd-rtl {
            padding-left: fd-space("xs");
        }
    }
    @include fd-menu();
}
