@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-form
    .fd-form__set?
        .fd-form__legend
        .fd-form__group?
            .fd-form__item+(--check, --inline)
                .fd-form__label
                .fd-form__control
            .fd-form__message(--help, --error, --warning, --valid, --information, --no-icon)
*/
$block: #{$fd-namespace}-form;
.#{$block} {
    //LOCAL VARS (set all vars used in component, always include !default)
    $fd-form-label-font-size: "0" !default;
    $fd-form-label-font-size--check: "0" !default;
    $fd-form-label-color: fd-color(text, 3) !default;
    --fd-form-label-color: var(--fd-color-text-3);
    $fd-form-message-font-size: -1 !default;
    $fd-form-message-color: fd-color(text, 2) !default;
    $fd-form-item-gutter: var(--fd-width-gutter) !default;
    $fd-form-item-margin-bottom: fd-space("small") !default;
    $fd-form-item-focus-gutter: fd-space(1) !default;

    @include fd-reset();
    &__group {
        @include fd-clearfix();
        @include fd-last-child();
        .#{$block}__item {
            @include fd-last-child();
        }
    }
    &__set {
        margin-bottom: $fd-form-item-margin-bottom;
        &:last-child {
          margin-bottom: 0;
        }
        .#{$block}__item {
            &--inline {
                @include fd-screen(s) {
                  margin-bottom: 0;
                }
            }
        }
        .#{$block}__message {
            margin-top: fd-space(2);
        }
    }
    &__item {
        @include fd-last-child();
        margin-bottom: $fd-form-item-margin-bottom;
        &--check {
            @include fd-clearfix();
            position: relative;
            display: block;
            .#{$block}__label {
                box-sizing: content-box;
                &:focus-within {
                    outline-width: fd-space(.25);
                    outline-style: dotted;
                    @include fd-var-color("outline-color", fd-color-state("hover", "action"), --fd-color-action-focus);
                    padding: $fd-form-item-focus-gutter;
                    margin: - $fd-form-item-focus-gutter;
                }
                @include fd-type(#{$fd-form-label-font-size--check});
                margin-bottom: 0;
                vertical-align: middle;
                display: inline-flex;
                align-items: center;
                line-height: $fd-forms-height--input-check;
                @include action-cursor();

                .fd-toggle--xs .fd-toggle__switch::before {
                    top: -5px;
                }
            }
            .#{$block}__control {
                float: left;
                vertical-align: middle;
                margin-right: fd-space(3);
                @include fd-rtl() {
                    float: right;
                    margin-left: fd-space(3);
                    margin-right: 0;
                }
            }
            .#{$block}__help {
                float: none;
                margin-left: fd-space(3);
            }
        }
        &--inline {
            float: left;
            margin-right: fd-space(4);
            .#{$block}__label {
                width: auto;
            }
            @include fd-rtl() {
              float: right;
              margin-right: 0;
              margin-left: fd-space(4);
              .#{$block}__label {
                  width: auto;
              }
            }
        }
    }
    &__label,
    &__legend {
        @include fd-reset();
        @include fd-type(#{$fd-form-label-font-size});
        display: block;
        margin-bottom: fd-space(2);
        border: 0;
        @include fd-var-color("color", $fd-form-label-color, --fd-color-text-3);
        &.is-disabled {
            opacity: 0.4;
        }
    }
    &__label[aria-required="true"] {
        &::after {
            content: "*";
            color: fd-color("status", 3);
            margin-left: fd-space(1);
        }
    }
    &__control {
        min-width: $fd-forms-height--input-check;
    }
    &__legend {
        margin-bottom: fd-space("tiny");
    }
    &__help {
        float: right;
        @include fd-rtl() {
            float: left;
        }
    }
    &__message {
        clear: both;
        display: block;
        @include fd-type(#{$fd-form-message-font-size});
        color: fd-color("text", 1);
        padding: fd-space(1.625) 0;
        position: relative;

        //adjust for checks
        @at-root {
            .#{$block}__item--check + & {
                transform: translateY(-(fd-space(3)));
                margin-bottom: -(fd-space(3));
            }
            .#{$block}__item--inline.#{$block}__item--check + & {
                transform: translateY(fd-space(2));
                margin-bottom: fd-space(2);
            }
        }
        &::before {
            $fd-form-message-icon-size: fd-space(4.5);
            width: $fd-form-message-icon-size;
            height: $fd-form-message-icon-size;
            font-style: normal;
            font-size: 1.3em;
            font-family: "SAP-icons";
            position: absolute;
            left: 0;
            color: fd-color("text", 5);
            text-align: center;
            line-height: $fd-form-message-icon-size;
        }
        &--information, &--valid, &--warning, &--error, &--help {
            margin: fd-space(.25) fd-space(.5);
            padding-left: fd-space(8);
            padding-right: fd-space(1);
            border-bottom-left-radius: fd-space(1);
            border-bottom-right-radius: fd-space(1);
            &::before {
                left: fd-space(2);
                top: fd-space(1.25);
            }
            @include fd-rtl() {
                padding-left: fd-space(1);
                padding-right: fd-space(8);
                &::before {
                    left: 0;
                    right: fd-space(2);
                }
            }
        }
        &--help {
            &::before {
                color: fd-color(text);
                content: "";
            }
        }
        &--information {
            background: fd-color("background", 6);
            &::before {
                color: $fd-color--information;
                content: "";
            }
        }
        &--valid {
            background: fd-color("background", 3);
            &::before {
                color: $fd-color--success;
                content: "";
            }
        }
        &--warning {
            background: fd-color("background", 4);
            &::before {
                color: $fd-color--warning;
                content: "";
            }
        }
        &--error {
            background: fd-color("background", 5);

            &::before {
                content: "";
                color: $fd-color--error;
            }
        }
        &--no-icon {
            padding-left: fd-space(1);
            &::before {
                display: none;
            }
            @include fd-rtl() {
                padding-right: fd-space(1);
            }
        }
    }
}
