@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-form
    .fd-form__set?
        .fd-form__legend(.is-required)
        .fd-form__group?
            .fd-form__item+(--check, --inline)
                .fd-form__label(.is-required)
                .fd-form__control
            .fd-form__message(--help, --error, --warning)
*/
$block: #{$fd-namespace}-form;
.#{$block} {
    //LOCAL VARS (set all vars used in component, always include !default)
    $fd-form-label-font-size: "-1" !default;
    $fd-form-label-font-size--check: "0" !default;
    $fd-form-label-color: fd-color(text, 3) !default;
    $fd-form-message-font-size: -1 !default;
    $fd-form-message-color: fd-color(text, 2) !default;
    $fd-form-item-gutter: $fd-width--gutter !default;
    $fd-form-item-margin-bottom: fd-space(5) !default;

    @include fd-reset;
    &__group {
        @include fd-clearfix;
        @include fd-last-child;
        .#{$block}__item {
            @include fd-last-child;
            margin-right: $fd-form-item-gutter;
        }
    }
    &__set {
        margin-bottom: $fd-form-item-margin-bottom;
        .#{$block}__item {
            &--inline {
                @include fd-screen(s) {
                  margin-bottom: 0;
                }
            }
        }
        .#{$block}__message {
            margin-top: fd-space(2);
        }
    }
    &__item {
        @include fd-last-child;
        margin-bottom: $fd-form-item-margin-bottom;
        &--check {
            @include fd-clearfix;
            position: relative;
            display: block;
            .#{$block}__label {
                @include fd-type(#{$fd-form-label-font-size--check});
                margin-bottom: 0;
                vertical-align: middle;
                display: flex;
                align-items: center;
                line-height: $fd-forms-height--input-check;
                cursor: pointer;
            }
            .#{$block}__control {
                float: left;
                vertical-align: middle;
                margin-right: fd-space(2);
            }
            .#{$block}__help {
                float: none;
                margin-left: fd-space(3);
            }
        }
        &--inline {
            float: left;
            .#{$block}__label {
                margin-top: fd-space(1);
                width: auto;
            }
        }
    }
    &__label,
    &__legend {
        @include fd-reset;
        @include fd-type(#{$fd-form-label-font-size});
        display: block;
        margin-bottom: fd-space(2);
        border: 0;
        color: $fd-form-label-color;
        &.is-required {
            // @include fd-weight(bold);

            &:after {
                content: "*";
            }
        }
        &.is-disabled {
            opacity: .4;
        }
    }
    &__control {
        min-width: $fd-forms-height--input-check;
    }
    &__legend {
        margin-bottom: fd-space(5);
    }
    &__help {
        float: right;
    }
    &__message {
        clear: both;
        display: block;
        @include fd-type(#{$fd-form-message-font-size});
        color: $fd-form-message-color;
        padding: fd-space(2) 0;
        position: relative;
        //adjust for checks
        @at-root {
            .#{$block}__item--check + & {
                transform: translateY(-(fd-space(3)));
                margin-bottom: -(fd-space(3));
            }
            .#{$block}__item--inline.#{$block}__item--check + & {
                transform: translateY(fd-space(2));
                margin-bottom: fd-space(2);
            }
        }
        &::before {
            width: 18px;
            height: 18px;
            font-style: normal;
            font-size: 1.3em;
            font-family: "SAP-icons";
            position: absolute;
            left: 0;
            color: fd-color(text, 4);
            text-align: center;
            line-height: 18px;
        }
        &--warning, &--error, &--help {
            padding-left: fd-space(6);
            &::before {
                left: 0;
                top: 6px;
            }
        }
        &--help {
            color: fd-color(text);
            &::before {
                color: fd-color(text);
                content: "";
            }
        }
        &--warning {
            color: $fd-color--warning;
            &::before {
                color: $fd-color--warning;
                content: "";
            }
        }
        &--error {
            color: $fd-color--error;
            &::before {
                content: "";
                color: $fd-color--error;
            }
        }
    }
}
