@import "./../settings";
@import "./../mixins";
@import "./../functions";


/*!
.fd-global-nav+(--no-border)
    .fd-global-nav__content+()
    .fd-global-nav__title+()
*/
$block: #{$fd-namespace}-global-nav;

.#{$block} {

    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-global-nav-color: fd-color(text, 2);
    $fd-global-nav-background-color: fd-color(background, 2) !default;
    $fd-global-nav-border-color: fd-color(neutral, 2);
    $fd-global-nav-height: fd-space(13);
    $fd-global-nav-btn-color: fd-color(action, 1);

    //BLOCK BASE *******************************************
    @include fd-reset;
    border-bottom: solid 1px $fd-global-nav-border-color;
    background: $fd-global-nav-background-color;
    height: $fd-global-nav-height;
    display: flex;
    color: $fd-global-nav-color;

    //ELEMENTS *******************************************
    &__group{
        min-height: $fd-global-nav-height;

        &--branding{
            width: auto;
            display: flex;
            flex-direction: row;
        }

        &--launchpad{
            display: flex;
            text-align: center;
            padding-top: 0;
            max-width: 400px;
            margin: 0 auto;
        }

        &--actions{
            display: flex;
        }
    }

    &__side-menu, &__logo, &__product-name{
        display: flex;
        height: $fd-global-nav-height - 2;
        align-items: center;
    }

    &__side-menu{

        button {
            height: $fd-global-nav-height - 2;
            min-height: $fd-global-nav-height - 2;
            padding: 0 20px;
        }

    }

    &__logo{
        padding-left: fd-space(4);
        font-weight: bold;
        background-image: url(#{$fd-hybris-logo});
        background-repeat: no-repeat;
        background-position: left 17px;
        width: 91px;
    }

    &__product-name{
        padding-left: fd-space(4);
        @include fd-type("-1", "body", "semi");
    }


    &__actions, &__context-menu{
        float: right;
        border-left: 1px solid $fd-global-nav-border-color;
    }

    &__btn{
        // @include fd-button-reset;  //removes default button chrome
        // height: $fd-global-nav-height;
        // color: $fd-global-nav-btn-color;
        // width: 48px;
        // padding-left: fd-space(3);

        & .fd-icon{
            font-size: 1.125rem;
            line-height: 1.4;
        }
    }

    &__subnav{
        background: $fd-global-nav-background-color;
        height: $fd-global-nav-height;
        border-bottom: solid 1px $fd-global-nav-border-color;

        &__links{
            padding: fd-space(2) fd-space(4);
        }

        &__actions{
            border-left: solid 1px $fd-global-nav-border-color;
        }

    }


    //STATES *******************************************
    &.is-disabled,
    &[disabled] {
        opacity: 0.5;
    }
    &[aria-selected="true"] {
    }



}
