@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "../components/mixins";


/*!
.fd-global-nav+(--no-border)
    .fd-global-nav__content+()
    .fd-global-nav__title+()
*/

$block: ns(global-nav);

.#{$block} {

    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-global-nav-border-color: #d6d6d7;
    $fd-global-nav-background-color: fd-color(background, 1) !default;
    $fd-global-nav-height: fd-space(12.5);
    $fd-global-nav-background-color: fd-color(background, 2) !default;
    $fd-global-nav-btn-color: fd-color(action, 1);
    $fd-global-nav-height: 50px;

    //BLOCK BASE *******************************************
    @include fd-reset;
    border-bottom: solid 1px $fd-global-nav-border-color;
    background: $fd-global-nav-background-color;
    height: $fd-global-nav-height;
    // display: flex;

    & [role="separator"] {
        display: inline-block;
        vertical-align: middle;
        max-width: 1px;
        height: $fd-global-nav-height;
        border-left: solid 1px $fd-global-nav-border-color;
    }

    //ELEMENTS *******************************************
    &__group{
        min-height: $fd-global-nav-height;

        &--branding, &--actions{
        }

        &--branding{
            width: auto;
            float: left;
        }

        &--launchpad{
            text-align: center;
            padding-top: 0;
            max-width: 400px;
            margin: 0 auto;
        }

        &--actions{
            float: right;

        }
    }

    &__logo, &__app-logo, &__side-menu{
        display: inline-block;
    }

    &__side-menu{
        width: $fd-global-nav-height;

    }
    &__actions, &__context-menu{
        float: right;
    }

    &__btn{
        @include fd-button-reset;  //removes default button chrome
        width: fd-space(m); //best practice hit space
        height: $fd-global-nav-height;
        color: $fd-global-nav-btn-color;

        &--back{
            margin: - (fd-space(s)/2);
            transform: rotate(180deg);
        }

    }

    .fd-dropdown__control{
        height: $fd-global-nav-height;
    }

    //STATES *******************************************
    &.is-disabled,
    &[disabled] {
        opacity: 0.5;
    }
    &[aria-selected="true"] {
    }



}
