@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./../icons/mixins";
/*!
.fd-identifier+((--circle), (--thumbnail), (--xxs|--xs|--s|--m|--l|--xl|--xxl))
*/
$block: #{$fd-namespace}-identifier;
.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-const-ratio: 4px;
    $fd-identifier-sizes: (
      xxs: $fd-const-ratio * 5, //20px
      xs: $fd-const-ratio * 7,  //28px ~ Matches shellbar/user-menu
      s: $fd-const-ratio * 8,   //32px
      m: $fd-const-ratio * 12,  //48px
      l: $fd-const-ratio * 16,  //64px
      xl: $fd-const-ratio * 22, //88px
      xxl: $fd-const-ratio * 28 //112px
    ) !default;
    $fd-identifier-border-radius: $fd-border-radius !default;
    $fd-identifier-color: fd-color("text", 5) !default;
    $fd-identifier-background-color: fd-color("status", 4) !default;

    //BLOCK BASE *******************************************
    @at-root {
      [class*="#{$block}"] {
        --fd-identifier-color: var(--fd-color-text-5);
        --fd-identifier-background-color: var(--fd-color-status-4);
        @include fd-reset();
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        border-radius: $fd-identifier-border-radius;
        @include fd-var-color("background-color", $fd-identifier-background-color, --fd-identifier-background-color);
        @include fd-var-color("color", $fd-identifier-color, --fd-identifier-color);
      }
    }
    //BLOCK MODIFIERS ************
    //sizes
    @each $size, $value in $fd-identifier-sizes {
      &--#{$size} {
        width: $value;
        height: $value;
        max-width: $value;
        max-height: $value;
        min-width: $value;
        min-height: $value;
        @if $size == xxs {
          @include fd-type("-1");
          @include fd-weight("normal");
          font-stretch: condensed;
          @include fd-icon-size("s") {
            line-height: $value;
          }
        }
        @if $size == xs {
          @include fd-type("-1");
          @include fd-weight("normal");
          font-stretch: condensed;
          @include fd-icon-size("s") {
            line-height: $value;
          }
        }
        @if $size == s {
          @include fd-type("-1");
          @include fd-weight("normal");
          font-stretch: condensed;
          @include fd-icon-size("m") {
            line-height: $value;
          }
        }
        @if $size == m {
          @include fd-type("0");
          @include fd-icon-size("l") {
            line-height: $value;
          }
        }
        @if $size == l {
          @include fd-type("2");
          @include fd-icon-size("xl") {
            line-height: $value;
          }
        }
        @if $size == xl {
          @include fd-type("2");
          @include fd-icon-size("xl") {
            line-height: $value;
          }
        }
        @if $size == xxl {
          @include fd-type("2");
          @include fd-icon-size("xl") {
            line-height: $value;
          }
        }
        line-height: $value;
      }
    }
    //borders
    &--circle {
      border-radius: 50%;
    }
    //thumbnail
    &--thumbnail {
      text-indent: -200%;
      overflow: hidden;
    }
    //background
    &--transparent {
      --fd-identifier-color: var(--fd-color-text-1);
      --fd-identifier-background-color: transparent;
      @include fd-var-color("color", $fd-color);
      @include fd-var-color("background-color", transparent);
    }
}
