@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-image+((--circle), (--s|--m|--l))
*/
$block: #{$fd-namespace}-image;
.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-image-sizes: (
      s: 24px,
      m: 36px,
      l: 48px
    ) !default;
    $fd-image-border-radius: $fd-border-radius !default;

    //BLOCK BASE *******************************************
    @at-root {
      [class*="#{$block}"] {
        @include fd-reset();
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        border-radius: $fd-image-border-radius;
      }
    }
    //BLOCK MODIFIERS ************
    //sizes
    @each $size, $value in $fd-image-sizes {
      &--#{$size} {
        width: $value;
        height: $value;
        max-width: $value;
        max-height: $value;
        min-width: $value;
        min-height: $value;
      }
    }
    //borders
    &--circle {
      border-radius: 50%;
    }
}
