@import "./../theme";
@import "./../mixins";
@import "./../functions";
/*!
.fd-tooltip
    .fd-tooltip__content+(left, right, bottom-left, bottom-right)
*/
$block: #{$fd-namespace}-inline-help;
.#{$block} {

    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-tooltip-content-background-color: fd-color(text, 3) !default;
    $fd-tooltip-content-color: fd-color(text-inverse, 1) !default;
    $fd-tooltip-padding: fd-space(s) !default;
    $fd-tooltip-arrow-offset: (fd-space(s)) - 2 !default ;
    $fd-tooltip-arrow-width: $fd-tooltip-arrow-offset !default;
    $fd-tooltip-icon-size: 18px;
    $fd-tooltip-transition-params: $fd-animation--speed ease-in !default;
    $fd-tooltip-min-width: 350px;

    //BLOCK BASE *******************************************
    @include fd-reset;
    @include fd-type("-1");
    position: relative;
    //margin-left: fd-space(xs);
    display: inline-block;
    width: $fd-tooltip-icon-size;
    height: $fd-tooltip-icon-size;
    top: 3px;

    &::before {
        content: "?";
        width: $fd-tooltip-icon-size;
        height: $fd-tooltip-icon-size;
        font-style: normal;
        position: absolute;
        left: 0;
        color: fd-color(text-inverse);
        border-radius: 50%;
        background-color: fd-color(text, 3);
        text-align: center;
    }

    //ELEMENTS *******************************************
    &__content {
        @include fd-type("-2")
        background: $fd-tooltip-content-background-color;
        padding: $fd-tooltip-padding;
        display: block;
        position: absolute;
        color: $fd-tooltip-content-color;
        top: $fd-tooltip-padding * 2.5;
        right: -$fd-tooltip-padding;
        min-width: $fd-tooltip-min-width;
        visibility: hidden;
        opacity: 0;
        transition: opacity $fd-tooltip-transition-params;
        text-align: left;
        z-index: 1;
        &::before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 $fd-tooltip-arrow-width $fd-tooltip-arrow-width $fd-tooltip-arrow-width;
            border-color: transparent transparent $fd-tooltip-content-background-color transparent;
            position: absolute;
            content: "";
            top: -($fd-tooltip-arrow-offset);
            right: $fd-tooltip-arrow-offset;
        }
        &--left{
            top: -$fd-tooltip-padding;
            left: $fd-tooltip-padding * 2.5;
            &::before{
                top: $fd-tooltip-arrow-offset + 5;
                left: -($fd-tooltip-arrow-offset + 5);
                transform: rotate(-90deg);
            }
        }
        &--right{
            top: -$fd-tooltip-padding;
            right: $fd-tooltip-padding * 2.5;
            &::before{
                top: $fd-tooltip-arrow-offset + 5;
                right: -($fd-tooltip-arrow-offset + 5);
                transform: rotate(90deg);
            }
        }
        &--bottom-left{
            left: -$fd-tooltip-arrow-offset;
            &::before{
                top: -($fd-tooltip-arrow-offset);
                left: $fd-tooltip-arrow-offset;
            }
        }
    }
    &:hover{
        .#{$block}__content{
            visibility: visible;
            opacity: 1;
            overflow: visible;
        }
    }
}
