@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "mixins";

/*!
.tn-input-group+(--inline)
    .tn-input-group__addon+()
        .tn-input-group__button
*/
$block: ns(input-group);

.#{$block} {

    //LOCAL VARS (set all vars used in component, always include !default)

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include reset;
    display: flex;
    vertical-align: bottom;
    max-height: $tn-forms-height--input-text;

    //ELEMENTS *******************************************
    //set all ELEMENT baseline styles
    & [type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }
    & [type="search"] {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjNEQ1QTZDIiBkPSJNOS43NTQgMTkuNDk2YTkuNjg0IDkuNjg0IDAgMCAwIDYuMDk3LTIuMTU4bDguMjg5IDguMzRhMS4wODQgMS4wODQgMCAwIDAgMS41MzUtMS41MjlsLTguMy04LjM1YTkuNjg5IDkuNjg5IDAgMCAwIDIuMTItNi4wNTRjMC01LjM3Ny00LjM2OS05Ljc1MS05Ljc0MS05Ljc1MVMuMDEzIDQuMzY4LjAxMyA5Ljc0NXM0LjM2OSA5Ljc1MSA5Ljc0MSA5Ljc1MXptMC0xNy4zMzVjNC4xNzcgMCA3LjU3NyAzLjQwMiA3LjU3NyA3LjU4NCAwIDQuMTgyLTMuNCA3LjU4NC03LjU3NyA3LjU4NC00LjE3OCAwLTcuNTc3LTMuNDAyLTcuNTc3LTcuNTg0IDAtNC4xODIgMy4zOTktNy41ODQgNy41NzctNy41ODR6Ii8+PC9zdmc+');
        background-repeat: no-repeat;
        background-position: tn-space(4) center;
        padding-left: tn-space(15);
        padding-right: tn-space(15);
        &::-webkit-search-decoration {
            -webkit-appearance: none;
            margin: 0;
        }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }
    &--inline {
        display: inline-flex;
    }
    &--no-border {
        input {
            border-color: transparent;
        }
    }
    &__addon {
        @include tn-type(-2, body, bold, normal);
        color: tn-color(text, 3);
        padding: 0 tn-space(4);
        border-style: solid;
        border-width: 1px;
        border-color: $tn-forms-border-color;
        background-color: tn-color(neutral, 1);
        justify-content: center;
        display: flex;
        flex-direction: column;

        //ELEMENT MODIFIERS ************
        //each mod MUST extend the element base
        &:first-child {
            border-right-width: 0;
        }
        &:last-child {
            border-left-width: 0;
        }
        &--button {
            padding: 0;
        }
        @at-root {
            [readonly] + & {
                border-top-color: transparent;
                border-right-color: transparent;
            }
        }
        @at-root {
            [type="search"] + & {
                border: 0;
                width: 0;
            }
        }

    }
    &__button {
        @include tn-button-reset;
        flex: 1;
        width: 100%;
        display: block;
        min-width: tn-space(12);
        &--step-up, &--step-down  {
            font-size: 10px;
            &::after {
                content: "";
                position: relative;
            }
        }
        &--step-up {
            border-bottom: solid 1px $tn-forms-border-color;
            &::after {
                @include triangle(13px 8px, black, up);
                top: -10px;
            }
        }
        &--step-down  {
            &::after {
                @include triangle(13px 8px, black, down);
                top: 10px;
            }
        }
        &--clear {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjMDA5Q0RGIiBkPSJNMTMgMEM1LjgyIDAgMCA1LjgyIDAgMTNzNS44MiAxMyAxMyAxMyAxMy01LjgyIDEzLTEzUzIwLjE4IDAgMTMgMHptNS4xOTUgMTcuMzk2YS41NjQuNTY0IDAgMSAxLS43OTkuNzk5TDEzIDEzLjc5OWwtNC4zOTYgNC4zOTZhLjU2NC41NjQgMCAxIDEtLjc5OS0uNzk5TDEyLjIwMSAxMyA3LjgwNSA4LjYwNGEuNTY0LjU2NCAwIDEgMSAuNzk5LS43OTlMMTMgMTIuMjAxbDQuMzk2LTQuMzk2YS41NjQuNTY0IDAgMSAxIC43OTkuNzk5TDEzLjc5OSAxM2w0LjM5NiA0LjM5NnoiLz48L3N2Zz4=');
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            left: -(tn-space(13));
        }
    }


}
