@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-label+(--success | --warning | --error)
*/
$block: #{$fd-namespace}-label;

.#{$block} {

  @include fd-reset();
  @include fd-type("0");
  @include fd-var-color("color", $fd-color--action, --fd-color-action);

  line-height: fd-space(6);
  vertical-align: middle;
  display: inline-block;
  padding-left: fd-space(2);
  padding-right: fd-space(2);

  &--success {
    @include fd-var-color("color", $fd-color--success, --fd-color-positive);
  }
  &--warning {
    @include fd-var-color("color", $fd-color--warning, --fd-color-alert);
  }
  &--error {
    @include fd-var-color("color", $fd-color--error, --fd-color-negative);
  }
}
