@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-label+(--success | --warning | --error)
*/
$block: #{$fd-namespace}-label;

.#{$block} {

  $fd-label-color: fd-color("text", 3);
  --fd-label-color: var(--fd-color-text-3);

  @include fd-reset();
  @include fd-type("-1");
  @include fd-weight("bold");
  @include fd-var-color("color", $fd-label-color, --fd-label-color);

  text-transform: uppercase;
  line-height: fd-space(6);
  vertical-align: middle;
  display: inline-block;
  padding-left: fd-space(2);
  padding-right: fd-space(2);

  &--success {
    --fd-label-color: var(--fd-color-positive);
    @include fd-var-color("color", $fd-color--success);
  }
  &--warning {
    --fd-label-color: var(--fd-color-alert);
    @include fd-var-color("color", $fd-color--warning);
  }
  &--error {
    --fd-label-color: var(--fd-color-negative);
    @include fd-var-color("color", $fd-color--error);
  }
}
