@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-mega-menu+(--no-border)
    .fd-mega-menu__content+()
    .fd-mega-menu__title+()
*/
$block: #{$fd-namespace}-mega-menu;

.#{$block} {

    //LOCAL VARS
    $fd-mega-menu-border: none !default;
    $fd-mega-menu-background-color: fd-color("background",2) !default;
    $fd-mega-menu-box-shadow: 0 5px 20px 0 rgba(fd-color("text"), 0.08) !default;
    $fd-mega-menu-text-size: fd-type(1);
    $fd-mega-menu-background-color: fd-color("background", 2);
    $fd-mega-menu-selected-background-color: rgba(fd-color("action", 1), .07);
    $fd-mega-menu-hover-background-color: fd-color("neutral", 1);
    $fd-mega-menu-link-color: fd-color("text", 2);
    $fd-mega-menu-max-width: 250px;
    $fd-mega-menu-sub-list-max-width: $fd-mega-menu-max-width - 50px;
    $fd-mega-menu-link-padding: fd-space(2.5) fd-space(5);
    $fd-mega-menu-title-padding: fd-space(2) fd-space(5);
    $fd-mega-menu-icon-right-padding: fd-space(2.5);
    $fd-mega-menu-link-disabled-color: fd-color("text", 3);
    $fd-mega-menu-title-background-color: fd-color("neutral", 1);


    //BLOCK BASE *******************************************
    @include fd-reset;
    background-color: $fd-mega-menu-background-color;
    max-width: $fd-mega-menu-max-width;
    margin: 0;
    padding: 0;
    background-color: $fd-mega-menu-background-color;
    box-shadow: $fd-mega-menu-box-shadow;
    border-radius: $fd-border-radius;
    border: $fd-mega-menu-border;

    //ELEMENTS *******************************************
    &__header{
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.07);
        &-link{
            padding: 10px 20px;
            color: $fd-mega-menu-link-color;

            &:before{
                padding-right: 10px;
                font-size: 22px;
                vertical-align: sub;
            }
        }
    }

    &__group {
        list-style: none;
        margin-bottom: 0;
    }

    &__title {
        display: block;
        margin-bottom: 0;
        padding: $fd-mega-menu-title-padding;
        @include fd-type("-3", "body", "reg", uppercase);
        color: $fd-mega-menu-link-disabled-color;
        background:$fd-mega-menu-title-background-color;
    }

    &__list,
    &__sublist {
        @include fd-reset;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style:  none;
        flex-direction: column;
    }

    &__list{
        position: relative;
    }

    &__sublist{
        width: $fd-mega-menu-sub-list-max-width;
        background-color: $fd-mega-menu-background-color;
        box-shadow: $fd-mega-menu-box-shadow;
        border-radius: $fd-border-radius;
        position: absolute;
        right: -$fd-mega-menu-sub-list-max-width;
        top: 0;

        &[aria-hidden="true"] {
            display: none;
        }

    }

    &__link,
    &__sublink {
        padding: $fd-mega-menu-link-padding;
        color: $fd-mega-menu-link-color;
        display: block;
        @include fd-type("0", "body", "reg");

        //STATES *******************************************
        &:hover{
            background-color: $fd-mega-menu-hover-background-color;
        }

        &.is-selected,
        &.is-expanded,
        &[aria-selected="true"],
        &[aria-expanded="true"]{
            color: $fd-mega-menu-link-color;
            background-color: $fd-mega-menu-selected-background-color;
            font-weight: bold;
        }

        &.is-disabled,
        &[aria-disabled="true"] {
            color: $fd-mega-menu-link-disabled-color;
        }
    }

    &__link {

        //STATES *******************************************
        &.has-child{
            background-image: url(#{$fd-link-has-child-background-image});
            background-repeat: no-repeat;
            background-position: calc(100% - 12px) center;
            background-size: 8px;
        }

        &.is-expanded,
        &[aria-expanded="true"]
        {
            // background-image: url(#{$fd-forms-select-background-image--expanded});
        }
    }

    &__sublink{
        font-weight: normal;
        &[aria-hidden="true"]{
            display: none;
        }
    }

    //STATES *******************************************
    &[aria-hidden="true"]{
        display: none;
    }

    &.is-disabled,
    &[disabled] {
        opacity: 0.5;
    }

}
