@import "./../settings";
@import "./../mixins";
@import "./../icons/mixins";
@import "./../functions";


$block: #{$fd-namespace}-menu;

.#{$block} {
  //SETTINGS
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-menu-color: $fd-forms-color !default;

    //items
    $fd-menu-item-color: $fd-menu-color !default;
    $fd-menu-item-color--hover: $fd-menu-color !default;
    $fd-menu-item-background-color: map-get($fd-colors-background, 2) !default;
    $fd-menu-item-background-color--hover: fd-color-state("hover") !default;
    $fd-menu-item-background-color--selected: fd-color-state("selected") !default;
    $fd-menu-item-padding: fd-space(3) fd-space(4) !default;
    $fd-menu-item-color--disabled: fd-color("text", 2);
    $fd-menu-item-seperator-color: fd-color("neutral", 2);

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include fd-reset;
    position: relative;
    display: block;
    white-space: nowrap;
    padding-top: fd-space(base);
    padding-bottom: fd-space(base);

    &__group,
    &__list {
      list-style: none;
      margin-bottom: 0;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__title {
      display: block;
      margin-bottom: 0;
      padding: $fd-menu-title-padding $fd-menu-item-padding-x;
      @include fd-type("-1", "normal");
      text-transform: uppercase;
      color: $fd-menu-title-color;
      background: $fd-menu-title-background-color;
    }
    &__item {
      display: block;
      @include action-cursor;
      padding: $fd-menu-item-padding-y $fd-menu-item-padding-x;
      color: $fd-menu-item-color;
      background-color: $fd-menu-item-background-color;
      @include fd-weight("normal");
      text-align: left;
      > .fd-checkbox {
        margin: 0 10px 0 0;
      }

      @include fd-hover {
        color: $fd-menu-item-color--hover;
        background-color: $fd-menu-item-background-color--hover;
      }
      @include fd-selected {
          background-color: $fd-menu-item-background-color--selected;
          @include fd-hover {
            background-color: fd-color-state("selected-hover");
          }
      }
    }
    &--addon-before{
        .fd-menu__item{
            padding-left: fd-space(8);
        }
    }
    &__addon-before{
        float: left;
        clear: left;
        padding: fd-space(2.5);
    }
    hr {
        border: none;
        border-top: 1px solid $fd-menu-item-seperator-color;
        margin: 0;
      }
    &__link {
      color: $fd-color--action;
      &:hover {
        color: fd-color-state("hover", "action");
      }
    }
}
