@import "./../settings";
@import "./../mixins";
@import "./../icons/mixins";
@import "./../functions";


$block: #{$fd-namespace}-menu;

.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)

    //group title
    $fd-menu-title-color: fd-color("text", 3) !default;
    $fd-menu-title-background-color: fd-color("neutral", 1) !default;
    $fd-menu-title-padding: fd-space("tiny") !default;

    //items
    $fd-menu-item-color: fd-color("text", 2) !default;
    $fd-menu-item-color--hover: $fd-color !default;
    $fd-menu-item-background-color: map-get($fd-colors-background, 2) !default;
    $fd-menu-item-background-color--hover: fd-color-state("hover") !default;
    $fd-menu-item-background-color--selected: fd-color-state("selected") !default;

    $fd-menu-item-padding-x: fd-space("regular") !default;
    $fd-menu-item-padding-y: fd-space("tiny") + 2px !default;

    $fd-menu-item-separator-color: fd-color("neutral", 2) !default;
    --fd-menu-item-separator-color: var(--fd-color-neutral-2);

    --fd-menu-item-color: var(--fd-color-text-2);
    --fd-menu-item-background-color: var(--fd-color-background-2);
    --fd-menu-title-color: var(--fd-color-text-3);
    --fd-menu-title-background-color: var(--fd-color-neutral-1);

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include fd-reset();
    position: relative;
    display: block;
    white-space: nowrap;
    padding-top: fd-space(base);
    padding-bottom: fd-space(base);
    &__group,
    &__list {
      list-style: none;
      margin-bottom: 0;
    }
    &__group {
      padding-left: 0;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      //modified with separator border
      @at-root {
        &--separated {
          & > *,
          .#{$block}__list > * {
            border-top-style: solid;
            border-top-width: 1px;
            @include fd-var-color("border-top-color", $fd-menu-item-separator-color, --fd-menu-item-separator-color);
            &:first-child {
              border-top-width: 0;
            }
          }
        }
      }
    }
    &__title {
      display: block;
      margin-bottom: 0;
      padding: $fd-menu-title-padding $fd-menu-item-padding-x;
      @include fd-type("-1", "normal");
      text-transform: uppercase;
      @include fd-var-color("color", $fd-menu-title-color, --fd-menu-title-color);
      @include fd-var-color("background-color", $fd-menu-title-background-color, --fd-menu-title-background-color);
    }
    &__item {
      display: block;
      @include action-cursor();
      padding: $fd-menu-item-padding-y $fd-menu-item-padding-x;
      @include fd-var-color("background-color", $fd-menu-item-background-color, --fd-menu-item-background-color);
      @include fd-var-color("color", $fd-menu-item-color, --fd-menu-item-color);
      @include fd-weight("normal");
      > .fd-checkbox {
        margin: 0 10px 0 0;
      }
      @include fd-hover() {
        @include fd-var-color("color", $fd-menu-item-color--hover, --fd-color-text-1);
        @include fd-var-color("background-color", $fd-menu-item-background-color--hover, --fd-color-background-hover);
      }
      @include fd-selected() {
          @include fd-var-color("background-color", $fd-menu-item-background-color--selected, --fd-color-background-selected);
          @include fd-hover() {
            @include fd-var-color("background-color", fd-color-state("selected-hover"), --fd-color-background-selected-hover);
          }
      }
    }
    &--addon-before {
        .fd-menu__item {
            padding-left: fd-space(8);
        }
    }
    &__addon-before {
        float: left;
        clear: left;
        @include fd-rtl() {
          float: right;
          clear: right;
        }
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }
}
