@import "./../settings";
@import "./../mixins";
@import "./../functions";
//@import "../components/button";
/*!
.fd-modal
    .fd-modal__header
        .fd-form__title
    .fd-form__body
    .fd-form__footer-items
      .fd-modal__button-primary
      .fd-modal__button-secondary
*/
$block: #{$fd-namespace}-modal;
  $fd-modal-border-color: fd-color(neutral, 3) !default;
  $fd-modal-inner-padding: fd-space(10) !default;
  $fd-modal-inner-content-background: fd-color(background, 1) !default;


.#{$block} {
  @include fd-reset;
  max-width: 700px;
  margin: fd-space(8) auto;
  &__content{
    background-color: $fd-modal-inner-content-background;
    button{
      float: right;
    }
  }
  &__header{
    border-bottom: 1px solid $fd-modal-border-color;
    padding-left: $fd-modal-inner-padding;
    padding-top: $fd-modal-inner-padding;
    padding-right: $fd-modal-inner-padding/2;
  }
  &__title{
      @include fd-type("4",header, med);
  }
  &__body{
    padding: $fd-modal-inner-padding;
  }
  &__footer-items {
    display: block;
    overflow: auto;
    border-top: 1px solid $fd-modal-border-color;
    padding: $fd-modal-inner-padding;
    padding-top: $fd-modal-inner-padding/2;
  }
}
