@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-multi-input
*/
$block: #{$fd-namespace}-multi-input;

.#{$block} {
  & .fd-popover {
    display: block;

    &__body {
      width: 100%;
    }
  }
  & .fd-menu {
    display: block;
  }
  &-field {
    margin: 0 0 10px 0;
  }
}
