@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-multi-input
*/
$block: #{$fd-namespace}-multi-input;

.#{$block} {
    &-field {
        margin: 0 0 10px 0;
    }
}
