@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-nav+(--vertical)
    .fd-nav__item
    .fd-nav__link+((.is-selected|[aria-selected=true]),(.is-disabled|[aria-disabled=true]))
*/
$block: #{$fd-namespace}-nav;
.#{$block} {

    //LOCAL VARS
    $fd-nav-link-padding: fd-space("s");
    $fd-nav-link-disabled-color: fd-color("text",2);

    //BLOCK BASE *******************************************
    @include fd-reset;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    //MODIFIERS *******************************************
    &--vertical {
        flex-direction: column;
    }

}
