@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-nav+(--vertical)
    .fd-nav__item
    .fd-nav__link+((.is-selected|[aria-selected=true]),(.is-disabled|[aria-disabled=true]))
*/
$block: #{$fd-namespace}-nav;
.#{$block} {

    //LOCAL VARS
    $fd-nav-link-padding: fd-space(2);
    $fd-nav-link-disbled-color: fd-color(text,2);

    //BLOCK BASE *******************************************
    @include fd-reset;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    //MODIFIERS *******************************************
    &--vertical {
        flex-direction: column;
    }
    &--vertical-icons {
        flex-direction: column;
        min-width: auto;

        .fd-nav__link-icon{
            padding-right: 0;
        }
    }

    //ELEMENTS *******************************************
    &__header {
        display: block;
        padding: fd-space(4);
        @include fd-type(-3, body, reg, uppercase);
        color: $fd-nav-link-disbled-color;
    }

    &__link {
        display: block;
        padding: $fd-nav-link-padding;

        &.is-selected,
        &[aria-selected="true"] {
            color: $fd-color;
            .fd-nav__link-icon--expand{
                float: right;
                transform: rotate(90deg);
            }
        }

        &.is-disabled,
        &[aria-disabled="true"] {
            color: $fd-nav-link-disbled-color;
        }

        &-icon--expand{
            float: right;
            transform: rotate(-90deg);
        }

        &-icon{
            vertical-align: text-bottom;
            padding-right: fd-space(2);
        }
    }
}
