@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./../icons/mixins";
/*!
.fd-notification-counter
*/
$block: #{$fd-namespace}-notification-counter;
.#{$block} {
  // VARIABLES
  $fd-notification-counter-radius: $fd-border-radius !default;
  $fd-notification-counter-background: fd-color("status", 3) !default;
  $fd-notification-counter-color: fd-color("text", 5) !default;
  $fd-notification-counter-font-size: 11px !default;

  $fd-notification-counter-position-top: 0 !default;
  $fd-notification-counter-position-right: 0 !default;
  $fd-notification-counter-position-left: 0 !default;

  border-radius: $fd-notification-counter-radius;
  background: $fd-notification-counter-background;
  color: $fd-notification-counter-color;
  font-size: $fd-notification-counter-font-size;
  line-height: 1;
  display: inline-block;
  text-align: center;
  padding: 4px; // Specific for perfect centering with default font

  &--topleft,
  &--topright {
    position: absolute;
    top: $fd-notification-counter-position-top;
  }
  &--topright {
    right: $fd-notification-counter-position-right;
  }
  &--topleft {
    left: $fd-notification-counter-position-left;
  }
}
