@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./mixins";
//@import "./button";
/*!
.fd-pagination
*/

$block: #{$fd-namespace}-pagination;
.#{$block} {
  $fd-pagination-color: fd-color(text-inverse, 2) !default;
  $fd-pagination-color--text: $fd-color--link !default;
  $fd-pagination-color--active: $fd-pagination-color !default;
  $fd-pagination-color--disabled: fd-color(text, 1) !default;
  $fd-pagination-nav-color--disabled: fd-color(text, 2) !default;

  @include fd-reset;
  @include fd-type("-1");
  &__list{
      padding-left: 0;
      margin-left: 0;
      list-style: none;
      margin-bottom: 0;
      display: inline-block;
  }
  &__link {
    color: $fd-pagination-color--text;
    background-color: transparent;
    padding-left: fd-space(3);
    padding-right: fd-space(3);
    position: relative;
    &::after {
        content: "";
        border-bottom: solid 2px transparent;
        width: calc(100% - #{fd-space(2)}*2);;
        height: 2px;
        position: absolute;
        bottom: -6px;
        left: 0;
        margin-left: fd-space(2);
    }
    &:hover,
    &:focus {
      color: darken($fd-pagination-color--text, 5);
      text-decoration: none;
      &::after {
          border-bottom-color: darken($fd-pagination-color--text, 5);
      }
    }
    &:active,
    &[aria-selected="true"],
    &.is-selected{
      background-color: transparent;
      outline: none;
      box-shadow: none;
      &::after {
          border-bottom-color: transparent;
      }
    }
    &[aria-disabled="true"],
    &.is-disabled {
      color: $fd-pagination-nav-color--disabled;
      text-decoration: none;
      cursor: default;
      &::after {
          border-bottom-color: transparent;
      }
    }
    &:active,
    &[aria-selected="true"],
    &.is-selected {
      color: $fd-pagination-color--disabled;
      text-decoration: none;
      cursor: default;
    }
    &--more{
      @include fd-type("-3");
      font-family: sans-serif;
      color: $fd-pagination-color--disabled;
      vertical-align: sub;
      padding-left: fd-space(3);
      padding-right: fd-space(3);
      &:hover,
      &:focus {
        background-color: transparent;
        color: $fd-pagination-color--disabled;
        cursor: default;
        &:after{
            border-bottom-color: transparent;
        }
      }
    }
  }

  &__item{
    display: inline-block;
    &--previous {
      transform: rotate(180deg);
    }
  }

  &__total{
    color: $fd-pagination-nav-color--disabled;
  }
}
