@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./../icons/mixins";
//@import "./button";
/*!
.fd-pagination
*/

$block: #{$fd-namespace}-pagination;
.#{$block} {
  $fd-pagination-link-color: $fd-color--action !default;
  $fd-pagination-link-color--active: fd-color("text", 2) !default;
  $fd-pagination-total-color: fd-color("text", 2) !default;

  --fd-pagination-link-color: var(--fd-color-action-1);
  --fd-pagination-link-color-active: var(--fd-color-text-2);
  --fd-pagination-total-color: var(--fd-color-text-2);


  @include fd-reset();
  @include fd-type("0");
  &__total {
    @include fd-var-color("color", $fd-pagination-total-color, --fd-pagination-total-color);
    margin-right: fd-space("xxs");
  }
  &__nav {
    display: inline-block;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
  &__link {
    @include fd-var-color("color", $fd-pagination-link-color, --fd-pagination-link-color);
    background-color: transparent;
    padding-left: fd-space(1);
    padding-right: fd-space(1);
    position: relative;
    @include fd-selected() {
      @include fd-var-color("color", $fd-pagination-link-color--active, --fd-pagination-link-color-active);
      text-decoration: none;
      cursor: default;
      @include fd-weight("bold");
    }
    &--previous,
    &--next {
      @include fd-icon("nav-back","s");
      @include fd-rtl() {
        transform: scaleX(-1);
      }
      padding-left: fd-space(2);
      padding-right: fd-space(2);
    }
    &--next {
      transform: scaleX(-1);
      @include fd-rtl() {
        transform: scaleX(1);
      }
    }
    &--more {
      &::before {
        content: "...";
        @include fd-var-color("color", $fd-pagination-link-color--active, --fd-pagination-link-color-active);
        @include fd-weight("bold");
      }
    }
  }
}
