@import "./../settings";
@import "./../mixins";
@import "./../icons/mixins";
@import "./../functions";

$fd-popover-top-position:         120% !default;
$fd-popover-left-position:        0 !default;
$fd-popover-border:               solid 1px $fd-forms-border-color !default;
$fd-popover-z-index:              2 !default;
$fd-popover-background-color:     fd-color(background, 2) !default;
$fd-popover-box-shadow:           0 0 1px 0 rgba(218 ,222, 230, .50), 0 2px 8px 0 rgba(0, 8, 26, .20) !default;

$fd-popover-arrow-top:            -8px !default;
$fd-popover-arrow-right:          14px !default;

$fd-popover-transition-params:    $fd-animation--speed !default;
$fd-popover-transition-distance:  -15px !default;

$block: #{$fd-namespace}-popover;
.#{$block} {
    @include fd-reset;
    position: relative;
    display: inline-block;

    &__control {
      position: relative;
      margin-left: 0;
      cursor: pointer;
    }
    &__body {
      border: $fd-popover-border;
      position: absolute;
      white-space: nowrap;
      z-index: $fd-popover-z-index;
      border-radius: $fd-border-radius;
      background-color: $fd-popover-background-color;
      box-shadow: $fd-popover-box-shadow;
      opacity: 1;
      visibility: visible;
      transition: all $fd-popover-transition-params;
      left: $fd-popover-left-position;
      top: $fd-popover-top-position;
      transform: translateY(0);

      &::before {
        @include triangle(13px 8px, white, up);
        content: "";
        position: absolute;
        top: $fd-popover-arrow-top;
        right: $fd-popover-arrow-right;
      }

      &--left {
        right: auto;
        left: 0;
      }

      &--right {
        left: auto;
        right: 0;
      }

      &[aria-hidden="true"],
      &.is-hidden {
          opacity: 0;
          visibility: hidden;
          transform: translateY($fd-popover-transition-distance);
      }
    }
}

// RTL Styles (Considers Body, Shell Header, and Self)
@include fd-rtl(#{$block}) {
  .#{$block}{
    // Reverse the default positioning
    &__body {
      left: auto;
      right: 0;

      // Reverse the modified positioning
      &--left {
        right: 0;
        left: auto;
      }
      &--right {
        right: auto;
        left: 0;
      }
    }
  }
}
