@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-product-menu+()
*/
$block: #{$fd-namespace}-product-menu;

.#{$block} {
  padding-right: 8px;
  @include fd-rtl() {
    padding-right: 0;
    padding-left: 8px;
  }
  &__control {
    color: inherit;
    position: relative;
    @include fd-button-reset();
    @include fd-var-size("height", $fd-forms-height, --fd-forms-height);
    position: relative;
    padding-right: 20px;
    padding-left: 0;
    @include fd-rtl() {
      padding-right: 0;
      padding-left: 20px;
    }
    &::after {
      @include triangle(10px 5px, fd-color("shell", 2), down, --fd-color-shell-2);
      content: "";
      position: absolute;
      top: calc(50% - 2.5px);
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  .fd-popover__body--right {
    right: -10px;

    @include fd-rtl() {
      right: auto;
      left: -14px;
    }
  }
}
