@import "./../settings";
@import "./../mixins";
@import "./../functions";

$fd-product-switcher-width: 450px;
$fd-product-switcher-product-width: 140px;
$fd-product-switcher-product-height: 40px;

/*!
.fd-product-switcher
*/
$block: #{$fd-namespace}-product-switcher;


.#{$block} {
  position: relative;
  display: inline-block;

  &__body {
    padding: 20px 10px 0 10px;
    color: initial;
    > nav {
      > ul {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: hidden;
          width: $fd-product-switcher-width;

          > li {
              float: left;
              width: $fd-product-switcher-product-width + 10;
              text-align: center;
              padding: 0 5px;
              margin: 0 0 30px 0;
              @include fd-rtl() {
                float: right;
              }
          }
      }
    }
  }

  &__product {
    &-icon {
      display: block;
      height: $fd-product-switcher-product-height;
      margin: 0 0 10px 0;

      > img {
          display: block;
          max-width: $fd-product-switcher-product-width;
          margin: 0 auto;
      }
    }
    &-title {
      display: block;
    }
  }
}
