@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-product-tile+()
  .fd-product-tile__media+()
  .fd-product-tile__title+()
*/
$block: #{$fd-namespace}-product-tile;

.#{$block} {
  $fd-product-tile-width: 25% !default;
  $fd-product-tile-color: fd-color("text",3) !default;
  $fd-product-tile-background-color: fd-color("background",2) !default;
  $fd-product-tile-title-color: fd-color("text",1) !default;
  $fd-product-tile-media-height: 210px !default;
  $fd-product-tile-content-padding: fd-space(4) fd-space("reg") !default;
  $fd-product-tile-content-padding-x: fd-space("reg") !default;
  $fd-product-tile-content-padding-y: fd-space(4) !default;
  $fd-product-tile-box-shadow: 0 0 5px 0 rgba($fd-product-tile-color, 0.4) !default;
  //anim
  $fd-product-tile-transition-params: $fd-animation--speed ease-in !default;

  --fd-product-tile-color: var(--fd-color-text-3);
  --fd-product-tile-background-color: var(--fd-color-background-2);
  --fd-product-tile-title-color: var(--fd-color-text-1);

  @include fd-reset();
  @include fd-var-color("color", $fd-product-tile-color, --fd-product-tile-color);
  @include fd-var-color("background-color", $fd-product-tile-background-color, --fd-product-tile-background-color);

  //MODIFICATIONS
  &--button,
  &[role="button"] {
    @include action-cursor();
    transition: box-shadow $fd-product-tile-transition-params;
    &:hover {
      box-shadow: $fd-product-tile-box-shadow;
      position: relative;
      z-index: map-get($fd-z-index-levels, "first");
    }
  }
  //STATES
  &[aria-disabled="true"],
  &.is-disabled {
    opacity: 0.4;
  }

  &__media {
    width: 100%;
    min-height: $fd-product-tile-media-height;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__content {
    padding: $fd-product-tile-content-padding-x $fd-product-tile-content-padding-x;
  }
  &__title {
    @include fd-type("1");
    @include fd-var-color("color", $fd-product-tile-title-color, --fd-product-tile-title-color);
    margin-bottom: 0;
    margin-bottom: 0;
  }
}
