@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-product-menu+()
*/
$block: #{$fd-namespace}-product-menu;

.#{$block} {
  padding-right: 8px;

  &__control {
    color: inherit;
    position: relative;
    @include fd-button-reset();
    @include fd-type("1","bold");
    height: var(--fd-forms-height);
    position: relative;
    padding-right: 20px;
    padding-left: 8px;

    &::after {
      @include triangle(10px 5px, var(--fd-color-shell-2), down);
      content: "";
      position: absolute;
      top: calc(50% - 2.5px);
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .fd-popover__body--right {
    right: -10px;
  }
}
