@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
radio
*/
input[type="radio"] {
    border-radius: 50%;
    &::after {
        $check-size_: fd-space(2);
        content: "";
        border-radius: 50%;
        width: $check-size_;
        height: $check-size_;
        position: absolute;
        top: calc(50% - (#{$check-size_}/2));
        left: calc(50% - (#{$check-size_}/2));
        transition: background-color $fd-forms-transition-params;
        background-color: transparent;
    }
    &:checked {
        background-color: $fd-forms-background-color;
        &::after {
            background-color: fd-color-darkest($fd-forms-color--active);
        }
        &[disabled],
        &[aria-disabled="true"],
        &.is-disabled {
            &::after {
                background-color: $fd-forms-background-color--check-disabled;
            }
        }
    }
}
