@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-search-input
*/
$block: #{$fd-namespace}-search-input;

$fd-search-closed-control-control-width: 36px !default;
$fd-search-closed-control-body-width: 300px !default;
$fd-search-closed-control-body-position: $fd-search-closed-control-body-width - $fd-search-closed-control-control-width !default;
$fd-search-closed-conrol-transition: all $fd-animation--speed !default;

.#{$block} {
  &__control {
    position: relative;

    > .fd-button--shell[aria-expanded="true"] {
      position: relative;
      z-index: map-get($fd-z-index-levels, "second");
      --fd-button-border-color: transparent;
      --fd-button-background-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__closedcontrol {
    position: absolute;
    top: 0;
    right: 0;
    transition: $fd-search-closed-conrol-transition;
    opacity: 1;
    visibility: visible;
    width: $fd-search-closed-control-body-width;
    z-index: map-get($fd-z-index-levels, "first");
    @include fd-rtl() {
      right: auto;
      left: 0;
    }
    &[aria-hidden="true"],
    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      width: $fd-search-closed-control-body-width;
    }
  }

  & .fd-popover {
    display: block;

    &__body {
      width: 100%;
    }
  }

  & .fd-menu {
    display: block;
    text-align: left;
    @include fd-rtl() {
      text-align: right;
    }
  }

  &--closed {
    & .fd-popover__body {
      width: $fd-search-closed-control-body-width;
      left: -$fd-search-closed-control-body-position;
      @include fd-rtl() {
        left: 0;
        right: auto;
      }
    }
  }
}
