@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-search-input
*/
$block: #{$fd-namespace}-search-input;

.#{$block} {
    & .fd-popover__body{
        width: 100%;
    }
    & .fd-menu{
        display: block;
    }
}
