@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
select
*/
select {
    @include fd-form-text;
    appearance: none;
    -moz-appearance: none;
    background-image: url(#{$fd-forms-select-background-image});
    background-repeat: no-repeat;
    background-position: calc(100%) center;
    padding-right: ($fd-forms-padding * 2) + $fd-forms-select-width--background-image;
    width: 100%;
    &:focus,
    &:hover {
        background-image: url(#{$fd-forms-select-background-image});
    }
    &[aria-expanded="true"],
    &.is-expanded {
        background-image: url(#{$fd-forms-select-background-image});
    }
    &[disabled],
    &[aria-disabled="true"],
    &.is-disabled {
        background-image: url(#{$fd-forms-select-background-image--disabled});
    }
    &[multiple] {
        height: $fd-forms-height--input-text * 3;
        background-image: none;
        padding-top: $fd-forms-padding;
    }
    &::after {
        content: "";
        width: 10px;
        height: 5px;
        border-color: transparent;
        border-style: solid;
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg);
        position: absolute;
        z-index: 2;
        top: calc(50% - 4px);
        left: calc(50% - 10px/2);
    }
}
