@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*
## Notes/TODO
* Update shellheader button
* Expanding search functionality
* Update product icons in product switcher
* Add the modifier to product-switcher & fix on docs page
* Add focus state to menu items
* Add responsive classes to hide items at breakpoints
* Add notification component / concept to button
* Logo to CSS Var
*/

// Brand
$fd-shellbar-sap-brand-logo-height: 28px !default;
$fd-shellbar-sap-brand-logo-width: 60px !default; // fd-space(15)
$fd-shellbar-sap-brand-logo: "data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MTIuMzggMjA0Ij48ZGVmcz48c3R5bGU+LmNscy0xLC5jbHMtMntmaWxsLXJ1bGU6ZXZlbm9kZH0uY2xzLTF7ZmlsbDp1cmwoI2xpbmVhci1ncmFkaWVudCl9LmNscy0ye2ZpbGw6I2ZmZn08L3N0eWxlPjxsaW5lYXJHcmFkaWVudCBpZD0ibGluZWFyLWdyYWRpZW50IiB4MT0iMjA2LjE5IiB4Mj0iMjA2LjE5IiB5Mj0iMjA0IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMDBiOGYxIi8+PHN0b3Agb2Zmc2V0PSIuMDIiIHN0b3AtY29sb3I9IiMwMWI2ZjAiLz48c3RvcCBvZmZzZXQ9Ii4zMSIgc3RvcC1jb2xvcj0iIzBkOTBkOSIvPjxzdG9wIG9mZnNldD0iLjU4IiBzdG9wLWNvbG9yPSIjMTc3NWM4Ii8+PHN0b3Agb2Zmc2V0PSIuODIiIHN0b3AtY29sb3I9IiMxYzY1YmYiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMxZTVmYmIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+U0FQX2dyYWRfUl9zY3JuX1plaWNoZW5mbMOkY2hlIDE8L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTAgMjA0aDIwOC40MUw0MTIuMzggMEgwdjIwNCIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTI0NC43MyAzOC4zNmgtNDAuNnY5Ni41MmwtMzUuNDYtOTYuNTVoLTM1LjE2bC0zMC4yNyA4MC43MkMxMDAgOTguNyA3OSA5MS42NyA2Mi40IDg2LjQgNTEuNDYgODIuODkgMzkuODUgNzcuNzIgNDAgNzJjLjA5LTQuNjggNi4yMy05IDE4LjM4LTguMzggOC4xNy40MyAxNS4zNyAxLjA5IDI5LjcxIDhsMTQuMS0yNC41NUM4OS4wNiA0MC40MiA3MSAzNi4yMSA1Ni4xNyAzNi4xOWgtLjA5Yy0xNy4yOCAwLTMxLjY4IDUuNi00MC42IDE0LjgzQTM0LjIzIDM0LjIzIDAgMCAwIDUuNzcgNzQuN0M1LjU0IDg3LjE1IDEwLjExIDk2IDE5LjcxIDEwM2M4LjEgNS45NCAxOC40NiA5Ljc5IDI3LjYgMTIuNjIgMTEuMjcgMy40OSAyMC40NyA2LjUzIDIwLjM2IDEzQTkuNTcgOS41NyAwIDAgMSA2NSAxMzVjLTIuODEgMi45LTcuMTMgNC0xMy4wOSA0LjEtMTEuNDkuMjQtMjAtMS41Ni0zMy42MS05LjU5TDUuNzcgMTU0LjQyYTkzLjc3IDkzLjc3IDAgMCAwIDQ2IDEyLjIyaDIuMTFjMTQuMjQtLjI1IDI1Ljc0LTQuMzEgMzQuOTItMTEuNzEuNTMtLjQxIDEtLjg0IDEuNDktMS4yOGwtNC4xMiAxMC44NUgxMjNsNi4xOS0xOC44MmE2Ny40NiA2Ny40NiAwIDAgMCAyMS42OCAzLjQzIDY4LjMzIDY4LjMzIDAgMCAwIDIxLjE2LTMuMjVsNiAxOC42NGg2MC4xNHYtMzloMTMuMTFjMzEuNzEgMCA1MC40Ni0xNi4xNSA1MC40Ni00My4yIDAtMzAuMTEtMTguMjItNDMuOTQtNTcuMDEtNDMuOTR6TTE1MC45MSAxMjFhMzYuOTMgMzYuOTMgMCAwIDEtMTMtMi4yOGwxMi44Ny00MC41OWguMjJsMTIuNjUgNDAuNzFhMzguNSAzOC41IDAgMCAxLTEyLjc0IDIuMTZ6bTk2LjItMjMuMzNoLTguOTRWNjQuOTFoOC45NGMxMS45MyAwIDIxLjQ0IDQgMjEuNDQgMTYuMTQgMCAxMi42LTkuNTEgMTYuNTctMjEuNDQgMTYuNTciLz48L3N2Zz4=" !default;

// Paddings
$fd-shellbar-outer-spacing-lr-large: 32px !default;
$fd-shellbar-outer-spacing-lr-medium: 16px !default;
$fd-shellbar-outer-spacing-lr-small: 8px !default;
$fd-shellbar-outer-spacing-tb: 4px !default;

$fd-shellbar-title-spacing: 16px !default;
$fd-shellbar-item-spacing: 12px !default;

// Heights
$fd-shellbar-height: 48px !default;

$fd-shellbar-copilot-height: 30px !default;
$fd-shellbar-copilot-width: 30px !default;

$fd-shellbar-logo-height: 28px !default;
$fd-shellbar-logo-width: 60px !default; // fd-space(15)

// Colors
$fd-shellbar-color: fd-color("text", 5) !default; // White
$fd-shellbar-background-color: fd-color("shell", 1) !default;

$block: #{$fd-namespace}-shellbar;

.#{$block} {
    @include fd-reset;
    background: $fd-shellbar-background-color;
    height: $fd-shellbar-height;
    display: flex;
    align-items: center;
    color: $fd-shellbar-color;
    position: relative;
    padding: $fd-shellbar-outer-spacing-tb $fd-shellbar-outer-spacing-lr-large;
    justify-content: space-between;

    //ELEMENTS *******************************************
    &__group {
        &--start,
        &--middle,
        &--end{
            display: inline-block;
        }
        &--start,
        &--end {
            flex: 1;
        }
        &--middle {
            width: $fd-shellbar-copilot-width;
        }
        &--end {
            text-align: right;
        }
    }

    &__logo,
    &__title,
    &__title-menu,
    &__subtitle {
        display: inline-block;
        vertical-align: middle;
    }

    &__logo {
        // width: $fd-shellbar-logo-width;
        height: $fd-shellbar-logo-height;
        img {
          max-height: $fd-shellbar-logo-height;
        }
    }

    &--brand {
        display: inline-block;
        background-image: url(#{$fd-shellbar-sap-brand-logo});
        background-repeat: no-repeat;
        background-size: contain;
        width: $fd-shellbar-sap-brand-logo-width;
        height: $fd-shellbar-sap-brand-logo-height;
    }

    &__title {
        @include fd-type("1");
        @include fd-weight("bold");
        line-height: 1;
        padding: 0 $fd-shellbar-title-spacing;
        color: fd-color("text", 5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }

    &__subtitle {
        @include fd-type("-1");
        @include fd-weight("reg");
        line-height: 1;
        // Show only on desktop, hide on s
        @include fd-screen(s) {
            display: none;
        }
        @include fd-screen(m) {
            display: none;
        }
        @include fd-screen(l) {
            display: inline-block;
        }
    }

    &__copilot {
        display: inline-block;
        vertical-align: middle;
        width: $fd-shellbar-copilot-width;
        height: $fd-shellbar-copilot-height;
        > img {
            display: block;
            max-width: 100%;
        }
    }

    &__actions,
    &__action {
        display: inline-block;
        > * {
            vertical-align: middle;
        }
    }
    &__action {
        padding-right: 0;
        padding-left: $fd-shellbar-item-spacing;

        &--hide {
            // Show only on desktop, hide on s
            @include fd-screen(s) {
                display: none;
            }
            @include fd-screen(m) {
                display: none;
            }
            @include fd-screen(l) {
                display: inline-block;
            }
        }
        &--collapse {
            // Show only on s, hide on desktop
            @include fd-screen(s) {
                display: inline-block;
            }
            @include fd-screen(m) {
                display: inline-block;
            }
            @include fd-screen(l) {
                display: none;
            }
        }
    }

    @include fd-screen(s) {
        padding: $fd-shellbar-outer-spacing-tb $fd-shellbar-outer-spacing-lr-small;
    }
    @include fd-screen(m) {
        padding: $fd-shellbar-outer-spacing-tb $fd-shellbar-outer-spacing-lr-medium;
    }
    @include fd-screen(l) {
        padding: $fd-shellbar-outer-spacing-tb $fd-shellbar-outer-spacing-lr-large;
    }
    @include fd-screen(xl) {
        padding: $fd-shellbar-outer-spacing-tb $fd-shellbar-outer-spacing-lr-large;
    }
    @include fd-screen(xxl) {
        padding: $fd-shellbar-outer-spacing-tb $fd-shellbar-outer-spacing-lr-large;
    }
}

// RTL
@include fd-rtl(#{$block}){
    .#{$block}{
        &__group {
            &--end {
                text-align: left;
            }
        }
        &__action {
            padding-right: $fd-shellbar-item-spacing;
            padding-left: 0;
        }
    }
}
