@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*
## Notes/TODO
* Update shellheader button
* Expanding search functionality
* Update product icons in product switcher
* Add the modifier to product-switcher & fix on docs page
* Add dingus back on popovers
* Add focus state to menu items
* Add responsive classes to hide items at breakpoints
* Add notification component / concept to button
*/

// Paddings
$fd-shell-header-outer-spacing-lr-large: 32px !default;
$fd-shell-header-outer-spacing-lr-medium: 16px !default;
$fd-shell-header-outer-spacing-lr-small: 8px !default;
$fd-shell-header-outer-spacing-tb: 4px !default;

$fd-shell-header-title-spacing: 16px !default;
$fd-shell-header-item-spacing: 12px !default;

// Heights
$fd-shell-header-height: 48px !default;

$fd-shell-header-copilot-height: 30px; // 48px in docs?
$fd-shell-header-copilot-width: 30px; // 48px in docs?

$fd-shell-header-logo-height: 28px !default; // Also in shell-header-brand.scss
$fd-shell-header-logo-width: 60px !default; //fd-space(15)

// Colors
$fd-shell-header-color: fd-color(text, 4) !default; // White
$fd-shell-header-background-color: fd-color(shell, 1) !default;

// Actions
$fd-shell-header-btn-color: fd-color(shell, 2) !default;

$block: #{$fd-namespace}-shell-header;

.#{$block} {
    @include fd-reset;
    background: $fd-shell-header-background-color;
    height: $fd-shell-header-height;
    display: flex;
    align-items: center;
    color: $fd-shell-header-color;
    position: relative;
    padding: $fd-shell-header-outer-spacing-tb $fd-shell-header-outer-spacing-lr-large;
    justify-content: space-between;

    //ELEMENTS *******************************************
    &__group {
        &--left,
        &--middle,
        &--right{
            display: inline-block;
        }
        &--left,
        &--right {
            flex: 1;
        }
        &--middle {
            width: $fd-shell-header-copilot-width;
        }
        &--right {
            text-align: right;
        }
    }

    &__logo,
    &__title,
    &__subtitle {
        display: inline-block;
        vertical-align: middle;
    }

    &__logo {
        width: $fd-shell-header-logo-width;
        height: $fd-shell-header-logo-height;
    }

    &__title {
        @include fd-type("1", "bold");
        line-height: 1;
        padding: 0 $fd-shell-header-title-spacing;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; // TEMP
    }

    &__subtitle {
        @include fd-type("-2", "reg");
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; // TEMP
    }

    &__copilot {
        display: inline-block;
        vertical-align: middle;
        width: $fd-shell-header-copilot-width;
        height: $fd-shell-header-copilot-height;
        > img {
            display: block;
            max-width: 100%;
        }
    }

    &__actions,
    &__action {
        display: inline-block;
        > * {
            vertical-align: middle;
        }
    }
    &__action {
        padding-right: 0;
        padding-left: $fd-shell-header-item-spacing;
        // @extend .#{$fd-namespace}-d-m-none; // Utility to hide at specified breakpoint
    }

    @include fd-screen(xs) {
        padding: $fd-shell-header-outer-spacing-tb $fd-shell-header-outer-spacing-lr-small;
    }
    @include fd-screen(s) {
        padding: $fd-shell-header-outer-spacing-tb $fd-shell-header-outer-spacing-lr-small;
    }
    @include fd-screen(m) {
        padding: $fd-shell-header-outer-spacing-tb $fd-shell-header-outer-spacing-lr-medium;
    }
    @include fd-screen(l) {
        padding: $fd-shell-header-outer-spacing-tb $fd-shell-header-outer-spacing-lr-large;
    }
    @include fd-screen(xl) {
        padding: $fd-shell-header-outer-spacing-tb $fd-shell-header-outer-spacing-lr-large;
    }
}

// RTL
@include fd-rtl(#{$block}){
    .#{$block}{
        &__group {
            &--right {
                text-align: left;
            }
        }
        &__action {
            padding-right: $fd-shell-header-item-spacing;
            padding-left: 0;
        }
    }
}
