@import "../settings";
@import "../mixins";
@import "../functions";

/*!
.fd-side-nav+(--no-border)
    .fd-side-nav__content+()
    .fd-side-nav__title+()
*/
$block: #{$fd-namespace}-side-nav;

.#{$block} {

    //LOCAL VARS
    $fd-side-nav-background-color: fd-color("background", 1);
    $fd-side-nav-selected-background-color: fd-color("background", 2);
    $fd-side-nav-link-color: fd-color("text", 1);
    $fd-side-nav-max-width: 250px;
    $fd-side-nav-link-padding: fd-space(4);

    //BLOCK BASE *******************************************
    background-color: $fd-side-nav-background-color !important;
    min-width: $fd-side-nav-max-width;

    //ELEMENTS *******************************************
    .fd-nav__link{
        padding: $fd-side-nav-link-padding;
        @include fd-type("-1", "body", "semi");
        color: $fd-side-nav-link-color;

        &:hover{
            background-color: $fd-side-nav-selected-background-color;
        }
    }

    .fd-nav__group{
        list-style: none;
        margin-bottom: 0;

        .fd-nav__link{
            font-weight: normal;
            padding-left: $fd-side-nav-link-padding * 2;
        }
    }

    //STATES *******************************************
    .is-selected{
        background-color: $fd-side-nav-selected-background-color;
    }

}
