@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";

/*!
.fd-table
    thead
    tbody
        tr+([aria-selected])
*/
$block: ns(table);

.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-table-border-color: fd-color(neutral, 3) !default;
    $fd-table-link-color: fd-color(action, 1) !default;
    $fd-table-cell-spacing: $fd-width--gutter !default;
    $fd-table-cell-padding: fd-space(3) !default;
    $fd-table-transition-params: $fd-animation--speed ease-in !default;

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include reset;
    @include fd-last-child;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: $fd-margin-bottom;
    border-top: solid 1px $fd-table-border-color;
    tr {
        transition: background-color $fd-table-transition-params;
        &:hover {
            background-color: lighten(fd-color(neutral, 3), 10);
        }
        &.is-selected,
        &[aria-selected="true"] {
            background-color: lighten(fd-color(neutral, 3), 5);
        }
    }
    thead {
        @include fd-type(-1);
        color: fd-color(text, 2);
        tr {
            &:hover {
                background-color: inherit;
            }
        }
        td,
        th {
            border: none;
        }
    }
    td,
    th {
        text-align: left;
        padding: $fd-table-cell-padding $fd-table-cell-spacing $fd-table-cell-padding 0;
        &:first-child {
            padding-left: $fd-table-cell-spacing;
        }
        border-style: solid;
        border-width: 1px 0;
        border-color: $fd-table-border-color;
    }
    a {
        color: $fd-table-link-color;
        &:hover{
            color: $fd-table-link-color;
        }
    }

}
