@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-table
    thead
    tbody
        tr+([aria-selected])
*/
$block: #{$fd-namespace}-table;
.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-table-border-color: fd-color("neutral", 2) !default;
    $fd-table-border-width: 1px !default;
    $fd-table-link-color: fd-color(action, 1) !default;
    $fd-table-background-color: fd-color("background", 2);

    $fd-table-header-color: fd-color("text", 3) !default;
    $fd-table-header-background-color: fd-color("neutral", 1) !default;
    $fd-table-row-background-color--hover:
    fd-color-state("hover") !default;
    $fd-table-row-background-color--selected: fd-color-state("selected") !default;

    $fd-table-cell-spacing: $fd-width--gutter !default;
    --fd-table-cell-spacing: var(--fd-width-gutter);

    $fd-table-cell-padding: fd-space("s") !default;
    $fd-table-transition-params: $fd-animation--speed ease-in !default;
    $fd-table-sort-icon-size: fd-space(3);
    $fd-table-sort-column-header-background-color: fd-color("neutral", 2);
    $fd-table-sort-column-header-hover-color: #f2f2f3; //hsl +1 of Neutral 2.;
    $fd-table-fixed-column-cell-color: fd-color("background", 2);

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include fd-reset;
    @include fd-last-child;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: $fd-margin-bottom;
    border-top: solid $fd-table-border-width $fd-table-border-color;
    background-color: $fd-table-background-color;
    border: 1px solid $fd-table-border-color;

    tr {
        transition: background-color $fd-table-transition-params;
        @include fd-hover {
            background-color: $fd-table-row-background-color--hover;
        }
        @include fd-selected {
            background-color: $fd-table-row-background-color--selected;
            @include fd-hover {
                background-color: fd-color-state("selected-hover")
            }
        }
        cursor: pointer;
    }

    thead {
        @include fd-type("-1");
        color: $fd-table-header-color;
        background-color: $fd-table-header-background-color;
        text-transform: uppercase;

        tr {
            &:hover {
                background-color: inherit;
            }
        }

        td,
        th {
            border: none;
            @include fd-weight();
        }
    }
    tbody{
        tr{
            border: $fd-table-border-width solid $fd-table-border-color;
            border-left: none;
            border-right: none;
        }
    }
    td,
    th {
        text-align: left;
        --fd-table-cell-spacing: calc(var(--fd-width-gutter) / 2);
        @include fd-var-size("padding-left", $fd-table-cell-spacing/2, --fd-table-cell-spacing);
        @include fd-var-size("padding-right", $fd-table-cell-spacing/2, --fd-table-cell-spacing);
        padding-top: $fd-table-cell-padding;
        padding-bottom: $fd-table-cell-padding;
        &:first-child {
          @include fd-var-size("padding-left", $fd-width--gutter, --fd-width-gutter);
        }
        &:last-child {
          @include fd-var-size("padding-right", $fd-width--gutter, --fd-width-gutter);
        }

        .fd-dropdown__menu {
            min-width: auto;
            text-align: left;
        }
      
        > a {
            color: $fd-table-link-color;
            &:hover{
                color: $fd-table-link-color;
            }
        }
    }

    &__sort-column {
        &:hover {
            background: $fd-table-sort-column-header-hover-color;
            cursor: pointer;
        }
        &::after {
            content: "";
            width: $fd-table-sort-icon-size;
            height: $fd-table-sort-icon-size;
            display: inline-block;
            background: url($fd-table-column-sort-icon) no-repeat center center;
            margin: 0 $fd-table-sort-icon-size;
            vertical-align: text-top;
        }

        &--asc {
            background: $fd-table-sort-column-header-background-color;

            &::after
            {
                background-image: url($fd-table-column-sort-icon--asc)
            }
        }

        &--dsc {
            background: $fd-table-sort-column-header-background-color;

            &::after {
                background-image: url($fd-table-column-sort-icon--dsc)
            }
        }
    }

    &__context-menu-label {
        display: block;
        &::after {
            content: "";
            width: $fd-table-sort-icon-size;
            height: $fd-table-sort-icon-size;
            display: inline-block;
            background: url($fd-table-context-menu-icon) no-repeat center center;
            margin: 0 $fd-table-sort-icon-size;
            vertical-align: text-top;
        }
    }

    th.fd-table__context-menu {
        &:hover {
            background: $fd-table-sort-column-header-hover-color;
            cursor: pointer;
        }
    }

    &__fixed-col {
        position: absolute;
        z-index: map-get($fd-z-index-levels, "first");
    }

    th.fd-table__fixed-col {
        background: $fd-table-sort-column-header-background-color;
        z-index: map-get($fd-z-index-levels, "second");
        box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.08);
    }
    td.fd-table__fixed-col {
        background: $fd-table-fixed-column-cell-color;
        box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.08);
    }

    &--fixed-wrapper {
        position: relative;
    }
    &--fixed {
        overflow-x: scroll;
        padding-left:200px;

        td{
            min-width: 200px;
        }
    }

    &--no-borders {
        border: none;
        & tbody tr {
            border: none;
        }
    }

    &--striped {
        & tbody tr:nth-child(even) {
            background-color: fd-color-state("hover");
        }
    }
}
