@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
textarea
*/
textarea {
    @include fd-form-text;
    width: 100%;
    height: $fd-forms-height--input-text * 2;
    padding-top: $fd-forms-padding;
}
