@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-tile+()
  .fd-tile__media+()
  .fd-tile__content+()
  .fd-tile__title+()
  .fd-tile__actions+()
*/
$block: #{$fd-namespace}-tile;

.#{$block} {
  //VARS
  $fd-tile-color: fd-color("text",3) !default;
  $fd-tile-background-color: fd-color("background",2) !default;
  $fd-tile-title-color: fd-color("text",2) !default;
  $fd-tile-content-padding: fd-space(4) fd-space("reg") !default;
  $fd-tile-content-padding-x: fd-space("small") !default;
  $fd-tile-content-padding-y: fd-space(2) + 2px !default;
  $fd-tile-box-shadow: 0 0 5px 0 rgba($fd-tile-color, 0.4) !default;
  //anim
  $fd-tile-transition-params: $fd-animation--speed ease-in !default;

  @include fd-reset;
  display: flex;
  color: $fd-tile-color;
  background-color: $fd-tile-background-color;

  //MODIFICATIONS
  &--button,
  &[role="button"] {
    @include action-cursor;
    transition: box-shadow $fd-tile-transition-params;
    &:hover {
      box-shadow: $fd-tile-box-shadow;
      position: relative;
      z-index: map-get($fd-z-index-levels, "first");
    }
  }
  //STATES
  &[aria-disabled="true"],
  &.is-disabled {
    opacity: 0.4;
  }

  //ELEMENTS
  &__media {
    padding: $fd-tile-content-padding-y 0 $fd-tile-content-padding-y $fd-tile-content-padding-x;
  }
  &__content {
    flex: 1;
    padding: $fd-tile-content-padding-y $fd-tile-content-padding-x $fd-tile-content-padding-y fd-space(3);
    align-self: center;
    &:first-child {
      padding-left: $fd-tile-content-padding-x;
    }
  }
  &__title {
    @include fd-type("0");
    color: $fd-tile-title-color;
    margin-bottom: 0;
  }
  &__actions {
    padding: fd-space(3) $fd-tile-content-padding-x fd-space(3) fd-space(3);
  }
}
