@import "./../settings";
@import "./../mixins";
@import "./../functions";
/*!
.fd-tile-grid+(--2col | --4col | --5col | --6col)
*/
$block: #{$fd-namespace}-tile-grid;
.#{$block} {
  //VARS
  $fd-tile-grid-border-color: fd-color("background") !default;
  $fd-tile-grid-items-per-row: 3 !default;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;

  & > * {
    margin-bottom: 0;
    border-radius: 0 !important;
    position: relative;
    border: solid 1px $fd-tile-grid-border-color;
    border-width: 0 1px 1px 0;
  }
  @include fd-screen(s) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(#{$fd-tile-grid-items-per-row}, 1fr);
    grid-gap: 0;

    //BLOCK MODIFIERS ************
    @each $n in 2, 3, 4, 5, 6 {
      &--#{$n}col {
        grid-template-columns: repeat(#{$n}, 1fr);
      }
    }
  }
}
