@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-time-picker+(--no-border)
    .fd-time-picker__content+()
    .fd-time-picker__title+()
*/
$block: #{$fd-namespace}-time-picker;

.#{$block} {
    .#{$fd-namespace}-popover {
        &__body {
            padding: fd-space(s);
        }
    }
}

.#{$fd-namespace}-popover {
    &__popper {
        .#{$fd-namespace}-time {
            padding: fd-space(s);
        }
    }
}
