@import "./../settings";
@import "./../mixins";
@import "./../functions";

$block: #{$fd-namespace}-time;
.#{$block} {
  width: 184px; // Quick fix to solve overflow issue

    &__item {
      display: inline-block;
      max-width: fd-space(10);
      text-align: center;
      margin-right: fd-space(1);
      &:last-child {
        margin-right: 0;
      }
    }

    &__input {
        margin: fd-space(2) 0;
        input {
          padding-left: fd-space(2);
          padding-right: fd-space(2);
          text-align: center;
        }
    }
}
