@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "./button";
@import "./dropdown";
// @import "../icons";
/*!
.tn-toolbar+()
    .tn-toolbar__row
        .tn-toolbar__group
        .tn-toolbar__item
*/
$block: ns(toolbar);

.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $tn-toolbar-background-color: tn-color(background, 2) !default;
    $tn-toolbar-border-color: tn-color(neutral, 3) !default;
    $tn-toolbar-group-height: tn-space(13) !default;
    //anim
    $tn-toolbar-row-transition-params: 0.15s ease-in !default;

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include reset;
    min-height: $tn-toolbar-group-height;
    background-color: $tn-toolbar-background-color;
    border-color: $tn-toolbar-border-color;
    border-style: solid;
    border-width: 1px 0;
    //margin-bottom: tn-space(m);

    & [role="separator"] {
        display: inline-block;
        vertical-align: middle;
        max-width: 1px;
        //white-space: nowrap;
        height: $tn-toolbar-group-height;
        border-left: solid 1px $tn-toolbar-border-color;
    }

    display: flex;
    flex-wrap: wrap;
    &__group {
        min-height: $tn-toolbar-group-height;
        // max-height: $tn-toolbar-group-height;
        overflow: visible;
        transition: all $tn-toolbar-row-transition-params;
        width: 100%;
        &--view {
            order: 5;
            display: flex;
            align-items: center;
            border-top: solid 1px $tn-toolbar-border-color;
            @include tn-screen(s) {
                border-top: none;
            }
        }
        &--filter {
            display: flex;
        }
        &--filter-options {
            background-color: tn-color(background, 1);
            border-top: solid 1px $tn-toolbar-border-color;
        }
        &--applied-filters {
            border-top: solid 1px $tn-toolbar-border-color;
            display: flex;
            align-items: center;
        }
        @include tn-screen(s) {
            &--filter {
                width: auto;
            }
            &--view {
                width: auto;
                order: 0;
                margin-left: auto;
            }
            &--view-as {
                display: block;
                margin-left: auto;
            }
        }
        &[aria-hidden="true"] {
            display: none;
            border: none;
        }
    }
    &__pagination {
        margin: 0 auto;
        @include tn-screen(s) {
            margin-right: tn-space(5);
        }
    }
    &__view-as {
        display: none;
        @include tn-screen(s) {
            display: block;
            border-left: solid 1px $tn-toolbar-border-color;
        }
    }
    &__button {
        &[aria-expanded="true"] {
            background-color: tn-color(background, 1);
        }
    }
    //filter
    &__applied-filter-list {
        margin-left: tn-space(5);
        list-style: none;
        margin-bottom: 0;
        flex-wrap: wrap;
        @include tn-screen(xs) {
            display: inline-flex;
            align-items: center;
        }
    }
    &__applied-filter-item {
        @include tn-type(-3, body, reg, none);
        line-height: inherit;
        display: flex;
        align-items: center;
        margin-right: tn-space(5);
        @include tn-screen(xs) {
            display: inline-flex;
        }
        &::after {
            content: "•";
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &__applied-filter-clear {
        @include tn-type(-3, body, semi);
    }

}
