@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
@import "./mixins";

/*!
.fd-tree+(--header)
    .fd-tree__group+(--sublevel-1...-6, ([aria-hidden] | .is-hidden))
    .fd-tree__item
        .fd-tree__row+(--header, ([aria-selected] | .is-selected))
            .fd-tree__col+(--control, --actions)
                .fd-tree__control+([aria-pressed] | .is-pressed)
*/
$block: ns(tree);

.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-tree-border-color: fd-color(neutral, 3) !default;
    $fd-tree-cell-spacing: $fd-width--gutter !default;
    $fd-tree-cell-padding: fd-space(3) !default;
    $fd-tree-control-width: 18px !default;
    $fd-tree-control-margin-right: fd-space(2) !default;
    $fd-tree-transition-params: $fd-animation--speed ease-in !default;

    @include reset;
    @include fd-last-child;
    position: relative;
    width: 100%;
    max-width: 100%;
    border-bottom: solid 1px $fd-tree-border-color;
    margin-bottom: $fd-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
    &--header {
        border-bottom: 0;
        border-top: solid 1px $fd-tree-border-color;
        margin-bottom: 0;
    }
    &__group {
        //see addt'l group classes under __col--first below
        transition: opacity $fd-animation--speed linear;
        max-height: auto;
        opacity: 1;
        margin-bottom: 0;
        &.is-hidden,
        &[aria-hidden="true"] {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
        }
    }
    &__item {
        border-top: solid 1px $fd-tree-border-color;
        margin-bottom: 0;
        list-style: none;
    }
    &__row {
        padding: 0 $fd-tree-cell-spacing;
        display: flex;
        align-items: center;
        position: relative;
        transition: background-color $fd-tree-transition-params;
        &:hover {
            background-color: lighten(fd-color(neutral, 3), 10);
        }
        &--header {
            @include fd-type(-1);
            @include fd-weight(bold);
            color: fd-color(text, 2);
            &:hover {
                background-color: transparent;
            }
        }
        &.is-selected,
        &[aria-selected="true"] {
            background-color: lighten(fd-color(neutral, 3), 5);
        }
    }
    $_row_padding: $fd-tree-control-width + $fd-tree-control-margin-right + 4;
    &__col {
        flex: 1;
        padding: $fd-tree-cell-padding 0;
        //pad to account for control
        padding-left: $_row_padding;
        &--control {
            flex: auto;
            width: 25%;
            //sets 8 sublevels of indentation based on __group level
            @at-root {
                @each $i in 1,2,3,4,5,6,7,8 {
                    .#{$block}__group--sublevel-#{$i} & {
                        padding-left: $_row_padding * ($i + 1);
                    }
                }

            }
        }
        &--actions {
            padding-top: 0;
            padding-bottom: 0;
            text-align: right;
        }
    }

    &__control {
        @include fd-button-reset;
        position: absolute;
        top: calc(50% - #{$fd-tree-control-width}/2);
        margin-left: -#{$_row_padding};
        width: $fd-tree-control-width;
        height: $fd-tree-control-width;
        margin-right: fd-space(3);
        background: url($fd-forms-select-background-image--active) no-repeat 50%;
        background-size: contain;
        transform: rotate(-90deg);
        vertical-align: middle;
        transition: transform $fd-animation--speed linear;
        &[aria-pressed="true"],
        &.is-pressed {
            transform: rotate(0);
        }
    }


}
