@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-user-menu
*/
$block: #{$fd-namespace}-user-menu;

.#{$block} {
  @include fd-reset();
  text-align: left;
  &__control {
    padding: fd-space(1);
  }
}
