<!--
label:
    properties={},
    modifier={ block: [] }
-->
{% macro label(properties={}, modifier={}, state={}, aria={}) -%}
<span class="tn-label{{ modifier.block | modifier('label') }}">
    {{properties.label}}
</span>
{%- endmacro %}
