{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import label %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = [] %}

{% block content %}
<style media="screen">
    .tn-label { margin-right: 20px; }
</style>
    <h1>label</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}
{{  label({label: "Default"}) }}
{{  label({label: "Success"},
        modifier={block: ["success"]})
}}
{{  label({label: "Warning"},
        modifier={block: ["warning"]})
}}
{{  label({label: "Error"},
        modifier={block: ["error"]})
}}
    {% endset %}
    {{ format(example) }}


{% endblock %}
