{% import "../forms.njk" as forms %}
{% from "../button/component.njk" import button %}
{% from "../icon/component.njk" import icon %}
<!--
dialog:
    properties={},
-->
{% macro dialog(properties={}) %}
<div class="fd-dialog--{{properties.size}}" role="dialog">
  <div class="fd-dialog__content" role="document">
      <header class="{{properties.class}}">
          <h1 class="fd-dialog__title {{properties.icon}}">{{properties.header}}</h1>
      </header>
      <div class="fd-dialog__body">
            <p>{{properties.body}}</p>
      </div>
      <footer class="fd-dialog__footer">
        <div class="fd-dialog__actions">
          {%- for item in properties.actions %}
          {{  button(
                  {
                      label: item.label
                  },
                  modifier={
                      block: [item.type]
                  })
          }}
          {%- endfor %}
        </div>
        </footer>
  </div>

</div>

{%- endmacro %}
