{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "./component.njk" import dialog %}
{% from "../icon/component.njk" import icon %}
{% set css_deps = ['fonts','components/button','icons','layout/overlay'] %}

{% block content %}

<h1>dialog</h1>


{% set exampleSmall %}


  {{  dialog(
        properties={
            header: "Modal dialog",
            class: "fd-dialog__header",
            size: "small",
            body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
            actions: [
              {type: 'emphasized', label: 'Confirm'},
              {type: 'secondary', label: 'Cancel'}
            ]
          }
      )
  }}

{% endset %}

{% set errorExampleSmall %}

{{ dialog(
        properties={
          icon: "sap-icon--message-error",
          header: "Error Message",
          class: "fd-dialog__header-error",
          size: "small",
          body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
          actions: [
            {type: 'emphasized', label: 'Confirm'},
            {type: 'secondary', label: 'Cancel'}
          ]
        }
    ) 
}}
{% endset %}

{% set warningExampleSmall %}

{{ dialog(
        properties={
          icon: "sap-icon--message-warning",
          header: "Warning Message",
          class: "fd-dialog__header-warning",
          size: "small",
          body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
          actions: [
            {type: 'emphasized', label: 'Confirm'},
            {type: 'secondary', label: 'Cancel'}
          ]
        }
    ) 
}}
{% endset %}

{% set successExampleSmall %}

{{ dialog(
        properties={
          icon: "sap-icon--message-success",
          header: "Success Message",
          class: "fd-dialog__header-success",
          size: "small",
          body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
          actions: [
            {type: 'emphasized', label: 'Confirm'},
            {type: 'secondary', label: 'Cancel'}
          ]
        }
    ) 
}}
{% endset %}


{% set exampleMedium %}


  {{  dialog(
        properties={
            header: "Modal dialog",
            class: "fd-dialog__header",
            size: "medium",
            body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
            actions: [
              {type: 'emphasized', label: 'Confirm'},
              {type: 'secondary', label: 'Cancel'}
            ]
          }
      )
  }}

{% endset %}

{% set errorExampleMedium %}

{{ dialog(
        properties={
          icon: "sap-icon--message-error",
          header: "Error Message",
          class: "fd-dialog__header-error",
          size: "medium",
          body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
          actions: [
            {type: 'emphasized', label: 'Confirm'},
            {type: 'secondary', label: 'Cancel'}
          ]
        }
    ) 
}}
{% endset %}

{% set warningExampleMedium %}

{{ dialog(
        properties={
          icon: "sap-icon--message-warning",
          header: "Warning Message",
          class: "fd-dialog__header-warning",
          size: "medium",
          body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
          actions: [
            {type: 'emphasized', label: 'Confirm'},
            {type: 'secondary', label: 'Cancel'}
          ]
        }
    ) 
}}
{% endset %}

{% set successExampleMedium %}

{{ dialog(
        properties={
          icon: "sap-icon--message-success",
          header: "Success Message",
          class: "fd-dialog__header-success",
          size: "medium",
          body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
          actions: [
            {type: 'emphasized', label: 'Confirm'},
            {type: 'secondary', label: 'Cancel'}
          ]
        }
    ) 
}}
{% endset %}

{% set phoneFullScreen %}

{{ dialog(
        properties={
          header: "Modal Dialog",
          class: "fd-dialog__header",
          size: "phone",
          body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentes vitae erat feugiat, cursus lorem a condimentum sem.",
          actions: [
            {type: 'emphasized', label: 'Confirm'},
            {type: 'secondary', label: 'Cancel'}
          ]
        }
    ) 
}}
{% endset %}

<h2>Small Dialogs</h2>

{{ format(exampleSmall) }}

<br><br>
{{ format(errorExampleSmall) }}


<br><br>
{{ format(warningExampleSmall) }}

<br><br>
{{ format(successExampleSmall) }}

<br><br>
<h2>Medium Dialogs</h2>

{{ format(exampleMedium) }}

<br><br>
{{ format(errorExampleMedium) }}


<br><br>
{{ format(warningExampleMedium) }}

<br><br>
{{ format(successExampleMedium) }}

<br><br>
<h2>Phone Full Screen</h2>
{{ format(phoneFullScreen) }}

{% endblock %}
