{% import "./../utils.njk" as utils %}
{% from "./../popover/component.njk" import popover %}
{% from "./../button/component.njk" import button %}

<!--
product_switcher:
    properties={
        "items": [
            {
                "image_path": "",
                "title": ""
            }
        ]
    },
    modifier={ block: [] },
    state={},
    aria={}
-->
{% set items =
  [
    {
      "image_path": "/static/products/01.png",
      "title": "Fiori Home"
    },
    {
      "image_path": "/static/products/02.png",
      "title": "S/4 HANA Cloud"
    },
    {
      "image_path": "/static/products/03.png",
      "title": "Analytics Cloud"
    },
    {
      "image_path": "/static/products/04.png",
      "title": "Ariba"
    },
    {
      "image_path": "/static/products/05.png",
      "title": "SuccessFactors"
    },
    {
      "image_path": "/static/products/06.png",
      "title": "Commerce Cloud"
    },
    {
      "image_path": "/static/products/07.png",
      "title": "Gigya"
    },
    {
      "image_path": "/static/products/08.png",
      "title": "Callidus Cloud"
    },
    {
      "image_path": "/static/products/09.png",
      "title": "Fieldglass"
    },
    {
      "image_path": "/static/products/10.png",
      "title": "Concur"
    },
    {
      "image_path": "/static/products/11.png",
      "title": "Cloud for Customer"
    },
    {
      "image_path": "/static/products/12.png",
      "title": "Cloud Portal"
    }
  ]
   %}
{% macro product_switcher(
    properties={ items: items },
    state={},
    aria={},
    classes=[])
-%}
{%- set _id = utils.id() %}
<div class="fd-product-switcher">
    {{  popover(properties={
            id: _id,
            control: button({ icon: 'grid' }, modifier={ block: ['shell'] }, aria={ "controls": _id, "haspopup": true, "expanded": false}),
            body: product_switcher_body(properties={ "items": properties.items })
        }, modifier={ block: ['right'] })
    }}
</div>
{%- endmacro %}

{%- macro product_switcher_body(properties={}, modifier={}, state={}) -%}
<div class="fd-product-switcher__body">
    <nav>
        <ul>
            {% for item in properties.items %}
            <li>
                <span class="fd-product-switcher__product-icon"><img src="{{ item.image_path }}" alt="" /></span>
                <span class="fd-product-switcher__product-title">{{ item.title }}</span>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{%- endmacro -%}
