{% import "./../utils.njk" as utils %}
{% from "./../popover/component.njk" import popover %}
{% from "./../button/component.njk" import button %}

<!--
product_switcher:
    properties={
        "items": [
            {
                "image_path": "",
                "title": ""
            }
        ]
    },
    modifier={ block: [] },
    state={},
    aria={}
-->

{% macro product_switcher(
    properties={},
    state={},
    aria={},
    classes=[])
-%}

{%- set _id = utils.id() %}

<div class="fd-product-switcher">
    {{  popover(properties={
            id: _id,
            control: button({ icon: 'grid' }, modifier={ block: ['shellheader fd-button--m'] }, aria={ "controls": _id, "haspopup": true, "expanded": false}),
            body: product_switcher_body(properties={ "items": properties.items })
        }, modifier={ block: ['right'] })
    }}
</div>

{%- endmacro %}

{%- macro product_switcher_body(properties={}, modifier={}, state={}) -%}
<div class="fd-product-switcher__body">
    <nav>
        <ul>
            {% for item in properties.items %}
            <li>
                <span class="fd-product-switcher__product-icon"><img src="{{ item.image_path }}" /></span>
                <span class="fd-product-switcher__product-title">{{ item.title }}</span>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{%- endmacro -%}
