{% extends "layout.njk" %}
{% from "./component.njk" import product_switcher %}
{% from "./../format.njk" import format %}

{% block content %}
<style media="screen">
    .fd-product-switcher{ margin-left: 500px; background-color: #354a5f;}
    [dir="rtl"] .fd-product-switcher{ margin-left: 0; margin-right: 500px;}
</style>

    {% set basic_product_switcher %}
        {{ product_switcher(properties={ "items": data.properties.items }) }}
    {% endset %}

    {{ format(basic_product_switcher) }}
{% endblock %}
