{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import status_label %}

{% block content %}

<style>
.fd-status-label { display: block; margin-bottom:20px; }
</style>
<h2>default</h2>

{% set example %}

{{  status_label(
        properties={ label: "Status with no icon" }
    )
}}

{{  status_label(
        properties={ label: "Success with no icon" },
        modifier={ block: 'success'}
    )
}}

{{  status_label(
        properties={ label: "Warning with no icon" },
        modifier={ block: 'warning'}
    )
}}

{{  status_label(
        properties={ label: "Error with no icon" },
        modifier={ block: 'error'}
    )
}}

{% endset %}
{{ format(example) }}

<br><br>

<h2>w/ built-in icons</h2>


<!-- output the component example and the code snippet -->
{% set example %}

{{  status_label(
        properties={ label: "Available" },
        modifier={ block: 'available' }
    )
}}

{{  status_label(
        properties={ label: "Away" },
        modifier={ block: 'away' }
    )
}}

{{  status_label(
        properties={ label: "Busy" },
        modifier={ block: 'busy' }
    )
}}

{{  status_label(
        properties={ label: "Offline" },
        modifier={ block: 'offline' }
    )
}}

{% endset %}
{{ format(example) }}

<br><br>

<h1>with sap icon and colors</h1>

{% set example %}

{{  status_label(
        properties={ label: "Custom Icon" },
        classes="sap-icon--history"
    )
}}

{{  status_label(
        properties={ label: "Success" },
        modifier={ block: 'success' },
        classes="sap-icon--message-success"
    )
}}

{{  status_label(
        properties={ label: "Warning" },
        modifier={ block: 'warning'},
        classes="sap-icon--message-warning"
    )
}}


{{  status_label(
        properties={ label: "Error" },
        modifier={ block: 'error'},
        classes="sap-icon--message-error"
    )
}}

{% endset %}
{{ format(example) }}


{% endblock %}
