{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import panel, panel_header, panel_actions, panel_filters, panel_body, panel_footer %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['helpers','layout/panel'] %}

{% set panel_example %}
{% call panel() -%}
    {% call panel_header({ title: ".fd-panel__title", description: ".fd-panel__description" }) -%}
    {% call panel_actions() -%}
.fd-panel__actions
    {%- endcall %}

    {%- endcall %}

    {%- call panel_filters() %}
.fd-panel__filters
    {%- endcall %}
    {% call panel_body() -%}
      <p>.fd-panel__body</p>
    {%- endcall %}
    {% call panel_footer() -%}
.fd-panel__footer
    {%- endcall %}
{%- endcall %}
{% endset %}


{% block content %}

<h2> Default Example </h2>

<p class="fd-has-type-2">NOTE: This is a <code>layout</code> component</p>
    <!-- output the component example and the code snippet -->
    {% set example %}
{{panel_example}}
    {% endset %}

    {{ format(example) }}

<br/><br/>

<h2> Example with H2 </h2>
{% set example %}
    {% call panel() -%}
        {% call panel_header({ title: ".fd-panel__title", description: ".fd-panel__description", title_size: "h2" }) -%}
        {%- endcall %}
    {%- endcall %}
{% endset %}

{{ format(example) }}

<br/><br/>

<h2> Example with H4 </h2>
{% set example %}
    {% call panel() -%}
        {% call panel_header({ title: ".fd-panel__title", description: ".fd-panel__description", title_size: "h4" }) -%}
        {%- endcall %}
    {%- endcall %}
{% endset %}

{{ format(example) }}

<br/><br/>

<h2> Example with H5 </h2>
{% set example %}
    {% call panel() -%}
        {% call panel_header({ title: ".fd-panel__title", description: ".fd-panel__description", title_size: "h5" }) -%}
        {%- endcall %}
    {%- endcall %}
{% endset %}

{{ format(example) }}

<br/><br/>

<h2> Example with H6 </h2>
{% set example %}
    {% call panel() -%}
        {% call panel_header({ title: ".fd-panel__title", description: ".fd-panel__description", title_size: "h6" }) -%}
        {%- endcall %}
    {%- endcall %}
{% endset %}

{{ format(example) }}

{% endblock %}
