<!--
product_tile:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro product_tile(properties={}, modifier={}, state={}, aria={}) -%}
<div class="fd-product-tile{{ modifier.block | modifier('tile') }}{{ state | state }}"{{ aria | aria }}>
{{- caller() | indent -}}
</div>
{%- endmacro %}

{%- macro product_tile_content(properties={}, modifier=[], aria={}, classes=[]) %}
<div class="fd-product-tile__content">
    {% set title_size = properties.title_size  if properties.title_size  else "h3" %}
    <{{title_size}} class="fd-product-tile__title">{{ properties.title }}</{{title_size}}>
  {%- if properties.description %}
  <p>{{ properties.description }}</p>
  {%- endif %}
  {{- caller() }}
</div>
{%- endmacro %}

{%- macro product_tile_media(properties={}, modifier=[], aria={}, classes=[]) %}
<div class="fd-product-tile__media" style="background-image: url('{{ properties.url }}');">{{ caller() }}</div>
{%- endmacro %}
