{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import product_tile, product_tile_media, product_tile_content %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = [] %}

{% block content %}

<style media="screen">
  .fd-product-tile {
    max-width: 25%;
  }
</style>

  {%- set product_tile_image %}
  {%- call product_tile() -%}
    {% call product_tile_media(data.properties.image) -%}
    {%- endcall %}
    {%- call product_tile_content({ title: data.properties.title }) -%}
    {%- endcall %}
  {%- endcall %}
  {% endset %}


<h2>default</h2>
    {% set example %}
  {{product_tile_image}}
    {% endset %}
    {{ format(example) }}



    <br><br>


    <h2>button</h2>
    <p>Add <code>role=button</code></p>

  {%- set product_tile_button %}
  {%- call product_tile(aria={role: 'button'}) -%}
    {% call product_tile_media(data.properties.image) -%}
    {%- endcall %}
    {%- call product_tile_content({ title: data.properties.title }) -%}
    {%- endcall %}
  {%- endcall %}
  {% endset %}
  {% set example %}
{{product_tile_button}}
  {% endset %}
    {{ format(example) }}



        <br><br>


        <h2>disabled</h2>
        <p>Add <code>aria-disabled=true</code></p>

      {%- set product_tile_disabled %}
      {%- call product_tile(aria={disabled: true}) -%}
        {% call product_tile_media(data.properties.image) -%}
        {%- endcall %}
        {%- call product_tile_content({ title: data.properties.title }) -%}
        {%- endcall %}
      {%- endcall %}
      {% endset %}
      {% set example %}
    {{product_tile_disabled}}
      {% endset %}
        {{ format(example) }}



{% endblock %}
