<footer class="fl-footer">
    <div class="fl-footer-container">
      <div class="fl-footer-container__left">
        <p class="fl-footer-deskmessage">
          <span>Join our vibrant community of developers and </span>
          <span>help drive the Fundamental Libraries forward!</span>
        </p>
        <img
          class="fl-footer-img1"
          src="./assets/images/headerlogo.webp" width="250" height="69.06" alt="fundamental library"
        />
      </div>
  
      <div class="fl-footer-container__rigth">
        <div class="fl-connect">
          <img class="fl-connect-icon" alt="Connect Icon" src="./assets/images/connect_icon.webp" width="24" height="24" aria-hidden="true" role="presentation"/>
          <h3 class="fl-footer-title">Connect</h3>
          <div class="fl-connect-list">
            <ul class="fl-connect-list__firstrow">
              <li class="fl-links"><a title="Slack" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://ui-fundamentals.slack.com/">Slack</a></li>
              <li class="fl-links"><a title="Youtube" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCkq8zSSBngKze-rUypz0t2w">Youtube</a></li>
              <li class="fl-links"><a  title="Linkedin" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://www.linkedin.com/company/sap-graph">Linkedin</a></li>
            </ul>
  
            <ul class="fl-connect-list__secondrow">
              <li class="fl-links"><a title="Twitter" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://twitter.com/i/flow/login?redirect_after_login=%2Ffundamental_lib">X (Twitter)</a></li>
              <li class="fl-links"><a title="Github" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://github.com/SAP/fundamental-styles">GitHub</a></li>
              <li class="fl-links"><a title="Email" target="_blank" hreflang="en" rel="noopener noreferrer" href="mailto:fundamental@sap.com">Email</a></li>
            </ul>
          </div>
        </div>
  
        <div class="fl-ourlibraries">
          <img
              class="fl-ourlibraries-icon" alt="Library Icon" aria-hidden="true" role="presentation"
              src="./assets/images/libraryicon.webp" width="27" height="24.54"
          />
          <h3 class="fl-footer-title">Our Libraries</h3>
          <ul class="fl-ourlibraries-list">
            <li class="fl-links"><a title="Fundamental Styles" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://github.com/SAP/fundamental-styles">Fundamental Styles</a></li>
            <li class="fl-links"><a title="Fundamental NGX" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://sap.github.io/fundamental-ngx/#/core/home">Fundamental NGX</a></li>
            <li class="fl-links"><a title="Fundamental Platform" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://sap.github.io/fundamental-ngx/#/platform/home">Fundamental Platform</a></li>
          </ul>
        </div>
  
        <div class="fl-resources">
          <img
              class="fl-resources-icon"
              src="./assets/images/bannericon.webp" width="20" height="25" alt="Resources Icon" aria-hidden="true" role="presentation"
          />
          <h3 class="fl-footer-title">Resources</h3>
          <ul class="fl-resources-list">
            <li class="fl-links"><a title="SAP Blogs" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://sap.github.io/fundamental/#blog">SAP Blogs</a></li>
            <li class="fl-links"><a title="Medium" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://medium.com/fundamental-library">Medium</a></li> 
          </ul>
        </div>
      </div>
    </div>
  
    <div class="fl-footer-policies">
      <div class="fl-policies-list">
        <a title="SAP page" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://www.sap.com/canada/index.html"
          ><img class="fl-footer-imgSAP" src="./assets/images/sapfootericon.webp" width="70" height="34.705" alt="SAP logo"
        /></a>
        <ul class="fl-policieslist-links">
          <li class="fl-policies"><a title="Privacy Policy" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://www.sap.com/about/legal/privacy.html">Privacy Policy</a></li>
          <li class="fl-policies"><a title="Legal Disclosure" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://www.sap.com/about/legal/impressum.html">Legal Disclosure</a></li>
          <li class="fl-policies"><a title="Copyright and Trademark" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://www.sap.com/about/legal/copyright.html">Copyright and Trademark</a></li>
          <li class="fl-policies"><a title="Terms of Use" target="_blank" hreflang="en" rel="noopener noreferrer" href="https://www.sap.com/corporate/en/legal/terms-of-use.html">Terms of Use</a></li>
        </ul>
      </div>
  
      <div class="fl-footer-disclaimer">
        <span>Fundamental Library is released under the Apache License 2.0</span>
        <span> © Copyright 2023, SAP SE</span>
      </div>
    </div>
  </footer>
