.fl-footer {
    clear: both;
  }
  .fl-footer-container {
    border-radius: 1rem;
    background-color: #cff1ff;
    width: 95%;
    height: auto;
    margin: 3rem auto 1rem;
    position: relative;
  }
  
  .fl-footer-container__left {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
  }
  .fl-footer-deskmessage {
    display: none;
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    color: #001e31;
  }
  
  .fl-footer-img1 {
    position: absolute;
  }
  .fl-footer-container__rigth {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 5rem;
    padding-bottom: 2rem;
    gap: 2rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
  }
  
  .fl-connect {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .fl-connect-icon {
    display: none;
  }
  .fl-footer-title {
    font-weight: 700;
  }
  
  .fl-connect-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
  }
  .fl-connect-list__firstrow {
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    list-style-type: none;
  }
  .fl-connect-list__secondrow {
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    list-style-type: none;
  }
  .fl-ourlibraries {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .fl-ourlibraries-icon {
      display: none;
      margin-left: 0rem;
    }
  .fl-ourlibraries-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .fl-resources {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .fl-resources-icon {
    display: none;
    margin-left: 0rem;
  }
  .fl-resources-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .fl-policieslist-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    row-gap: 1rem;
  }
  .fl-policies {
    margin-left: auto;
    margin-right: 1rem;
  }
  .fl-policies a{
    color: black;
  }
  .fl-footer-imgSAP {
    float: left;
    margin: 10.5rem 0 2rem 1rem;
  }
  .fl-footer-disclaimer {
    max-width: 60vw;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 400;
    color: #454749;
    margin-right: 1rem;
    margin-left: auto;
    margin-top: 3rem;
  }
  .fl-links a {
    color: black;
}
  
  @media (605px <= width <= 849px) {
    .fl-footer-container__rigth {
      justify-content: space-around;
      margin-left: 1rem;
    }
    .fl-links a {
        color: black;
    }
  }
  
  @media (width >= 850px) {
  
    .fl-footer-container {
      width: 98.2%;
      height: 22rem;
      margin: 1rem auto 0;
      position: relative;
    }
  
    .fl-footer-container__left {
      margin-top: 2rem;
      margin-left: 2rem;
      width: 40vw;
      height: 10rem;
    }
    .fl-footer-deskmessage {
      display: inline;
      font-size: 1.3rem;
    }
  
    .fl-footer-img1 {
      margin-top: 7rem;
    }
    .fl-footer-container__rigth {
      flex-wrap: nowrap;
      justify-content: space-around;
      column-gap: 2rem;
      margin-right: 5vw;
      margin-left: 45vw;
      display: flex;
      flex-direction: row;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  
    .fl-connect {
      margin-left: 0;
      margin-top: 0;
    }
    .fl-connect-icon {
      display: block;
    }
    .fl-connect-list {
      flex-direction: row;
      gap: 2rem;
    }
    .fl-connect-list__firstrow {
      flex-direction: column;
      gap: 1.5rem;
    }
    .fl-connect-list__secondrow {
      flex-direction: column;
      gap: 1.5rem;
    }
    .fl-ourlibraries-icon {
      display: block;
    }
    .fl-ourlibraries-list {
      gap: 1.5rem;
    }
    .fl-resources-icon {
      display: block;
    }
    .fl-resources-list {
      gap: 1.5rem;
    }
    .fl-footer-policies {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
      justify-content: space-between;
    }
    .fl-policies-list {
      display: flex;
      flex-direction: row;
      column-gap: 2rem;
      margin-left: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    .fl-policieslist-links {
      flex-direction: row;
      column-gap: 2rem;
      margin-bottom: 1rem;
    }
    .fl-links {
      margin-left: 0;
      margin-right: 0;
    }
    .fl-links a {
        color: black;
    }
    .fl-footer-imgSAP {
      margin: 0 0 0 0;
    }
    .fl-footer-disclaimer {
      max-width: 30vw;
      margin-right: 1rem;
      margin-top: 2rem;
    }
  }