<!--
identifier:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro identifier(properties={}, modifier={}, state={}, aria={}, classes="") -%}
<span class="{{ modifier.block | modifier('identifier') }}{{ ' sap-icon--'+properties.icon if properties.icon }}{{ state | state }}{{ classes | classes }}"{{ aria | aria }}>{{ properties.initials if properties.initials }}</span>
{%- endmacro %}
