{% extends "./layouts/page.njk" %}
{% set page_title = "Details 2" %}
{% set page_intro = "" %}
{% set is_landing_page = false %}
{% set is_editable_page = true %}

{% import "../layout/component.njk" as layout %}
{% from "../tabs/component.njk" import tabs %}
{% from "../form/component.njk" import form_item %}
{% from "../table/component.njk" import table %}
{% from "../action-bar/component.njk" import action_bar %}
{% from "../button/component.njk" import button %}
{% from "../tree/component.njk" import tree %}

{# SET CONTENT #}
{# tabs_data #}
{% set tabs_data = {
    items: [
        { label: "Home", selected: true },
        { label: "Profile" },
        { label: "Account" },
        { label: "Settings" }
    ]
} %}
{# home_panel #}
{%- set home_panel %}
<div class="fd-panel">
  <div class="fd-panel__header">
    <h2 class="fd-panel__title">Lorem ipsum</h2>
  </div>
  <div class="fd-panel__body fd-has-padding-left-none fd-has-padding-right-none fd-has-padding-top-none">

  {% set headers = ["Column Header", "Column Header", "Column Header", "Column Header"] %}
  {% set rows = ["Column Header", "Column Header", "Column Header", "Column Header"] %}

  {{  table({
          headers: headers,
          rows: [rows, rows, rows]
      })
  }}
  </div>
</div>
{%- endset %}
{% set details %}

{%- call layout.container() -%}
{%- call layout.col(6) %}
  {{ form_item(properties={
          label: "Identifier",
          value: "version 2.1.0" },
          state={ readonly: true })
  }}
  {{ form_item("textarea", { label: "Description" }) }}
  {{ form_item(properties={
          label: "YaaS Client",
          value: "subscriber.buildermodule123" },
          state={ readonly: true })
  }}
  {{ form_item(properties={
          label: "Last Updated",
          value: "Nov 7, 2017" },
          state={ readonly: true })
  }}

{%- endcall %}
{%- call layout.col(6) %}
{{ form_item(properties={
        label: "Display Name",
        placeholder: "My Module",
        message: "Enter name of the module, which will be displayed in Builder" },
        state={ required: true },
        modifier={
            message: "help"
        })
}}
{{ form_item(properties={
        label: "Description",
        placeholder: "https://example.com/module.json",
        message: "The absolute path URL of Builder Modules JSON file" },
        state={ required: true },
        modifier={
            message: "help"
        })
}}
{{ form_item(properties={
        label: "Owner",
        value: "username" },
        state={ readonly: true })
}}
{%- endcall %}
{%- endcall %}
{%- endset %}



{# col_card #}
{% set col_card %}
<div class="fd-card" role="button">
    <div class="fd-card__media fd-card__media--round" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="YaaS product thumbnail"></div>
    <div class="fd-card__content">
         <h2 class="fd-card__header">
             Asperiores doloribus id dolore
         </h2>
         <p class="fd-card__description">
             Consectetur adipisicing elit
         </p>
         <p class="fd-card__status">
             <span class="fd-has-color-status-1 fd-has-text-transform-uppercase">Cumque itaque</span>
         </p>
    </div>
</div>
{% endset %}
{# col_panel #}
{% set col_panel %}
{% call layout.panel() -%}
    {% call layout.panel_header({  title: "Panel Title" }) -%}
        {% call layout.panel_actions() -%}
        <button class="fd-button fd-button--text fd-button--small">
            <span class="fd-icon fd-icon--add" role="presentation"></span>
            Add
        </button>
        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_body() -%}
{{ col_card }}
{{ col_card }}
{{ col_card }}
    {%- endcall %}
    {% call layout.panel_footer() -%}
    <button href="#" class="fd-button--light" aria-role="button">See All</button>
    {%- endcall %}
{%- endcall %}
{% endset %}

{% block page_header -%}
{%- set backbtn %}{{
    button(
            { icon: 'backarrow' },
            modifier={ block: ['text','icon','large'] },
            aria={ label: 'Back' }
        )
}}{%- endset %}
{%- set actionbtn %}{{
    button(
            { label: 'Cancel', icon: 'close' },
            modifier={ block: ['text','action-bar'] }
        )
}}{%- endset %}
{%- set primarybtn %}{{
    button(
            { label: 'Save', icon: 'checked' },
            modifier={ block: ['action-bar'] }
        )
}}{%- endset %}
{{  action_bar(
        properties={
            navigation: backbtn,
            title: "Nulla Facilisi",
            actions: {
                properties: {
                    items: [actionbtn,actionbtn,actionbtn,primarybtn]
                }
            }
        },
        modifier={
            block: []
        },
        state={},
        aria={}
    )
}}

{%- endblock %}
{% block page_content %}

{%- call layout.section() %}
{{  tabs(
        properties={
            items: tabs_data.items,
            panels: [ { content: home_panel }, { content: "" }, { content: "" }, { content: "" } ]
        }
    )
}}
{%- endcall %}

{%- call layout.section() %}
  {%- call layout.section_header({title: "Details"}) %}
  {%- endcall %}
  <div class="fd-panel">

  <div class="fd-panel__body">
    {{details}}
  </div>
  </div>

{%- endcall %}
{%- call layout.section() %}
{% call layout.container() -%}
<div class="fd-panel" aria-busy="true">
    <div class="fd-spinner" aria-hidden="false" aria-label="Loading">
        <div></div>
    </div>

    <div class="fd-panel__header">
        <h3 class="fd-panel__title">Lorem ipsum</h3>
    </div>
    <!-- Loaded content goes here -->
    <div class="fd-panel__footer">
        <p><em>Etiam pulvinar turpis sed velit porttitor vel adipiscing velit fringilla.</em></p>
    </div>
</div>
{%- endcall %}
{%- endcall %}

{%- call layout.section() %}
{% call layout.container() -%}
{% call layout.col(6) -%}
{{ col_panel }}
{%- endcall %}
{% call layout.col(6) -%}
{{ col_panel }}
{%- endcall %}
{%- endcall %}
{%- endcall %}


{%- call layout.section() %}
{% call layout.container() -%}
{% call layout.panel() -%}
  {%- call layout.panel_header({title: "Details"}) %}
  {%- endcall %}
  {% call layout.panel_body(modifier=['full-bleed']) -%}
  {{ tree(data.tree.properties) }}
  {%- endcall %}
{%- endcall %}
{%- endcall %}
{%- endcall %}




{% endblock %}
