{% extends "./layouts/app.njk" %}

{# ui-level settings #}
{% set fix_ui_header = true %}

{% block styles -%}
<style>
  .fd-shell__header, .fd-shell__app, .fd-shell__footer {
    outline: dashed 1px red;
  }
  .fd-app, .fd-app__navigation, .fd-app__main {
    outline: dashed 1px blue;
  }
</style>
{%- endblock %}

{% block ui_header -%}
<span style="color: var(--fd-color-text-5)">.fd-shell__header.fd-shell__header--fixed</span>
{%- endblock %}
{% set hide_ui_footer = true %}
{% set fix_ui_footer = false %}
{% block ui_footer -%}
.fd-shell__footer
{%- endblock %}
{% set show_ui_overlay = false %}
{% block ui_overlay %}
ui_overlay
{% endblock %}

{# *************************
  app-level settings #}
{% set show_app_nav_horizontal = false %}
{% set show_app_nav_vertical = true %}
{% block app_navigation -%}
.fd-app__navigation.fd-app__navigation--horizontal
{%- endblock %}
{% block app_sidebar %}
.fd-app__navigation.fd-app__navigation--vertical
{% endblock %}
{% block app_main %}
.fd-app__main
{% endblock %}
