{% extends "./layouts/app.njk" %}

{# ui-level settings #}
{% set fix_ui_header = false %}
{% block ui_header -%}
ui_header
{%- endblock %}
{% set hide_ui_footer = false %}
{% set fix_ui_footer = false %}
{% block ui_footer -%}
ui_footer
{%- endblock %}
{% set show_ui_overlay = false %}
{% block ui_overlay %}
ui_overlay
{% endblock %}

{# app-level settings #}
{% set hide_app_sidebar = false %}
{% block app_sidebar %}
app_sidebar
{% endblock %}
{% block app_main %}
app_main
{% endblock %}
