{% extends "./layouts/module.njk" %}
{% set page_title = "Cards" %}
{% set page_intro = "Page level help message goes here" %}
{% set is_landing_page = true %}
{% set show_toolbar = true %}

{% import "../layout/component.njk" as layout %}

{% from "../label/component.njk" import label %}
{% from "../card/component.njk" import card %}
{% from "../card-group/component.njk" import card_group %}

{% set mediaCardItem = card({
        'title': 'user.name@email.com',
        'description': 'First name Last name',
        'status': label({label: "Inactive"}),
        'media': {
            'alt': 'YaaS product thumbnail',
            'image': 'https://techne.yaas.io/images/product-thumbnail-wide.png'
        }
    },
    modifier={
        media: ['round']
    },
    aria={
        role: 'button'
    })
%}

{% block page_content %}


{%- call layout.section() -%}
    {%- call layout.section_header() -%}
        {% call layout.section_actions() -%}
        <button class="tn-button tn-button--text tn-button--small">
            <span class="tn-icon tn-icon--add" role="presentation"></span>
            Add
        </button>
        {%- endcall %}
    {%- endcall %}
    {{  card_group(
          properties={
              items: [
              mediaCardItem, mediaCardItem, mediaCardItem, mediaCardItem, mediaCardItem, mediaCardItem, mediaCardItem, mediaCardItem, mediaCardItem
              ]
          }
      )
    }}
{%- endcall %}



{% endblock %}
