{% extends "./layouts/module.njk" %}
{% set page_title = "Empty Page" %}
{% set page_intro = "Optional page intro lorem ipsum dolor" %}
{% set is_landing_page = false %}
{% set show_toolbar = false %}

{% import "../layout/component.njk" as layout %}
{# {% from "../tree/component.njk" import tree %} #}


{% block page_content %}

{%- call layout.section() -%}
    <p class="fd-has-text-align-center fd-has-font-style-italic">
        <strong>There are no items on this page.</strong>
        </p>
        <p class="fd-has-text-align-center">
        <button class="fd-button fd-button--l sap-icon--add">
            Add New Item
        </button>
    </p>
{%- endcall %}

{% endblock %}
