{% extends "./layouts/module.njk" %}
{% import "../forms.njk" as forms %}
{% import "../layout/component.njk" as layout %}
{% from "./../toggle/component.njk" import toggle %}
{% from "./../button/component.njk" import button %}
{% from "./../button-group/component.njk" import button_group %}
{% from "./../dropdown/component.njk" import dropdown %}
{% from "./../menu/component.njk" import menu %}
{% from "./../token/component.njk" import token %}
{% from "./../combobox-input/component.njk" import combobox_input %}
{% from "./../date-picker/component.njk" import date_picker %}
{% from "./../input-group/component.njk" import input_group %}
{% from "./../localization-editor/component.njk" import localization_editor %}
{% from "./../multi-input/component.njk" import multi_input %}
{% from "./../search-input/component.njk" import search_input %}
{% from "./../time-picker/component.njk" import time_picker %}
{% from "./../button-group/component.njk" import button_group %}
{% import "./../utils.njk" as utils %}
{#
{%- set _id = utils.id() %}
#}

{% set hide_sidebar = true %}
{% block page_content %}



{% call layout.section() -%}
{% call layout.panel() -%}
  {% call layout.panel_header({ title: "Lorem ipsum dolor", description: "Suspendisse volutpat felis lectus nec consequat" }) -%}
      {% call layout.panel_actions() -%}

        {{ button({label: 'Filter',icon: 'add-filter' },modifier={block: ['standard','compact']}) }}
        {{ search_input(
            properties={
                value: "Ba",
                placeholder: "Placeholder Text"
            },
            size="compact",
            classes="has-display-inline-block")
        }}

        {{ dropdown(properties={
          label: "Newest",
          icon: "sort",
          body: menu(properties={
            items: [
                { "label": "Oldest" },
                { "label": "Last 90 Days" },
                { "label": "This Year" }
              ]
            })
        },modifier={ block: ['standard', 'compact'], button: btn })
        }}
        {% call button_group() -%}
          {{button({ icon: "grid" },size="compact",modifier={block: []},aria={  })}}
          {{button({ icon: "list" },size="compact",modifier={block: []},aria={ "pressed": true })}}
        {%- endcall %}
      {%- endcall %}
  {%- endcall %}
  {% call layout.panel_filters(aria={ hidden: false }) -%}
    {%- for i in range(0, 5) -%}
      {{  token({label: "Bibendum"}) }}
      {% endfor %}
      {{  button({label: 'Clear All'},modifier={block: ['secondary','s']}) }}
  {%- endcall %}
  {% call layout.panel_body() -%}


  {%- endcall %}
{%- endcall %}
{%- endcall %}




{% call layout.section() -%}
{% call layout.panel() -%}
{% call layout.panel_body() -%}
{% call layout.container() -%}

{% call layout.col(span=6) -%}
{# ////////////////////////// ------ #}


<h3>input[type=text]</h3>
<div class="fd-form__item fd-has-display-flex">
    {{ forms.text() }}
    {{ button({ label: "Dolor"}) }}
</div>

<div class="fd-form__item fd-has-display-flex">
    {{ forms.text(size="compact") }}
    {{ button({ label: "Dolor" }, size="compact") }}
</div>

<h3>textarea</h3>
<div class="fd-form__item fd-has-display-flex">
    {{ forms.textarea() }}
    {{ button({ label: "Dolor"}) }}
</div>

<div class="fd-form__item fd-has-display-flex">
    {{ forms.textarea(size="compact") }}
    {{ button({ label: "Dolor"}) }}
</div>


<h3>select</h3>
<div class="fd-form__item fd-has-display-flex">
    {{ forms.select() }} {{ button({ label: "Dolor"}) }}
</div>
<div class="fd-form__item fd-has-display-flex">
    {{ forms.select(size="compact") }}
    {{ button({ label: "Dolor" }, size="compact") }}
</div>

<h4>select[multiple]</h4>
<div class="fd-form__item fd-has-display-flex">
    {{ forms.select(state={ multiple: true }) }} {{ button({ label: "Dolor"}) }}
</div>
<div class="fd-form__item fd-has-display-flex">
    {{ forms.select(size="compact", state={ multiple: true }) }} {{ button({ label: "Dolor"}) }}
</div>

<h3>input[type=radio]</h3>
<div class="fd-form__item">
  {{ forms.radio() }}
  {{ forms.radio() }}
  {{ forms.radio() }}

  {{ button({ label: "Dolor"}) }}
</div>
<div class="fd-form__item">
        {{ forms.radio() }}
        {{ forms.radio() }}
        {{ forms.radio() }}
{{ button({ label: "Dolor"},size="compact") }}
</div>






<h3>.fd-input-group</h3>
<div class="fd-form__item">
{{ input_group(
    properties={
        after: "$",
        input: {
            properties: {
                value: "19387309"
            }
        }
    },
    modifier={
        block: "after",
        after: "after"
    })
}}
</div>
<div class="fd-form__item">
{{ input_group(
    properties={
        after: "$",
        input: {
            properties: {
                value: "19387309"
            }
        }
    },
    modifier={
        block: "after",
        after: "after"
    },size="compact")
}}
</div>

<div class="fd-form__item">
{{ input_group(
    properties={
        before: "km/h",
        input: {
            properties: {
                value: "19387309"
            }
        }
    },
    modifier={
        block: "before",
        before: "before"
    })
}}
</div>
<div class="fd-form__item">
{{ input_group(
    properties={
        before: "km/h",
        input: {
            properties: {
                value: "19387309"
            }
        }
    },
    modifier={
        block: "before",
        before: "before"
    },size="compact")
}}
</div>

<div class="fd-form__item">
{{ input_group(
    properties={
        after: "phone",
        input: {
            properties: {
                placeholder: "Field placeholder text"
            }
        }
    },
    modifier={
        block: ["inline", "after"],
        after: "after"
    })
}}
{{ input_group(
    properties={
        after: "fax",
        input: {
            properties: {
                placeholder: "Field placeholder text"
            }
        }
    },
    modifier={
        block: ["inline", "after"],
        after: "after"
    })
}}
{{ button({ label: "Dolor"}, modifier={ block: ["negative"]}) }}
</div>

<div class="fd-form__item">
{{ input_group(
    properties={
        after: "phone",
        input: {
            properties: {
                placeholder: "Field placeholder text"
            }
        }
    },
    modifier={
        block: ["inline", "after"],
        after: "after"
    },size="compact")
}}
{{ input_group(
    properties={
        after: "fax",
        input: {
            properties: {
                placeholder: "Field placeholder text"
            }
        }
    },
    modifier={
        block: ["inline", "after"],
        after: "after"
    },size="compact")
}}
{{ button({ label: "Dolor"},size="compact") }}

</div>

<div class="fd-form__item">
{{ input_group(
    type="number",
    properties={
        after: "",
        input: {
            properties: {
                value: "1000000", id: utils.id()
            }
        }
    },
    modifier={
        block: "after",
        after: "after"
    })
}}
</div>
<div class="fd-form__item">
{{ input_group(
    type="number",
    properties={
        after: "",
        input: {
            properties: {
                value: "1000000", id: utils.id()
            }
        }
    },
    modifier={
        block: "after",
        after: "after"
    },size="compact")
}}
</div>
<div class="fd-form__item">
{{ input_group(
    type="search",
    properties={
        input: {
            properties: {
                value: "1000008980283748972894732979327592739572394752397594657843657868436029840932840927349236572635876347239875283472893742980", id: utils.id()
            }
        }
    })
}}
</div>

<div class="fd-form__item">
{{ input_group(
    type="search",
    properties={
        input: {
            properties: {
                value: "1000008980283748972894732979327592739572394752397594657843657868436029840932840927349236572635876347239875283472893742980", id: utils.id()
            }
        }
    },size="compact")
}}
</div>


{# ------ ////////////////////////// #}
{%- endcall %}
{% call layout.col(span=6) -%}
{# ////////////////////////// ------ #}



<h3>.fd-combobox-input</h3>
<div class="fd-form__item">
{{combobox_input()}}
</div>

<div class="fd-form__item">
{{combobox_input(size="compact")}}
</div>

{{  toggle(
        properties=data.properties,
        state=data.state,
        aria=data.aria
    )
}}

<br><br>

<h3>.fd-date-picker</h3>
<div class="fd-form__item">
{{  date_picker(properties={
      month: 8,
      year: 2018,
      today: 6,
      dates: {
        daysOffset: 3,
        block: [25,29],
        selected: 15,
        disablePast: true
      }
  })
}}
</div>
<div class="fd-form__item">
{{  date_picker(properties={
      month: 8,
      year: 2018,
      today: 6,
      dates: {
        daysOffset: 3,
        block: [25,29],
        selected: 15,
        disablePast: true
      }
  },size="compact")
}}
</div>

<h3>.fd-search-input</h3>
<div class="fd-form__item">
{{ search_input(
    properties={
        value: "Ba",
        placeholder: "Placeholder Text"
    })
}}
</div>
<div class="fd-form__item">
{{ search_input(
    properties={
        value: "Ba",
        placeholder: "Placeholder Text"
    },size="compact")
}}
</div>


<h3>.fd-time-picker</h3>
<div class="fd-form__item">
{{  time_picker() }}
</div>
<div class="fd-form__item">
{{  time_picker(size="compact") }}
</div>



<h3>.fd-localization-editor</h3>
<div class="fd-form__item">
{{ localization_editor(properties=data.localization_editor.properties, size="compact") }}
</div>
<div class="fd-form__item">
{{ localization_editor(properties={ type: "textarea", items: data.localization_editor.properties.items }) }}


</div>
<h3>.fd-multi-input</h3>
<div class="fd-form__item">

{{ multi_input(
    properties={
        placeholder: "Placeholder Text"
    })
}}
</div>

<div class="fd-form__item">

{{ multi_input(
    properties={
        placeholder: "Placeholder Text"
    },size="compact")
}}
</div>




{# ------ ////////////////////////// #}
{%- endcall %}








{%- endcall %}
{%- endcall %}
{%- endcall %}
{%- endcall %}


{% endblock %}
