{% extends "./layouts/page.njk" %}
{% set page_title = "Details 2" %}
{% set page_intro = "" %}
{% set hide_app_sidebar = true %}
{% set is_editable_page = false %}

{% import "../layout/component.njk" as layout %}
{% from "../tabs/component.njk" import tabs %}
{% from "../form/component.njk" import form_item %}
{% from "../table/component.njk" import table %}
{% from "../action-bar/component.njk" import action_bar %}
{% from "../button/component.njk" import button %}
{% from "../tree/component.njk" import tree %}



{% block page_header %}



{% set breakpoints = {
  "s": [320,"320-599"],
  "m": [600,"600-1023"],
  "l": [1024,"1024-1439"],
  "xl": [1440,"1440-1919"],
  "xxl": [1920,">1920"]
} %}
<style>
.fd-shell__header::before {
  content: "default: <320px";
  font-size: 2em;
  background-color: white;
}
{% for size,width in breakpoints %}

@media screen and (min-width: {{width[0]}}px) {
  .fd-shell__header::before {
    content: "{{size}}: {{width[1]}}px";
  }
}
{% endfor %}
</style>


{% endblock %}



{# SET CONTENT #}

{% macro div(content="", color=2) %}
<div class="fd-has-background-color-accent-{{color}} fd-has-color-text-5" style="height: 50px;">{{content}}</div>
{%- endmacro %}


{% set cols %}

  {%- call layout.container() -%}
      {%- for i in range(1,13) %}
          {%- call layout.col(1) %}
          {{div(i)}}
          {% endcall %}
      {%- endfor %}
  {%- endcall %}
  {%- call layout.container() -%}
      {%- for i in range(1,7) %}
          {%- call layout.col(2) %}
          {{div(i)}}
          {% endcall %}
      {%- endfor %}
  {%- endcall %}

  {%- call layout.container() -%}
      {%- for i in range(1,5) %}
          {%- call layout.col(3) %}
          {{div(i)}}
          {% endcall %}
      {%- endfor %}
  {%- endcall %}

    {%- call layout.container() -%}
        {%- for i in range(1,4) %}
            {%- call layout.col(4) %}
            {{div(i)}}
            {% endcall %}
        {%- endfor %}
    {%- endcall %}

    {%- call layout.container() -%}
        {%- for i in range(1,3) %}
            {%- call layout.col(6) %}
            {{div(i)}}
            {% endcall %}
        {%- endfor %}
    {%- endcall %}

    {%- call layout.container() -%}
        {%- for i in range(1,13) %}
            {%- call layout.col(1) %}
            {{div(i)}}
            {% endcall %}
        {%- endfor %}
    {%- endcall %}

    {%- call layout.container() -%}
            {%- call layout.col(11, classes="col--shift-1") %}
            {{div(i)}}
            {% endcall %}
    {%- endcall %}
    {%- call layout.container() -%}
            {%- call layout.col(6, classes="col--shift-3") %}
            {{div(i)}}
            {% endcall %}
            {%- call layout.col(1, classes="col--shift-1") %}
            {{div(i)}}
            {% endcall %}
    {%- endcall %}

{%- endset %}

{% set cols_fluid %}

  {%- call layout.container(modifier="fluid") -%}
      {%- for i in range(1,13) %}
          {%- call layout.col(1) %}
          {{div(i,7)}}
          {% endcall %}
      {%- endfor %}
  {%- endcall %}
  {%- call layout.container(modifier="fluid") -%}
      {%- for i in range(1,7) %}
          {%- call layout.col(2) %}
          {{div(i,7)}}
          {% endcall %}
      {%- endfor %}
  {%- endcall %}

  {%- call layout.container(modifier="fluid") -%}
      {%- for i in range(1,5) %}
          {%- call layout.col(3) %}
          {{div(i,7)}}
          {% endcall %}
      {%- endfor %}
  {%- endcall %}

    {%- call layout.container(modifier="fluid") -%}
        {%- for i in range(1,4) %}
            {%- call layout.col(4) %}
            {{div(i,7)}}
            {% endcall %}
        {%- endfor %}
    {%- endcall %}

    {%- call layout.container(modifier="fluid") -%}
        {%- for i in range(1,3) %}
            {%- call layout.col(6) %}
            {{div(i,7)}}
            {% endcall %}
        {%- endfor %}
    {%- endcall %}

    {%- call layout.container(modifier="fluid") -%}
        {%- for i in range(1,13) %}
            {%- call layout.col(1) %}
            {{div(i,7)}}
            {% endcall %}
        {%- endfor %}
    {%- endcall %}

    {%- call layout.container(modifier="fluid") -%}
            {%- call layout.col(11, classes="col--shift-1") %}
            {{div(i,7)}}
            {% endcall %}
    {%- endcall %}
    {%- call layout.container(modifier="fluid") -%}
            {%- call layout.col(6, classes="col--shift-3") %}
            {{div(i,7)}}
            {% endcall %}
            {%- call layout.col(1, classes="col--shift-1") %}
            {{div(i,7)}}
            {% endcall %}
    {%- endcall %}

{%- endset %}





{% block page_content %}


{%- call layout.section() %}
{{cols}}
{%- endcall %}



{%- call layout.section() %}
  <div class="fd-panel">
    <div class="fd-panel__body">
      {{cols_fluid}}
    </div>
  </div>
{%- endcall %}


{%- call layout.section() %}
{% call layout.container() -%}
<div class="fd-panel">
  <div class="fd-panel__body">
      {{cols}}
  </div>
</div>
{%- endcall %}
{%- endcall %}



{%- call layout.section() %}
{{cols_fluid}}
{%- endcall %}



{% endblock %}
