{% extends "./layouts/app.njk" %}
{% from "./../modal/component.njk" import modal %}
{% from "./../button/component.njk" import button %}
{# ui-level settings #}
{% set fix_ui_header = true %}
{% set hide_ui_footer = true %}
{% block ui_header -%}
<span style="color: var(--fd-color-text-5)">.fd-shell__header.fd-shell__header--fixed</span>
{%- endblock %}

{% block ui_footer -%}
.fd-shell__footer
{%- endblock %}
{% set show_ui_overlay = true %}
{% set overlay_modifier = "fd-overlay--modal" %}
{% block ui_overlay %}
{# ui_overlay #}


  {{  modal(
        properties={
            header: "Modal Header",
            body: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
            actions: [
              {type: 'primary', label: 'Confirm'},
              {type: 'secondary', label: 'Cancel'}          
            ]
          }
      )
  }}



{% endblock %}

{# app-level settings #}
{% block app_main %}
.fd-shell__app
{% endblock %}
