{% extends "./layouts/module.njk" %}

{# ui-level settings #}
{%- set fix_ui_header = false %}
{% block ui_header -%}
ui_header
{%- endblock %}
{%- set hide_ui_footer = false %}
{%- set fix_ui_footer = false %}
{% block ui_footer -%}
ui_footer
{%- endblock %}
{%- set show_ui_overlay = false %}
{% block ui_overlay %}
ui_overlay
{% endblock %}

{# app-level settings #}
{%- set hide_app_sidebar = false %}
{% block app_sidebar %}
app_sidebar
{% endblock %}

{# page-level settings #}
{%- set hide_page_header = false %}
{%- set is_landing_page = false %}
{%- set is_editable_page = false %}
{%- set show_toolbar = false %}
{% block page_header %}
page_header
{% endblock %}
{%- set hide_page_footer = false %}
{%- set page_title = "page_title" %}
{%- set page_intro = "page_intro" %}
{% block page_content -%}
page_content
{%- endblock %}
