{% extends "./layouts/page.njk" %}
{% from "./../format.njk" import format, code %}
{% import "../layout/component.njk" as layout %}

{% from "../tree/component.njk" import tree %}
{% from "../table/component.njk" import table %}

{% set hide_app_sidebar = false %}
{% set hide_page_header = true %}
{% block page_content %}

{% set panel %}
{% call layout.panel() -%}
    {% call layout.panel_header({ title: ".fd-panel__title" }) -%}
        {% call layout.panel_actions() -%}
.fd-panel__actions
        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_body() -%}
      <h1>.fd-panel</h1>
      <p>Very much like a <code>.fd-section</code> but intended to be used inside of a column.</p>
      <p>A <code>.fd-panel</code> should only be used when a title, actions and/or footer are needed with the content, otherwise the content can be placed directly inside the <code>.fd-col</code></p>
    {%- endcall %}
    {% call layout.panel_footer() -%}
.fd-panel__footer
    {%- endcall %}
{%- endcall %}
{% endset %}



<div class="fd-has-background-color-neutral-2">
{% call layout.section() -%}
{% call layout.container() -%}
    {% call layout.col(6) -%}

{{panel}}

    {%- endcall %}
    {% call layout.col(6) -%}

{{panel}}

    {%- endcall %}

{%- endcall %}
{%- endcall %}
</div>

{% set badgetitle %}
Vivamus sagittis <span class="fd-badge fd-badge--success">Active</span>
{% endset %}
{% set card %}
<div class="fd-card" role="button">
    <div class="fd-card__media fd-card__media--round" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="YaaS product thumbnail"></div>
    <div class="fd-card__content">
         <h2 class="fd-card__header">
             Asperiores doloribus id dolore
         </h2>
         <p class="fd-card__description">
             Consectetur adipisicing elit
         </p>
         <p class="fd-card__status">
             <span class="fd-has-color-status-1">Cumque itaque</span>
         </p>
    </div>
</div>
{% endset %}

{% set panel_2 %}
{% call layout.panel() -%}
    {% call layout.panel_header({  title: badgetitle }) -%}
        {% call layout.panel_actions() -%}
        <button class="fd-button fd-button--text fd-button--small">
            <span class="fd-icon fd-icon--add" role="presentation"></span>
            Add New Item
        </button>
        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_body() -%}
      {{ card }}
      {{ card }}
      {{ card }}
    {%- endcall %}
    {% call layout.panel_footer() -%}
<a href="#" class="fd-button fd-button--link">See All</a>
    {%- endcall %}
{%- endcall %}
{% endset %}

{% call layout.section() -%}

{% call layout.container() -%}
    {% call layout.col(6) -%}

{{panel_2}}

    {%- endcall %}
    {% call layout.col(6) -%}

{{panel_2}}

    {%- endcall %}

{%- endcall %}
{%- endcall %}


<hr>

<section class="fd-section">
    <div class="fd-section__header">
        <h1 class="fd-section__title">
            Code
        </h1>
    </div>

{%- set code_example %}
{% call layout.panel() -%}
    {% call layout.panel_header({ title: "//title (optional)" }) -%}
        {% call layout.panel_actions() -%}
//buttons (optional)
        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_body() -%}
//panel body
    {%- endcall %}
    {% call layout.panel_footer() -%}
//link or info (optional)
    {%- endcall %}
{%- endcall %}
{% endset %}
<pre>
{{code_example | e | trim }}
</pre>


{% endblock %}
