{% extends "./layouts/page.njk" %}
{% from "./../format.njk" import format, code %}
{% import "../layout/component.njk" as layout %}
{% import "./../utils.njk" as utils %}
{% from "../tree/component.njk" import tree %}
{% from "../table/component.njk" import table %}
{% from "../token/component.njk" import token %}
{% from "../button/component.njk" import button %}
{% from "../button-group/component.njk" import button_group %}
{% from "../pagination/component.njk" import pagination %}
{% from "../dropdown/component.njk" import dropdown %}
{% from "../menu/component.njk" import menu %}

{% set hide_app_sidebar = false %}
{% set hide_page_header = true %}
{% block page_content %}

{%- set _id = utils.id() %}

{% set panel %}
{% call layout.panel() -%}
    {% call layout.panel_header({ title: ".fd-panel__title", description: ".fd-panel__description" }) -%}
        {% call layout.panel_actions() -%}
.fd-panel__actions
        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_body() -%}
      <p>.fd-panel__body</p>
      <p>Very much like a <code>.fd-section</code> but intended to contain content.</p>
      <p>Use <code>.fd-col</code>s when multiple panels are needed in a column structure.</p>
    {%- endcall %}
    {% call layout.panel_footer() -%}
.fd-panel__footer
    {%- endcall %}
{%- endcall %}
{% endset %}


{% set panel_filters %}
{% call layout.panel() -%}
    {% call layout.panel_header({ title: ".fd-panel__title", description: ".fd-panel__description" }) -%}
        {% call layout.panel_actions() -%}
.fd-panel__actions
        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_filters(aria={ hidden: false }) -%}
.fd-panel__filters
    {%- endcall %}
    {% call layout.panel_body() -%}
      .fd-panel__body
    {%- endcall %}
    {% call layout.panel_footer() -%}
.fd-panel__footer
    {%- endcall %}
{%- endcall %}
{% endset %}

{# //////////////////////// #}

{% call layout.section() -%}
{% call layout.section_header({ title: "<code>.fd-panel</code>"}) -%}
{%- endcall %}
{% call layout.container() -%}

{{panel}}

{%- endcall %}
{%- endcall %}


{# //////////////////////// #}



{% call layout.section() -%}
{% call layout.container() -%}
    {% call layout.col(6) -%}

{{panel}}

    {%- endcall %}
    {% call layout.col(6) -%}

{{panel}}

    {%- endcall %}

{%- endcall %}
{%- endcall %}



{# //////////////////////// #}

{% call layout.section() -%}
{% call layout.section_header({ title: "<code>.fd-panel</code> with filters"}) -%}
{%- endcall %}
{% call layout.container() -%}

{{panel_filters}}

{%- endcall %}
{%- endcall %}



{# //////////////////////// #}

{%- set tokens %}
{%- for i in range(0, 5) -%}
{{  token({label: "Bibendum"}) }}
{% endfor %}
{{  button({label: 'Clear All'},modifier={block: ['secondary','s']}) }}
{% endset %}

{% set panel_filters_items = [
    {
        "label": "Color",
        "items": [
            { "label": "Option 1" },
            { "label": "Option 2" },
            { "label": "Option 3" }
        ]
    },
    {
        "label": "Size",
        "items": [
            { "label": "Option 1" },
            { "label": "Option 2" },
            { "label": "Option 3" }
        ]
    }

] %}

{% set panel_filters_content %}

{% call layout.panel() -%}
    {% call layout.panel_header({ title: "Items (1180)", description: "Lorem ipsum dolor sit amet" }) -%}
        {% call layout.panel_actions() -%}

          {{ dropdown(
              properties={
                  label: "Newest",
                  icon: "sort",
                  body: menu(properties={
                          items: [
                              { "label": "Option 1" },
                              { "label": "Option 2" },
                              { "label": "Option 3" },
                              { "label": "Option 4" }
                          ]
                        })
               },
               modifier={ block: ['standard','compact'] })
          }}

        {{  button({label: 'Filter',icon: 'filter' }, modifier={block: ['standard','compact']}, aria={ controls: _id, haspopup: true, expanded: false, label: "Filter" }) }}
{% call button_group() -%}
{{button({ icon: "grid" },size="compact",modifier={block: []},aria={  })}}
{{button({ icon: "list" },size="compact",modifier={block: []},aria={ "pressed": true })}}


{%- endcall %}
        {# {{  button_group(
          properties={
            label: "Show as",
            buttons: [
              { "properties": { "icon": "grid" }, "modifier": { block: ["grouped","s" ] }, "aria": { "pressed": true } },
              { "properties": { "icon": "list" }, "modifier": { block: ["grouped","s" ] } }
            ]
          })
        }} #}


        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_filters(properties={id: _id}, aria={ hidden: true }) -%}
{% for item in panel_filters_items %}
{{ dropdown(item, modifier={block: "s"}) }}
{% endfor %}

    {%- endcall %}
    {% call layout.panel_filters(aria={ hidden: false }) -%}
{{tokens}}
    {%- endcall %}
    {% call layout.panel_body() -%}
      .fd-panel__body
    {%- endcall %}
    {% call layout.panel_footer() -%}
    {{  pagination(data.pagination.properties) }}

    {%- endcall %}
{%- endcall %}
{% endset %}




{% call layout.section() -%}
{% call layout.section_header({ title: "Example <code>.fd-panel</code> with content"}) -%}
{%- endcall %}
{% call layout.container() -%}

{{panel_filters_content}}

{%- endcall %}
{%- endcall %}

{# //////////////////////// #}




{% set badgetitle %}
Vivamus sagittis <span class="fd-badge fd-badge--success">Active</span>
{% endset %}
{% set card %}
<div class="fd-card" role="button">
    <div class="fd-card__media fd-card__media--round" style="background-image: url(https://techne.yaas.io/images/product-thumbnail-wide.png)" aria-label="YaaS product thumbnail"></div>
    <div class="fd-card__content">
         <h2 class="fd-card__header">
             Asperiores doloribus id dolore
         </h2>
         <p class="fd-card__description">
             Consectetur adipisicing elit
         </p>
         <p class="fd-card__status">
             <span class="fd-has-color-status-1">Cumque itaque</span>
         </p>
    </div>
</div>
{% endset %}

{% set panel_2 %}
{% call layout.panel() -%}
    {% call layout.panel_header({  title: badgetitle, description: "Lorem ipsum dolor sit amet" }) -%}
        {% call layout.panel_actions() -%}
        <button class="fd-button fd-button--s sap-icon--add">
            Add New Item
        </button>
        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_body() -%}
      {{ card }}
      {{ card }}
      {{ card }}
    {%- endcall %}
    {% call layout.panel_footer() -%}
<button class="fd-button--light">See All</button>
    {%- endcall %}
{%- endcall %}
{% endset %}

{% call layout.section() -%}

{% call layout.container() -%}
    {% call layout.col(6) -%}

{{panel_2}}

    {%- endcall %}
    {% call layout.col(6) -%}

{{panel_2}}

    {%- endcall %}

{%- endcall %}
{%- endcall %}


<hr>

<section class="fd-section">
    <div class="fd-section__header">
        <h1 class="fd-section__title">
            Code
        </h1>
    </div>

{%- set code_example %}
{% call layout.panel() -%}
    {% call layout.panel_header({ title: "//title (optional)" }) -%}
        {% call layout.panel_actions() -%}
//buttons (optional)
        {%- endcall %}
    {%- endcall %}
    {% call layout.panel_filters() -%}
//panel filters (optional)
    {%- endcall %}
    {% call layout.panel_body() -%}
//panel body
    {%- endcall %}
    {% call layout.panel_footer() -%}
//link or info (optional)
    {%- endcall %}
{%- endcall %}
{% endset %}
<pre>
{{code_example | e | trim }}
</pre>


{% endblock %}
