{% extends "./layouts/app.njk" %}
{% from "./../shellbar/component.njk" import shell_header %}

{# ui-level settings #}
{% set fix_ui_header = true %}
{# {% set fix_ui_footer = true %} #}

{% block ui_header -%}
<span style="color: var(--fd-color-text-1)">.fd-shell__header.fd-shell__header--fixed</span>
{%- endblock %}
{% block ui_footer -%}
.fd-shell__footer
{%- endblock %}
{% block ui_app %}
.fd-shell__app
{% endblock %}
