{% extends "./layouts/app.njk" %}
{% from "./../shellbar/component.njk" import shellbar %}

{# ui-level settings #}
{% set fix_ui_header = true %}
{# {% set fix_ui_footer = true %} #}

{% block styles -%}
<style>
  .fd-shell__header, .fd-shell__app, .fd-shell__footer {
    outline: dashed 1px red;
  }
</style>
{%- endblock %}

{% block ui_header -%}
<span style="color: var(--fd-color-text-5)">.fd-shell__header.fd-shell__header--fixed</span>
{%- endblock %}
{% block ui_footer -%}
.fd-shell__footer
{%- endblock %}
{% block ui_app %}
.fd-shell__app
{% endblock %}
