{% extends "./layouts/module.njk" %}
{% set page_title = "Starter" %}
{% set page_intro = "Page level help message goes here" %}
{% set is_landing_page = true %}
{% set show_toolbar = true %}

{% import "../layout/component.njk" as layout %}
{% block page_content %}


{%- call layout.section() -%}
    {%- call layout.section_header() -%}
        {% call layout.section_actions() -%}
        <button class="tn-button tn-button--text tn-button--small">
            <span class="tn-icon tn-icon--add" role="presentation"></span>
            Add
        </button>
        {%- endcall %}
    {%- endcall %}


{%- endcall %}



{% endblock %}
