{% extends "./layouts/ui.njk" %}
{% block ui_app %}


{% set breakpoints = {
  "xs": 320,
  "s": 800,
  "m": 1024,
  "l": 1440,
  "xl": 1580
} %}
<style>
{% for size,width in breakpoints %}
@media screen and (min-width: {{width}}px) {
  .fd-ui__header::before {
    content: "{{size}}: {{width}}px";
    font-size: 2em;
    background-color: white;
  }
}
{% endfor %}

.fd-container{ flex:1; margin:40px;}
</style>

{% set colors = {

  "action": [
    "hsl(210, 91%, 43%) / #0A6ED1 branded action",
    "hsl(210, 0%, 100%) #FFFFFF inverse action"
  ],

  "text": [
    "hsl(210, 7.5%, 21%) / #32363A default text",
    "hsl(210, 5%, 33.5%) / #515559",
    "hsl(210, 2.8%, 42.7%) / #6a6d70",
    "hsl(210, 2.6%, 46.8%) / #74777A",
    "hsl(210, 0%, 100%) / #ffffff inverse text"
  ],

  "background": [
    "hsl(210, 9%, 93.5%) / #EDEFF0 body background",
    "hsl(210, 9%, 93.5%) / #EDEFF0 body background"
  ],

  "neutral": [
    "hsl(210, 3%, 98%) / #FAFAFA",
    "hsl(210, 3%, 93.5%) / #EEEEEF",
    "hsl(0, 0%, 85%) / #D9D9D9",
    "hsl(212, 8%, 57%) / #89919A"
  ],

  "status": [
    "hsl(145, 78%, 28%) / #107F3E positive",
    "hsl(28, 90%, 48%) / #E9730C alert",
    "hsl(0, 100%, 37%) / #BB0000 negative",
    "hsl(191, 5%, 45%) / #6D7678 neutral"
  ],

  "accent": [
    "hsl(34, 82%, 49%) / #E38B16" ,
    "hsl(0, 60%, 66%) / #DC7474",
    "hsl(332, 75%, 49%) / #DB1F77",
    "hsl(315, 54%, 49%) / #C0399F",
    "hsl(238, 65%, 63%) / #6367DE",
    "hsl(210, 64%, 60%) / #5899DA",
    "hsl(186, 81%, 39%) / #13A4B4",
    "hsl(75, 86%, 34%) / #7CA10C",
    "hsl(269, 54%, 59%) / #955ECF",
    "hsl(197, 15%, 50%) / #6C8893",
    "hsl(34, 82%, 45%) / #D17F15",
    "hsl(0, 60%, 54%) / #D04343",
    "hsl(210, 64%, 47%) / #2B78C5",
    "hsl(186, 81%, 31%) / #0F828F",
    "hsl(206, 15%, 46%) / #647887"
    ],

    "shell": [
      "hsl(210, 28.4%, 29%) / #354A5F background",
      "hsl(210, 100%, 91%) / #D1E8FF icons"
    ]

} %}

{% set states = {
  "action": [
    ["hover", "hsla(210, 91%, 36%, 1) / #085caf"],
    ["selected", "hsla(210, 98%, 33%, 1) / #0254a7"],
    ["disabled", "hsla(210, 91%, 43%, 0.4) / n/a"]
  ],
  "background": [
    ["hover", "hsla(210, 3%, 98%, 1) / #fafafa"],
    ["selected", "hsla(210, 91%, 43%, 0.07) / n/a"],
    ["selected-hover", "hsla(210, 91%, 43%, 0.1) / n/a"],
    ["positive", "hsla(144.86486, 77.62238%, 94.03922%, 1) / #e4fcee"],
    ["alert", "hsla(28, 87%, 97%, 1) / #fef7f1"],
    ["negative", "hsla(0, 100%, 95.66667%, 1) / #ffe9e9"]
  ]
} %}

<div class="fd-container">

    <h1>Color</h1>
{% for group, values in colors %}
  <h2>{{ group }}</h2>

  {% for item in values %}
  {% if group == "accent" %}
    <h3>
      {% if loop.first%}
        3:1
      {% endif %}
{% if loop.index == 11 %}
  4.5:1
{% endif %}
    </h3>
  {% endif %}
    <span>{{ loop.index }} - {{ item }}</span>

<br>    <div style="padding: 20px; border: 1px solid #ccc; background-color: var(--fd-color-{{ group }}-{{ loop.index }})">
    </div>
<br>
  {% endfor %}

{% endfor %}


{% for group, values in states %}
  <h1>State Colors</h1>
  <h2>{{ group }}</h2>
  {% for item in values %}
    {% set cssvar %}
    --fd-color-{{ group }}-{{ item[0] }}
    {% endset %}

    <span>{{ item[0] }} — {{ item[1] }} / var({{cssvar}})</span>

    <br> <div style="padding: 20px; border: 1px solid #ccc; background-color: var({{cssvar}})">
        </div>
    <br>
  {% endfor %}

{% endfor %}


{#
<h2>Mixins</h2>
<h3><code>@mixin fd-color($group, $shade)</code></h3>
 #}

</div>

{% set spaces = {
  "base": [4, ""],
  "xxs": [8, "tiny"],
  "xs": [12, ""],
  "s": [16, "small"],
  "reg": [24, ""],
  "m": [32, "medium"],
  "l": [46, ""],
  "xl": [40, ""],
  "xxl": [48, "large"]
} %}


<div class="fd-container">

    <h1>Spacing</h1>
{% for key, value in spaces %}


      <h2 style="margin-bottom:0;">
<span class="fd-has-type-1">{{ key }} — {{value[0]}}px</span>
  {{value[1]}}
        </h2>
    {% set color = "accent-3" if value[1] else "neutral-3" %}

    <div class="fd-has-height-{{ key }} fd-has-background-color-{{color}}">
    </div>
    <br>
    {# <p>{{ value }}px</p> #}
{% endfor %}
{#
<h2>Mixins</h2>
<h3><code>@mixin fd-space($size)</code></h3>
 #}

</div>




{% set specs = {
    "-1": [ 12, 16 ],
    "0": [ 14, 20 ],
    "1": [ 16, 20 ],
    "2": [ 18, 24 ],
    "3": [ 20, 28 ],
    "4": [ 24, 32 ],
    "5": [ 36, 40 ],
    "6": [ 48, 52 ]
} %}



<div class="fd-container">

    <h1>Type Sizes</h1>


    {% for i in ["-1","0","1","2","3","4","5","6"] | reverse %}
    {% set type = specs[i] %}
        <h2 style="margin-bottom:0;">{{i}}</h2>
<p>
  <code>
font-size: {{ (type[1]/16) | round(5) }}rem //{{ type[0] }}px, <br>
line-height:
  {{ (type[1]/type[0]) | round(5) }} //{{ type[1] }}px
  </code>
         </p>
        <p class="fd-has-type{{ '-minus' if i < 0 }}-{{ i | abs if i != 0 else 'base' }}">
          {% if i == "5" %}
            {# <s> #}
          {% endif %}Grumpy wizards make toxic brew for the evil Queen and Jack wizards make toxic brew for the evil Queen and Jack
          {% if i == "5" %}
        {# </s> #}
          {% endif %}
        </p>
        <br>

    {% endfor %}

<p>
  <strong>body</strong><br>
  {{specs["0"][0]}}px/{{specs["1"][1]}}
</p>
        <p>
    Nullam ut tincidunt nunc. Pellentesque metus lacus commodo eget justo ut rutrum varius nunc. Sed non rhoncus risus. Morbi sodales gravida pulvinar. Duis malesuada odio volutpat elementum vulputate massa magna scelerisque ante et accumsan tellus nunc in sem. Donec mattis arcu et velit aliquet non sagittis justo vestibulum. Suspendisse volutpat felis lectus nec consequat ipsum mattis id.
    </p><p>
    Donec dapibus vehicula facilisis. In tincidunt mi nisi nec faucibus tortor euismod nec. Suspendisse ante ligula aliquet vitae libero eu vulputate dapibus libero. Sed bibendum sapien at posuere interdum libero est sollicitudin magna ac gravida tellus purus eu ipsum. Proin ut quam arcu.

        </p>


{#
    <h2>Mixins</h2>
    <h3><code>@mixin fd-type($size, $weight)</code></h3>
    <p>Each type size has default family, weight and transform rules built in. Passing the size alone will return all default rules.</p>
    <p>Example:<br>
    <pre>
    .foo {
        @include fd-type("4");
    }
    </pre>
    </p>
    <p>
    Additional arguments can be passed to the mixin.
    </p>
    <p>Example:<br>
    <pre>
    .small-header {
        @include fd-type("-1");
    }
    </pre>
    <table>
        <tr>
            <td colspan="2">
                Acceptable arguments
            </td>
        </tr>
        <tr>
            <td>$size</td>
            <td>-1,0 (default),1,2,3,4,5,6</td>
        </tr>
        <tr>
            <td>$weight</td>
            <td>normal, med, semi</td>
        </tr>
    </table>



    <h3><code>@mixin fd-weight($weight)</code></h3>
    <p>
    Mofify the font-weight independently.
    </p>
    <table>
        <tr>
            <td colspan="2">
                Acceptable arguments
            </td>
        </tr>
        <tr>
            <td>$weight</td>
            <td>light, reg (default), med, semi, bold</td>
        </tr>
    </table>


    <h2>Helpers</h2>
    <p>These classes are also available to apply all default rules. Use sparingly.</p>


    <h3>Sizes</h3>

    {% for i in [-3,-2,-1,0,1,2,3,4,5] | reverse %}
    <p>
          <code>.fd-has-type{{ '-minus' if i < 0 }}-{{ i | abs }}{% if i == 0 %}, .fd-has-type-base{% endif %}</code>
        <br>
    </p>
    {% endfor %} #}



</div>

<div class="fd-container">
  <h1>Fonts</h1>

  {% for i in ['header', 'body', 'code'] %}
      <span>
           <code>.fd-has-font-family-{{ i }}</code>
      </span>
      <p class="fd-has-type-3 fd-has-font-family-{{ i }}">Grumpy wizards make toxic brew for the evil Queen and Jack</p>
      <br>
  {% endfor %}

  <h2 class="fd-has-font-family-body">72</h2>
  <p class="fd-has-font-family-body">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
  a b c d e f g h i j k l m n o p q r s t u v w x y z
  1 2 3 4 5 6 7 8 9 0
  ​‘ ? ’ “ ! ” ( % ) [ # ] { @ } / & \ < - + ÷ × = > ® © $ € £ ¥ ¢ : ; , . *</p>
</div>

{% endblock %}
