{% extends "./layouts/module.njk" %}
{% set page_title = "Table" %}
{% set page_intro = "Page level help message goes here" %}
{% set is_landing_page = false %}
{% set show_toolbar = true %}

{% import "../layout/component.njk" as layout %}
{% from "../table/component.njk" import table %}

{% block page_content %}

{%- call layout.section(modifier="full-bleed") -%}
    {%- call layout.section_header() -%}
        {% call layout.section_actions() -%}
        <button class="tn-button tn-button--text tn-button--small">
            <span class="tn-icon tn-icon--add" role="presentation"></span>
            Add
        </button>
        {%- endcall %}
    {%- endcall %}

    {% set headers = ["", "Column Header", "Column Header", "Column Header", "Column Header"] %}
    {% set image_row = ['<img src="http://api.adorable.io/avatars/50/rodney.artichoke@hybris.com.png" class="tn-has-border-radius-50percent" width="32" height="32">', '<a class="tn-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}

    {% set checkbox_row = ['<input type="checkbox">', '<a class="tn-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}
    {% set checkbox_row_selected = ['<input type="checkbox" checked>', '<a class="tn-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}

    <!-- output the component example and the code snippet -->
    {{  table({
            headers: headers,
            rows: [image_row, image_row, image_row]
        })
    }}

    {{  table({
            headers: headers,
            rows: [checkbox_row_selected, checkbox_row, checkbox_row],
            selectedRow: 1
        })
    }}


{%- endcall %}





{% endblock %}
