{% extends "./layouts/module.njk" %}
{% set page_title = "Table" %}
{% set page_intro = "Optional page intro lorem ipsum dolor" %}
{% set is_landing_page = false %}
{% set show_toolbar = true %}
{% set page_floorplan = "list" %}

{% import "../layout/component.njk" as layout %}
{% from "../dropdown/component.njk" import dropdown %}
{% from "../button/component.njk" import button %}
{% from "../button-group/component.njk" import button_group %}
{% from "../table/component.njk" import table %}
{% from "../token/component.njk" import token %}
{% from "../menu/component.njk" import menu %}
{% from "../pagination/component.njk" import pagination %}

{% set headers = ["", "Column Header", "Column Header", "Column Header", "Column Header"] %}
{% set image_row = ['<img src="./static/nature.jpg" class="fd-has-border-radius-50percent" width="32" height="32">', '<a class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}

{% set checkbox_row = ['<input type="checkbox">', '<a class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}
{% set checkbox_row_selected = ['<input type="checkbox" checked>', '<a class="fd-has-font-weight-semi">user.name@email.com</a>', 'First Name', 'Last Name', '01/26/17'] %}
{% set table_example %}
    {{  table({
            headers: headers,
            rows: [checkbox_row_selected, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row],
            selectedRow: 1
        })
    }}
{% endset %}

{%- set tokens %}
{%- for i in range(0, 5) -%}
{{  token({label: "Bibendum"}) }}
{% endfor %}
{{  button({label: 'Clear All'},modifier={block: ['secondary','s']}) }}
{% endset %}
{% set panel_filters_items = [
    {
      label: "Size",
      body: menu(properties={
        items: [
            { "label": "Small" },
            { "label": "Medium" },
            { "label": "Large" }
          ]
        })
    },
    {
      label: "Color",
      body: menu(properties={
        items: [
            { "label": "Red" },
            { "label": "Blue" },
            { "label": "Green" }
          ]
        })
    }

] %}
{% set panel_table_content %}
{% call layout.panel() -%}
    {% call layout.panel_header({ title: "Items (1180)" }) -%}
        {% call layout.panel_actions() -%}



          {{ dropdown(properties={
            label: "Newest",
            icon: "sort",
            body: menu(properties={
              items: [
                  { "label": "Oldest" },
                  { "label": "Last 90 Days" },
                  { "label": "This Year" }
                ]
              })
          },modifier={ block: ['standard', 'compact'], button: btn })
          }}


      {{  button({label: 'Filter',icon: 'add-filter' },modifier={block: ['standard','compact']}) }}

{% call button_group() -%}

        {{button({ icon: "grid" },size="compact",modifier={block: []},aria={  })}}
        {{button({ icon: "list" },size="compact",modifier={block: []},aria={ "pressed": true })}}


        {%- endcall %}


        {%- endcall %}
    {%- endcall %}

    {% call layout.panel_filters(aria={ hidden: false }) -%}
{% for item in panel_filters_items %}
{{ dropdown(item, modifier={block: [ 'standard', 'compact' ]}) }}
{% endfor %}

    {%- endcall %}
    {% call layout.panel_filters(aria={ hidden: false }) -%}
{{tokens}}
    {%- endcall %}


    {% call layout.panel_body(modifier=["bleed"]) -%}
  {{table_example}}
    {%- endcall %}
    {% call layout.panel_footer() -%}
    {{  pagination(data.pagination.properties) }}

    {%- endcall %}
{%- endcall %}
{% endset %}



{% block page_content %}
{%- call layout.section() -%}
{{panel_table_content}}
{%- endcall %}
{% endblock %}
