{% extends "./layouts/module.njk" %}
{% set page_title = "Tiles" %}
{% set page_intro = "Optional page intro lorem ipsum dolor" %}
{% set is_landing_page = false %}
{% set page_floorplan = "list" %}

{% import "../layout/component.njk" as layout %}
{% from "../button-group/component.njk" import button_group %}
{% from "../button/component.njk" import button %}
{% from "../label/component.njk" import label %}
{% from "../tile/component.njk" import tile, tile_content, tile_media, tile_actions %}
{% from "../tile-grid/component.njk" import tile_grid %}
{% from "../identifier/component.njk" import identifier %}
{% from "../badge/component.njk" import badge %}

{% set active_label  %}<span class="fd-has-color-status-1">Active</span>{% endset %}

{%- set tile_icon %}
{% call tile() -%}
  {% call tile_media() -%}
  {{
    identifier(
    properties={ icon: "person-placeholder" },
    modifier={ block: ["m"] },
    classes=["has-background-color-accent-1"])
  }}
  {%- endcall %}
  {%- call tile_content({ title: "Lorem ipsum" }) -%}
  <p>Second line</p>
  <p>
  {{badge({ label: "Active" }, modifier={block: ["success","filled"]}, classes="sap-icon--accept")}}
  </p>
  {%- endcall %}
  {%- call tile_actions() -%}
    {{ button({ icon: 'overflow' }, modifier={ block: ["light"]}, aria={ label: "More" } )}}
  {%- endcall %}
{%- endcall %}
{% endset %}


{% set tiles_grid_content %}
{{  tile_grid(
        properties={
            items: [
            tile_icon, tile_icon, tile_icon, tile_icon,
            tile_icon, tile_icon, tile_icon, tile_icon,
            tile_icon, tile_icon, tile_icon, tile_icon,
            tile_icon, tile_icon, tile_icon, tile_icon,
            tile_icon, tile_icon
            ]
        },
        modifier={
            block: ["4col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}



{% set panel_tiles_content %}
{% call layout.panel() -%}
    {% call layout.panel_header({ title: "Items (18)" }) -%}
    {% call layout.panel_actions() -%}
  {{ button({ icon: 'search' }, modifier={block: ["standard", "compact"]}, aria={ label: "Search" } )}}

{% call button_group() -%}
{{button({ icon: "grid" },size="compact",modifier={block: []},aria={  })}}
{{button({ icon: "list" },size="compact",modifier={block: []},aria={ "pressed": true })}}
{%- endcall %}

    {%- endcall %}
    {%- endcall %}
    {% call layout.panel_body(modifier=["bleed"]) -%}
{{tiles_grid_content}}
    {%- endcall %}
{%- endcall %}
{% endset %}

{% block page_content %}

{%- call layout.section() -%}
{{panel_tiles_content}}
{%- endcall %}
{% endblock %}
