{% extends "./layouts/module.njk" %}
{% set page_title = "Tree" %}
{% set page_intro = "Optional page intro lorem ipsum dolor" %}
{% set is_landing_page = false %}
{% set show_toolbar = false %}
{% set page_floorplan = "list" %}

{% import "../layout/component.njk" as layout %}
{% from "../tree/component.njk" import tree %}


{% set panel_tree_content %}
{% call layout.panel() -%}
    {% call layout.panel_header({ title: "Categories" }) -%}
    {%- endcall %}
    {% call layout.panel_body(modifier=["bleed"]) -%}
{{ tree(data.tree.properties) }}
    {%- endcall %}
{%- endcall %}
{% endset %}

{% block page_content %}
{%- call layout.section() -%}
{{panel_tree_content}}
{%- endcall %}
{% endblock %}
