{% extends "./layouts/module.njk" %}
{% set page_title = "Tree" %}
{% set page_intro = "Page level help message goes here" %}
{% set is_landing_page = false %}
{% set show_toolbar = false %}

{% import "../layout/component.njk" as layout %}
{% from "../tree/component.njk" import tree %}

{% block page_content %}

    {%- call layout.section(modifier="full-bleed") -%}
        {%- call layout.section_header() -%}
            {% call layout.section_actions() -%}
            <button class="tn-button tn-button--text tn-button--small">
                <span class="tn-icon tn-icon--add" role="presentation"></span>
                Add
            </button>
            {%- endcall %}
        {%- endcall %}
        {{ tree(data.tree.properties) }}
    {%- endcall %}

{% endblock %}
