{% extends "layout.njk" %}
{% from "./component.njk" import search_input %}
{% from "./../format.njk" import format %}

{% set css_deps = ['fonts','helpers', 'components/input', 'components/menu', 'components/popover','components/button','components/input-group', 'icons', 'components/token'] %}

{% block content %}

    <h1>search-input</h1>
    {% set basic_search %}
        {{ search_input(
            properties={
                value: "Ba",
                placeholder: "Search products"
            })
        }}
    {% endset %}

    {{ format(basic_search) }}

<br><br>
      <h3>compact</h3>
    {% set basic_search %}
        {{ search_input(
            properties={
                value: "Ba",
                placeholder: "Search products"
            },size="compact")
        }}
    {% endset %}

    {{ format(basic_search) }}

{% endblock %}
