{% extends "layout.njk" %}
{% from "./component.njk" import search_input %}
{% from "./../format.njk" import format %}

{% block content %}

    {% set basic_search %}
        {{ search_input(properties=data.properties)
        }}
    {% endset %}

    {{ format(basic_search) }}

    <h1>search-input closed</h1>
    {% set basic_search_closed %}
        {{ search_input(
                properties={
                    closed: true,
                    items: data.properties.items
                }
            )
        }}
    {% endset %}

    {{ format(basic_search_closed) }}

    <br>
    <br>

    <h3>compact</h3>
    {% set basic_search %}
        {{ search_input(
                properties=data.properties, size="compact"
            )
        }}
    {% endset %}

    {{ format(basic_search) }}
{% endblock %}
