{% import "../forms.njk" as forms %}
{% from "../button/component.njk" import button %}
{% from "../icon/component.njk" import icon %}
{#
    see ./data.json for object structure
#}
{% macro list_group(properties={}, action={}) %}
<ul class="tn-list-group">
    {%- for item in properties.items %}
    <li class="tn-list-group__item">
        {{item}}
        {%- if properties.action %}
        <span class="tn-list-group__action">
            {{ button(
                { icon: properties.action.icon },
                modifier={ block: ['icon','text','small'] },
                aria={ label: properties.action.label }
                )
            }}
        </span>
        {%- endif %}
    </li>
    {%- endfor %}
</ul>
{%- endmacro %}
