{% extends "layout.njk" %}
{% from "./component.njk" import list_group %}
{% from "../form/component.njk" import form_item %}
{% from "../button/component.njk" import button %}
{% from "../icon/component.njk" import icon %}
{% from "./../format.njk" import format %}
{% set css_deps = ['helpers','components/button','components/form','icons'] %}

{% block content %}

<h1>Lists</h1>
{% set example %}
{{  list_group({ items: data.properties.items }) }}
{% endset %}
{{ format(example) }}

<br><br>
<h1>List with actions</h1>
{% set example %}
{{ list_group(data.properties) }}
{% endset %}
{{ format(example) }}

<br><br>
<h1>List with checkboxes</h1>
{% set example %}
{{  list_group(
      properties={
          items: [form_item("checkbox",{ label: "List item 1" }),form_item("checkbox",{ label: "List item 2 sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua" }),form_item("checkbox",{ label: "List item 3" })]
      })
}}
{% endset %}
{{ format(example) }}

{% endblock %}
