<!--
tile_grid:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro tile_grid(properties={}, modifier={}, state={}, aria={}) -%}
<div class="fd-tile-grid{{ modifier.block | modifier('tile-grid') }}">
{% for item in properties.items -%}
{{ item | trim | indent(4, true) }}
{%- endfor -%}
</div>
{%- endmacro %}
