{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../tile/component.njk" import tile, tile_content, tile_media, tile_actions %}
{% from "../product-tile/component.njk" import product_tile, product_tile_content, product_tile_media %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import tile_grid %}
{% from "../identifier/component.njk" import identifier %}

{% block content %}


{%- set tile_default %}
{% call tile() -%}
  {% call tile_content({ title: "Lorem ipsum" }) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}

{%- set tile_empty %}
{% call tile() -%}
{% call tile_content() -%}
{%- endcall %}
{%- endcall %}
{% endset %}

{%- set tile_icon %}
{% call tile() -%}
{% call tile_media() -%}
{{
  identifier(
  properties={ icon: "home" },
  modifier={ block: ["m"] },
  classes=["has-background-color-accent-3"])
}}
{%- endcall %}
{%- call tile_content({ title: "Lorem ipsum" }) -%}
{%- endcall %}
{%- endcall %}
{% endset %}

{%- set product_tile_image %}
{%- call product_tile(aria={role: "button"}) -%}
  {% call product_tile_media( { url: "./static/nature.jpg" }) -%}
  {%- endcall %}
  {%- call product_tile_content({ title: "Lorem ipsum" }) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}

<h2>3-col grid (default)</h2>
<p>Also available as a modifier class <code>--3col</code>
</p>
    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  tile_grid(
            properties={
                items: [
                tile_default, tile_default, tile_default, tile_default, tile_default, tile_default
                ]
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}
    {% endset %}
    {{ format(example) }}

<br><br>

<h2>2 col grid</h2>

{% set example %}
{{  tile_grid(
        properties={
            items: [
            tile_icon, tile_icon, tile_icon, tile_icon
            ]
        },
        modifier={
            block: ["2col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2>4 col grid</h2>
{% set example %}
{{  tile_grid(
        properties={
            items: [
            tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default
            ]
        },
        modifier={
            block: ["4col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

<br><br>

<h2>5 col grid</h2>
{% set example %}
{{  tile_grid(
        properties={
            items: [
              tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty
            ]
        },
        modifier={
            block: ["5col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}


<br><br>

<h2>6 col grid</h2>
{% set example %}
{{  tile_grid(
        properties={
            items: [
tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty, tile_empty
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}



<br><br>

<h2>6 col grid - product tile</h2>
{% set example %}

{{  tile_grid(
        properties={
            items: [
product_tile_image, product_tile_image, product_tile_image, product_tile_image, product_tile_image, product_tile_image, product_tile_image, product_tile_image
            ]
        },
        modifier={
            block: ["4col"]
        },
        state={},
        aria={}
    )
}}


{% endset %}
{{ format(example) }}







<br><br>


<h2>6 col grid w/ span helpers</h2>
<p>Shows use of helper classes <code>.fd-has-grid-row-span-2</code> and <code>.fd-has-grid-column-span-2</code>.
</p>
{% set tile_span_row_2 %}
{% call tile(classes=['has-grid-row-span-2','has-background-color-accent-7']) -%}
  {% call tile_content({ title: "Lorem ipsum" }) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}
{% set tile_span_col_2 %}
{% call tile(classes=['has-grid-column-span-2','has-background-color-accent-7']) -%}
  {% call tile_content({ title: "Lorem ipsum" }) -%}
  {%- endcall %}
{%- endcall %}
{% endset %}


{% set example %}
{{  tile_grid(
        properties={
            items: [
              tile_span_row_2, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_default, tile_span_col_2
            ]
        },
        modifier={
            block: ["6col"]
        },
        state={},
        aria={}
    )
}}
{% endset %}
{{ format(example) }}

{% endblock %}
