@import "./../settings";
@import "./../mixins";
@import "./../functions";

/*!
.fd-__COMPONENT_ID__+(--no-border)
    .fd-__COMPONENT_ID____content+()
    .fd-__COMPONENT_ID____title+()
*/
$block: #{$fd-namespace}-__COMPONENT_ID__;

.#{$block} {
    //LOCAL VARS (set all themeable properties, always include !default)
    $fd-__COMPONENT_ID__-border-color: fd-color(primary, 1) !default;
    $fd-__COMPONENT_ID__-content-border-color: fd-color(neutral, 4) !default;
    $fd-__COMPONENT_ID__-border-color--selected: fd-color(primary) !default;

    //BLOCK BASE *******************************************
    //set all BLOCK reset and baseline styles
    @include fd-reset;
    border: solid 20px $fd-__COMPONENT_ID__-border-color;

    //BLOCK MODIFIERS ************
    //e.g., $fd-__COMPONENT_ID__--no-border
    &--no-border {
        border-color: transparent;
    }

    //ELEMENTS *******************************************
    //set all ELEMENT baseline styles
    //e.g., $fd-__COMPONENT_ID____content
    &__content {
        border: solid 10px $fd-__COMPONENT_ID__-content-border-color;

        //ELEMENT MODIFIERS ************
        //e.g., $fd-__COMPONENT_ID____content--no-border
        &--no-border {
            border-color: transparent;
        }
    }
    &__title {


    }

    //STATES *******************************************
    &.is-disabled,
    &[disabled] {
        opacity: 0.5;
    }
    &[aria-selected="true"] {
        border-color: $fd-__COMPONENT_ID__-border-color--selected;
    }




}
