html{
    font-size: 1rem;
}

* {
    font-family: '72', sans-serif;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: #FAFCFF;
    margin: 0;
}