{% from "../button/component.njk" import button %}
<!--
button_group:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro button_group(properties={}, modifier={}, state={}, aria={}) -%}
<div class="fd-button-group{{ modifier.block | modifier('button-group') }}{{ state | state }}"{{ aria | aria }} role="group" aria-label="{{properties.label}}">
  {{- caller() | indent -}}
</div>
{%- endmacro %}
