//icon map
$fd-ariba-icons: (
  workspace: "\eA01",
  auction: "\eA02",
  table-angle: "\eA03",
  rfi-doc: "\eA04",
  rfp-doc: "\eA05",
  info: "\eA06",
  table-customization: "\eA07",
  rfx-doc: "\eA08",
  share: "\eA09",
  expand: "\eA0A",
  collapse: "\eA0B",
  function: "\eA0C",
  divide: "\eA0d",
  left-bracket: "\eA0e",
  right-bracket: "\eA0f",

  empty: "\eA10",
  grade: "\eA11",
  ms-project-doc: "\eA12",
  knowledge-project: "\eA13",
  notification1: "\eA14",
  contract: "\eA15",
  separator: "\eA16",
  template: "\eA17",
  notification2t: "\eA18",
  live: "\eA19",
  rtl-table-angle: "\eA1a",
  rtl-in-progress: "\eA1b",
  rtl-pending: "\eA1c",
  rtl-child: "\eA1d",
  rtl-expand: "\eA1e",
  //empty: "\eA1f",

  pin: "\eA20",
  ariba: "\eA21",
  sort-up: "\eA22",
  sort-down: "\eA23",
  pull-down: "\eA24",
  share-thin: "\eA25",
  home: "\eA26",
  analytics: "\eA27",
  reporting: "\eA28",
  notusing: "\eA29",
  //empty: "\eA2a",
  //empty: "\eA2b",
  //empty: "\eA2c",
  //empty: "\eA2d",
  //empty: "\eA2e",
  //empty: "\eA2f",

  pinned: "\eA30",
  hedge-oil: "\eA31",
  more: "\eA32",
  open-panel: "\eA33",
  add-non-catalog-item: "\eA34",
  adashboard: "\eA35",
  ms-in-progress: "\eA36",
  ms-complete: "\eA37",
  ms-cancel: "\eA38",
  ms-denied: "\eA39",
  //empty: "\eA3a",
  //empty: "\eA3b",
  //empty: "\eA3c",
  //empty: "\eA3d",
  //empty: "\eA3e",
  //empty: "\eA3f",

  cancelled: "\eA40",
  in-progress: "\eA41",
  pending: "\eA42",
  grab: "\eA43",
  lightening: "\eA44",
  under-construction: "\eA45",
  bid: "\eA46",
  best-bid: "\eA47",
  gate: "\eA48",
  gate-action: "\eA49",
  //empty: "\eA4a",
  //empty: "\eA4b",
  //empty: "\eA4c",
  //empty: "\eA4d",
  //empty: "\eA4e",
  //empty: "\eA4f",

  invoice-reconcile: "\eA50",
  purchase-order: "\eA51",
  kit: "\eA52",
  punch-out: "\eA53",
  currency: "\eA54",
  gold: "\eA55",
  platinum: "\eA56",
  silver: "\eA57",
  hazard: "\eA58",
  invoice: "\eA59",
  //empty: "\eA5a",
  //empty: "\eA5b",
  //empty: "\eA5c",
  //empty: "\eA5d",
  //empty: "\eA5e",
  //empty: "\eA5f",

  accounting-expand: "\eA60",
  revalidate: "\eA61",
  measure: "\eA62",
  summary: "\eA63",
  disable: "\eA64",
  saved-cart: "\eA65",
  new: "\eA66",
  add-message: "\eA67",
  message-composed: "\eA68",
  message-sent: "\eA69",
  //empty: "\eA6a",
  //empty: "\eA6b",
  //empty: "\eA6c",
  //empty: "\eA6d",
  //empty: "\eA6e",
  //empty: "\eA6f",

  incumbent: "\eA70",
  WS-contract: "\eA71",
  WS-dform: "\eA72",
  WS-personal: "\eA73",
  WS-supplier-management: "\eA74",
  WS-resourcing: "\eA75",
  WS-supplier-performance-mngt: "\eA76",
  WS-knowledge-proj: "\eA77",
  women-owned: "\eA78",
  catalog: "\eA79",
  //empty: "\eA7a",
  //empty: "\eA7b",
  //empty: "\eA7c",
  //empty: "\eA7d",
  //empty: "\eA7e",
  //empty: "\eA7f",

  non-catalog-item: "\eA80",
  pull-up: "\eA81",
  add-comment: "\eA82",
  edit-comment: "\eA83",
  child: "\eA84",
  surrogate: "\eA85",
  commodity-map: "\eA86",
  cif-uom: "\eA87",
  toggle-off: "\eA88",
  toggle-no: "\eA89",
  //cargo-train: "\eA8a",
  //empty: "\eA8b",
  //empty: "\eA8c",
  //empty: "\eA8d",
  //empty: "\eA8e",
  //empty: "\eA8f",

  half-star: "\eA90",
  rfq-doc: "\eA91",
  inquiry: "\eA92",
  document-vsd: "\eA93",
  document-mpp: "\eA94",
  service-sheet: "\eA95",
  ship-notice: "\eA96",
  close-panel: "\eA97",
  like: "\eA98",
  customer-service: "\eA99",
  penalty: "\eA9a",
  flag2: "\eA9b",
  warning: "\eA9c",
  error: "\eA9d",
  //empty: "\eA9e",
  //empty: "\eA9f",

  add-template: "\eB01",
  end-point: "\eB02",
  file-converter: "\eB03",
  file: "\eB04",
  filter: "\eB05",
  joiner: "\eB06",
  mapper: "\eB07",
  publisher: "\eB08",
  refresh: "\eB09",
  //empty: "\eB0a",
  //empty: "\eB0b",
  //empty: "\eB0c",
  //empty: "\eB0d",
  //empty: "\eB0e",
  //empty: "\eB0f",

  search: "\eB10",
  settings: "\eB11",
  share-social: "\eB12",
  trash: "\eB13",
  close: "\eB14",
  start: "\eB15",
  arrow-down: "\eB16",
  automap: "\eB17",
  portfolio: "\eB18",
  discovery: "\eB19",
  //empty: "\eB1a",
  //empty: "\eB1b",
  //empty: "\eB1c",
  //empty: "\eB1d",
  //empty: "\eB1e",
  //empty: "\eB1f",

  home2: "\eB20",
  learn: "\eB21",
  admin: "\eB22",
  menu: "\eB23",
  register: "\eB24",
  facebook: "\eB25",
  twitter: "\eB26",
  google-plus: "\eB27",
  youtube: "\eB28",
  linkedin: "\eB29",
  //empty: "\eB2a",
  //empty: "\eB2b",
  //empty: "\eB2c",
  //empty: "\eB2d",
  //empty: "\eB2e",
  //empty: "\eB2f",

  discussion: "\eB30",
  minus: "\eB31",
  forms: "\eB32",
  flows: "\eB33",
  dashboard: "\eB34",
  apps: "\eB35",
  rtl-start: "\eB36"
  //empty: "\eB37",
  //empty: "\eB38",
  //empty: "\eB39",
  //empty: "\eB3a",
  //empty: "\eB3b",
  //empty: "\eB3c",
  //empty: "\eB3d",
  //empty: "\eB3e",
  //empty: "\eB3f",

) !default;