{% extends "./../layouts/shell.njk" %}
{% import "./../../layout/component.njk" as layout %}
{% import "./../../button/component.njk" as button %}
{% from "./../../tabs/component.njk" import tabs %}
{% from "./../../table/component.njk" import table %}
{% from "./../../date-picker/component.njk" import date_picker %}
{% from "./../../button-group/component.njk" import button_group %}
{% from "./../../form/component.njk" import form_control, form_item, form_set %}
{% import "../../forms.njk" as forms %}



{% set page_title = "Digital Components Ltd" %}
{% set page_intro = "Part Number NGX-FOO-1973" %}
{% set is_landing_page = false %}
{% set is_editable_page = true %}
{% set show_toolbar = false %}
{% set hide_app_sidebar = true %}

{% set is_details_page = true %}
{% block page_header %}
{# PAGE_HEADER ---------------------- #}
<div class="fd-has-background-color-background-2">
{{ super() }}
</div>



{# do columns #}
{%- call layout.container(modifier=["fluid","flex"],classes="has-align-items-flex-end") -%}
  {%- call layout.col(2) %}
    {% call form_set({ }) %}
      {{ form_item("select", { label: "View by:", value: "Week ", options: [{
          properties: { label: "Week", value: "1" }
      },{
          properties: { label: "Month", value: "2" }
      }] }, modifier={ item: "" }) }}
      {% endcall %}
  {% endcall %}
  {%- call layout.col(2) %}
    {% call form_set({ }) %}
      {{ form_item("select", { label: "Inventory type:", options: [{
        properties: { label: "Choose" }
    }] }, modifier={ item: "" }) }}
    {% endcall %}
  {% endcall %}
  {%- call layout.col(2) %}
    {% call form_set({ }) %}
    {{ form_item("select", { label: "Exra data for chart:", options: [{
      properties: { label: "None" }
  }] }, modifier={ item: "" }) }}
    {% endcall %}
  {% endcall %}
  {%- call layout.col(6) %}
    {% call form_set({ legend: "" }) %}
    <p class="fd-has-text-align-right">
      <span class="fd-has-margin-right-small">
        <span class="fd-has-color-text-3">
          Starting from:
        </span>
        July 3, 2019
      </span>
      {{-  button(
        { icon: 'slim-arrow-left' },
          modifier={ block: [""] },
          aria={ label: 'Previous' })
      }}
      {{-  button(
        { icon: 'slim-arrow-right' },
          modifier={ block: [""] },
          aria={ label: 'Next' })
      }}
    </p>
    {% endcall %}
  {% endcall %}
{%- endcall %}
{{  tabs(
        properties={
          items: [
            {
                label: "Projected Stock",
                selected: true
            },
            {
                label: "Supply and Demand"
            }
          ]
        },
        classes="has-bottom-border-none"
    )
}}


{# ---------------------- PAGE_HEADER #}
{% endblock %}
{% block page_content %}
{# PAGE_CONTENT ---------------------- #}

  {# FORM SECTION ---------------------- #}
  {%- call layout.section() -%}


  {% call layout.panel() -%}
      {% call layout.panel_header({ title: "Form" }) -%}
          {% call layout.panel_actions() -%}
            {% call button_group() -%}
              {{button({ icon: "table-chart" },size="compact",modifier={block: []},aria={  })}}
              {{button({ icon: "bar-chart" },size="compact",modifier={block: []},aria={ "pressed": true })}}
            {%- endcall %}
            <span class="fd-has-margin-left-tiny">
              {{button({ icon: "sort" },size="compact",modifier={block: ["light"]},aria={ })}}
              {{button({ icon: "group-2" },size="compact",modifier={block: ["light"]},aria={ })}}
              {{button({ icon: "action-settings" },size="compact",modifier={block: ["light"]},aria={ })}}
            </span>
          {%- endcall %}
      {%- endcall %}
      {% call layout.panel_body(modifier=["bleed"]) -%}
      {{  table({
              headers: headers,
              rows: [checkbox_row, checkbox_row, checkbox_row, checkbox_row_selected, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row],
              selectedRow: 4
          })
      }}
      {%- endcall %}
    {%- endcall %}
  {%- endcall %}
  {# ---------------------- FORM SECTION #}


  {# TABLE SECTION ---------------------- #}
  {%- call layout.section() -%}
  {%- set btnedit %}
  {{button({ icon: "edit" },size="compact",modifier={block: ["light"]},aria={ label: "Edit" })}}
  {%- endset %}
  {%- set btndelete %}
  {{button({ icon: "delete" },size="compact",modifier={block: ["light","negative"]},aria={ label: "Edit" })}}
  {%- endset %}

  {% set headers = [ {
    label: '<input type="checkbox">'
  },
          { label: "Name" },
          { label: "Version" },
          { label: "TA Type" },
          { label: "Description" },
          { label: "Status" },
          { label: "Last Update" },
          { label: "" }
      ] %}
  {% set picker = date_picker(properties={
            month: 08,
            year: 2018,
            today: 21,
            dates: {
              daysOffset: 3,
              block: [25,29],
              selected: 15,
              disablePast: true
            }
        },size="compact")
  %}
  {% set checkbox_row = ['<input type="checkbox">', '<strong>Name of Technical Asset</strong>', '1.3', 'API Packages', 'Lorem ipsum dolor sit amet', '<span class="fd-has-color-status-1">Deployed</span>', '2018/03/21', [btnedit,btndelete].join('') ] %}
  {% set checkbox_row_selected = ['<input type="checkbox" checked>', '<strong>Name of Technical Asset</strong>', '1.3', 'API Packages', 'Lorem ipsum dolor sit amet', '<span class="fd-has-color-status-3">Failed</span>', picker, btndelete] %}
  {% call layout.panel() -%}
      {% call layout.panel_header({ title: "Technical Assets (12)" }) -%}
          {% call layout.panel_actions() -%}
            {% call button_group() -%}
              {{button({ icon: "table-chart" },size="compact",modifier={block: []},aria={ label: "Table Chart" })}}
              {{button({ icon: "bar-chart" },size="compact",modifier={block: []},aria={ label: "Bar Chart", "pressed": true })}}
            {%- endcall %}
            <span class="fd-has-margin-left-tiny">
              {{button({ icon: "sort" },size="compact",modifier={block: ["light"]},aria={ label: "Sort"})}}
              {{button({ icon: "group-2" },size="compact",modifier={block: ["light"]},aria={ label: "Group"})}}
              {{button({ icon: "action-settings" },size="compact",modifier={block: ["light"]},aria={label: "Settings" })}}
            </span>
          {%- endcall %}
      {%- endcall %}
      {% call layout.panel_body(modifier=["bleed"]) -%}
      {{  table({
              headers: headers,
              rows: [checkbox_row, checkbox_row, checkbox_row, checkbox_row_selected, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row, checkbox_row],
              selectedRow: 4
          },
          classes="has-last-child-text-align-right")
      }}
      {%- endcall %}
    {%- endcall %}
  {%- endcall %}
  {# ---------------------- TABLE SECTION #}



{# ---------------------- PAGE_CONTENT #}
{% endblock %}
