{% extends "./../layouts/shell.njk" %}
{% import "./../../layout/component.njk" as layout %}


{% set page_title = "Details 1" %}
{% set page_intro = "Optional page intro lorem ipsum dolor" %}
{% set is_landing_page = false %}
{% set is_editable_page = true %}
{% set show_toolbar = false %}

{% set page_title = "Page Title" %}
{% set page_intro = "Optional page intro lorem ipsum dolor" %}
{% set hide_app_sidebar = true %}

{% block page_content %}
hi
{% endblock %}
