{% extends "./../layouts/module.njk" %}
{% import "./../../layout/component.njk" as layout %}
{% from "./../../table/component.njk" import table %}

{% from "./../../form/component.njk" import form_control, form_item, form_set %}
{% import "../../forms.njk" as forms %}

{% from "./../../../modules/table.njk" import default_table, table, table_row, table_header, table_cell %}
{% from "./../../../modules/button-group.njk" import button_group %}
{% from "./../../../modules/button.njk" import icon_button, button %}

{% set shellbar_product = {
  title: "Supplier Portal"
} %}

{% set page_title = "Digital Components Ltd" %}
{% set page_intro = "Part Number NGX-FOO-1973" %}
{% set is_landing_page = false %}
{% set is_editable_page = true %}
{% set show_toolbar = false %}
{% set hide_page_header = true %}
{% set hide_app_sidebar = true %}

{% block page_content %}
{# PAGE_CONTENT ---------------------- #}



  {# TABLE SECTION ---------------------- #}
  {%- call layout.section() -%}
  {% call layout.panel() -%}
      {% call layout.panel_header({ title: "Technical Assets (12)" }) -%}
          {% call layout.panel_actions() -%}

          {{ button(default=true) }}
          {{ icon_button(default=true) }}
       <br>

{{ button_group(default=true) }}

{% call button_group() -%}
  {{ icon_button(size="compact",label="Survey",icon="survey") }}
  {{ icon_button(size="compact",label="Chart",icon="pie-chart",aria={ selected: true }) }}
{%- endcall %}





          {%- endcall %}
      {%- endcall %}
      {% call layout.panel_body(modifier=["bleed"]) -%}

{# VARS #}




<h1>DEAFULT</h1>
{% call default_table() -%}
{% endcall -%}




{% set headers = [
  {

      id: "header-1",
      label: "Custom Header"

  },
  {

      id: "header-1",
      label: "Custom Header"

  }
] %}
{% set rows = [
    {
      id: "Foo",
      type: "Bar"
    },
    {
      id: "Baz",
      type: "Boo"
    }
  ]
  %}
<h1>TABLE</h1>
{% call table(headers=headers, rows=rows) -%}

{% endcall -%}


<h1>DONUTS</h1>


{% set donuts = data.test.donuts %}

{% call table() -%}
    {% call table_header() -%}
        {% for header in ["ID", "Type", "Name", "PPU", "Batters", "Toppings"] %}
          {% call table_cell() -%}
       {{header}}
          {% endcall -%}
        {% endfor %}

    {% endcall -%}
      {% for donut in donuts %}
        {% call table_row() -%}

        {% for key, value in donut %}
          {% call table_cell() -%}
            {{ value |dump }}
          {% endcall -%}
        {% endfor %}

        {% endcall -%}
      {% endfor %}
    {% endcall -%}


      <pre>
      {{ donuts | dump(2) }}
      </pre>


      {%- endcall %}
    {%- endcall %}
  {%- endcall %}
  {# ---------------------- TABLE SECTION #}


















  {# FORM SECTION ---------------------- #}
  {%- call layout.section() -%}


  {% call layout.panel() -%}
      {% call layout.panel_header({ title: "Form" }) -%}
      {%- endcall %}
      {% call layout.panel_body() -%}


  {%- call layout.container() -%}
    {%- call layout.col(5) -%}

    {%- endcall %}
    {%- call layout.col(5) -%}

    {%- endcall %}
    {%- call layout.col(2) -%}

    {%- endcall %}

  {%- endcall %}
  {%- call layout.container() -%}
    {%- call layout.col(5) -%}

    {%- endcall %}
    {%- call layout.col(5) -%}

    {%- endcall %}
  {%- endcall %}
  {%- call layout.container() -%}
    {%- call layout.col(5) -%}

    {%- endcall %}
    {%- call layout.col(5) -%}

    {%- endcall %}
  {%- endcall %}
  {%- call layout.container() -%}
    {%- call layout.col(5) -%}

    {%- endcall %}
    {%- call layout.col(5) -%}


    {%- endcall %}
  {%- endcall %}

      {%- endcall %}
    {%- endcall %}
  {%- endcall %}
  {# ---------------------- FORM SECTION #}








{# ---------------------- PAGE_CONTENT #}
{% endblock %}
