/*!
.fd-app
  .fd-app__navigation+(--horizontal|--vertical)
  .fd-app__sidebar
  .fd-app__main
*/
.fd-app {
  position: relative;
  width: 100%
}
@media (min-width:600px) {
  .fd-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start
  }
}
.fd-app__navigation {
  --fd-background-color: var(--fd-color-background-2);
  background-color: var(--fd-background-color);
  height: 52px;
  max-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.fd-app__navigation--horizontal {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  padding: 0 32px;
  padding: 0 var(--fd-padding-ui)
}
.fd-app__navigation--vertical {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0
}
@media (min-width:600px) {
  .fd-app__navigation--vertical {
    max-width: 250px;
    position: relative;
    height: 100%;
    max-height: inherit
  }
}
.fd-app__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  overflow: auto
}