@charset "UTF-8";
/*!
    .fd-col+(--1...12, --shift-1...11)
*/
@media (min-width:600px) {
  .fd-col--1 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 1) + 0px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 1) + (var(--fd-width-gutter) * (1 - 1)))
  }
  .fd-col--1:last-child {
    margin-right: 0
  }
  .fd-col--1[dir=rtl],
  [dir=rtl] .fd-col--1 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--1[dir=rtl]:last-child,
  [dir=rtl] .fd-col--1:last-child {
    margin-left: 0
  }
  .fd-col--2 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 2) + 8px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 2) + (var(--fd-width-gutter) * (2 - 1)))
  }
  .fd-col--2:last-child {
    margin-right: 0
  }
  .fd-col--2[dir=rtl],
  [dir=rtl] .fd-col--2 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--2[dir=rtl]:last-child,
  [dir=rtl] .fd-col--2:last-child {
    margin-left: 0
  }
  .fd-col--3 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 3) + 16px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 3) + (var(--fd-width-gutter) * (3 - 1)))
  }
  .fd-col--3:last-child {
    margin-right: 0
  }
  .fd-col--3[dir=rtl],
  [dir=rtl] .fd-col--3 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--3[dir=rtl]:last-child,
  [dir=rtl] .fd-col--3:last-child {
    margin-left: 0
  }
  .fd-col--4 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 4) + 24px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 4) + (var(--fd-width-gutter) * (4 - 1)))
  }
  .fd-col--4:last-child {
    margin-right: 0
  }
  .fd-col--4[dir=rtl],
  [dir=rtl] .fd-col--4 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--4[dir=rtl]:last-child,
  [dir=rtl] .fd-col--4:last-child {
    margin-left: 0
  }
  .fd-col--5 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 5) + 32px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 5) + (var(--fd-width-gutter) * (5 - 1)))
  }
  .fd-col--5:last-child {
    margin-right: 0
  }
  .fd-col--5[dir=rtl],
  [dir=rtl] .fd-col--5 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--5[dir=rtl]:last-child,
  [dir=rtl] .fd-col--5:last-child {
    margin-left: 0
  }
  .fd-col--6 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 6) + 40px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 6) + (var(--fd-width-gutter) * (6 - 1)))
  }
  .fd-col--6:last-child {
    margin-right: 0
  }
  .fd-col--6[dir=rtl],
  [dir=rtl] .fd-col--6 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--6[dir=rtl]:last-child,
  [dir=rtl] .fd-col--6:last-child {
    margin-left: 0
  }
  .fd-col--7 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 7) + 48px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 7) + (var(--fd-width-gutter) * (7 - 1)))
  }
  .fd-col--7:last-child {
    margin-right: 0
  }
  .fd-col--7[dir=rtl],
  [dir=rtl] .fd-col--7 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--7[dir=rtl]:last-child,
  [dir=rtl] .fd-col--7:last-child {
    margin-left: 0
  }
  .fd-col--8 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 8) + 56px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 8) + (var(--fd-width-gutter) * (8 - 1)))
  }
  .fd-col--8:last-child {
    margin-right: 0
  }
  .fd-col--8[dir=rtl],
  [dir=rtl] .fd-col--8 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--8[dir=rtl]:last-child,
  [dir=rtl] .fd-col--8:last-child {
    margin-left: 0
  }
  .fd-col--9 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 9) + 64px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 9) + (var(--fd-width-gutter) * (9 - 1)))
  }
  .fd-col--9:last-child {
    margin-right: 0
  }
  .fd-col--9[dir=rtl],
  [dir=rtl] .fd-col--9 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--9[dir=rtl]:last-child,
  [dir=rtl] .fd-col--9:last-child {
    margin-left: 0
  }
  .fd-col--10 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 10) + 72px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 10) + (var(--fd-width-gutter) * (10 - 1)))
  }
  .fd-col--10:last-child {
    margin-right: 0
  }
  .fd-col--10[dir=rtl],
  [dir=rtl] .fd-col--10 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--10[dir=rtl]:last-child,
  [dir=rtl] .fd-col--10:last-child {
    margin-left: 0
  }
  .fd-col--11 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 11) + 80px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 11) + (var(--fd-width-gutter) * (11 - 1)))
  }
  .fd-col--11:last-child {
    margin-right: 0
  }
  .fd-col--11[dir=rtl],
  [dir=rtl] .fd-col--11 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--11[dir=rtl]:last-child,
  [dir=rtl] .fd-col--11:last-child {
    margin-left: 0
  }
  .fd-col--12 {
    float: left;
    margin-right: 8px;
    margin-right: var(--fd-width-gutter);
    width: calc((((100% - 88px)/ 12) * 12) + 88px);
    width: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 12) + (var(--fd-width-gutter) * (12 - 1)))
  }
  .fd-col--12:last-child {
    margin-right: 0
  }
  .fd-col--12[dir=rtl],
  [dir=rtl] .fd-col--12 {
    float: right;
    margin-right: 0;
    margin-left: 8px;
    margin-left: var(--fd-width-gutter)
  }
  .fd-col--12[dir=rtl]:last-child,
  [dir=rtl] .fd-col--12:last-child {
    margin-left: 0
  }
  .fd-col--shift-1 {
    margin-left: calc((((100% - 88px)/ 12) * 1) + 8px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 1) + (var(--fd-width-gutter) * (1)))
  }
  .fd-col--shift-1[dir=rtl],
  [dir=rtl] .fd-col--shift-1 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 1) + 8px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 1) + (var(--fd-width-gutter) * (1)))
  }
  .fd-col--shift-2 {
    margin-left: calc((((100% - 88px)/ 12) * 2) + 16px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 2) + (var(--fd-width-gutter) * (2)))
  }
  .fd-col--shift-2[dir=rtl],
  [dir=rtl] .fd-col--shift-2 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 2) + 16px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 2) + (var(--fd-width-gutter) * (2)))
  }
  .fd-col--shift-3 {
    margin-left: calc((((100% - 88px)/ 12) * 3) + 24px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 3) + (var(--fd-width-gutter) * (3)))
  }
  .fd-col--shift-3[dir=rtl],
  [dir=rtl] .fd-col--shift-3 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 3) + 24px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 3) + (var(--fd-width-gutter) * (3)))
  }
  .fd-col--shift-4 {
    margin-left: calc((((100% - 88px)/ 12) * 4) + 32px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 4) + (var(--fd-width-gutter) * (4)))
  }
  .fd-col--shift-4[dir=rtl],
  [dir=rtl] .fd-col--shift-4 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 4) + 32px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 4) + (var(--fd-width-gutter) * (4)))
  }
  .fd-col--shift-5 {
    margin-left: calc((((100% - 88px)/ 12) * 5) + 40px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 5) + (var(--fd-width-gutter) * (5)))
  }
  .fd-col--shift-5[dir=rtl],
  [dir=rtl] .fd-col--shift-5 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 5) + 40px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 5) + (var(--fd-width-gutter) * (5)))
  }
  .fd-col--shift-6 {
    margin-left: calc((((100% - 88px)/ 12) * 6) + 48px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 6) + (var(--fd-width-gutter) * (6)))
  }
  .fd-col--shift-6[dir=rtl],
  [dir=rtl] .fd-col--shift-6 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 6) + 48px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 6) + (var(--fd-width-gutter) * (6)))
  }
  .fd-col--shift-7 {
    margin-left: calc((((100% - 88px)/ 12) * 7) + 56px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 7) + (var(--fd-width-gutter) * (7)))
  }
  .fd-col--shift-7[dir=rtl],
  [dir=rtl] .fd-col--shift-7 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 7) + 56px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 7) + (var(--fd-width-gutter) * (7)))
  }
  .fd-col--shift-8 {
    margin-left: calc((((100% - 88px)/ 12) * 8) + 64px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 8) + (var(--fd-width-gutter) * (8)))
  }
  .fd-col--shift-8[dir=rtl],
  [dir=rtl] .fd-col--shift-8 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 8) + 64px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 8) + (var(--fd-width-gutter) * (8)))
  }
  .fd-col--shift-9 {
    margin-left: calc((((100% - 88px)/ 12) * 9) + 72px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 9) + (var(--fd-width-gutter) * (9)))
  }
  .fd-col--shift-9[dir=rtl],
  [dir=rtl] .fd-col--shift-9 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 9) + 72px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 9) + (var(--fd-width-gutter) * (9)))
  }
  .fd-col--shift-10 {
    margin-left: calc((((100% - 88px)/ 12) * 10) + 80px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 10) + (var(--fd-width-gutter) * (10)))
  }
  .fd-col--shift-10[dir=rtl],
  [dir=rtl] .fd-col--shift-10 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 10) + 80px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 10) + (var(--fd-width-gutter) * (10)))
  }
  .fd-col--shift-11 {
    margin-left: calc((((100% - 88px)/ 12) * 11) + 88px);
    margin-left: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 11) + (var(--fd-width-gutter) * (11)))
  }
  .fd-col--shift-11[dir=rtl],
  [dir=rtl] .fd-col--shift-11 {
    margin-left: 0;
    margin-right: calc((((100% - 88px)/ 12) * 11) + 88px);
    margin-right: calc((((100% - (11 * var(--fd-width-gutter)))/ 12) * 11) + (var(--fd-width-gutter) * (11)))
  }
}
[class^=fd-col] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 12px
}
[class^=fd-col]:last-child {
  margin-bottom: 0
}
@media (min-width:320px) {
  [class^=fd-col] {
    margin-bottom: 0
  }
}