{% extends "layout.njk" %}
{% from "./component.njk" import notification_counter %}
{% from "./../format.njk" import format %}

{% set css_deps = ['fonts','helpers'] %}

{% block content %}
<div>
    <h1>Notification Counter</h1>

    <h2>0</h2>
    {% set basic_notification_counter %}
        {{ notification_counter(properties={ "count": data.properties.count }) }}
    {% endset %}

    {{ format(basic_notification_counter) }}

    <h2>Single Digit</h2>
    {% set single_notification_counter %}
        {{ notification_counter(properties={ "count": 5 }) }}
    {% endset %}

    {{ format(single_notification_counter) }}

    <h2>Double Digit</h2>
    {% set double_notification_counter %}
        {{ notification_counter(properties={ "count": 25 }) }}
    {% endset %}

    {{ format(double_notification_counter) }}

    <h2>Triple Digit</h2>
    {% set triple_notification_counter %}
        {{ notification_counter(properties={ "count": 101 }) }}
    {% endset %}

    {{ format(triple_notification_counter) }}

    <h2>Maximum digits</h2>
    <p>If the count provided exceeds 999, it will render "999+". This example was passed the count of 4001.</p>
    {% set max_notification_counter %}
        {{ notification_counter(properties={ "count": 4001 }) }}
    {% endset %}

    {{ format(max_notification_counter) }}
</div>
{% endblock %}
