<!--
mega_menu:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro mega_menu(properties={}, modifier={}, state={}, aria={}) -%}
<div class="fd-mega-menu{{ modifier.block | modifier('mega-menu') }}{{ state | state }}"{{ aria | aria }}>
</div>
{%- endmacro %}
