{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import mega_menu %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['components/nav', 'icons'] %}

{% block content %}

    <h1>mega-menu</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  mega_menu(
            properties={
                header:"SAP Hybris Home",
                "items": [
                { "label": "Link Item"},
                { "label": "Link Item" },
                {
                    "label": "item link",
                    "selected": true
                 },
                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item" },
                { "label": "Link Item" }
                ]
            },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}
    {% endset %}
    {{ format(example) }}


{% endblock %}
