{% extends "layout.njk" %}
{% from "./../format.njk" import format %}
{% from "../button/component.njk" import button %}
{% from "./component.njk" import mega_menu %}

<!-- include add'tl css from src/styles/, e.g., ['helpers','components/button'] -->
{% set css_deps = ['components/nav', 'icons'] %}

{% block content %}

    <h1>mega-menu</h1>

    <!-- output the component example and the code snippet -->
    {% set example %}
    {{  mega_menu(
        properties = {
          "title": "Group Title",
          "navgroups": [
            {
              "title": "Group Name",
              "items": [
                { "label": "item link" },
                {
                    "label": "item link",
                    "haschild": true,
                    "items": [
                        { "label": "Link" },
                        { "label": "Link" },
                        { "label": "Link" }
                    ]
                 },
                {
                    "label": "item link",
                    "haschild": true,
                    "items": [
                        { "label": "Link" },
                        { "label": "Link" },
                        { "label": "Link" }
                    ]
                 },
                {
                    "label": "item link",
                    "haschild": true,
                    "items": [
                        { "label": "Link" },
                        { "label": "Link" },
                        { "label": "Link" }
                    ]
                 },
                { "label": "item link" }
              ]
            },
            {
                "title": "Group Name",
                "items": [
                  { "label": "item link" },
                  {
                      "label": "item link",
                      "haschild": true
                   },
                  { "label": "item link" },
                  { "label": "item link" },
                  { "label": "item link" }
              ]
            }
          ]
        },
            modifier={
                block: []
            },
            state={},
            aria={}
        )
    }}
    {% endset %}
    {{ format(example) }}


{% endblock %}
