@import "../core/settings";
@import "../core/functions";
//set namespace using function to avoid hardcoding it
$ns: ns();
@each $type, $shades in $tn-colors {
    @each $shade, $value in $shades {
        @if $shade == 1 {
            //set default selector for convenience
            .#{$ns}has-color-#{$type},
            .#{$ns}has-color-#{$type}-#{$shade} {
                color: $value !important;
            }
        } @else {
            .#{$ns}has-color-#{$type}-#{$shade} {
                color: $value !important;
            }
        }
    }
}
