@import "../mixins/mixins";

$fd-display-types: none block inline-block grid inline-grid flex inline-flex table table-row table-cell !default;

@each $type in $fd-display-types {
  //general
  .#{$fd-namespace}-has-display-#{$type} {
      display: #{$type} !important;
  }
}

//breakpoint-specific
@each $breakpoint in map-keys($fd-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $fd-breakpoints);

  //DEPRECATE in 1.6 IN FAVOR OF THE SET BELOW
  .#{$fd-namespace}-display#{$infix}-none { display: none !important; }
  .#{$fd-namespace}-display#{$infix}-inline { display: inline !important; }
  .#{$fd-namespace}-display#{$infix}-inline-block { display: inline-block !important; }
  .#{$fd-namespace}-display#{$infix}-block { display: block !important; }
  .#{$fd-namespace}-display#{$infix}-table { display: table !important; }
  .#{$fd-namespace}-display#{$infix}-table-row { display: table-row !important; }
  .#{$fd-namespace}-display#{$infix}-table-cell { display: table-cell !important; }
  .#{$fd-namespace}-display#{$infix}-flex { display: flex !important; }
  .#{$fd-namespace}-display#{$infix}-inline-flex { display: inline-flex !important; }

  @each $type in $fd-display-types {
    .#{$fd-namespace}-has-display-#{$type}-#{$infix} {
        display: #{$type} !important;
    }
  }
}
