@import "./../settings";
.#{$fd-namespace}-text-transform-none {
    text-transform: none !important;
}
.#{$fd-namespace}-has-font-weight-bold {
    font-weight: bold !important;
}
.#{$fd-namespace}-has-font-style-italic {
    font-style: italic !important;
}
.#{$fd-namespace}-has-text-align-center {
    text-align: center !important;
}
.#{$fd-namespace}-has-text-align-right {
    text-align: right !important;
}
.#{$fd-namespace}-has-float-left {
    float: left !important;
}
.#{$fd-namespace}-has-float-right {
    float: right !important;
}
.#{$fd-namespace}-has-border-radius-50percent {
    border-radius: 50% !important;
}
