@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
//set namespace using function to avoid hardcoding it
$ns: ns();
.#{$ns}text-transform-none {
    text-transform: none !important;
}
.#{$ns}has-font-weight-bold {
    font-weight: bold !important;
}
.#{$ns}has-font-style-italic {
    font-style: italic !important;
}
.#{$ns}has-text-align-center {
    text-align: center !important;
}
.#{$ns}has-text-align-right {
    text-align: right !important;
}
.#{$ns}has-float-left {
    float: left !important;
}
.#{$ns}has-float-right {
    float: right !important;
}
.#{$ns}has-border-radius-50percent {
    border-radius: 50% !important;
}
