@import "./../settings";
@import "./../mixins";
.#{$fd-namespace}-has-clearfix {
    @include fd-clearfix;
}
.#{$fd-namespace}-has-display-flex {
    display: flex !important;
}
.#{$fd-namespace}-has-display-inline-flex {
    display: inline-flex !important;
}
.#{$fd-namespace}-has-display-block {
    display: block !important;
}
.#{$fd-namespace}-has-display-none {
    display: none !important;
}
.#{$fd-namespace}-has-display-inline-block {
    display: inline-block !important;
}
.#{$fd-namespace}-has-align-items-center {
    align-items: center;
}
.#{$fd-namespace}-has-flex-grow-1 {
    flex-grow: 1;
}
