@import "../core/settings";
@import "../core/mixins";
@import "../core/functions";
//set namespace using function to avoid hardcoding it
$ns: ns();
.#{$ns}has-clearfix {
    @include tn-clearfix;
}
.#{$ns}has-display-flex {
    display: flex;
}
.#{$ns}has-display-block {
    display: block;
}
.#{$ns}has-align-items-center {
    align-items: center;
}
.#{$ns}has-flex-grow-1 {
    flex-grow: 1;
}
