@import "./../settings";
.#{$fd-namespace}-has-margin-none {
    margin: 0;
}
.#{$fd-namespace}-has-padding-none {
    padding: 0;
}
@each $item in top, right, bottom, left {
    .#{$fd-namespace}-has-margin-#{$item}-none {
        margin-#{$item}: 0 !important;
    }
    .#{$fd-namespace}-has-padding-#{$item}-none {
        padding-#{$item}: 0 !important;
    }
}
@each $key, $value in $fd-spacing {
    .#{$fd-namespace}-has-margin-#{$key} {
        margin: #{$value};
    }
    .#{$fd-namespace}-has-padding-#{$key} {
        padding: #{$value};
    }
    @each $item in top, right, bottom, left {
        .#{$fd-namespace}-has-margin-#{$item}-#{$key} {
            margin-#{$item}: #{$value};
        }
        .#{$fd-namespace}-has-padding-#{$item}-#{$key} {
            padding-#{$item}: #{$value};
        }
    }
}
