{% import "./../utils.njk" as utils %}
{% from "../label/component.njk" import label %}
{% from "../button/component.njk" import button %}
{% set btn = button(
        { icon: 'more' },
        modifier={ block: ['icon','text'] },
        aria={ label: 'More' }
    )
%}
<!--
tree:
    properties={},
    modifier={ block: [] },
    state={},
    aria={}
-->
{% macro tree(properties={}, modifier={}, state={}, aria={}) %}
{%- if properties.headers %}
{%- set _treeid = utils.id() %}
<div class="tn-tree tn-tree--header">
    <div class="tn-tree__row tn-tree__row--header">
        <div class="tn-tree__col tn-tree__col--control">
            <button class="tn-tree__control" aria-label="Expand all" aria-controls="{{_treeid}}" aria-pressed="false"></button>
            {{ properties.headers[0] }}
        </div>
        <div class="tn-tree__col">
            {{ properties.headers[1] }}
        </div>
        <div class="tn-tree__col">
            {{ properties.headers[2] }}
        </div>
        <div class="tn-tree__col">
            {{ properties.headers[3] }}
        </div>
        <div class="tn-tree__col tn-tree__col--actions">
        </div>
    </div>
</div>
{%- endif %}
<ul class="tn-tree{{ modifier.block | modifier('tree') }}{{ state | state }}" id="{{_treeid}}" role="tree"{{ aria | aria }}>
{%- for item in properties.items -%}
{{ tree_item(item, level=0, expanded=properties.expandedItems[loop.index0]) }}
{%- endfor %}
</ul>
{% endmacro %}

{%- macro tree_item(item, level, expanded=false) %}
{%- set _is_parent = item.items %}
{%- set _id = utils.id() %}
{%- set item_expanded = expanded === true or expanded.length > 0 %}
    {%- if _is_parent %}
    <li class="tn-tree__item" role="treeitem" id="{{_id}}" aria-expanded="{{item_expanded}}">
    {%- else %}
    <li class="tn-tree__item" role="treeitem">
    {%- endif %}
        <div class="tn-tree__row">
            <div class="tn-tree__col tn-tree__col--control">
                {%- if _is_parent %}
                <button class="tn-tree__control" aria-label="Expand" aria-controls="{{_id}}" aria-pressed="{{item_expanded}}"></button>
                {%- endif %}
                <a class="tn-has-font-weight-semi">{{ item.name }}</a>
            </div>
            <div class="tn-tree__col">
                Secondary Value
            </div>
            <div class="tn-tree__col">
                Secondary Value
            </div>
            <div class="tn-tree__col">
                {{ label({label: item.status}) | indent(16) }}
            </div>
            <div class="tn-tree__col tn-tree__col--actions">
                {{ btn | indent(16) }}
            </div>
        </div>
    {%- if item.items %}
        {{- tree_group(item.items, level+1, item_expanded === false, expanded[level+1]) }}
    {%- endif %}
    </li>
{%- endmacro %}

{%- macro tree_group(group, level, hidden=true, expanded=false) %}
        <ul class="tn-tree__group tn-tree__group--sublevel-{{level}} {{'is-hidden' if hidden }}" role="group" aria-hidden="{{hidden}}">
        {%- for item in group %}
        {{- tree_item(item, level, expanded[loop.index0]) | indent(8) }}
        {%- endfor %}
        </ul>
{%- endmacro %}
