.fl-card {
    border: 0.0625rem solid #00828f;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.7rem 1rem;
    gap: 1.5rem;
    background-color: var(--color-card-background);
    box-shadow:
    2.3px 2.3px 4.5px rgba(0, 0, 0, 0.045),
    6.4px 6.4px 12.5px rgba(0, 0, 0, 0.065),
    15.4px 15.4px 30.1px rgba(0, 0, 0, 0.085),
    51px 51px 100px rgba(0, 0, 0, 0.13)
  ;
  

    img {
        height: 3.75rem;
        
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.875rem;
        color: #003543;
        text-align: center;
        
    }

    p {
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: #004E5E;
        text-align: center;
    }

    a {
        background-color: transparent;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 700;
        color: #004D5F;
        padding: 1rem 1.5rem;
        border: 0.0625rem solid #00677F;
        border-radius: 2rem;
        transition: 0.2s;

        &:hover {
            color: #001F28;
            border-color: #001F28;
            background-color: #F9FDFF;
        }

        &:focus {
            border: 0.125rem solid #00677F;
            color: #F9FDFF;
            background-color: #00677F;
            cursor: pointer;
        }

        
    }
}

@media (min-width: 900px) {
    .fl-card {
        gap: 2.75rem;
        padding: 2.25rem;
        align-items: flex-start;

        img {
            height: 6rem;
        }

        h2 {
            font-size: 2.125rem;
            line-height: 2.75rem;
        }
    
        p {
            font-size: 1.125rem;
            line-height: 1.875rem;
            text-align: left;
        }
    
    }
}

