.fl-conference {
    background-color: #cff1ff;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0 1.25rem;
    position: sticky;
    top:0;
    justify-content: center;
    z-index: 4;
    
   
    .fl-title span {
      display: block;
    }
  
    .fl-text {
      padding-top: 1.5625rem;
      padding-right: 3.125rem;
    }
  
    .fl-button {
      margin-top: 2rem;
      margin-bottom: 12.5rem;
    }
  }
  .fl-conference-logo {
    margin-top: 12.25rem;
    width: 4.68rem;
    height: 9rem;
    float: left;
  }
  
  @media (615px <= width <= 849px) {
    .fl-conference {
      flex-direction: row-reverse;
      column-gap: 0.65rem;
      row-gap: 0rem;
      padding-left: 0rem;
      .fl-title {
        margin-top: 12rem;
        margin-left: clamp(2rem, 4vw, 5rem);
      }
      .fl-text {
        padding-top: 2rem;
        margin-right: clamp(3rem, 10vw, 20rem);
        margin-left: clamp(2rem, 4vw, 5rem);
      }
      .fl-button {
        margin-top: 3rem;
        margin-bottom: 12.5rem;
        margin-left: clamp(2rem, 4vw, 5rem);
      }
    }
    .fl-conference-nonlogo{
        justify-content: center;
    }
  
    .fl-conference-logo {
      margin-top: 30rem;
      margin-right: 5rem;
      padding-bottom: 5rem;
      width: 8rem;
      height: 15.38rem;
    }
  }
  
  @media (850px <= width <= 999px) {
    .fl-conference {
      flex-direction: row-reverse;
      column-gap: 0.65rem;
      row-gap:0rem;
      padding-left: 0rem;
      padding-right: 0.65rem;
    .fl-title {
      margin-top: 12rem;
      margin-left: clamp(2rem, 4vw, 5rem);
    }
    .fl-text {
      padding-top: 2rem;
      margin-right: clamp(3rem, 10vw, 20rem);
      margin-left: clamp(2rem, 4vw, 5rem);
    }
  
    .fl-button {
      margin-top: 3rem;
      margin-bottom: 12.5rem;
      margin-left: clamp(2rem, 4vw, 5rem);
    }
    }
  
    .fl-conference-logo {
      margin-top: 22rem;
      margin-right: 5rem;
      padding-bottom: 7rem;
      width: 10.5rem;
      height: 20.19rem;
    }
  }
  
  @media (1000px <= width <= 1229px) {
    .fl-conference-logo {
      margin-top: 22rem;
      margin-right: 5rem;
      padding-bottom: 7rem;
      width: 11.5rem;
      height: 22.11rem;
    }
  
    .fl-conference {
      flex-direction: row-reverse;
      column-gap: 0.65rem;
      row-gap:0rem;
      padding-left: 0rem;
      padding-right: 0.65rem;
      position: sticky;
      top: 0;
      .fl-title {
          margin-top: 12rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
        .fl-text {
          padding-top: 2rem;
          margin-right: clamp(5rem, 14vw, 22rem);
          margin-left: clamp(2rem, 4vw, 5rem);
        }
      
        .fl-button {
          margin-top: 3rem;
          margin-bottom: 12.5rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
    }
  }
  
  @media (1230px <= width <= 1499px) {
    .fl-conference-logo {
      margin-top: 22rem;
      margin-right: clamp(5rem, 10vw, 30rem);
      padding-bottom: 7rem;
      width: 13.5rem;
      height: 25.96rem;
    }
    .fl-conference {
      column-gap: 0.65rem;
      row-gap: 0rem;
      padding-left: 0rem;
      padding-right: 0.65rem;
      flex-direction: row-reverse;
      position: sticky;
      top: 0;
      .fl-title {
          margin-top: 12rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
        .fl-text {
          padding-top: 2rem;
          margin-right: clamp(5rem, 12vw, 22rem);
          margin-left: clamp(2rem, 4vw, 5rem);
        }
      
        .fl-button {
          margin-top: 3rem;
          margin-bottom: 12.5rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
    }
  }
  
  @media (1500px <= width <= 1750px) {
    .fl-conference-logo {
      margin-top: 22rem;
      margin-right: clamp(5rem, 10vw, 30rem);
      padding-bottom: 7rem;
      width: 15rem;
      height: 28.84rem;
    }
    .fl-conference {
      flex-direction: row-reverse;
      column-gap: 0.65rem;
      row-gap: 0rem;
      padding-left: 0rem;
      padding-right: 0.65rem;
      position: sticky;
      top: 0;
      .fl-title {
          margin-top: 12rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
        .fl-text {
          padding-top: 2rem;
          margin-right: clamp(10rem, 20vw, 40rem);
          margin-left: clamp(2rem, 4vw, 5rem);
        }
      
        .fl-button {
          margin-top: 3rem;
          margin-bottom: 12.5rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
    }
  }
  
  @media (1751px <= width <= 2000px) {
    .fl-conference-logo {
      margin-top: 22rem;
      margin-right: clamp(5rem, 10vw, 30rem);
      padding-bottom: 7rem;
      width: 17rem;
      height: 32.69rem;
    }
    .fl-conference {
      flex-direction: row-reverse;
      column-gap: 0.65rem;
      row-gap: 0rem;
      padding-left: 0rem;
      padding-right: 0.65rem;
      position: sticky;
      top: 0;
      .fl-title {
          margin-top: 12rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
        .fl-text {
          padding-top: 2rem;
          margin-right: clamp(15rem, 30vw, 50rem);
          margin-left: clamp(2rem, 4vw, 5rem);
        }
      
        .fl-button {
          margin-top: 3rem;
          margin-bottom: 12.5rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
    }
  }
  
  @media (width >= 2001px) {
    .fl-conference-logo {
      margin-top: 22rem;
      margin-right: clamp(5rem, 10vw, 30rem);
      padding-bottom: 7rem;
      width: 20rem;
      height: 38.46rem;
    }
    .fl-conference {
      flex-direction: row-reverse;
      column-gap: 0.65rem;
      row-gap: 0rem;
      padding-left: 0rem;
      padding-right: 0.65rem;
      position: sticky;
      top: 0;
      .fl-title {
          margin-top: 12rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
        .fl-text {
          padding-top: 2rem;
          margin-right: clamp(20rem, 40vw, 60rem);
          margin-left: clamp(2rem, 4vw, 5rem);
        }
      
        .fl-button {
          margin-top: 3rem;
          margin-bottom: 12.5rem;
          margin-left: clamp(2rem, 4vw, 5rem);
        }
    }
  }