<section class="fl-conference">
    <img class="fl-conference-logo" alt="conference logo" src="./assets/images/logoicon.webp" />
    <div class="fl-conference-nonlogo">
      <h2 class="fl-title">
        <span>Fundamental </span>
        <span>Conference</span>
      </h2>
  
      <p class="fl-text">
        Connect with the Fundamentals community through our annual conference
        featuring insightful sessions by industry professionals using and
        collaborating with the Fundamental Libraries in their work.
      </p>
  
      <a href="#"><button class="fl-button">see past events</button></a>
    </div>
</section>
